.rhd-m-link--type-manuals {
  a {
    color: var(--pfe-theme--color-text);
    text-decoration: none;
  }
}

.rhd-m-link--type-books {
  &>a {
    color: var(--pfe-theme--color-text);
    text-decoration: none;
  }
}
