.rh-universal-footer {
    background-color: #1A1A1A;
    flex: 0 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5e6a71;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .rh-footer-logo, .rh-summit-footer-logo {
        flex: 0 0 300px;
    }

    .contentinfo {
        flex: 1 1 auto;
    }
}

.rhd-footer {
    background-color: $dark-gray;
    color: $white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.rhd-footer-nav {
    flex: 1 1 auto;
}

.rhd-footer-sidebar {
    background-color: $red;
    flex: 0 0 33%;
}