:root {
  --rhd-theme--container-spacer-xs: 4px;  //--rhd-theme--container-spacer-xs
  --rhd-theme--container-spacer-sm: 8px;  //--rhd-theme--container-spacer-sm
  --rhd-theme--container-spacer-md: 16px;  //--rhd-theme--container-spacer-md
  --rhd-theme--container-spacer-lg: 24px;  //--rhd-theme--container-spacer-lg
  --rhd-theme--container-spacer-xl: 32px;  //--rhd-theme--container-spacer-xl
  --rhd-theme--container-spacer-2xl: 48px;  //--rhd-theme--container-spacer-2xl
  --rhd-theme--container-spacer-3xl: 64px;  //--rhd-theme--container-spacer-3xl
  --rhd-theme--container-padding: 16px;  //--rhd-theme--container-padding
  --rhd-theme--content-spacer: 30px;  //--rhd-theme--content-spacer
}


.rhd-u-content-spacer {
  padding-top: var(--rhd-theme--content-spacer);
  padding-bottom: var(--rhd-theme--content-spacer);
}

.rhd-u-p {
  &-xs {
    padding: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    padding: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    padding: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    padding: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    padding: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    padding: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    padding: var(--rhd-theme--container-spacer-3xl);
  }
}
.rhd-u-py { // .rhd-u-py-[size]
  &-xs {
    padding-top: var(--rhd-theme--container-spacer-xs);
    padding-bottom: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    padding-top: var(--rhd-theme--container-spacer-sm);
    padding-bottom: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    padding-top: var(--rhd-theme--container-spacer-md);
    padding-bottom: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    padding-top: var(--rhd-theme--container-spacer-lg);
    padding-bottom: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    padding-top: var(--rhd-theme--container-spacer-xl);
    padding-bottom: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    padding-top: var(--rhd-theme--container-spacer-2xl);
    padding-bottom: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    padding-top: var(--rhd-theme--container-spacer-3xl);
    padding-bottom: var(--rhd-theme--container-spacer-3xl);
  }
}
.rhd-u-px { // .rhd-u-px-[size]
  &-xs {
    padding-right: var(--rhd-theme--container-spacer-xs);
    padding-left: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    padding-right: var(--rhd-theme--container-spacer-sm);
    padding-left: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    padding-right: var(--rhd-theme--container-spacer-md);
    padding-left: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    padding-right: var(--rhd-theme--container-spacer-lg);
    padding-left: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    padding-right: var(--rhd-theme--container-spacer-xl);
    padding-left: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    padding-right: var(--rhd-theme--container-spacer-2xl);
    padding-left: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    padding-right: var(--rhd-theme--container-spacer-3xl);
    padding-left: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-pb { // rhd-u-pb-[size]
  &-xs {
    padding-bottom: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    padding-bottom: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    padding-bottom: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    padding-bottom: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    padding-bottom: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    padding-bottom: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    padding-bottom: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-pt { // rhd-u-pt-[size]
  &-xs {
    padding-top: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    padding-top: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    padding-top: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    padding-top: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    padding-top: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    padding-top: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    padding-top: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-pr { // rhd-u-pr-[size]
  &-xs {
    padding-right: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    padding-right: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    padding-right: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    padding-right: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    padding-right: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    padding-right: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    padding-right: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-pl { // rhd-u-pl-[size]
  &-xs {
    padding-left: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    padding-left: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    padding-left: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    padding-left: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    padding-left: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    padding-left: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    padding-left: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-m {
  &-xs {
    margin: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    margin: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    margin: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    margin: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    margin: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    margin: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    margin: var(--rhd-theme--container-spacer-3xl);
  }
}
.rhd-u-my { // .rhd-u-my-[size]
  &-xs {
    margin-top: var(--rhd-theme--container-spacer-xs);
    margin-bottom: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    margin-top: var(--rhd-theme--container-spacer-sm);
    margin-bottom: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    margin-top: var(--rhd-theme--container-spacer-md);
    margin-bottom: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    margin-top: var(--rhd-theme--container-spacer-lg);
    margin-bottom: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    margin-top: var(--rhd-theme--container-spacer-xl);
    margin-bottom: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    margin-top: var(--rhd-theme--container-spacer-2xl);
    margin-bottom: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    margin-top: var(--rhd-theme--container-spacer-3xl);
    margin-bottom: var(--rhd-theme--container-spacer-3xl);
  }
}
.rhd-u-mx { // .rhd-u-mx-[size]
  &-xs {
    margin-right: var(--rhd-theme--container-spacer-xs);
    margin-left: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    margin-right: var(--rhd-theme--container-spacer-sm);
    margin-left: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    margin-right: var(--rhd-theme--container-spacer-md);
    margin-left: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    margin-right: var(--rhd-theme--container-spacer-lg);
    margin-left: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    margin-right: var(--rhd-theme--container-spacer-xl);
    margin-left: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    margin-right: var(--rhd-theme--container-spacer-2xl);
    margin-left: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    margin-right: var(--rhd-theme--container-spacer-3xl);
    margin-left: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-mb { // rhd-u-mb-[size]
  &-xs {
    margin-bottom: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    margin-bottom: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    margin-bottom: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    margin-bottom: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    margin-bottom: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    margin-bottom: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    margin-bottom: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-mt { // rhd-u-mt-[size]
  &-xs {
    margin-top: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    margin-top: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    margin-top: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    margin-top: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    margin-top: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    margin-top: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    margin-top: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-mr { // rhd-u-mr-[size]
  &-xs {
    margin-right: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    margin-right: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    margin-right: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    margin-right: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    margin-right: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    margin-right: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    margin-right: var(--rhd-theme--container-spacer-3xl);
  }
}

.rhd-u-ml { // rhd-u-ml-[size]
  &-xs {
    margin-left: var(--rhd-theme--container-spacer-xs);
  }
  &-sm {
    margin-left: var(--rhd-theme--container-spacer-sm);
  }
  &-md {
    margin-left: var(--rhd-theme--container-spacer-md);
  }
  &-lg {
    margin-left: var(--rhd-theme--container-spacer-lg);
  }
  &-xl {
    margin-left: var(--rhd-theme--container-spacer-xl);
  }
  &-2xl {
    margin-left: var(--rhd-theme--container-spacer-2xl);
  }
  &-3xl {
    margin-left: var(--rhd-theme--container-spacer-3xl);
  }
}
