@import "functions";
@import "settings";
@import "components/global";
$include-html-global-classes: false; // fix for our version of ruby - https://github.com/zurb/foundation/issues/5989
@import "components/grid";
@import "components/visibility";
@import "components/block-grid";
@import "components/side-nav";
@import "components/forms";
@import "components/tabs";
@import "components/accordion";
@import "components/tables";
@import "components/pagination";

/*
   Zurb Foundation Overides
  These are things that can't be changed in _settings.scss
*/

.row, .top-bar .row {
  max-width:emCalc(1170);
}

.row {
  margin: 0 auto;
  &.grow {
    & > [class^=large-] {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &.full-width{
    width: 100%;
    max-width: 100%!important; //might be needded depending on your settings
    &>.column:first-child,
    &>.columns:first-child{
        padding-left: 0;
    }
    &>.column:last-child,
    &>.columns:last-child{
        padding-right: 0;
    }
  }
  &.justify-center {
    justify-content: center;
    display: flex;
    @include mobile-landscape-and-down {
      display: block;
      .columns {
        margin-left: auto;
        margin-right: auto;
        float: none;
      }
    }
  }
  .xsmall {
    @include mobile-landscape-and-down {
      width: 100%;
    }
  }
}

pre code {
  border: none;
}

.content {
  padding:1em 0;
}

.content-wrapper {
  margin: 0 auto;
}

body.fullbleed {
  .content-wrapper {
    max-width:none;
    padding:0;
    margin:0;
    background:none;
  }
}
.wrapper {
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 400px;
  padding-bottom: emCalc(100px);
  flex: 1;
  flex-basis: auto;
}

.hero {
  border:1px solid black;
  border-radius: 0;
  margin-bottom: 20px;
}
