@import "settings";
@import "normalize";

@import "font-awesome";
@import "colours";
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

// @import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
@import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
@import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
@import "foundation/components/side-nav";
@import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/dropdown";


// Import only the compass modules we need
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transform";


/*

   Zurb Foundation Overides
  These are things that can't be changed in _settings.scss

*/ 
.row, .top-bar .row {
  max-width:emCalc(1200);
}

a {
  color:$link;
}

button, .button {
  border-radius: $global-radius;
  @include box-shadow(none);
  text-transform: uppercase;
  background: $med-green;
  text-transform: uppercase;
  border:0;
  &:hover {
    background: $light-green;
  }
  &.shadow {
    box-shadow:3px 3px 0 $grey-7;
  }
}

.row .row {
  margin-left: -$column-gutter;
  margin-right: -$column-gutter; // accommodates for larger gutters and nested rows
}

.side-nav {
  border:1px solid $grey-3;
  padding:0;
  border-radius:$global-radius;
  overflow: hidden;
  li {
    margin:0;
    a {
      border-top:1px solid $grey-3;
      padding:emCalc(8) 1em;
      font-size: emCalc(18);
      position: relative;
      &:after {
        content: "\f105";
        font-family: 'FontAwesome';
        float: right;
        font-weight: 600;
      }
    }
    &:first-child a {
      border-top: 0;
    }
    &.active a, &:hover a, &.active a:first-child {
      color:white;
      background:$link;
      border-color:darken($link,5%);
    }
  }
}

// Header
header.main {
  h4 {
    font-style:italic;
  }
  .sub-nav {
    float: right;
    margin-bottom: 10px;
    a {
      position: relative;
      top:5px;
    }
  }
}

// search
.search {
  input[type=text] {
    float: right;
    &:focus {
      width:250px;
    }
  }
}

// Menus
.top-bar {
  border-top: 1px solid $grey-3;
  border-bottom: 1px solid $grey-3;
}

.top-bar-section {
  ul {
    background: none;
  }
  .left {
    a {
      text-transform: uppercase;
      margin-right: emCalc(40);
    }
  }
  .right {
    a {
      color:$grey-4;
      margin-left: emCalc(8);
    }
  }
}

// Dropdown
.f-dropdown.content {
  width:250px;
  max-width:250px;
  border-radius: $global-radius;
  padding:20px;
  margin-left: -150px;
  margin-top: 10px;
  text-align: left;
  color:$dark-blue;
  border:1px solid $grey-3;
  box-shadow:1px 1px 4px rgba($grey-7,0.3);
  // arrow nub
  &:before {
    left:170px;
  }
  &:after {
    left:169px;
  }
  .inline-list {
    margin-left: 0;
    li {
      line-height: 0.5;
    }
    li:first-child {
      border-right: 1px solid $grey-7;
    }
  }
  h4 {
    font-style: normal;
    margin-bottom: 0;
  }
}
p.sign-in-options {
  color:$grey-7;
  i {
    font-size:emCalc(20);
    margin: 0 2px;
    position: relative;
    top:2px;
  }
}

// Form Elements
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border-radius:$global-radius;
  padding:emCalc(10) emCalc(14);
  font-size: 1em;
  &:focus {
    @include box-shadow(0 0 5px $link);
    border:1px solid $med-blue;
  }
}
  
  form {
    margin: 0; // get rid of the margin 
  }

  label input[type=checkbox] { // for when we have a checkbox beside some text
    margin-right: 5px;
  }

// Icons
i[class*=icon].invert {
  padding:emCalc(2);
  background: $grey-5;
  border-radius:emCalc(2);
  color:$white;
  width:emCalc(18);
}

// Breadcrumbs
.breadcrumbs {
  background:none;
  border:0;
  padding:0;
  select {
    width:auto;
    margin: 0;
  }
  & > *:before {
    content: ">"
  }
  a {
    text-transform: none;
    font-size: 14px;
    text-decoration: underline;
  }
}


/* 
  Layout and custom modules
*/ 

.wrapper {
  @include filter-gradient(#ffffff, #e6e7e8, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #ffffff 0%,#ffffff 43%,#e7e9e9 88%,#e6e7e8 100%));
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 400px;
  padding-bottom: emCalc(20px);
}

footer {
  background:$grey-7;
}

// Slider
.slider-wrapper {
  position: relative;
  .slider {
    overflow: hidden;
    .slide {
      height:403px;
    }
  }
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.slider-controls {
  a {
    position: absolute;
    top:50%;
    margin-top: -100px;
    font-size: emCalc(40);
    color:$med-green;
    &.slider-prev {
      left:-100px;
    }
    &.slider-next {
      right:-100px;
    }
  }
}

// Updates
.update {
  padding-right: 1em;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
  }
  .update-source {
    font-size:emCalc(13);
    color:$grey-5;
  }
  .update-timestamp {
    float:right;
    font-size:emCalc(13);
    color:$grey-5;
  }
  i[class*=icon] {
    margin-right: 3px;
  }
  h5 {
    margin:0;
  }
  &.pinned {
    padding-left: 2em;
    &:before {
      content: "\f08d";
      font-family: 'FontAwesome';
      position: absolute;
      color: #EAC562;
      font-size: emCalc(25px); 
      left: 0.7em;
      // -webkit-transform: rotate(-47deg);
      @include transform2d(rotate(-45deg));

    }
  }
}

// Navigation
.top-bar-section {
  ul li:hover {
    background:blue;
    ul.dropdown {
      display: block;
      visibility: visible;
    }
  }
  ul.dropdown {
    width:auto;
    border:1px solid $grey-3;
    border-top:0;
    li {
      a {
        font-size: emCalc(15);
        color:$grey-7;
        padding:1em;
      }
    }
  }
}

  // Nav open state
  body.nav-open {
    overflow-x:hidden;
    .wrapper {
      position: relative;
      left:70%;
    }
    nav.top-bar {
      left: -70%;
      width: 70%;
      position: absolute;
      top: 0;
      z-index: 99;
    }
  }


// call to action
.cta {
  border-radius:$global-radius;
  background:$grey-2;
  padding:emCalc(64);
  width:48%;
  float: left;
  &:first-child {
    margin-right:4%;
  }
}

// Products
.product {
  .toolbar {
    text-align: right;
    a {
      margin-right: 1em;
    }
  }
  p {
    font-family: $sans-serif;
    font-style: italic;
  }
  h4 {
    margin-bottom: 0;
    font-weight: normal;
  }
}

// Section Tabs
.section-container.auto {
  .content {
    overflow: hidden;
  }
  section{
    p.title {
      margin-left: emCalc(50);
      border:0;
      padding-left: emCalc(5);
      background:none !important;
      a {
        border: 1px solid $med-blue;
        background:$med-blue;
        margin:0 10px 0 0;
        text-transform: uppercase;
        font-size: emCalc(19);
        color:$white;
        padding:10px;
        text-align: center;
        border-radius: $global-radius $global-radius 0 0;
        font-weight: 600;
      }
    }
    &.active {
      p.title {
        a {
          background:white;
          border:1px solid $grey-3;
          border-bottom: 1px solid white !important;
          border-radius: 0;
        }
      }
    }
  }
}


// Typography
.large-title {
  font-size: emCalc(52);
  font-weight: normal;
}

.text-content {
  h3 {
    margin-top: 0;
    color:$grey-6;
  }
}