@import "settings";
@import "normalize";

@import "font-awesome";
@import "colours";
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";

// @import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
@import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
@import "foundation/components/section";
@import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
@import "foundation/components/side-nav";
@import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/dropdown";


// Import only the compass modules we need
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";


// Import Our CSS Modules and mixins
@import "mq-mixins";
@import "jboss-mixins";
@import "navigation";


/*

   Zurb Foundation Overides
  These are things that can't be changed in _settings.scss

*/ 
.row, .top-bar .row {
  max-width:emCalc(1200);
}

a {
  color:$link;
}

button, .button {
  border-radius: $global-radius;
  @include box-shadow(none);
  text-transform: uppercase;
  background: $med-green;
  text-transform: uppercase;
  text-decoration: none;
  border:0;
  &:hover {
    background: $light-green;
  }
  &.shadow {
    box-shadow:3px 3px 0 $grey-7;
  }
}

.row .row {
  margin-left: -$column-gutter;
  margin-right: -$column-gutter; // accommodates for larger gutters and nested rows
}

.side-nav {
  border:1px solid $grey-3;
  padding:0;
  border-radius:$global-radius;
  overflow: hidden;
  margin-bottom: 20px;
  li {
    margin:0;
    a {
      border-top:1px solid $grey-3;
      padding:emCalc(8) 1em;
      font-size: emCalc(18);
      position: relative;
      &:after {
        content: "\f105";
        font-family: 'FontAwesome';
        float: right;
        font-weight: 600;
      }
    }
    &:first-child a {
      border-top: 0;
    }
    &.active a, &:hover a, &.active a:first-child {
      color:white;
      background:$dark-blue;
      border-color:darken($dark-blue,5%);
    }
  }
}

// Header
header.main {
  h4 {
    font-style:italic;
    color:$dark-blue;
    font-size:emCalc(26);
    font-weight: normal;
    padding-top: 9px;
  }
}

h1.logo {
  margin-top: 65px;
  margin-bottom: 5px;
  font-size: emCalc(52px);
  a {
    color:darken($dark-blue,5%);
    font-weight: 100;
    letter-spacing:-2px;
    strong {
      color:$dark-blue;
    }
  }
}


// search
.search {
  input[type=text] {
    float: right;
    &:focus {
      width:250px;
    }
  }
}



// Dropdown
.f-dropdown.content {
  width:300px;
  max-width:300px;
  border-radius: $global-radius;
  padding:20px;
  margin-left: -150px;
  margin-top: 10px;
  text-align: left;
  color:$dark-blue;
  border:1px solid $grey-3;
  box-shadow:1px 1px 4px rgba($grey-7,0.3);
  // arrow nub
  &:before {
    left:170px;
  }
  &:after {
    left:169px;
  }
  .inline-list {
    margin-left: 0;
    li {
      line-height: 0.5;
    }
    li:first-child {
      border-right: 1px solid $grey-7;
    }
  }
  h4 {
    font-style: normal;
    margin-bottom: 0;
    color:$dark-blue;
  }
  p {
    margin:0;
    font-size: emCalc(12);
  }
  p.sign-in-options {
    padding:10px 0;
  }
  input[type=submit] {
    font-size: 16px;
    padding: 2px 17px;
    height: auto;
    margin-bottom: 10px;
  }
}
p.sign-in-options {
  color:$grey-7;
  i {
    font-size:emCalc(20);
    margin: 0 2px;
    position: relative;
    top:2px;
  }
}

// Form Elements
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border-radius:$global-radius;
  padding:emCalc(20) emCalc(14);
  font-size: 1em;
  margin-bottom: 10px;
  &:focus {
    @include box-shadow(0 0 5px $link);
    border:1px solid $med-blue;
  }
}
  
  form {
    margin: 0; // get rid of the margin 
  }

  label input[type=checkbox] { // for when we have a checkbox beside some text
    margin-right: 5px;
  }

// Icons
i[class*=icon].invert {
  padding:emCalc(2);
  background: $grey-5;
  border-radius:emCalc(2);
  color:$white;
  width:emCalc(18);
}

// Breadcrumbs
.breadcrumbs {
  background:none;
  border:0;
  padding:0;
  select {
    width:auto;
    margin: 0;
  }
  & > *:before {
    content: ">"
  }
  a {
    text-transform: none;
    font-size: 14px;
    text-decoration: underline;
  }
}


/* 
  Layout and custom modules
*/ 

.wrapper {
  @include filter-gradient(#ffffff, #e6e7e8, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #ffffff 0%,#ffffff 43%,#e7e9e9 88%,#e6e7e8 100%));
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 400px;
  padding-bottom: emCalc(20px);
}

footer.bottom {
  background:$grey-7;
  ul.footer-nav {
    display: block;
    margin-bottom: 0;
  }
}


// Slider
.slider-wrapper {
  position: relative;
  .slider {
    overflow: hidden;
    .slide {
      position: relative;
    }
  }

  .slider-label {
    position: absolute;
    background:#000;
    background:rgba(0,0,0,0.5);
    bottom:0;
    padding:10px;
    color:white;
    padding-right: 150px;
    h3 {
      font-size: emCalc(18);
      margin-bottom: 0;
      a {
        color:white;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
  .slider-pager {
    position: absolute;
    right:15px;
    bottom:15px;
    a {
      display: inline-block;
      background:$grey-7;
      width: 10px;
      height: 10px;
      text-indent: -9999px;
      margin:4px;
      border-radius: 50%;
      &.slider-pager-active {
        background:white;
      }
    }
  }
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.slider-controls {
  a {
    position: absolute;
    top:50%;
    margin-top: -100px;
    font-size: emCalc(40);
    color:$med-green;
    &.slider-prev {
      left:-100px;
    }
    &.slider-next {
      right:-100px;
    }
  }
}

// Updates
.update {
  padding-right: 1em;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
  }
  .update-source {
    font-size:emCalc(13);
    color:$grey-5;
  }
  .update-timestamp {
    float:right;
    font-size:emCalc(13);
    color:$grey-5;
  }
  i[class*=icon] {
    margin-right: 3px;
  }
  h5 {
    margin:0;
  }
  &.pinned {
    padding-left: 2em;
    &:before {
      content: "\f08d";
      font-family: 'FontAwesome';
      position: absolute;
      color: #EAC562;
      font-size: emCalc(25px); 
      left: 0.7em;
      // -webkit-transform: rotate(-47deg);
      @include transform2d(rotate(-45deg));

    }
  }
}

// call to action
.cta {
  border-radius:$global-radius;
  background:$grey-2;
  padding:emCalc(64);
  width:48%;
  float: left;
  &:first-child {
    margin-right:4%;
  }
}

// Products
.product {
  .toolbar {
    text-align: right;
    a {
      margin-right: 1em;
    }
  }
  p {
    font-family: $sans-serif;
    font-style: italic;
  }
  h4 {
    margin-bottom: 0;
    font-weight: normal;
  }
}

// Section Tabs
.section-container.auto {
  .content {
    overflow: hidden;
  }
  section{
    p.title {
      margin-left: emCalc(50);
      border:0;
      padding-left: emCalc(5);
      background:none !important;
      a {
        border: 1px solid $med-blue;
        background:$med-blue;
        margin:0 10px 0 0;
        text-transform: uppercase;
        font-size: emCalc(19);
        color:$white;
        padding:10px;
        text-align: center;
        border-radius: $global-radius $global-radius 0 0;
        font-weight: 600;
      }
    }
    &.active {
      p.title {
        a {
          background:white;
          border:1px solid $grey-3;
          border-bottom: 1px solid white !important;
          border-radius: 0;
        }
      }
    }
  }
}


// Widgets
.widget {
  margin-bottom: 40px;
  ul {
    list-style:none;
    li {
    }
  }
  a {
    text-decoration: underline;
    &.button {
      text-decoration: none;
      display: block;
      width:100%;
      text-align: center;
      padding:1em 0; 
      i {
        margin-left: 5px;
      }
    }
  }
   p {
    font-size:emCalc(13);
   }
}
h3.widget-title {
  font-size:1em;
}

.alert {
  color:$dark-red;
  i {
    padding-right:5px;
  }
}

// Typography
.large-title {
  font-size: emCalc(52);
  font-weight: normal;
}

.text-content {
  h3 {
    margin-top: 0;
    color:$grey-6;
  }
}

// Form Elements
input[type=checkbox],input[type=radio] {
  margin:0 0 5px 0;
}

// Range

input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 200px;
    height:12px;
    border:1px solid #d5d5d5;
    border-radius:9px;
    background: #eeeeee; /* Old browsers */
    background-color: #ffffff; // Old browsers
    @include filter-gradient(#ffffff, #ececec, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #ffffff 0%,#fcfcfc 33%,#f9f9f9 33%,#f9f9f9 44%,#f6f6f6 45%,#f4f4f4 67%,#f1f1f1 67%,#f1f1f1 78%,#eeeeee 78%,#ececec 100%));
}


// These pseudo selectors cannot be in the same selector so we need to output it 4 times
$prefixes : -webkit-slider-thumb -moz-slider-thumb -ms-slider-thumb slider-thumb;

@each $prefix in $prefixes {
  input[type="range"]::#{$prefix} {
       -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius:50%;
      background:#336799;
      position: relative;
      z-index: 2;
  }
}

input[type=range]:focus, input[type=range]:active {outline:0;}

input[type=range]:before {
    content : '';
    display:block;
    background:#d5d5d5;
    position:absolute;
    height:12px;
    left:0;
    border-radius:9px;
}

@for $i from 0 through 100 {
    input[type=range][value="#{$i}"]:before {
      width: $i * 1%;
    }
}

span.skill-display {
  display: block;
  width:100%;
  clear: both;
  font-size: 11px;
  padding-top: 10px;
}

label[for="filter-rating"] {
  display: block;
  float: left;
  width:20px;
  height:20px;
  position: relative;
  &:hover {
    color:#eac84c;
    cursor:pointer;
  }
  &:before {
    position: absolute;
    content: "\f006";
    font-family: 'FontAwesome';
  }
  &.filter-rating-active:before {
    color:#eac84c;
    content: "\f005";
  }
  input[type=radio] {
    display: block;
    width:20px;
    height:20px;
    z-index: 99;
    position: relative;
    opacity:0;
  }
}

form.filters {
  h5 {
    margin-bottom: 5px;
  }
  .filter-block {
    margin-bottom: 20px;
  }
  input[type=text] {
    padding:6px;
  }
  a.filters-clear {
    font-size: 14px;
    text-decoration: underline;
    padding-left: 5px;
    position: relative;
    top:-2px;
  }
}