{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="rh-universal-header">
      <nav class="rh-nav-universal" aria-label="Red Hat Global Navigation">
        <a class="rh-logo-wrapper" href="https://www.redhat.com/" title="Red Hat Home page"><img class="rh-header-logo" alt="Red Hat Logo" src="https://developers.redhat.com/images/branding/RHLogo_white.svg"></a>
        <ul class="rh-nav-universal-list">
          <li><a class="rh-nav-universal-link" href="#">Customer Portal</a></li>
          <li><a class="rh-nav-universal-link" href="#">Developer</a></li>
          <li><a class="rh-nav-universal-link" href="#">OpenShift</a></li>
          <li><a class="rh-nav-universal-link" href="#">OpenShift.io</a></li>
          <li><a class="rh-nav-universal-link" href="#">Partners</a></li>
          <li><a class="rh-nav-universal-link" href="#">Store</a></li>
        </ul>
        <span class="rh-universal-login">
          <a class="rh-universal-login-link" href="#"><i class="fas fa-user"></i>Log In</a>
        </span>
      </nav>
    </div>

    <div class="rhd-header">
      <img class="rhd-header-logo" alt="Red Hat Developer Logo" src="images/design/REPLACE_IMG.png">
      {{ content.rhd_navigation }}
    </div>
  </div>


  {{ content }}

{% endif %}
