.about .wrapper {
  padding-bottom: 0;
}

.about-header {
  background: url('/images/rhd/headers/about_hero_banner_2000x446.png') top center / cover no-repeat;
  height: 446px;
  h2, h3, h3, h5, p {
    color: $white;
  }
  h2 {
    font-size: 4em;
  }
  .about-title {
    margin-top: 17%;
  }
  @include mobile-landscape-and-down {
    h2 {
      font-size: 3em;
    }
    .about-title {
      margin-top: 50%;
    }
  }
}

.about-sec1 {
  padding: 50px 0;
  background: cdn('../images/design/about/about_our_mission_bg_lines.png') left top / auto no-repeat;
  h2, h4, p {
    text-align: center;
  }
  h4 {
    font-weight: 100;
    font-style: italic;
  }
  p {
    font-size: 1.2em;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
  }
}

.about-sec2 {
  padding: 50px 0;
  background-color: #0089d0;
  h2, h3, p {
    color: $white;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h3 {
    font-weight: 100;
    font-style: italic;
  }
  p {
    font-size: 1.2em;
  }
  .float-content {
    float: right;
    margin-right: 15%;
  }
  @include desktop-small-and-down {
    .float-content {
      float: none;
      margin-right: 0;
    }
  }
}

.about-sec3 {
  padding: 50px 0;
  background: cdn('../images/design/about/about_who_should_join_bg_lines.png') right bottom / auto no-repeat;
  h2, h4, p {
    text-align: center;
  }
  h4 {
    font-weight: 100;
    font-style: italic;
  }
  a.button {
    width: 350px;
    margin: 20px auto 0 auto; 
  }
  p {
    font-size: 1.2em;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
  }  
}

.about-sec4 {
  padding: 50px 0;
  background-color: #ffbb00;
  h2 {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  span h4, span h5 {
    display: inline;
  }
  span h5 {
    font-weight: 100;
  }
  ul li {
    font-size: 1.4em;
    line-height: 2;
    list-style: none
  }
  .float-content {
    float: right;
  }
  li:before {    
    font-family: 'FontAwesome';
    content: '\f00c';
    margin:0 5px 0 -15px;
    color: #399a2b;
  }
  @include mobile-landscape-and-down {
    ul li {
      font-size: 1.2em;
      line-height: 1.6;
    }
  }
}
.about-sec5 {
  padding: 50px 0;
  h2, h4, h5, p {
    text-align: center;
  }
  h2 {
    margin-bottom: 0;
  }
  img {
    max-width: 200px;
    display: block;
    margin: 5px auto;
  }
  p {
    font-size: 1.2em;
    max-width: 800px;
    display: block;
    margin: 0 auto 20px auto;
    font-weight: 600;
  }
  .about-icon {
    h4 {
      color: $red;
    }
    p{
      text-align: left;
      font-size: 1em;
    }
  }
}

.about-sec6 {
  padding: 50px 0;
  background-color: #afb1b2;
  h2, h3 {
    color: $white;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 4em;
  }
  h3 {
    font-weight: 100;
    margin-bottom: 25px;
  }
  a.button {
    width: 350px;
    display: block;
    margin: 9% auto 0 auto;
  }
  @include desktop-small-and-down {
    a.button {
      margin: 0 auto;
    }
    h2, h3 {
      text-align: center;
    }
  }
}

.about-sec7 {
  padding: 50px 0;
  h2 {
    margin-bottom: 0;
    text-align: center;
  }
  h4 {
    font-weight: 100;
    text-align: center;
  }
  p {
    font-size: 1.2em;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
  }
  ul.team-members {
    margin-top: 60px;
    li {
      margin: 20px 0;
    }
    img {
      border-radius: 50%;
      display: block;
      margin: 0 auto 10px auto;
      max-width: 155px;
    }
    span {
      .name {
        font-weight: 800;
        font-size: 1em; 
        display: inline;
        margin-left: 5px;
      }
      a {
        display: inline;
        margin-left: 5px;
        font-size: 1.1em;
      }
      .title {
        font-size: .9em;
        margin-left: 5px;

      }
    }
  }
}

.about-sec8 {
  padding: 50px 0;
  background-color: $red;
  h2 {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    color: $white;
  }
  ul.social-links {
    list-style: none;
    max-width: 325px;
    display: block;
    margin: 15px auto 0 auto;
    li, li a {
      display: inline;
      color: $white;
      font-size: 1.8em;
      margin-right: 15px;
    }
  }
}
