.node--type-author {
  .pre-body {
    margin-top: 75px;
    @include tablet-portrait {
      margin-top: 105px;
    }
    h2 {
      margin: 0;
      font-size: 2em;
      @include tablet-portrait {
        font-size: 50px;
        line-height: 62px;
      }
    }
    .field--name-field-position-title {
      margin: 0;
      font-size: 1.5em;
      @include tablet-portrait {
        font-size: 32px;
        line-height: 49px;
      }
    }
    .bio {
      margin-top: 55px;
      .social-links {
        a {
          background-color: #f3f3f3;
          border-radius: 100%;
          display: inline-block;
          width: 24px;
          height: 24px;
          overflow: hidden;
          position: relative;
          margin-right: 8px;
          margin-bottom: 10px;
          @include tablet-landscape {
            margin-bottom: 0;
          }
          &:hover {
            > div {
              opacity: 0.7;
            }
          }
          .a2a_svg {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 18px;
            width: 18px;
            transform: translateX(-50%) translateY(-50%);
            svg {
              width: 18px;
              &.youtube,
              &.github {
                width: 14px;
                margin: 0 0 1px 2px;
              }
            }
          }
          .a2a_label {
            position: absolute!important;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px,1px,1px,1px);
            clip-path: polygon(0 0,0 0,0 0);
            -webkit-clip-path: polygon(0 0,0 0,0 0);
            overflow: hidden;
            height: 1px;
            width: 1px;
          }
        }
      }
      p {
        margin: 0;
        color: #242424;
        font-size: 16px;
        line-height: 24px;
      }
      .github-link {
        margin-top: 30px;
        font-size: 16px;
        line-height: 5px;
        font-weight: bold;
      }
    }
    .field--name-field-headshot {
      @include tablet-landscape-768-and-down {
        text-align: center;
      }
      img {
        height: auto;
        height: auto !important;
        border-radius: 100%;
        max-width: 100%;
        margin-top: 0;
        display: block;
        @include tablet-landscape-768-and-down {
          max-width: 75%;
          display: inline-block;
          margin-top: 45px;
        }
      }
    }
  }

  .body-row {
    padding-top: 45px;
    margin-top: 45px;
    border-top: 3px solid #f5f5f5;
    @include tablet-portrait {
      padding-top: 85px;
      margin-top: 85px;
    }
    h4 {
      margin: 0 0 50px 0;
      color: #242424;
      font-size: 32px;
      line-height: 49px;
      font-weight: normal;
    }
    .views-row {
      margin-bottom: 75px;
      .article-teaser-image {
        margin-bottom: 0;
        @include tablet-landscape-768-and-down {
          margin-bottom: 15px;
          text-align: center;
        }
      }
      h5 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 27px;
        line-height: 42px;
        a{
          color: $gray-8;
          &:hover {
            color: $blue;
          }
        }
      }
      p {
        margin: 0;
        color: #242424;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .pager {
    margin: 20px 0 45px 0;
    ul {
      padding: 0;
      margin: 0;
    }
  }

}
