.wide-hero.awards {
  background: url('https://static.jboss.org/rhd/images/_images_awards_microsite_hero.jpg');
  padding: 1em;
  h2, p {
    color: $white;
  }
  h2 {
    text-align: right;
  }
}

.middlewareAwards {
  .award-section {
    margin-bottom: 40px;
    a {
      h3, h5 {
        color: #2664a2;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 15px;
        &:hover {
          color: #a5aa4d;
        }
      }
    }
    .dukes-links {
          margin-top: 15px;
    }
    .award-logo {
      max-width: 350px;
      display: block;
      margin: 60px auto 30px auto;
    }
    .logo-sm {
      margin: 0 auto;
      max-height: 75px;
    }
    .dukes-logo {
      max-width: 160px;
    }
    h6 {
      margin-bottom: 0;
    }
  }  
}
