// Downloads
h3.downloads-header {
  text-transform: uppercase;
  margin:30px 0;
}
#downloads {
  width: 100%;
  .download-list {
    p {
      margin: 0;
    }
    .category-label + rhdp-downloads-all-item .row hr {
      display: none;
    }
    hr {
      margin: 2rem 1rem;
    }
    .category-label {
      margin-bottom: 20px;
      margin-top: 20px;
      background:#656565 url('../images/dotted_line-white.svg') no-repeat;
      padding:20px;
      background-size:1000px;
      background-position:center right -300px;
      h4 {
        text-transform: uppercase;
        color: white;
        font-size: 25px;
        margin:0;
        line-height:1;
      }
    }
    .indent-product {
      margin-left: 1em;
      .large-8 {
        margin-left: -.7em;
      }
      @include desktop-small-and-down {
        .large-8 {
          margin-left: 0;
        }
      }
    }
  }

  .button {
    width:100%;
  }
  h5 {
    font-size: 25px;
  }
  #other-resources {
    .category-label {
      margin-bottom: 40px;
      margin-top: 50px;
    }
    ul {
      margin-left: 0;
      list-style: none;
    }
    a.button {
      background: #6abcd3 cdn("../images/design/stars-texture.png") bottom right no-repeat;
      width: 100%;
      padding: 25px 10px 25px 20px;
      text-align: left;
    }
    a.button:hover,a.button:active, a.button:focus {
      background: #43aac7 cdn("../images/design/stars-texture.png") bottom right no-repeat;
    }
  }
}

div.download-loading{
  &.loading {
    background:cdn("../images/icons/ajax-loader.gif") center 80px no-repeat;
    min-height:250px;
  }
}

.has-download, .no-download {
  display: none;

  h4.caps {
    text-transform: uppercase;
  }
}

.download-links {
  a + a {
    margin-left: 10px;
  }
}

.download-link {
  h4 {
    a {
      &:before {
          font-family: 'FontAwesome';
          content: "\f01a";
          padding-right:3px;
      }
    }
  }
  a.button {
    display: block;
    margin: 0 auto 5px auto;
  }
  .version-name {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

a.download-link {
  &:before {
      font-family: 'FontAwesome';
      content: "\f01a";
      padding-right:3px;
  }
}

.most-popular-downloads {
  background:#E6E7E8 url('../images/dotted_line-white.svg') no-repeat;
  padding:20px 0;
  background-size:1200px;
  h3 {
    color:#242424;
    text-transform: uppercase;
  }
}

.popular-download-box {
  background:white;
  padding:20px;
  border:1px solid #DEDEDE;
  margin-bottom: 20px;
  .button {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
  }
  h4 {
    font-size: 17px;
    min-height:60px;
  }
  p {
    margin: 0;
    color:black;
    text-align: center;
  }
  small {
    text-align: center;
    display: block;
  }
}

rhdp-downloads-all-item {

  .large-9.center.columns{
    text-align: center;
  }

}


//Product page download styles
//.download-link{
//  .version-name{
//    margin-top: 15px;
//  }
//  table.downloads-table {
//    border: 0px double transparent;
//    background: none;
//    width: 100%;
//
//    tbody tr {
//      background: #ffffff;
//      border-bottom: 1px solid $grey-2;
//    }
//
//    td {
//      border: none;
//    }
//
//    td.product-name {
//      white-space: nowrap;
//    }
//
//    td.description {
//      text-align: justify;
//    }
//
//    th {
//      background: #ffffff;
//      text-align: left;
//      border-bottom: 1px solid $black;
//    }
//  }
//}
