.page-node-type-landing-page-single-offer {
  header {
    margin-top: 20px;
    margin-bottom: 20px;
    .rh-header-logo {
      max-width: 260px;
    }
    @include tablet-portrait {
      margin-bottom: 90px;
    }
  }
  .has-hero {

    .solp-header-container {
      position: absolute;
      width: 100%;
      z-index: 10;
      @include tablet-portrait {

      }
    }
    > .assembly {
      padding-top: 100px;

      @include tablet-portrait {
        padding-top: 170px;
      }
    }
  }
}