div.alert-box {
  color: #363636 !important;
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
  margin: 1.5em auto;
  font-size: 1em;
  position: relative;

  div.alert-content {
    display: inline;
    strong { margin-right: .5em; }
    p { 
      margin-bottom: 0;
      display: inline;
    }
  }

  div.icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    top: 6px;
  }

  &.alert-info {
    background-color: #dcedf8;
    border-color: #87aac1;

    div.icon {
      &:before { content: url('https://static.jboss.org/rhd/images/icons/RHD_alerticon_info.svg'); }
    }
  }

  &.alert-success {
    background-color: #e9f4e9;
    border-color: #8db28a;

    div.icon {
      &:before { content: url('https://static.jboss.org/rhd/images/icons/RHD_alerticon_success.svg'); }
    }
  }

  &.alert-warning {
    background-color: #fdf2e5;
    border-color: #deb142;

    div.icon {
      &:before { content: url('https://static.jboss.org/rhd/images/icons/RHD_alerticon_warning.svg'); }
    }
  }

  &.alert-error {
    background-color: #ffe6e6;
    border-color: #d8aaab;  

    div.icon {
      &:before { content: url('https://static.jboss.org/rhd/images/icons/RHD_alerticon_error.svg'); }
    }
  }

  &.alert-xl {
    background-color: #dcedf8;
    border-color: #87aac1;

    div.icon {
      display: inline;
      float: left;
      margin-left: 1em;
      &:before { content: url('https://static.jboss.org/rhd/images/icons/RHD_alerticon_info.svg'); }
    }
    div.alert-content {
      display: inline;
      float: right;
      width: calc(100% - 4em);

      h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  a.close {
    top: 1em;
    margin-right: 5px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    color: #3b6e90;
    right: 1em;
  }
}

