.author {
  &.short-teaser {
    font-size: 14px;
    text-align: center;
    display: grid;
    grid-template-columns: 70px auto;
    .author-info {
      text-align: left;
      margin-left: 1rem;
      align-self: center;
    }
    .author-name {
      font-size: 12px;
      font-weight: 700;
      background-color: $grey-1;
      padding: 6px 13px;
      text-transform: uppercase;
      display: inline-block;
      line-height: 1.6;
      margin: 0 0 .5rem 0;
      .field--name-title {
        margin-bottom: 0;
      }
      &:only-child {
        min-width: 200px;
      }
    }
    .field--name-field-headshot img {
      border-radius: 100%;
      align-self: center;
    }
  }
  &.tile > a {
    font-size: 12px;
    display: grid;
    grid-template-columns: 50px auto;
    text-align: left;
    line-height: 1.5rem;
    color: $gray-6;
    .field--name-field-headshot {
      align-self: center;
      img {
        border-radius: 100%;
      }
    }
    .author-info {
      padding: 1rem;
      align-self: center;
    }
    .author-name {
      text-transform: uppercase;
      margin-bottom: 5px;
      span {
        background-color: $grey-1;
        display:inline-block;
        padding: 6px 13px;
        font-weight: 700;
      }
    }
  }
  &.tile > a .author-name span {
    color: $link;
  }
}

.node--type-author {
  &.node--view-mode-teaser {
    .grid {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 160px 1fr;
    }

    .name {
      margin-top: 0;
      margin-bottom: .5rem;
      font-size: 18px;
      line-height: 1.5;
    }

    .bio {
      margin: 0;
      padding: 0;
      p {
        font-size: 14px;
        margin-top: 0;
      }
    }

  }

  .headshot {
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .social-icons {
    padding: 0;
    list-style-type: none;
  }
}

%author-social-icon {
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  margin-right: 12px;
}

.author-social-icon-facebook {
  @extend %author-social-icon;
  svg {
    color: #3b5998;
  }
}

.author-social-icon-twitter {
  @extend %author-social-icon;
  svg {
    color: #00aced;
  }
}

.author-social-icon-youtube {
  @extend %author-social-icon;
  svg {
    color: #ff0000;
  }
}

.author-social-icon-linkedin {
  @extend %author-social-icon;
  svg {
    color: #0077B5;
  }
}

.author-social-icon-github {
  @extend %author-social-icon;
  svg {
    color: #000000;
  }
}
