button, .button {
  text-transform: uppercase;
  background: $red;
  text-transform: uppercase;
  text-decoration: none;
  border:0;
  font-size: 16px;
  font-weight: 600;
  padding:9px 40px;
  -webkit-transition: background .2s ease-in 0s;
  transition:background .2s ease-in 0s;
  line-height: 1.44;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center;
  color: $white;

  &:hover, &:focus {
    color: $white;
    background-color: darken( $red, 12% );
  }
  &.heavy-cta {
    font-weight: bold;
    &:visited {
      color:$white;
    }
    &.white {
      background:$white;
      color:$red;
      &:visited {
        color:$red;
      }
      &:hover, &:focus {
        background-color: darken( $white, 6% );
      }
    }
    &.black {
      background:$black;
      color:$white;
    }
    &.blue {
      background:$blue;
      color:$white;
      &:hover, &:focus {
        background-color: darken( $blue, 6% );
      }
    }

  }
  &.medium-cta {
    border: 1px solid $red;
    line-height: 1.44;
    color: $red;
    background-color: transparent;
    padding: 8px 40px;
    &:visited {
      color: $red;
    }
    &:hover, &:focus {
      background-color: $red;
      color: $white;
    }
    &.white {
      border-color:$white;
      color:$white;
      &:hover, &:focus {
        background-color: $white;
        color: $red;
      }
    }
    &.black {
      border-color:$black;
      color:$black;
      &:hover, &:focus {
        background-color: $black;
        color: $white;
      }
    }
    &.blue {
      border-color:$blue;
      color:$blue;
      &:hover, &:focus {
        background-color: $blue;
        color: $white;
      }
    }
  }
  &.large {
    padding: 0.6em 0.9em;
  }
  &.long {
    padding: .6em 5em;
  }
  & + button, & + .button {
    margin-left: 20px;
  }
  &.inverse {
    background:white;
    color:$red;
  }
  &.clear {
    padding-left:0;
    padding-right: 0;
    background: transparent;
    border: 0;
    i {
      margin-right:2px;
      margin-left: 2px;
    }
  }
  &.external-link:after {
    display: none;
  }
}

.button {
  display: inline-block;
}

a.button[href$=".pdf"],
a.heavy-cta[href$=".pdf"],
a.medium-cta[href$=".pdf"],
.heavy-cta a[href$=".pdf"],
.medium-cta a[href$=".pdf"], 
.f-dropdown a[href$=".pdf"]{ 
  .fa-file-pdf {
    display: none;
  }
}

a.light-cta{
  color: $link;
  font-weight: 800;
  &:after {
    padding-left:2px;
    content: "\25B8";
  }
  &:hover, &:focus {
    color: $linkhover;
  }
  &.black {
    color: $black;
    &:hover, &:focus {
      color: $link;
    }
  }
  &.white {
    color: $white;
    &:hover, &:focus {
      color: $linkhover-dark-background;
    }
  }
  &.external-link:after {
    vertical-align: baseline;
  }
}

.button-group {
  button, .button  {
    border-radius: 0;
  border-left: 1px solid $white;
    margin-left: 0px;
  }
  a {
  color: $white;
 }
}
