.node--view-mode-card {
  background: #FFF;
  width: 100%;
  &>a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  .card-title {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    @include tablet-landscape {
      font-size: 18px;
    }
  }

  .header-block,
  .content-block {
    padding: 1rem;
  }

  .content-block {
    padding-bottom: 15px;
    padding-top: 15px;
    @include tablet-landscape {
      padding-bottom: 30px;
      padding-top: 30px;
    }
  }

  .header-block {
    background: $blue;
    padding-bottom: .5rem;
    .card-title,
    .asset-type {
      color: #FFF;
    }
    .card-title {
      @include tablet-landscape {
        font-size: 27px;
      }
    }
    .asset-type {
      margin-bottom: 0;
    }
  }

  .asset-type {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5rem;
    color: $blue;
    letter-spacing: 1px;
  }

  .login-required {
    display: inline-block;
    margin-right: .5rem;
  }

  .more {
    color: $blue;
    margin-top: 1rem;
    .svg-inline--fa {
      display: inline-block;
      margin-left: .5rem;
      font-size: 1.2rem;
      vertical-align: bottom;
    }
  }
}

.card-image {
  padding-top: 25px;
  @include tablet-landscape {
    padding-top: 50px;
  }
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;

  .table {
    display: table;
    height: 100%;
    width: 100%;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }

  img {
    max-height: 160px;
    @include tablet-landscape {
      max-height: 205px;
    }
    width: auto;
    box-shadow: -2px 2px 11px 0 rgba(0,0,0,0.5);
  }
}
