.node--type-video-resource.node--view-mode-teaser,
.wordpress-blog-post-teaser {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  .teaser-content {
    display: none;
    @include tablet-portrait {
      display: none;
    }
  }

  .teaser-image {
    .tile-image {
      border: none;
    }
    @include tablet-landscape {
      float: right;
      width: 260px;
      margin-left: 30px;

      .tile-image {
        background: transparent;
      }

      .image-table {
        .image-cell {
          vertical-align: top;
        }
      }
    }
  }

  .title {
    margin-top: 0;
    font-size: 14px;
    @include tablet-portrait {
      font-size: 26px;
    }
    @include tablet-landscape {
      padding-right: 290px;
    }
    line-height: 1.4;
    margin-bottom: 8px;
    a {
      color: #000;
      text-decoration: none;
    }
  }

  .summary {
    display: none;
    @include tablet-portrait {
      display: block;
    }
    @include tablet-landscape {
      padding-right: 290px;
    }
    p {
      font-size: 14px;
      margin-top: 0rem;
    }

    >*:last-child {
      margin-bottom: 0;
    }
  }
}
