$white: #ffffff;
$alto: #d2d2d2;
$rolling-stone: #72767B;
$cod-gray: #131313;
$malibu: #73BCF7;
$dodger-blue: #2B9AF3;
$science-blue: #0066cc;
$congress-blue: #004080;
$light-gray: #EDEDED;
$soft-dark: rgba(0,0,0,.8);

$link-color: $science-blue;
$link-color-hover: $congress-blue;