# Example MySQL config file for medium systems.
#
# This is for a system with little memory (32M - 64M) where MySQL plays
# an important part, or systems up to 128M where MySQL is used together with
# other programs (such as a web server)
#
# You can copy this file to
# /etc/my.cnf to set global options,
# mysql-data-dir/my.cnf to set server-specific options (in this
# installation this directory is /var/lib/mysql) or
# ~/.my.cnf to set user-specific options.
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
port		= 3306
socket		= /var/lib/mysql/mysql.sock

# Here follows entries for some specific programs

# The MySQL server
[mysqld]
bind-address=0.0.0.0
max_connect_errors = 4294967295
port		= 3306
socket		= /var/lib/mysql/mysql.sock
skip-external-locking
key_buffer = 16M
max_allowed_packet = 64M
max_connections = 1024
table_open_cache = 1024
table_definition_cache = 4096
innodb_open_files = 2048
open_files_limit = 16384
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

tmp_table_size = 16M
max_heap_table_size = 16M

default-storage-engine = InnoDB
lower_case_table_names = 1
# Added default character set
#default-character-set=utf8
#default-character-set=utf8
character-set-server=utf8
# expire logs after a set number of days
#expire_logs_days = 7 
# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (via the "enable-named-pipe" option) will render mysqld useless!
# 
#skip-networking

# Replication Master Server (default)
# binary logging is required for replication
#log-bin=mysql-bin
#
#

#slow_query_log=1
#slow_query_log_file=/var/lib/mysql/mysqllog_slow_queries.log
#log-output      =FILE
#log             =/var/lib/mysql/mysqllog_general.log
#log-error       =/var/lib/mysql/mysqlderror.log
#log-bin         =/var/lib/mysql/mysqllog_bin.log
#relay-log       =/var/lib/mysql/mysql02-relay-bin
#relay-log-index =/var/lib/mysql/mysql02-relay-bin.index
# relay log can't be easily renamed. It should be changed to something like "mysqld-relay-bin", so setup of new slave will be easier in the future. We should do it during mysql04 setup.


#
long-query-time=1
innodb_flush_log_at_trx_commit=1
#sync_binlog=1
#log_slave_updates
#log_bin_trust_function_creators=1

#binlog_format = 'MIXED'
#To change the connection charset permanently to UTF-8
init-connect='SET NAMES utf8'


# Create tablespace per schema.
innodb_file_per_table
innodb_flush_method = O_DIRECT


# Auto Increment Parameters
auto_increment_increment = 10
auto_increment_offset    = 12

#
# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 12

# Replication Slave (comment out master section to use this)
#
# To configure this host as a replication slave, you can choose between
# two methods :
#
# 1) Use the CHANGE MASTER TO command (fully described in our manual) -
#    the syntax is:
#
#    CHANGE MASTER TO MASTER_HOST=<host>, MASTER_PORT=<port>,
#    MASTER_USER=<user>, MASTER_PASSWORD=<password> ;
#
#    where you replace <host>, <user>, <password> by quoted strings and
#    <port> by the master's port number (3306 by default).
#
#    Example:
#
#    CHANGE MASTER TO MASTER_HOST='125.564.12.1', MASTER_PORT=3306,
#    MASTER_USER='joe', MASTER_PASSWORD='secret';
#
# OR
#
# 2) Set the variables below. However, in case you choose this method, then
#    start replication for the first time (even unsuccessfully, for example
#    if you mistyped the password in master-password and the slave fails to
#    connect), the slave will create a master.info file, and any later
#    change in this file to the variables' values below will be ignored and
#    overridden by the content of the master.info file, unless you shutdown
#    the slave server, delete master.info and restart the slaver server.
#    For that reason, you may want to leave the lines below untouched
#    (commented) and instead use CHANGE MASTER TO (see above)
#
# required unique id between 2 and 2^32 - 1
# (and different from the master)
# defaults to 2 if master-host is set
# but will not function as a slave if omitted
#server-id       = 2
#
# The replication master for this slave - required
#master-host     =   <hostname>
#
# The username the slave will use for authentication when connecting
# to the master - required
#master-user     =   <username>
#
# The password the slave will authenticate with when connecting to
# the master - required
#master-password =   <password>
#
# The port the master is listening on.
# optional - defaults to 3306
#master-port     =  <port>
#
# binary logging - not required for slaves, but recommended
#log-bin=mysql-bin

# Point the following paths to different dedicated disks
#tmpdir		= /tmp

# slave_load_tmpdir CANNOT be in memory!!!
#slave_load_tmpdir = /var/tmp

#log-update 	= /path-to-dedicated-directory/hostname

# Uncomment the following if you are using InnoDB tables
#innodb_data_home_dir = /var/lib/mysql/
#innodb_data_file_path = ibdata1:10M:autoextend
#innodb_log_group_home_dir = /var/lib/mysql/
#innodb_log_arch_dir = /var/lib/mysql/
# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
#innodb_buffer_pool_size = 16M

large-pages
# huge pages allocated 128G, so the pool has to be a bit smaller
#innodb_buffer_pool_size=126G

innodb_additional_mem_pool_size = 512M
# Set .._log_file_size to 25 % of buffer pool size
#innodb_log_file_size = 1G
#innodb_log_buffer_size = 8M
#innodb_flush_log_at_trx_commit = 1
#innodb_lock_wait_timeout = 50

innodb_thread_concurrency = 40

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[isamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[myisamchk]
key_buffer = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout


[mysqld_safe]
bind-address=0.0.0.0
#log-output      =FILE
#log             =/var/lib/mysql/mysqllog_general.log
#log-error       =/var/lib/mysql/mysqlderror.log
#log-bin         =/var/lib/mysql/mysqllog_bin.log
syslog

