.rhd-c-all-products-list {

  h2, h2.pf-c-title {
    margin-bottom: var(--pf-global--spacer--lg); // 24px
  }

  ul {
    @extend .pf-l-grid;
    @extend .pf-m-all-12-col;
    @extend .pf-m-all-6-col-on-md;
    @extend .pf-m-all-4-col-on-lg;
    @extend .pf-m-gutter;
    @extend .pf-c-list;
    margin: 0;
    padding: 0;
    list-style: none !important;

    li {
      align-self: center;
      margin-top: 0 !important;

      a {
        color: var(--pf-global--Color--100); // #151515
      }
    }
  }
}

// OTHER VISUAL STYLES
.rhd-c-all-products-list {
  &.dark {
    & > *,
    p, a,
    .pf-c-title,
    .pf-c-content,
    .pf-m-link,
    .pf-m-link  i,
    .pf-m-link .svg-inline--fa {
      color: var(--pf-global--Color--light-100) !important;
    }
  }
}
