.rhd-c-article {
  .article-toc {
    width: 220px;
    &.pf-l-flex__item {
      margin-right: var(--pf-l-grid--m-gutter--GridGap);
    }
    @media screen and (max-width: $pf-global--breakpoint--md) {
      width: 100%;
    }
  }

  .article-aside {
    width: 250px;
    &.pf-l-flex__item {
      margin-right: var(--pf-l-grid--m-gutter--GridGap);
      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and (max-width: $pf-global--breakpoint--lg) {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--pf-l-grid--m-gutter--GridGap);
    }
    @media screen and (max-width: $pf-global--breakpoint--md) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  .article-content {
    flex: 1;
    @include nestedComponent;
  }

  .disqus-thread-wrapper {
    margin-top: 32px;
  }

  .article-info-left {
    h1 {
      margin: 16px 0;
    }

    ul {
      font-size: 0;
      line-height: 1.75;
      margin: 0;
      padding: 0;

      &>li {
        display: inline-block;
        float: none;
        font-size: map-get($rhd-font-size, "base");
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
      }
    }
  }

  .authors {
    .rhd-c-author--tile {
      padding-bottom: var(--pf-global--spacer--md);
    }

    .field--name-field-content-author {
      .rhd-c-author--tile-info {
        margin-left: 58px;
      }
    }
  }

  .article-hero {
    text-align: center;
  }

  .floated-image {
    img {
      float: right;

      @media (max-width: #{$pf-global--breakpoint--lg}-1) {
        float: left;
      }
    }
  }
  
  .rhd-c-article__form-subscribe {
    @extend .pf-u-mt-md;
    @extend .pf-u-py-md;
    background-color: $pf-color-black-150;
    border-top: 2px solid $red;

    .pf-c-form {
      grid-gap: 0;
    }

    .pf-c-form__group {
      @extend .pf-u-mt-md;
    }
  }
  
  .article-type {
    color: $gray-4-5;
    font-size: map-get($rhd-font-size, "sm");
    letter-spacing: .025em;
    margin: 0;
  }

  .gsi-nav {
    background-color: $grey-1;
    border-top: 2px solid $link;
    font-size: map-get($rhd-font-size, "base");
    font-weight: 700;
    line-height: 24px;
    padding: 12px 16px;
    transform: translateY(0);
    transition: none;
    list-style: none;
    margin: 0;

    li {
      margin: 0;
      padding: 4px 0;
      a {
        word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
      }

      a:hover {
        color: $linkhover;
        text-decoration: none;
      }

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  .gsi-meta {
    margin-bottom: 24px;
    overflow: hidden;
    background: $grey-1;
    padding: 12px;
    border: 1px solid $grey-2;
    border-radius: 0;

    .field--name-field-related-product {
      &.field--type-entity-reference {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    ul {
      margin-top: 0;
      padding-left: 15px;

      li {
        width: 33.33%;
        float: left;
        list-style: none;

        strong {
          margin-right: 3px;
        }

        a+a {
          margin-left: 5px;
        }
      }
    }
  }
}

.page-node-type-coding-resource {
  .gsi-meta {
    margin-bottom: 24px;
    overflow: hidden;
    background: $grey-1;
    padding: 12px;
    border: 1px solid $grey-2;
    border-radius: 0;

    .field--name-field-related-product {
      &.field--type-entity-reference {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    .gsi-nav {
      background-color: $grey-1;
      border-top: 2px solid $link;
      font-size: map-get($rhd-font-size, "base");
      font-weight: 700;
      line-height: 24px;
      padding: 12px 16px;
      transform: translateY(0);
      transition: none;
      list-style: none;
      margin: 0;

      li {
        margin: 0;
        padding: 4px 0;

        a:hover {
          color: $linkhover;
          text-decoration: none;
        }

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }

    ul {
      margin-top: 0;
      padding-left: 15px;

      li {
        width: 33.33%;
        float: left;
        list-style: none;

        strong {
          margin-right: 3px;
        }

        a+a {
          margin-left: 5px;
        }
      }
    }
  }

  .assembly-type-content_pull_quote {
    border-top: 3px solid $red;
    padding: 15px;
    position: relative;
    font-size: map-get($rhd-font-size, "med");
    line-height: 32px;
    float: right;
    z-index: 99;
    width: 300px;
    margin: 18px;
  
    svg {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
