.rhd-c-avatar {
  width: 100%;
  height: 100%;
  padding: 8px;
  margin: 0 auto;
}

.rhd-c-avatar--container {
  width: 85px;
  height: 85px;
  background-color: #d2d2d2;
  border-radius: 50%;
  overflow: hidden;
  &--large {
    width: 170px;
    height: 170px;
    background-color: #d2d2d2;
    border-radius: 50%;
    overflow: hidden;
    .rhd-c-avatar {
      padding: 8px;
      border-radius: 50%;
    }
  }
  .rhd-c-avatar {
    padding: 8px;
    border-radius: 50%;
  }
}

.rhd-c-round-image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}
