//base button class
.pf-c-button {
  font-family: var(--rhd-theme--font-family);
  margin-bottom: var(--rhd-theme--container-spacer-xs);
  

  //Set base button colors
  color: var(--pf-c-button--Color);
  border-color: var(--pf-c-button--BorderColor);
  background-color: var(--pf-c-button--BackgroundColor);

  //todo don't like !important fix this properly
  --pf-theme--color--ui-link: var(--pf-c-button--Color) !important;
  --pf-theme--color--ui-link--hover: var(--pf-c-button--hover--Color) !important;

  //Set visited button colors
  &:visited {
    color: var(--pf-c-button--Color);
    border-color: var(--pf-c-button--BorderColor);
    background-color: var(--pf-c-button--BackgroundColor);
  }

  //Set active button colors
  &:active,
  &.pf-m-active {
    color: var(--pf-c-button--active--Color);
    border-color: var(--pf-c-button--active--BorderColor);
    background-color: var(--pf-c-button--active--BackgroundColor);
  }

  //Set hover and focus button colors
  &:hover,
  &:focus,
  &.pf-m-focus {
    color: var(--pf-c-button--hover--Color);
    border-color: var(--pf-c-button--hover--BorderColor);
    background-color: var(--pf-c-button--hover--BackgroundColor);
  }

  @media screen and (max-width: $pf-global--breakpoint--sm) {
    display: block;
    margin-bottom: var(--rhd-theme--container-spacer-md);
    width: 100%;
    white-space: normal;
  }

  //Set disabled button colors
  &:disabled,
  &.pf-m-disabled {
    color: var(--pf-c-button--disabled--Color);
    border-color: var(--pf-c-button--disabled--BorderColor);
    background-color: var(--pf-c-button--disabled--BackgroundColor);
  }

  // loop through $rhd-theme--base-buttons and generate appropriate button classes.
  @each $themeButtonName, $themeButtonData in $rhd-theme--base-buttons {
    &.#{$themeButtonName} {
      //loop through $themeButtonData write --pf-c-button variables 
      --am-debug: #{$themeButtonName};
      @each $themeButtonItemName, $themeButtonItemData in $themeButtonData {
        --pf-c-button--#{$themeButtonItemName}: #{$themeButtonItemData};
      }
    }
  }
}