@import "../../../../node_modules/@patternfly/patternfly/components/Button/button.scss";


:root {
  --rhd-c-button--m-heavy--Color: #fff;
  --rhd-c-button--m-heavy--active--Color: #fff;
  --rhd-c-button--m-heavy--hover--Color: #fff;
  --rhd-c-button--m-heavy--BackgroundColor: #ee0000;
  --rhd-c-button--m-heavy--hover--BackgroundColor: #cf0000;
  --rhd-c-button--m-heavy--active--BackgroundColor: #cf0000;

  --rhd-c-button--m-primary--BackgroundColor: #0087ce;
  --rhd-c-button--m-primary--hover--BackgroundColor: #0073af;
  --rhd-c-button--m-primary--active--BackgroundColor: #0073af;

  --rhd-c-button--m-secondary--BorderColor: #0066cc;
  --rhd-c-button--m-secondary--Color: #0066cc;
  --rhd-c-button--m-secondary--hover--BorderColor: #0087ce;
  --rhd-c-button--m-secondary--hover--BackgroundColor: #0087ce;
  --rhd-c-button--m-secondary--hover--Color: #0087ce;

  --rhd-c-button--m-link--Color: #0066cc;
  --rhd-c-button--m-link--hover--Color: #004080;

  --rhd-c-button--m-link-dark--Color: #73BCF7;
  --rhd-c-button--m-link-dark--hover--Color: #2A99F1;

  --rhd-c-button--m-secondary-dark--BackgroundColor: transparent;
  --rhd-c-button--m-secondary-dark--BorderColor: #fff;
  --rhd-c-button--m-secondary-dark--Color: #fff;

  --rhd-c-button--m-secondary-dark--hover--BackgroundColor: #fff;
  --rhd-c-button--m-secondary-dark--hover--BorderColor: #fff;
  --rhd-c-button--m-secondary-dark--hover--Color: #151515;

  --rhd-c-button--m-secondary-alt--BorderColor: #ee0000;
  --rhd-c-button--m-secondary-alt--Color: #ee0000;
  --rhd-c-button--m-secondary-alt--hover--BorderColor: #cf0000;
  --rhd-c-button--m-secondary-alt--hover--BackgroundColor: #cf0000;
  --rhd-c-button--m-secondary-alt--hover--Color: #fff;

  --rhd-c-button--m-secondary-alt-dark--BackgroundColor: transparent;
  --rhd-c-button--m-secondary-alt-dark--BorderColor: #fff;
  --rhd-c-button--m-secondary-alt-dark--Color: #fff;

  --rhd-c-button--m-secondary-alt-dark--hover--BackgroundColor: #fff;
  --rhd-c-button--m-secondary-alt-dark--hover--BorderColor: #fff;
  --rhd-c-button--m-secondary-alt-dark--hover--Color: #151515;

  --rhd-c-button--m-tertiary--Color: #151515;
  --rhd-c-button--m-tertiary--BorderColor: #151515;
  --rhd-c-button--m-tertiary--BackgroundColor: #151515;

  --rhd-c-button--m-tertiary-hover--Color: #fff;
  --rhd-c-button--m-tertiary-hover--BorderColor: #151515;
  --rhd-c-button--m-tertiary-hover--BackgroundColor: #151515;

  --rhd-c-button--m-tertiary-dark--Color: #fff;
  --rhd-c-button--m-tertiary-dark--BorderColor: #fff;
  --rhd-c-button--m-tertiary-dark--BackgroundColor: transparent;

  --rhd-c-button--m-tertiary-dark--hover--Color: #151515;
  --rhd-c-button--m-tertiary-dark--hover--BorderColor: #fff;
  --rhd-c-button--m-tertiary-dark--hover--BackgroundColor: #fff;
}

//base button class
.pf-c-button {
  font-family: var(--pfe-theme--font-family);
  margin-bottom: var(--rhd-theme--container-spacer-xs);
  @media screen and (max-width: $pf-global--breakpoint--sm) {
    display: block;
    margin-bottom: var(--rhd-theme--container-spacer-md);
    width: 100%;
    white-space: normal;
  }
}

.pf-c-button {
  //link button
  &.pf-m-link {
    color: var(--rhd-c-button--m-link--Color);
    background-color: transparent;
    @media screen and (max-width: $pf-global--breakpoint--sm) {
      text-align: left;
    }
    &:visited {
      color: var(--rhd-c-button--m-link--Color);
    }

    &:hover,
    &:focus,
    &.pf-m-active,
    &.pf-m-focus {
      color: var(--rhd-c-button--m-link--hover--Color);

      &>.pf-c-button__icon>i,
      &>.pf-c-button__icon>.svg-inline--fa {
        color: var(--rhd-c-button--m-link--hover--Color) !important;
      }
    }

    &>.pf-c-button__icon>i,
    &>.pf-c-button__icon>.svg-inline--fa,
    &>i,
    &>.svg-inline--fa {
      color: var(--rhd-c-button--m-link--Color) !important;
      &:visited {
        color: var(--rhd-c-button--m-link--Color) !important;
      }
      
      &:hover,
      &:active,
      &:focus {
        color: var(--rhd-c-button--m-link--hover--Color) !important;
      }
    }
    // Link on dark background
    &-on-dark {
      color: var(--rhd-c-button--m-link-dark--Color);
      @media screen and (max-width: $pf-global--breakpoint--sm) {
        text-align: left;
      }
      &:visited {
        color: var(--rhd-c-button--m-link-dark--Color);
      }
      &:hover,
      &:focus,
      &.pf-m-active,
      &.pf-m-focus {
        color: var(--rhd-c-button--m-link-dark--hover--Color);

        &>.pf-c-button__icon>i,
        &>.pf-c-button__icon>.svg-inline--fa {
          color: var(--rhd-c-button--m-link-dark--hover--Color) !important;
        }
      }

      &>.pf-c-button__icon>i,
      &>.pf-c-button__icon>.svg-inline--fa {
        color: var(--rhd-c-button--m-link-dark--Color);
        &:visited {
          color: var(--rhd-c-button--m-link-dark--Color);
        }
        &:hover,
        &:active,
        &:focus {
          color: var(--rhd-c-button--m-link-dark--hover--Color);
        }
      }
    }
  }
  .dark & {
    color: var(--rhd-c-button--m-link-dark--Color);

    &:visited {
      color: var(--rhd-c-button--m-link-dark--Color);
    }

    &:hover,
    &:focus,
    &.pf-m-active,
    &.pf-m-focus {
      color: var(--rhd-c-button--m-link-dark--hover--Color);
      &>.pf-c-button__icon>i,
      &>.pf-c-button__icon>.svg-inline--fa {
        color: var(--rhd-c-button--m-link-dark--hover--Color) !important;
        
      }
    }

    &>.pf-c-button__icon>i,
    &>.pf-c-button__icon>.svg-inline--fa {
      color: var(--rhd-c-button--m-link-dark--Color) !important;

      &:visited {
        color: var(--rhd-c-button--m-link-dark--Color) !important;
      }
      &:hover,
      &:active,
      &:focus {
        color: var(--rhd-c-button--m-link-dark--hover--Color) !important;
      }
    }
  }
}

.pf-c-button {

  //link button secondary
  &.pf-m-link--secondary {
    @extend .pf-m-link;
    color: var(--rhd-c-button--m-tertiary--Color);
    @media screen and (max-width: $pf-global--breakpoint--sm) {
      text-align: left;
    }
    &:visited {
      color: var(--rhd-c-button--m-tertiary--Color);
    }
    &:hover,
    &:focus,
    &.pf-m-active,
    &.pf-m-focus {
      color: var(--rhd-c-button--m-tertiary--Color);

      &>.pf-c-button__icon>i,
      &>.pf-c-button__icon>.svg-inline--fa {
        color: var(--rhd-c-button--m-tertiary--Color) !important;
      }
    }

    &>.pf-c-button__icon>i,
    &>.pf-c-button__icon>.svg-inline--fa {
      color: var(--rhd-c-button--m-tertiary--Color) !important;
      &:visited {
        color: var(--rhd-c-button--m-tertiary--Color) !important;
      }
      &:hover,
      &:active,
      &:focus {
        color: var(--rhd-c-button--m-tertiary--Color);
      }
    }

    &-on-dark {
      color: var(--rhd-c-button--m-secondary-dark--Color);
      @media screen and (max-width: $pf-global--breakpoint--sm) {
        text-align: left;
      }
      &:visited {
        color: var(--rhd-c-button--m-secondary-dark--Color);
      }
      &:hover,
      &:focus,
      &.pf-m-active,
      &.pf-m-focus {
        color: #9D9D9D;

        &>.pf-c-button__icon>i,
        &>.pf-c-button__icon>.svg-inline--fa {
          color: #9D9D9D !important;
        }
      }

      &>.pf-c-button__icon>i,
      &>.pf-c-button__icon>.svg-inline--fa,
      &>i,
      &>.svg-inline--fa {
        color: var(--rhd-c-button--m-secondary-dark--Color) !important;
        &:visited {
          color: var(--rhd-c-button--m-secondary-dark--Color) !important;
        }
        &:hover,
        &:active,
        &:focus {
          color: #9D9D9D !important;
        }
      }
    }

    .dark & {
      color: var(--rhd-c-button--m-secondary-dark--Color);
      &:visited {
        color: var(--rhd-c-button--m-secondary-dark--Color);
      }
      &:hover,
      &:focus,
      &.pf-m-active,
      &.pf-m-focus {
        color: #9D9D9D;

        &>.pf-c-button__icon>i,
        &>.pf-c-button__icon>.svg-inline--fa {
          color: #9D9D9D !important;
        }
      }

      &>.pf-c-button__icon>i,
      &>.pf-c-button__icon>.svg-inline--fa,
      &>i,
      &>.svg-inline--fa {
        color: var(--rhd-c-button--m-secondary-dark--Color) !important;
        &:visited {
          color: var(--rhd-c-button--m-secondary-dark--Color) !important;
        }
        &:hover,
        &:active,
        &:focus {
          color: #9D9D9D !important;
        }
      }
    }
  }
}

.pf-c-button {

  // Heavy CTA
  &.pf-m-heavy {
    background-color: var(--rhd-c-button--m-heavy--BackgroundColor);
    color: var(--rhd-c-button--m-heavy--Color);
    &:visited {
      color: var(--rhd-c-button--m-heavy--Color);
    }
    &:hover,
    &:focus,
    &:active,
    &.pf-m-active,
    &.pf-m-focus {
      color: var(--rhd-c-button--m-heavy--Color);
      background-color: var(--rhd-c-button--m-heavy--active--BackgroundColor);
    }

    &:disabled,
    &.pf-m-disabled {
      background-color: var(--pf-c-button--disabled--BackgroundColor);
      color: var(--pf-c-button--disabled--Color);
    }

    .dark & {
      color: var(--rhd-c-button--m-heavy--Color);
      &:visited {
        color: var(--rhd-c-button--m-heavy--Color);
      }
      &:hover,
      &:focus,
      &:active,
      &.pf-m-active,
      &.pf-m-focus {
        background-color: var(--rhd-c-button--m-heavy--active--BackgroundColor);
        color: var(--rhd-c-button--m-heavy--Color);
      }
    }
  }
}

.pf-c-button {

  // Primary Button
  &.pf-m-primary {
    background-color: var(--rhd-c-button--m-primary--BackgroundColor);
    &:hover,
    &:active,
    &.pf-m-active,
    &:focus,
    &.pf-m-focus {
      background-color: var(--rhd-c-button--m-primary--active--BackgroundColor);
    }

    &:disabled,
    &.pf-m-disabled {
      background-color: var(--pf-c-button--disabled--BackgroundColor);
    }
  }
}

.pf-c-button {

  // Secondary CTA - blue outline
  &.pf-m-secondary {
    --pf-c-button--m-secondary--hover--BackgroundColor: var(--rhd-c-button--m-secondary--hover--BackgroundColor);
    --pf-c-button--m-secondary--hover--BorderColor: var(--rhd-c-button--m-secondary--hover--BorderColor);
    --pf-c-button--m-secondary--focus--BorderColor: var(--rhd-c-button--m-secondary--hover--BorderColor);
    --pf-c-button--m-secondary--active--BorderColor: var(--rhd-c-button--m-secondary--hover--BorderColor);
    color: var(--rhd-c-button--m-secondary--Color);
    border-color: var(--rhd-c-button--m-secondary--BorderColor);

    &:hover,
    &:active,
    &.pf-m-active,
    &:focus,
    &.pf-m-focus {
      color: var(--pf-global--Color--light-100);
      border-color: var(--rhd-c-button--m-secondary--hover--BorderColor);
      background-color: var(--rhd-c-button--m-secondary--hover--BackgroundColor);
    }

    &:disabled,
    &.pf-m-disabled {
      color: var(--pf-c-button--disabled--Color);
    }

    // Secondary CTA - dark background
    &-on-dark {
      color: var(--rhd-c-button--m-secondary-dark--Color);
      //border: 1px solid var(--rhd-c-button--m-secondary-dark--BorderColor);
      border: none;
      &:after {
        border-color: var(--rhd-c-button--m-secondary-dark--BorderColor);
      }
      &:hover,
      &:active,
      &.pf-m-active,
      &:focus,
      &.pf-m-focus {
        color: var(--rhd-c-button--m-secondary-dark--hover--Color);
        border-color: var(--rhd-c-button--m-secondary-dark--hover--BorderColor);
        background-color: var(--rhd-c-button--m-secondary-dark--hover--BackgroundColor);
      }

      &:disabled,
      &.pf-m-disabled {
        color: var(--pf-c-button--disabled--Color);
      }
    }

    .dark & {
      color: var(--rhd-c-button--m-secondary-dark--Color);
      //border: 1px solid var(--rhd-c-button--m-secondary-dark--BorderColor);
      border: none;
      &:after {
        border-color: var(--rhd-c-button--m-secondary-dark--BorderColor);
      }
      &:hover,
      &:active,
      &.pf-m-active,
      &:focus,
      &.pf-m-focus {
        color: var(--rhd-c-button--m-secondary-dark--hover--Color);
        
        background-color: var(--rhd-c-button--m-secondary-dark--hover--BackgroundColor);
      }

      &:disabled,
      &.pf-m-disabled {
        color: var(--pf-c-button--disabled--Color);
      }
    }
  }
}

.pf-c-button {

  // Secondary Alt CTA - red outline
  &.pf-m-secondary-alt {
    @extend .pf-m-secondary;
    --pf-c-button--m-secondary--BorderColor: var(--rhd-c-button--m-secondary-alt--BorderColor);
    --pf-c-button--m-secondary--hover--BorderColor: var(--rhd-c-button--m-secondary-alt--hover--BorderColor);
    --pf-c-button--m-secondary--hover--BackgroundColor: var(--rhd-c-button--m-secondary-alt--hover--BackgroundColor);
    --pf-c-button--m-secondary--active--BorderColor: var(--rhd-c-button--m-secondary-alt--hover--BorderColor);
    --pf-c-button--m-secondary--focus--BorderColor: var(--rhd-c-button--m-secondary-alt--hover--BorderColor);

    color: var(--rhd-c-button--m-secondary-alt--Color);

    &:hover,
    &:active,
    &.pf-m-active,
    &:focus,
    &.pf-m-focus {
      color: var(--pf-global--Color--light-100);
      border-color: var(--rhd-c-button--m-secondary-alt--hover--BorderColor);
      background-color: var(--rhd-c-button--m-secondary-alt--hover--BackgroundColor);
    }

    &:disabled,
    &.pf-m-disabled {
      color: var(--pf-c-button--disabled--Color);
    }

    // Secondary CTA - dark background
    &-on-dark {
      color: var(--rhd-c-button--m-secondary-dark--Color);
      //border: 1px solid var(--rhd-c-button--m-secondary-dark--BorderColor);
      border: none;
      &:after {
        border-color: var(--rhd-c-button--m-secondary-alt-dark--BorderColor);
      }
      &:hover,
      &:active,
      &.pf-m-active,
      &:focus,
      &.pf-m-focus {
        color: var(--rhd-c-button--m-secondary-alt-dark--hover--Color);
        border-color: var(--rhd-c-button--m-secondary-alt-dark--hover--BorderColor);
        background-color: var(--rhd-c-button--m-secondary-alt-dark--hover--BackgroundColor);
      }

      &:disabled,
      &.pf-m-disabled {
        color: var(--pf-c-button--disabled--Color);
      }
    }
    .dark & {
      color: var(--rhd-c-button--m-secondary-alt-dark--Color);
      //border: 1px solid var(--rhd-c-button--m-secondary-alt-dark--BorderColor);
      border: none;
      &:hover,
      &:active,
      &.pf-m-active,
      &:focus,
      &.pf-m-focus {
        color: var(--rhd-c-button--m-secondary-alt-dark--hover--Color);
        border-color: var(--rhd-c-button--m-secondary-alt-dark--hover--BorderColor);
        background-color: var(--rhd-c-button--m-secondary-alt-dark--hover--BackgroundColor);
      }

      &:disabled,
      &.pf-m-disabled {
        color: var(--pf-c-button--disabled--Color);
      }
    }
  }
}

.pf-c-button {

  // Secondary CTA - black outline
  &.pf-m-tertiary {
    color: var(--rhd-c-button--m-tertiary--Color);
    border-color: var(--rhd-c-button--m-tertiary--BorderColor);

    &:hover {
      color: var(--pf-global--Color--light-100);
      border-color: var(--rhd-c-button--m-tertiary--BorderColor);
      background-color: var(--rhd-c-button--m-tertiary--BackgroundColor);
    }

    &:active,
    &.pf-m-active,
    &:focus,
    &.pf-m-focus {
      color: var(--pf-global--Color--light-100);
      border-color: var(--rhd-c-button--m-tertiary--BorderColor);
      background-color: var(--rhd-c-button--m-tertiary--BackgroundColor);
    }

    &.pf-m-disabled {
      color: var(--pf-c-button--disabled--Color);
    }

    &:disabled,
    &.pf-m-disabled {
      background-color: var(--pf-c-button--disabled--BackgroundColor);
    }

    // Secondary CTA - dark background
    &-on-dark {
      color: var(--rhd-c-button--m-secondary-dark--Color);
      //border: 1px solid var(--rhd-c-button--m-secondary-dark--BorderColor);
      border: none;
      &:after {
        border-color: var(--rhd-c-button--m-tertiary-dark--BorderColor);
      }
      &:hover,
      &:active,
      &.pf-m-active,
      &:focus,
      &.pf-m-focus {
        color: var(--rhd-c-button--m-tertiary-dark--hover--Color);
        border-color: var(--rhd-c-button--m-tertiary-dark--hover--BorderColor);
        background-color: var(--rhd-c-button--m-tertiary-dark--hover--BackgroundColor);
      }

      &:disabled,
      &.pf-m-disabled {
        color: var(--pf-c-button--disabled--Color);
      }
    }
    .dark & {
      color: var(--rhd-c-button--m-tertiary-dark--Color);
      //border: 1px solid var(--rhd-c-button--m-tertiary-dark--BorderColor);
      border: none;
      &:after {
        border-color: var(--rhd-c-button--m-tertiary-dark--BorderColor);
      }
      &:hover {
        color: var(--rhd-c-button--m-tertiary-dark--hover--Color);
        border-color: var(--rhd-c-button--m-tertiary-dark--BorderColor);
        background-color: var(--rhd-c-button--m-tertiary-dark--BorderColor);
      }

      &:active,
      &.pf-m-active,
      &:focus,
      &.pf-m-focus {
        color: var(--rhd-c-button--m-tertiary-dark--hover--Color);
        border-color: var(--rhd-c-button--m-tertiary-dark--hover--BorderColor);
        background-color: var(--rhd-c-button--m-tertiary-dark--hover--BackgroundColor);
      }

      &:disabled,
      &.pf-m-disabled {
        color: var(--pf-c-button--disabled--Color);
      }
    }
  }
}


//add legacy button style classes and extend.
.button {
  @extend .pf-c-button;
  margin-bottom: var(--rhd-theme--container-spacer-xs);
  @media screen and (max-width: $pf-global--breakpoint--sm) {
    display: block;
    margin-bottom: var(--rhd-theme--container-spacer-md);
    margin-left: 0 !important;
    margin-right: 0 !important;
    white-space: normal;
  }
  border:none;

  &:hover {
    text-decoration: none !important;
  }

  &.heavy-cta {
    @extend .pf-c-button.pf-m-heavy;
    &.blue {
      @extend .pf-c-button.pf-m-primary;
    }
  }

  &.medium-cta {
    @extend .pf-c-button.pf-m-secondary;
    border:none;
    &.red {
      @extend .pf-c-button.pf-m-secondary-alt;
    }
  }
}
