.rhd-c-card-grid {

    h2.pf-c-title {
        @extend .pf-u-w-100;
        font-size: var(--pf-c-title--m-3xl--FontSize);
        margin-bottom: var(--pf-l-flex--spacer--lg) !important;
    }
    &__wrapper {
        display: flex;
        align-items: stretch;
    }
    .rhd-c-card {
        height: inherit;
        --pf-l-flex--spacer: var(--pf-l-flex--spacer--none);
        margin-bottom: var(--pf-l-flex--spacer--lg);

        &:last-of-type {
            margin-right: var(--pf-l-flex--spacer--none);
        }

        @media screen and (max-width: $pf-global--breakpoint--md) {
            width: 100%;
        }

        @media screen and (min-width: $pf-global--breakpoint--md) {
            width: 285px;
            --pf-l-flex--spacer: var(--pf-l-flex--spacer--lg);
        }
    }

    .rhd-c-card-grid__wrapper {
        margin-bottom: 8px;
    }

    .rhd-c-card-grid__cta .pf-c-button:not(:last-of-type) {
        margin-right: 24px;
    }
}

// OTHER VISUAL STYLES
.rhd-c-card-grid {

    &.centered {
        h1, h2, h3, h4, h5, h6 {
            &.pf-c-title {
                text-align: center;
            }
        }

        .rhd-c-card-grid__wrapper {
            @extend .pf-m-justify-content-center;
        }

        .rhd-c-card-grid__cta {
            @extend .pf-m-justify-content-center;
        }
        @media screen and (min-width: $pf-global--breakpoint--md) and (max-width: $pf-global--breakpoint--xl) {
            .rhd-c-card:last-of-type {margin-right: var(--pf-l-flex--spacer--lg);}
        }
    }

    &.dark {
        background: #252525;

        .pf-c-title {
            color: #FFF;
        }

        .rhd-c-card-grid__cta a,
        .rhd-c-card-grid__cta button{
            @extend .pf-m-secondary-on-dark;
            &::after {
                border: 1px solid var(--rhd-c-button--m-secondary-alt-dark--BorderColor);
            }
        }
    }

}

