@import "../mixins";

// Generic component color styles
// To Add a new color theme simply extend the data below to include the required color changes 
$componentStyles: (
    'dark': (
        'foregroundColor': var(--rhd-theme--component-font--color-light),
        'backgroundColor': var(--rhd-theme--component-background--color-dark),
        'cardColor': var(--rhd-theme--component-background--color-dark),
        'linkColor': #{$malibu},
        'linkHoverColor': #{$dodger-blue},
        'addImagePadding': true,
        'buttonOverrides': (
                'm-link': (
                    'Color': #{$malibu},
                    'hover--Color': #{$dodger-blue},
                    'active--Color': #{$dodger-blue},
                    'focus--Color': #{$dodger-blue},
                    'BorderColor': transparent,
                    'hover--BorderColor': transparent,
                    'active--BorderColor': transparent,
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': transparent,
                    'active--BackgroundColor': transparent
                ),
                'm-link--secondary': (
                    'Color': #{$white},
                    'hover--Color': #{$alto},
                    'active--Color': #{$alto},
                    'focus--Color': #{$alto},
                    'BorderColor': transparent,
                    'hover--BorderColor': transparent,
                    'active--BorderColor': transparent,
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': transparent,
                    'active--BackgroundColor': transparent
                ),
                'm-secondary': (
                    'Color': #{$white},
                    'hover--Color': #{$black},
                    'active--Color': #{$black},
                    'focus--Color': #{$black},
                    'BorderColor': #{$white},
                    'hover--BorderColor': #{$white},
                    'active--BorderColor': #{$white},
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': #{$white},
                    'active--BackgroundColor': #{$white}
                ),
                'm-secondary-alt': (
                    'Color': #{$white},
                    'hover--Color': #{$black},
                    'active--Color': #{$black},
                    'focus--Color': #{$black},
                    'BorderColor': #{$white},
                    'hover--BorderColor': #{$white},
                    'active--BorderColor': #{$white},
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': #{$white},
                    'active--BackgroundColor': #{$white}
                ),
                'm-tertiary': (
                    'Color': #{$white},
                    'hover--Color': #{$black},
                    'active--Color': #{$black},
                    'focus--Color': #{$black},
                    'BorderColor': #{$white},
                    'hover--BorderColor': #{$white},
                    'active--BorderColor': #{$white},
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': #{$white},
                    'active--BackgroundColor': #{$white}
                )
            )
    ),
    'light-blue': (
        'foregroundColor': var(--rhd-theme--component-font--color-light),
        'backgroundColor': var(--rhd-theme--ui-background-dark--light-blue),
        'cardColor': var(--rhd-theme--component-background--color-dark),
        'linkColor': #{$white},
        'linkHoverColor': #{$white},
        'addImagePadding': true,
        'buttonOverrides': (
                'm-link': (
                    'Color': #{$white},
                    'hover--Color': #{$alto},
                    'active--Color': #{$alto},
                    'focus--Color': #{$alto},
                    'BorderColor': transparent,
                    'hover--BorderColor': transparent,
                    'active--BorderColor': transparent,
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': transparent,
                    'active--BackgroundColor': transparent
                ),
                'm-link--secondary': (
                    'Color': #{$white},
                    'hover--Color': #{$alto},
                    'active--Color': #{$alto},
                    'focus--Color': #{$alto},
                    'BorderColor': transparent,
                    'hover--BorderColor': transparent,
                    'active--BorderColor': transparent,
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': transparent,
                    'active--BackgroundColor': transparent
                ),
                'm-secondary': (
                    'Color': #{$white},
                    'hover--Color': #{$black},
                    'active--Color': #{$black},
                    'focus--Color': #{$black},
                    'BorderColor': #{$white},
                    'hover--BorderColor': #{$white},
                    'active--BorderColor': #{$white},
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': #{$white},
                    'active--BackgroundColor': #{$white}
                ),
                'm-secondary-alt': (
                    'Color': #{$white},
                    'hover--Color': #{$black},
                    'active--Color': #{$black},
                    'focus--Color': #{$black},
                    'BorderColor': #{$white},
                    'hover--BorderColor': #{$white},
                    'active--BorderColor': #{$white},
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': #{$white},
                    'active--BackgroundColor': #{$white}
                ),
                'm-tertiary': (
                    'Color': #{$white},
                    'hover--Color': #{$black},
                    'active--Color': #{$black},
                    'focus--Color': #{$black},
                    'BorderColor': #{$white},
                    'hover--BorderColor': #{$white},
                    'active--BorderColor': #{$white},
                    'BackgroundColor': transparent,
                    'hover--BackgroundColor': #{$white},
                    'active--BackgroundColor': #{$white}
                )
            )
    ),
    'gray': (
        'foregroundColor': var(--rhd-theme--component-font--color-dark),
        'backgroundColor': var(--rhd-theme--component-background--color-light),
        'cardColor': var(--rhd-theme--component-background--color-dark),
        'linkColor': var(--rhd-c-button--m-link-dark--Color),
        'linkHoverColor': var(--rhd-c-button--m-link-dark--hover--Color),
        'addImagePadding': true,
        'buttonOverrides': ()
        )
);


// loop through $componentStyles and generate appropriate classes.
.component {  
    @each $componentStyleName, $componentStyleData in $componentStyles {
        //mixin to be used to create color specific component styles
        &.#{$componentStyleName} {
            //loop through buttonOverrides write theme variant --pf-c-button variables 
            @if map-get($componentStyleData, "addImagePadding") {
                @include with-background-padding;
            }

            background-color: map-get($componentStyleData, "backgroundColor");
            color: map-get($componentStyleData, "foregroundColor");
            --pf-c-content--Color: #{map-get($componentStyleData, "foregroundColor")};
            --pf-theme--color--ui-link: #{map-get($componentStyleData, "linkColor")};
            --pf-theme--color--ui-link--hover: #{map-get($componentStyleData, "linkHoverColor")};
            --pf-c-card--Color: #{map-get($componentStyleData, "cardColor")};
            .pager__item.is-active a {
                color: #{map-get($componentStyleData, "foregroundColor")};
            }
            .pf-c-title, h1, h2, h3, h4, h5, h6, p {
                color: #{map-get($componentStyleData, "foregroundColor")};
            }
        }
        //loop through buttonOverrides write theme variant 'theme-variant' --pf-c-button 'button-variant' classes .style-name .pf-c-button.pd-m-button-name {}
        @at-root .#{$componentStyleName} {
            .pf-c-button { 
                @each $themeButtonName, $themeButtonData in map-get($componentStyleData, 'buttonOverrides') {
                    &.pf-#{$themeButtonName} {
                        @each $themeButtonParamName, $themeButtonParamData in $themeButtonData {
                            --pf-c-button--#{$themeButtonParamName}: #{$themeButtonParamData};
                            --pf-c-button--#{$themeButtonName}--#{$themeButtonParamName}: #{$themeButtonParamData};
                        }
                    }
                }            
            }
        }
        //loop through buttonOverrides write theme variant --pf-c-button 'button-variant'-on-'theme-variant' classes
        @at-root .pf-c-button {
            @each $themeButtonName, $themeButtonData in map-get($componentStyleData, 'buttonOverrides') {
                &.pf-#{$themeButtonName}-on-#{$componentStyleName} {
                    @each $themeButtonParamName, $themeButtonParamData in $themeButtonData {
                        --pf-c-button--#{$themeButtonParamName}: #{$themeButtonParamData};
                        --pf-c-button--#{$themeButtonName}--#{$themeButtonParamName}: #{$themeButtonParamData};
                    }
                }   
            } 
        }  
    }
}

