//
//Base component class
//
.component {
    //isolate any absolute positioned children to the component
    position: relative;
    .pf-l-grid,
    .pf-l-level,
    .pf-l-gallery,
    .pf-l-flex,
    .pager,
    .component-limit-width {
        max-width: map-get($rhd-breakpoints, xlarge);
        margin: 0 auto;
    }

    padding: 0 var(--rhd-theme--container-spacer-3xl);
    margin-top: var(--rhd-theme--container-spacer-xl);
    margin-bottom: var(--rhd-theme--container-spacer-xl);

    @media screen and (max-width: $pf-global--breakpoint--lg) {
        padding-left: var(--rhd-theme--container-spacer-xl);
        padding-right: var(--rhd-theme--container-spacer-xl);
    }
    @media screen and (max-width: $pf-global--breakpoint--md) {
        padding-left: var(--rhd-theme--container-spacer-xl);
        padding-right: var(--rhd-theme--container-spacer-xl);
    }
    @media screen and (max-width: $pf-global--breakpoint--sm) {
        padding-left: var(--rhd-theme--container-spacer-md);
        padding-right: var(--rhd-theme--container-spacer-md);
    }

    //remove default side padding when inside another component
    .pf-c-card & {
        padding: var(--rhd-theme--container-spacer-md) 0;
        @media screen and (max-width: $pf-global--breakpoint--lg) {
            padding: var(--rhd-theme--container-spacer-md) 0;
        }
        @media screen and (max-width: $pf-global--breakpoint--md) {
            padding: var(--rhd-theme--container-spacer-md) 0;
        }
        @media screen and (max-width: $pf-global--breakpoint--sm) {
            padding: var(--rhd-theme--container-spacer-md) 0;
        }
    }

//
//default component classes
//

    //Align text left
    &.left   { 
        text-align: left;
    }

    //Align text to center
    &.centered   { 
        text-align: center;
    }

    //Align text right
    &.right  { 
        text-align: right;
    }

    //Add grey background only, legacy style not part of themeing 
    &.background-gray {
        background: $rhd-theme--component-background--color-extra-light;
    }

    //Remove top vertical component spacing
    &.no-padding-top {
        @extend .pf-u-pt-0;
    }

    //Remove bottom vertical component spacing
    &.no-padding-bottom {
        @extend .pf-u-pb-0;
    }  

    //no background color/transparent
    &.no-background {
        background-color: transparent;
    }
    
    //Adds component padding all round used with background image or coloured backgrounds.
    &.has-background {
        @include with-background-padding;
    }

    //extra component classes used for card images
    &.image-no-crop {
        .rhd-c-card {
            img.rhd-c-card__image, img.image-style-static-item {
                object-fit: contain;
            }
            .rhd-c-card-blur-image {
                display: block;
                img, .rhd-c-card__image, img.image-style-static-item {
                    object-fit: fill;
                  }
            }
        }
    }
}
