@import "../mixins";
.assembly-type-cta_form {
    @include with-background-padding;
    &.has-background {
        padding: 18px 24px 8px 24px;
    }
    &.centered {
        text-align: center;
        .field--name-field-title, .header {
            text-align: center;
        }
        iframe {
            max-width: 500px;
        }
    }
}

.rhd-c-cta-form {
    .pf-c-form__group {
        margin-top: var(--rhd-theme--container-spacer-lg);

        .pf-c-check,
        .pf-c-radio {
            display: inline-block;
            padding-right: var(--rhd-theme--container-spacer-lg);
        }

        .pf-c-form__label {
            padding: 0;
            margin: 0 var(--rhd-theme--container-spacer-sm) var(--rhd-theme--container-spacer-sm) 0;
        }
    }
}

// @to-do: There are multiple versions of this.
.iframe-container {
    width: 100%;
    .eloqua-iframe {
        width: 100%;
    }
}
