@import "../mixins";
.assembly-type-featured_products {
  background-color: var(--rhd-gray-2);
  @include with-background-padding;

  .featured_products__title {
    margin-bottom: var(--rhd-theme--container-spacer-lg);
  }

  /* Variants / visual styles */
  &.featured .rhd-c-card {
    border-top: 6px solid var(--rhd-theme--color--ui-accent);
  }
  &.basic .rhd-c-card {
    border-top: none;
  }
  &.dark {
    background: #242424;

    & .featured_products__title {
      color: var(--pf-global--Color--light-100);
    }
  }
}
