.dynamic-list {
    --pfe-band--Width__aside--lg: 200px;
    p { margin: 0; }
    pfe-band {
        --pfe-band--Padding: 24px 24px 16px 0;
        --pfe-band--gutter--vertical: 0;
    }
    pfe-card {
        --pfe-card--Padding: 0;
        --pfe-card--spacing: 0;
    }
}