.rhd-c-events-hero {

  &__item {
    @extend .pf-u-pt-lg;
    @extend .pf-u-pb-lg;
    border-top: 2px dotted #D2D3D4;
  }

  &__item-title {
    @extend .pf-u-mb-0;
  }

  &__item-presenters {

    .pf-l-flex {
      margin-left: 0;
      align-items: flex-start;
      .rhd-c-author--tile {
        min-width: 220px;
        max-width: 220px;
        margin-right: 24px;
        &:last-child {
          margin-right: 24px;
         }
      }
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }
  }

  &__item-presenters-simple {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 24px;
  }

  &.has-background {
    background: var(--rhd-theme--ui-background-image__product-hero-light) !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    z-index: 0;
  }
}

// OTHER VISUAL STYLES
.rhd-c-events-hero {
  >.pf-l-grid {
    >.pf-l-grid__item {
      &:nth-child(2) {
        .pf-c-button {
          @extend .pf-m-heavy;

          &+.pf-c-button {
            @extend .pf-m-link--secondary;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
      &:nth-child(3) {
        .pf-c-button {
          @extend .pf-m-tertiary;
        }
      }
      &:nth-child(4) {
        .pf-c-button {
          @extend .pf-m-tertiary;
        }
      }
    }
  }

  &:not(.two-events, .three-events) {
    >.pf-l-grid {
      >.pf-l-grid__item:not(.pf-m-12-col) {

        &:not(.sidebar) {
          @extend .pf-m-12-col;
          @extend .pf-m-7-col-on-md;
        }

        &.sidebar {
          @extend .pf-m-12-col;
          @extend .pf-m-5-col-on-md;
        }
      }
    }
  }

  &.two-events {
    .rhd-c-events-hero__item-presenters {
      .pf-l-grid {
        margin: 0;
      }
    }
    >.pf-l-grid {
      >.pf-l-grid__item:not(.pf-m-12-col) {
        &:not(.sidebar) {
          @extend .pf-m-12-col;
          @extend .pf-m-6-col-on-md;
        }

        &.sidebar {
          @extend .pf-m-12-col;
          @extend .pf-m-6-col-on-md;
        }
      }
    }
  }

  &.three-events {
    .rhd-c-events-hero__item-presenters {
      .pf-l-grid {
        margin: 0;
      }
    }
    >.pf-l-grid {
      >.pf-l-grid__item:not(.pf-m-12-col) {
        &:not(.sidebar) {
          @extend .pf-m-12-col;
          @extend .pf-m-6-col-on-md;
          @extend .pf-m-4-col-on-lg;
        }

        &.sidebar {
          @extend .pf-m-12-col;
          @extend .pf-m-6-col-on-md;
          @extend .pf-m-4-col-on-lg;
        }
      }
    }
  }

  &.assembly-slim {
    .pf-l-flex {
      --pf-l-grid__item--GridColumnEnd: span 12;
    }
  }
}

.rhd-c-events-hero {
  &.gray {
    .rhd-c-events-hero__item {
      border-top: 2px dotted var(--pf-global--Color--light-100);
    }
  }
}

/* Legacy style fix */
.assembly-type-events_hero {
  &.has-sidebar {
    .sidebar {
      .rhd-c-events-hero__item-presenters, .short-description {
        display: none;
      }
    }
  }
}
