.rh-universal-header {
    background-color: $soft-dark;
    background-color: var(--rhd-theme--color--ui--soft-dark, $soft-dark);
}

.rh-header-logo {
  height: 50px;
  max-width: 100px;
  padding: 5px;
}
