.component {
    &.rhd-c-two-col-hero-layout {
        > .pf-l-grid {
            
            > .pf-m-12-col {
                .component:not(.dark):not(.assembly-slim) {
                    padding: 0;
                }
                > .component {
                    &.rhd-c-card-grid {
                        .rhd-c-card-grid__wrapper {
                            align-items: flex-start;
                            justify-content: space-between;
                            margin-right: calc(-1 * var(--pf-l-flex--spacer--sm));
                            margin-left: calc(-1 * var(--pf-l-flex--spacer--sm));
                            .pf-c-card {
                                min-width: 200px;
                                margin-left: var(--pf-l-flex--spacer--sm);
                                margin-right: var(--pf-l-flex--spacer--sm);
                                flex: 1 1 auto;
                            }
                        }
                    }
                }
                &:first-of-type {
                    @media screen and (max-width: $pf-global--breakpoint--lg) {
                        grid-row: 2;
                    }
                    .component {
                        margin-top: 0;
                    }
                }

            }
        }
    }
}
