.component {
    &.rhd-c-two-col-hero-layout {
        > .pf-l-grid {
            
            > .pf-m-12-col {
                .component:not(.dark):not(.assembly-slim):not(.has-background) {
                    padding: 0;
                }
                > .component {
                    &.rhd-c-card-grid {
                        .rhd-c-card-grid__wrapper {
                            align-items: flex-start;
                            justify-content: space-between;
                            margin-right: calc(-1 * var(--pf-l-flex--spacer--sm));
                            margin-left: calc(-1 * var(--pf-l-flex--spacer--sm));
                            .pf-c-card {
                                min-width: 200px;
                                margin-left: var(--pf-l-flex--spacer--sm);
                                margin-right: var(--pf-l-flex--spacer--sm);
                                flex: 1 1 auto;
                            }
                        }
                    }
                }
                &:first-of-type {
                    @media screen and (max-width: $pf-global--breakpoint--lg) {
                        grid-row: 2;
                    }
                    .component {
                        margin-top: 0;
                    }
                }

            }

            .field--name-field-column-2 {
                > .assembly.component:first-of-type {
                  // Remove margin-top from first assembly rendered in 2nd
                  // column within the Layout 2 col, sidebar left assembly type.
                  // This makes it match the behavior of the left, 1st column.
                  @media screen and (min-width: $pf-global--breakpoint--lg) {
                    margin-top: 0;
                  }
                }
            }
        }

        .field--name-field-column-2 {
          .assembly-type-rich_text,
          .assembly-type-content_with_image,
          .assembly-type-events_hero ,
          .assembly-type-hero ,
          .assembly-type-product_download_hero ,
          .assembly-type-product_try_it_hero ,
          .assembly-type-sign_up_hero ,
          .assembly-type-video_hero {
            padding-left: 16px;
            padding-right: 16px;
          }
        }

    }
}
