.rhd-c-divider {
    margin-top: var(--pf-global--spacer--md) !important;
    margin-bottom: var(--pf-global--spacer--md) !important;
    border: 0;
    --pf-c-content--hr--Height: 2px;
    --pf-c-content--hr--BackgroundColor: #ededed;
  }