
.rhd-c-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: solid 1px rgb(237, 237, 237);
    border-bottom: 1px solid black;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    height: 36px;
    margin-bottom: 1rem;
    padding-left: .5rem;
    position: relative;

    &::-ms-expand {
      display: none;
    }

    &:after {
      border-style: solid;
      border-color: transparent;
      border-top-color: inherit;
      border-width: 8px 5px 0;
      content: " ";
      margin-top: -3px;
      position: absolute;
      right: 10px;
      top: 20px;
      transform: rotate(0);
      z-index: 1;
    }
}
