.component {
  &.assembly-type-static_content_band {
    > .pf-l-flex {
      &.rhd-c-card-grid__wrapper {
        justify-content: flex-start;
        .assembly {
          &.pf-l-flex, &.assembly-type-node_reference {
            max-width: initial;
            width: 33.3%;
            padding-right: var(--rhd-theme--container-spacer-lg);
            margin: 0;
            @media screen and (max-width: $pf-global--breakpoint--md) {
              width: 100%;
              padding-right: 0;
            }
            .rhd-c-card {
              width: 100%;
              margin-right: 0;
            }
          }
          &.rhd-c-card {
            width: calc(33.3% - var(--rhd-theme--container-spacer-lg));
            margin: 0 var(--rhd-theme--container-spacer-lg) var(--rhd-theme--container-spacer-md) 0;
            @media screen and (max-width: $pf-global--breakpoint--lg) {
              width: calc(50% - var(--rhd-theme--container-spacer-lg));
            }
            @media screen and (max-width: $pf-global--breakpoint--md) {
              width: 100%;
              margin: 0 0 var(--rhd-theme--container-spacer-md) 0;
            }
          }
        }
      }
    }
    &.four-up { 
      > .pf-l-flex {
        &.rhd-c-card-grid__wrapper {
          .assembly {
            &.pf-l-flex, &.assembly-type-node_reference {
              width: 25%;
              @media screen and (max-width: $pf-global--breakpoint--lg) {
                width: 50%;
              }
              @media screen and (max-width: $pf-global--breakpoint--md) {
                width: 100%;
              }
            }
            &.rhd-c-card {
              width: calc(25% - var(--rhd-theme--container-spacer-lg));
              @media screen and (max-width: $pf-global--breakpoint--lg) {
                width: calc(50% - var(--rhd-theme--container-spacer-lg));
              }
              @media screen and (max-width: $pf-global--breakpoint--md) {
                width: 100%;
              }
            }
          }
        }
      }
    }
    &.left {
      > .pf-l-flex {
        &.rhd-c-card-grid__wrapper {
          justify-content: flex-start;
        }
      }
    }
    &.centered {
      > .pf-l-flex {
        &.rhd-c-card-grid__wrapper {
          justify-content: center;
        }
      }
    }
    &.right {
      > .pf-l-flex {
        &.rhd-c-card-grid__wrapper {
          justify-content: flex-end;
        }
      }
    }
  }
}
