
#rhd-video-resource {
  .rhd-c-card {
    height: auto;
  }

  .vr-social.right {
    float: right;
  }

  .share-this {
    background: none;
    padding-top: 0;
  }

  .slides iframe {
    height: 100%;
    width: 100%;
  }

  .video-info {
    border-bottom: 1px solid #656565;
    border-top: 1px solid #656565;
    margin-bottom: 2.5em;
    padding: 7px 0;
    .meta-info {
      margin-bottom: 0;
      .share-buttons {
        border-left: none;
        border-right: none;
      }
    }
  }

  .rhd-c-curated-links {
    padding: 0;
  }
}
