// Visual Styles used in multiple components
@import "../mixins";

.component {

  &.gray {
    @include with-background-padding;
    background-color: var(--rhd-theme--component-background--color-light);
  }

  &.dark {
    //Set base background padding and colors
    @include with-background-padding;
    background-color: var(--rhd-theme--component-background--color-dark);
    color: var(--rhd-theme--component-font--color-light);
    --pf-c-content--Color: var(--rhd-theme--component-font--color-light);
    
    .pf-c-title {
      color: var(--rhd-theme--component-font--color-light);
    }

    a {
      color: var(--rhd-c-button--m-link-dark--Color);
      &:hover {
        color: var(--rhd-c-button--m-link-dark--hover--Color);
      }
    }
  }
}
