@import "colors/_rhd-brand";

@mixin with-background-padding() {
  padding-top: var(--rhd-theme--container-spacer-lg);
  padding-bottom: var(--rhd-theme--container-spacer-lg);
  margin-top: 0;
  margin-bottom: 0;
}

@mixin nestedComponent {
  .component {
    margin: 0 0 var(--rhd-theme--container-spacer-lg) 0;
    padding: 0;

    @each $componentStyleName, $componentStyleData in $componentStyles {
      @if map-get($componentStyleData, "addImagePadding") {
        &.#{$componentStyleName} {
          padding: var(--rhd-theme--container-spacer-lg) var(--rhd-theme--container-spacer-3xl);
        }
      }
    }

    &.assembly-slim, &.has-background, &.background-gray {
      padding: var(--rhd-theme--container-spacer-lg) var(--rhd-theme--container-spacer-md);
    }
  }
}

@mixin resetComponentPadding {
  padding: 0;
}

%hidden {
  display: none;
}

%assembly {
  background-image: var(--rhd-theme--ui--background-image, none);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
