// Grid breakpoints
$pf-global--breakpoint--xs: 320px !default;
$pf-global--breakpoint--sm: 480px !default;
$pf-global--breakpoint--md: 768px !default;
$pf-global--breakpoint--lg: 1024px !default;
$pf-global--breakpoint--xl: 1440px !default;
$pf-global--breakpoint--2xl: 1600px !default;

:root {
    // Grid breakpoints
    --pf-global--breakpoint--xs: 320px;
    --pf-global--breakpoint--sm: 480px;
    --pf-global--breakpoint--md: 768px;
    --pf-global--breakpoint--lg: 1024px;
    --pf-global--breakpoint--xl: 1440px;
    --pf-global--breakpoint--2xl: 1600px;
}




