////
/// @group Colors - Brand Accent
////

:root {
  --rhd-theme--color--ui-accent: #ee0000;
  --rhd-theme--color--ui-accent-dark: #cc0000;
  --rhd-theme--color--ui-accent-darker: #a30000;
  --rhd-theme--color--ui-accent-darkest: #820000;

  --rhd-theme--color--ui-border: #ededed;
}

///
$green: #3F9C35;

///
$light-green: #92D400;

///
$light-blue: #00B9E4;

///
$yellow: #F0AB00;

///
$purple: #3B0083;

///
$turquoise: #007A87;

///
$accent-blue: #08c0fc;


// ZURB FOUNDATION COLORS USED

///
$jet: #222222 !default;

///
$aluminum: #999999 !default;

///
$primary-color: #008CBA !default;   // bondi-blue
