////
/// @group Colors - Links
////

/// Default link color
$link : #0066CC;

/// Default link hover color
$linkhover : #004C98;

///
$link-sm : #027CBB;

///
$link-sm-dark-background : #02ACE4;

/// Use for black/gray backgronds
$link-dark-background : #73BCF7; 

/// Use for black/gray backgrounds
$linkhover-dark-background : #2B9AF3;
