$rhd-global--FontWeight-Display--regular:   300;
$rhd-global--FontWeight-Display--medium:    400;
$rhd-global--FontWeight-Display--bold:      700;
$rhd-global--FontWeight-Text--regular:      600;
$rhd-global--FontWeight-Text--medium:       700;

:root {
  --rhd-global--FontWeight-Display--regular: 300;
  --rhd-global--FontWeight-Display--medium: 400;
  --rhd-global--FontWeight-Display--bold: 700;
  --rhd-global--FontWeight-Text--regular: 600;
  --rhd-global--FontWeight-Text--medium: 700;
}
