#
# This is an example my.cnf file to pass to the backup container at runtime to allow
# mysqldump to authenticate at runtime.
#
# This file contains full authentication details, but we rely on good ol fashioned unix-permissions
# to prevent unauthorised access to it in sensitive environments
#
[client]
hostname=my.database.host.com
password=mysupersecretpassword
user=myusername

[mysqldump]
# see: https://dev.mysql.com/doc/refman/5.5/en/mysql-command-options.html for all options for tuning mysqldump