[submodule "_docker/drupal/drupal-filesystem/web/themes/custom/rhdp2/rhd-frontend"]
	path = _docker/drupal/drupal-filesystem/web/themes/custom/rhdp2/rhd-frontend
	url = https://github.com/redhat-developer/rhd-frontend.git
