rhd.idea/
.idea
*.iml
.bundle
_tmp
.sass-cache
.awestruct
_site
.DS_store
*.sublime-project
*.sublime-workspace
app.css
static_foundation.css
*.swp
*~
links.html
_docker/docker-compose.yml
.project
images/sprites
stylesheets/global.css
stylesheets/foundation/foundation.css
stylesheets/foundation/normalize.css
stylesheets/magula.css
_wraith/shots
_wraith/sitemap_tmp.txt
_docker/searchisko/overlay/searchisko.sql.zip
_docker/searchisko_configure/overlay/searchisko.sql.zip
_docker/searchisko/overlay/searchisko_2.sql.zip
_docker/searchisko_configure/overlay/searchisko_2.sql.zip
_docker/mysql/searchisko_mysql_data.tar.gz
_docker/searchisko/searchisko_es_data.tar.gz
*.orig

# awestruct overlays
_docker/awestruct/overlay/ssh-key/id*
_docker/awestruct/overlay/ssh-key/known_hosts
# Wes' front end deps for local dev
node_modules/
bower_components/
components/*
!components/rhdp*
_gulp/
_docker/awestruct/Gemfile
_docker/awestruct/Gemfile.lock
_docker/environments/drupal-pull-request/rhd.settings.yml
_docker/environments/drupal-dev/drupal-logs
_docker/drupal/prod_db.sql.gz
prod_db.sql.gz*

# Ignore any further changes to active config
_docker/drupal/drupal-filesystem/web/fonts
_docker/drupal/drupal-filesystem/web/images
_docker/drupal/drupal-filesystem/web/libraries
_docker/drupal/drupal-filesystem/web/config/active
_docker/drupal/drupal-filesystem/web/sites/default/files
_docker/drupal/drupal-filesystem/web/sites/default/rhd.settings.php
_docker/drupal/drupal-filesystem/web/sites/default/rhd.settings.yml


# Ignore files generated by PhpStorm
_docker/drupal/.idea
.gitignore
_tests/unit/package.json
_tests/unit/report/
local.log
/_tests/e2e/BrowserStackLocal

# Ignore compressed CSS/JS
_docker/drupal/drupal-filesystem/web/themes/custom/rhdp/rhd-frontend/docs
_docker/drupal/drupal-filesystem/web/themes/custom/rhdp/rhd-frontend/rhd.css
_docker/drupal/drupal-filesystem/web/themes/custom/rhdp/rhd-frontend/rhd.min.css
_docker/drupal/drupal-filesystem/web/themes/custom/rhdp/rhd-frontend/rhd.js
_docker/drupal/drupal-filesystem/web/themes/custom/rhdp/rhd-frontend/rhd.min.js

_tests/e2e/report/desktop-results/results.html
_tests/e2e/report/desktop-results/results.json
_tests/e2e/report/desktop-results/screenshots/
_tests/e2e/tmp_downloads/
_tests/e2e/report/mobile-results/results.html
_tests/e2e/report/mobile-results/results.json
_tests/e2e/report/mobile-results/screenshots/
_tests/e2e/screenshots
.vscode/settings.json
_tests/blc/dcp/dcp-report.html
_tests/e2e/report/desktop-results/assets/app.js
*.woff
*.woff2
_tests/e2e/report/mobile-results/assets/app.js
_ticket-monster
_tests/e2e/npm-debug.log
_docker/drupal/drupal-filesystem/web/.ht.router.php
_docker/drupal/drupal-filesystem/web/sites/example.settings.local.php
_docker/drupal/drupal-filesystem/web/sites/example.sites.php
