[submodule "_eap-quickstarts"]
	path = _eap-quickstarts
	url = https://github.com/jboss-developer/jboss-eap-quickstarts.git
[submodule "_jdf-stack"]
	path = _jdf-stack
	url = https://github.com/jboss-jdf/jdf-stack.git
[submodule "_ticket-monster"]
	path = _ticket-monster
	url = https://github.com/jboss-developer/ticket-monster.git
[submodule "_sandbox-quickstarts"]
	path = _sandbox-quickstarts
	url = https://github.com/jboss-developer/jboss-sandbox-quickstarts.git
[submodule "_brms-quickstarts"]
	path = _brms-quickstarts
	url = https://github.com/jboss-developer/jboss-brms-quickstarts.git
[submodule "_picketlink-quickstarts"]
	path = _picketlink-quickstarts
	url = https://github.com/jboss-developer/jboss-picketlink-quickstarts.git
[submodule "_wfk-quickstarts"]
	path = _wfk-quickstarts
	url = https://github.com/jboss-developer/jboss-wfk-quickstarts.git
[submodule "_jdg-quickstarts"]
	path = _jdg-quickstarts
	url = https://github.com/jboss-developer/jboss-jdg-quickstarts.git
[submodule "_portal-quickstarts"]
	path = _portal-quickstarts
	url = https://github.com/jboss-developer/jboss-portal-quickstarts.git
[submodule "_jon-quickstarts"]
	path = _jon-quickstarts
	url = https://github.com/jboss-developer/jboss-on-quickstarts.git
