.idea/
*.iml
.bundle
_tmp
.sass-cache
.awestruct
_site
.DS_store
*.sublime-project
*.sublime-workspace
app.css
static_foundation.css
*.swp
*~
links.html
_docker/docker-compose.yml
.project
images/sprites
stylesheets/global.css
stylesheets/foundation/foundation.css
stylesheets/foundation/normalize.css
stylesheets/magula.css
_wraith/shots
_wraith/sitemap_tmp.txt
_docker/searchisko/overlay/searchisko.sql.zip
_docker/searchisko_configure/overlay/searchisko.sql.zip
_docker/searchisko/overlay/searchisko_2.sql.zip
_docker/searchisko_configure/overlay/searchisko_2.sql.zip
_docker/mysql/searchisko_mysql_data.tar.gz
_docker/searchisko/searchisko_es_data.tar.gz

# awestruct overlays
_docker/awestruct/overlay/ssh-key/id*
_docker/awestruct/overlay/ssh-key/known_hosts
# Wes' front end deps for local dev
node_modules/
package.json
gulpfile.js
_gulp/
_docker/awestruct/Gemfile
_docker/awestruct/Gemfile.lock
_cucumber/first_run.json
_cucumber/parallel_cucumber_failures.log
_cucumber/reports/*.html
_cucumber/reports/*.png
_cucumber/screenshots/*.html
_cucumber/screenshots/*.png
cucumber_failures.log
rerun.txt

_docker/drupal/web/themes/custom/rhd/css
_docker/drupal/web/themes/custom/rhd/js


_docker/drupal/drush/contrib
_docker/drupal/vendor
_docker/drupal/web/core
_docker/drupal/web/modules/contrib
_docker/drupal/web/themes/contrib
_docker/drupal/web/profiles

# Ignore Drupal's file directory
_docker/drupal/web/sites/default/files
_docker/drupal/web/sites/default/settings.php
_docker/drupal/web/sites/default/rhd.settings.yml
_docker/drupal/web/sites/default/rhd.settings.php

# Ignore files generated by PhpStorm
_docker/drupal/.idea
