[submodule "_eap-quickstarts"]
	path = _eap-quickstarts
	url = https://github.com/jboss-developer/jboss-eap-quickstarts.git
[submodule "_jdf-stack"]
	path = _jdf-stack
	url = https://github.com/jboss-jdf/jdf-stack.git
[submodule "_ticket-monster"]
	path = _ticket-monster
	url = https://github.com/jboss-developer/ticket-monster.git
[submodule "_sandbox-quickstarts"]
	path = _sandbox-quickstarts
	url = https://github.com/jboss-developer/jboss-sandbox-quickstarts.git
[submodule "_brms-quickstarts"]
	path = _brms-quickstarts
	url = https://github.com/jboss-developer/jboss-brms-quickstarts.git
[submodule "_picketlink-quickstarts"]
	path = _picketlink-quickstarts
	url = https://github.com/jboss-developer/jboss-picketlink-quickstarts.git
[submodule "_wfk-quickstarts"]
	path = _wfk-quickstarts
	url = https://github.com/jboss-developer/jboss-wfk-quickstarts.git
[submodule "_jdg-quickstarts"]
	path = _jdg-quickstarts
	url = https://github.com/jboss-developer/jboss-jdg-quickstarts.git
[submodule "_portal-quickstarts"]
	path = _portal-quickstarts
	url = https://github.com/jboss-developer/jboss-portal-quickstarts.git
[submodule "_jon-quickstarts"]
	path = _jon-quickstarts
	url = https://github.com/jboss-developer/jboss-on-quickstarts.git
[submodule "jboss-brms-boms"]
	path = _boms/jboss-brms-boms
	url = https://github.com/jboss-developer/jboss-brms-boms.git
[submodule "jboss-eap-boms"]
	path = _boms/jboss-eap-boms
	url = https://github.com/jboss-developer/jboss-eap-boms.git
[submodule "jboss-jdg-boms"]
	path = _boms/jboss-jdg-boms
	url = https://github.com/jboss-developer/jboss-jdg-boms.git
[submodule "jboss-portal-boms"]
	path = _boms/jboss-portal-boms
	url = https://github.com/jboss-developer/jboss-portal-boms.git
[submodule "jboss-wfk-boms"]
	path = _boms/jboss-wfk-boms
	url = https://github.com/jboss-developer/jboss-wfk-boms.git
[submodule "jboss-javaee-specs"]
	path = _boms/jboss-javaee-specs
	url = https://github.com/jboss/jboss-javaee-specs.git
[submodule "errai-archetypes"]
	path = _archetypes/errai-archetypes
	url = https://github.com/errai/archetypes.git
[submodule "jboss-eap-archetypes"]
	path = _archetypes/jboss-eap-archetypes
	url = https://github.com/jboss-developer/jboss-eap-archetypes.git
[submodule "jboss-wfk-archetypes"]
	path = _archetypes/jboss-wfk-archetypes
	url = https://github.com/jboss-developer/jboss-wfk-archetypes.git
[submodule "richfaces-archetypes"]
	path = _archetypes/richfaces-archetypes
	url = https://github.com/richfaces/richfaces-archetypes.git
[submodule "_fuse-quickstarts"]
	path = _fuse-quickstarts
	url = https://github.com/jboss-fuse/quickstarts.git
[submodule "_unifiedpush-quickstarts"]
	path = _unifiedpush-quickstarts
	url = https://github.com/jboss-developer/jboss-unifiedpush-quickstarts.git
