html
head
  meta name="description" content="Register for the Red Hat Developer Program.  It's free to join."
  title Register for the Red Hat Developer Program
  script
    include javascripts/vendor/keycloak.js
  javascript:
    var keycloak = Keycloak({
      url: "#{site.keycloak_auth_url}",
      realm: 'rhd',
      clientId: 'web'
    });

    var redirectUri = '#{site.base_url}/confirmation';

    keycloak.init().success(function (authenticated) {
      if (!authenticated) {
        keycloak.login({ action : 'register', redirectUri : redirectUri });
      } else {
        window.location = redirectUri;
      }
    }).error(function () {
        // failed to initialize
        keycloak.login({ action : 'register', redirectUri : redirectUri });
    });
body
  p Redirecting ...
