html
head
  script src="//static.jboss.org/rhd/1.2-build-1200/javascripts/vendor/keycloak.js"
  javascript:
    var keycloak = Keycloak({
      url: "https://developers.redhat.com/auth",
      realm: 'rhd',
      clientId: 'web'
    });

    var redirectUri = '#{site.base_url}/confirmation';

    keycloak.init().success(function (authenticated) {
      if (!authenticated) {
        keycloak.login({ action : 'register', redirectUri : redirectUri });
      } else {
        window.location = redirectUri;
      }
    }).error(function () {
        // failed to initialize
        keycloak.login({ action : 'register', redirectUri : redirectUri });
    });
body
  p Redirecting ...
