.rhd-adobe-export-content {
    display: flex;
    flex-wrap: wrap;
  justify-content:space-between;
}

.rhd-adobe-export-content .block {
  flex-basis: 48%;
  text-align: center;
}

.rhd-adobe-export-content .rhd-adobe-export-links {
    flex-basis: 100%;
    margin-bottom: 2rem;
}
