<section class="homepage-main">
    <div class="row">
        <div class="large-24 columns homepage-cta">
            {{ content.hero }}
    </div>
</section>

<div class="spotlights-wrap">
    <div class="row">
        <div class="large-24">
            <div class="spotlights-container">{{ content.spotlights }}</div>
        </div>
    </div>
</div>

<div class="row featured-and-latest">
    <div class="large-24 columns">
        <h3 class="caps">Cool Stuff You Should Know...</h3>
    </div>

    <div class="medium-12 columns">
        {{ content.main }}

        <h4 class="caps">Featured Content</h4>

        {{ content.featured }}
    </div>

    <div class="medium-12 columns">
        <h4 class="caps">Latest Content</h4>

        <ul class="homepage-resources homepage-resources-latest">
        </ul>
    </div>
</div>

<section class="register-banner inverse">
    <div class="row">
        <div class="large-24 columns home-join-img"><img alt="Join RHD" class="desktop" src="https://static.jboss.org/rhd/fonts/images_design_RHDev_homepage_jointext_desktop-2.svg" /><img alt="Join RHD" class="mobile" src="https://static.jboss.org/rhd/fonts/images_design_RHDev_homepage_jointext_mobile-2.svg" /></div>
    </div>

    <div class="row home-jointext">
        <div class="large-10 columns"><a class="button" href="/register">Join Today - It's Free!</a></div>

        <div class="large-14 columns">
            <p>Red Hat delivers the resources and ecosystem of experts to help professional programmers to be more productive and get ahead of the curve as they build great applications.<a class="dark-background" href="/register"> Join now for free!</a></p>

            <p><img alt="Download icon" class="inline-icon" src="https://static.jboss.org/rhd/fonts/images_design_RHDev_homepage_download-3.svg" /> Get immediate access to<b> download</b> Red Hat® products</p>

            <p><img alt="Download icon" class="inline-icon" src="https://static.jboss.org/rhd/fonts/images_design_RHDev_homepage_cloud-3.svg" /> Launch your new apps in the<b> cloud</b> on Red Hat® OpenShift</p>

            <p><img alt="Download icon" class="inline-icon" src="https://static.jboss.org/rhd/fonts/images_design_RHDev_homepage_lowercost-3.svg" /> Offers and<b> discounts</b> on products, services, training, &amp; events</p>
        </div>
    </div>
</section>

<section class="contributors-banner inverse">
    <div class="row">
        <div class="large-24 column">
            <h2>Become a content contributor and get swag.</h2>

            <h4>Learn more. Code more. Share more.</h4>

            <div class="row">
                <div class="large-14 columns">
                    <p>Our content is only as good as its contributors and we'd like to feature yours. Anything from blogs, videos, demos, photos, screenshots, and more that can help enterprise developers do their jobs faster.</p>

                    <p>It's easy to get started with three ways to contribute.</p>
                </div>

                <div class="large-10 columns"><a class="button" href="/community/contributor">Learn More</a></div>
            </div>

            <div class="row banner-icons">
                <div class="large-8 small-24 columns"><img src="/images/rhd/images_content-contributors_wc_icon-3.png" />
                    <h3>General Contributor</h3>
                </div>

                <div class="large-8 small-24 columns"><img src="/images/rhd/images_content-contributors_mvc_icon-3.png" />
                    <h3>Most Valuable Contributor</h3>
                </div>

                <div class="large-8 small-24 columns"><img src="/images/rhd/images_content-contributors_dots_icon-3.png" />
                    <h3>Developer on the Street</h3>
                </div>
            </div>
        </div>
    </div>
</section>
