---
layout: base
title: JBoss Products/Projects in embedded environments
description:  A description of how products/projects are running in some ubiquitous environments
---

Me
Dimitris

h3
  | Examples of JBoss projects/projects running in embedded or non-traditional environments
p
  | GE  Energy uses JBoss Fuse and A-MQ in their Software Services Infrastructure for there Smart Grid suite of products.
img(width="450" alt="SmartGrid" height="350" src=cdn("#{site.base_url}/images/design/iot/smartgrid.png"))
p
  | FAA Next Generation Air Traffic Control System - that uses JBoss Fuse and A-MQ for linking all their existing and new data services together for air traffic control.
img(width="450" alt="FAA" height="350" src=cdn("#{site.base_url}/images/design/iot/faa.png"))
p
  | The Mars Curiosity - where A-MQ is used to distribute real time information from the ground stations to over 200 associated labs around the globe (including the control centre).
img(width="450" alt="FAA" height="350" src=cdn("#{site.base_url}/images/design/iot/marsrover.png"))
p
  | CERN -  uses A-MQ for controlling the LHC - and Apollo for distributing raw data from LHC runs  to interested labs across the globe.
img(width="450" alt="FAA" height="350" src=cdn("#{site.base_url}/images/design/iot/lhc.png"))
