<div class="large-12 column">
    <div class="update updatemobile">
        <div class="update-meta">
            <h5><a href="<!=permanentLink!>" class="external-link"><!=sys_title!></a></h5>
            <div class="row">
                <div class="small-12 medium-14 column">
                    <div class="update-source"><!=authorName!></div>
                </div>
                <div class="small-12 medium-10 column">
                    <div class="update-timestamp"><!=updatedDate!></div>
                </div>
            </div>
        </div>
        <div class="update-body">
            <p><!=sys_description!></p>
        </div>
        <div class="update-meta">
            <div class="share-this">
                <p><i class="fa fa-share">Share This</i></p>
                <ul class="share-this-buttons social-buttons cf">
                    <li><a href="https://twitter.com/share" class="socialite twitter-share" data-text="<!=sys_title!>"
                           data-url="<!=sys_url_view!>" rel="nofollow" target="_blank"><span
                                    class="vhidden">Tweet</span></a></li>
                    <li><a href="http://www.facebook.com/sharer.php?u=<!=sys_url_view!>&t=<!=sys_title!>"
                           class="socialite facebook-share" data-href="<!=sys_url_view!>" data-send="false"
                           data-type="button_count"
                           data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
                    </li>
                    <li><a href="https://plus.google.com/share?url=<!=sys_url_view!>" class="socialite googleplus-one"
                           data-size="tall"
                           data-annotation="inline" data-width="60" data-href="<!=sys_url_view!>" rel="nofollow"
                           target="_blank"><span
                                    class="vhidden">Share on Google+</span></a></li>
                    <li>
                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=<!=sys_url_view!>&title=<!=sys_title!>"
                           class="socialite linkedin-share" data-url="<!=sys_url_view!>" data-counter="right"
                           rel="nofollow"
                           target="_blank"><span class="vhidden">Share on LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
