    <div class="buzz-product-update">
        <div class="update">
            <div class="update-meta">
                <a href="<!=permanentLink!>" class="update-source"><h5><!=sys_title!></h5></a>
                <a href="<!=permanentLink!>" class="update-source"><!=authorName!></a>
                <a href="<!=permanentLink!>" class="update-timestamp"><!=updatedDate!></a>
            </div>
        </div>
        <div class="update-body">
            <p><!=sys_description!></p>
        </div>
    </div>
