////
/// @group Colors - Brand Accent
////

/// 
$green: #3F9C35;

/// 
$light-green: #92D400;

/// 
$light-blue: #00B9E4;

/// 
$yellow: #F0AB00;

/// 
$purple: #3B0083;

/// 
$turquoise: #007A87;

///
$accent-blue: #08c0fc;


// ZURB FOUNDATION COLORS USED

///
$jet: #222222 !default;

///
$aluminum: #999999 !default;

///
$primary-color: #008CBA !default;   // bondi-blue