////
/// @group Colors - Brand Primary
////

/// 
$red : #CC0000;

/// 
$dark-red : #A30000;

/// 
$darker-red : #820000;

/// 
$black : #000000;

/// 
$white : #FFFFFF;

/// 
$blue : #0066CC;

/// 
$dark-blue: #004C98;

/// 
$darker-blue: #003971;

/// 
$gray :#D2D3D4;

/// non-US spelling
$grey : #D2D3D4;

/// 
$dark-gray :#242424;

/// non-US spelling
$dark-grey : #242424;