////
/// @group Colors - Grays
////

///
$gray-8 : #242424;

///
$gray-7 : #333333;

///
$gray-6 : #424242;

///
$gray-5 : #656565;

///
$gray-4-5 : #9B9B9B;

///
$gray-4 : #CCCCCC;

///
$gray-3-5 : #DCDCDC;

///
$gray-3 : #D5D5D5;

///
$gray-2 : #E6E6E6;

///
$grey-1 : #F9F9F9;

/// alt spelling
$grey-8 : #242424;

/// alt spelling
$grey-7 : #333333;

/// alt spelling
$grey-6 : #424242;

/// alt spelling
$grey-5 : #656565;

/// alt spelling
$grey-4-5 : #9B9B9B;

/// alt spelling
$grey-4 : #CCCCCC;

/// alt spelling
$grey-3-5 : #DCDCDC;

/// alt spelling
$grey-3 : #D5D5D5;

/// alt spelling
$grey-2 : #E6E6E6;

/// alt spelling
$grey-1 : #F9F9F9;
