////
/// @group Colors
/// 
/// Note: Use for branding products within these categories.
////

/// @name Technical products
$tech : #cc0000;

/// Technical products alternative
$tech-alt : #a30000;

/// Storage products
$storage : #f0ab00;

/// Storage products alt
$storage-alt : #f0ab00;

/// Infrastructure products
$infrastructure : #00b9e4;

/// Infrastructure products alt
$infrastructure-alt : #0088ce;

/// App Development
$app-development : #92d400;

/// App Development alt
$app-development-alt : #3f9c35;

/// Service products
$service : #7a858b;

/// Service products alt
$service-alt : #37424a;