/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: cdn("../images/icons/fontcustom/fontcustom_aa828ab63828e762a8506bc331f7bea6.eot");
  src: cdn("../images/icons/fontcustom/fontcustom_aa828ab63828e762a8506bc331f7bea6.eot?#iefix") format("embedded-opentype"),
       cdn("../images/icons/fontcustom/fontcustom_aa828ab63828e762a8506bc331f7bea6.woff") format("woff"),
       cdn("../images/icons/fontcustom/fontcustom_aa828ab63828e762a8506bc331f7bea6.ttf") format("truetype"),
       cdn("../images/icons/fontcustom/fontcustom_aa828ab63828e762a8506bc331f7bea6.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: cdn("../images/icons/fontcustom/fontcustom_aa828ab63828e762a8506bc331f7bea6.svg#fontcustom") format("svg");
  }
}

.fa-apache:before,
.fa-docker:before,
.fa-eclipse:before,
.fa-redhat:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-apache:before { content: "\f102"; }
.fa-docker:before { content: "\f103"; }
.fa-eclipse:before { content: "\f104"; }
.fa-redhat:before { content: "\f101"; }
