// Sprites

// Customisation
$get-started-sprite-dimensions: true;
$product-logos-sprite-dimensions: true;
$icons-calendar-spacing:  20px;

@import "compass/utilities/sprites";

@import "branding/product-logos/*.png";
@include all-product-logos-sprites;

@import "design/get-involved/*.png";
@include all-get-involved-sprites;

@import "design/get-started/*.png";
@include all-get-started-sprites;

@import "icons/*.png";
@include all-icons-sprites;

