.node--view-mode-tile,
.wordpress-blog-post-tile {
  width: 100%;
  &>a {
    display: block;
    color: #000;
    text-decoration: none;
  }
}

.tile-title {
  margin-top: 0rem;
  font-size: 18px;
  line-height: 1.5;
}

.tile-image {
  width: 100%;
  height: 0;
  padding-top: 58%;
  position: relative;
  overflow: hidden;
  background: #FFF;
  margin-bottom: 1rem;

  .image-table {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
    .image-cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      width: 100%;
      text-align: center;
      overflow: hidden;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &.vertical {
    .image-table {
      display: block;
      .image-cell {
        display: block;
      }
    }
  }

}

.node--type-video-resource.node--view-mode-tile {
  .image-table,
  .image-cell {
    display: block;
  }
  .tile-image img {
    position: absolute;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    top: -9999px;
    margin: auto;
    width: auto;
    max-width: none;
    height: 100%;
  }
  .play-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .65);
    color: #FFF;
    line-height: 1;

    padding: 6px 3px 4px 7px;
    font-size: 20px;
    @include tablet-landscape {
      padding: 11px 8px 9px 12px;
      font-size: 28px;
    }

  }
}
