a {
    color:$link;
    cursor:pointer;
    text-decoration: none;
    &:hover, &:focus, &:active { color: $linkhover; }

    &.dark-background{ color: $link-dark-background; }
    &.link-sm {color: $link-sm; }
    &.link-sm-dark {color: $link-sm-dark-background; }

    &:focus {
        outline-offset: 1px;
        outline-style: dotted;
        outline-width: 1px;
        outline-color: color($link);
    }
    &.img-link[href$=".pdf"] {
      .fa-file-pdf {
        display: none;
      }
    }
}

p a:not(.button):hover { 
  border-bottom: 1px solid $grey-3-5; 
}

p a.external-link:after { 
  display: none;
}

small a,
.link-sm a { color: $link-sm; }


.menu-trigger {
  background: #FFF;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #000;
  font-size: 16px;
  font-weight: 600;
  padding:9px 40px;
  -webkit-transition: background .2s ease-in 0s;
  transition:background .2s ease-in 0s;
  line-height: 1.44;
  margin-left: 0 !important;
  margin-right: 0 !important;
  &:hover, &:active, &:focus {
    background-color: #000;
  }
}

