h1,h2,h3,h4,h5,h6 {
  color: $dark-gray;
  margin-top: 16px;
  margin-bottom: 16px;
}


.rhd-marketing-header {
  color: $dark-gray;
  font-size: 27px;
  line-height: 1.5;
  @include mobile-landscape-and-down {
    font-size: 57px;
  }

  }

/* Span classes are used by the 'Styles' dropdown options (Drupal CKEDITOR) */
h1, span.h1 {
  font-size: 50px;
  line-height: 1.3;
  font-weight: 400;
  @include mobile-landscape-and-down {
    font-size: 38px;
  }
}

h2, span.h2 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 600;
  @include mobile-landscape-and-down {
    font-size: 28px;
  }
}

h3, span.h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  @include mobile-landscape-and-down {
    font-size: 22px;
  }
}

h4, span.h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  @include mobile-landscape-and-down {
    font-size: 20px;
  }
}

h5, span.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  @include mobile-landscape-and-down {
    font-size: 18px;
  }

  &.alt {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

h6, span.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
