h1,h2,h3,h4,h5,h6 {
  color: $dark-gray;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 16px;
  margin-bottom: 16px;
}


.rhd-marketing-header {
  color: $dark-gray;
  font-size: 27px;
  line-height: 1.5;
  @include tablet-landscape {
    font-size: 57px;
  }

  }
h1 {
  font-size: 23px;
  line-height: 1.24;
  @include tablet-landscape {
    font-size: 50px;
  }
}

h2 {
  font-size: 18px;
  line-height: 1.24;
  @include tablet-landscape {
    font-size: 38px;
  }
}

h3 {
  font-size: 16px;
  font-weight: 600;
  @include tablet-landscape {
    font-size: 32px;
  }
}

h4 {
  font-size: 15px;
  font-weight: 600;
  @include tablet-landscape {
    font-size: 27px;
  }
}

h5 {
  font-size: 14px;
  font-weight: 600;
  @include tablet-landscape {
    font-size: 18px;
  }

  &.alt {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
