<div class="container pf-c-content pf-u-my-lg">

  <h1 class="pf-c-title">This is XL heading 1 for the developer site</h1>
  <h1>This is heading 1 for the developer site</h1>
  <h2>This is heading 2 for the developer site</h2>
  <h3>This is heading 3 for the developer site</h3>
  <h4>This is heading 4 for the developer site</h4>
  <p>This is standard text for the developer site</p>
  <p>
    <a href="#">This is link text for the developer site</a>
  </p>
  <p>This is a light CTA for the developer site</p>
  <p>This is a light CTA for the developer site</p>
  <p>This is a light CTA for the developer site</p>
  <ul>
    <li>Unordered list item</li>
    <li>Unordered list item</li>
    <li>Unordered list item</li>
  </ul>
  <ol>
    <li>Ordered list item</li>
    <li>Ordered list item</li>
    <li>Ordered list item</li>
  </ol>
  <p>
    Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
  </p>

  <h2>This is heading 2 for the developer site</h2>
  <p>
    Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.
  </p>

  <p>
    Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.
  </p>

  <h1>Buttons</h1>
  <p>
    <button class="pf-c-button pf-m-primary">Primary Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-heavy">Heavy Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-secondary">Secondary Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-secondary-alt">Alternate Secondary Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-tertiary">Tertiary Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-link">Link Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-link">
      Link button with icon
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
  </p>
  <h1>Disabled Buttons</h1>
  <p>
    <button class="pf-c-button pf-m-primary pf-m-disabled">Primary Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-heavy pf-m-disabled">Heavy Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-secondary pf-m-disabled">Secondary Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-secondary-alt pf-m-disabled">Alternate Secondary Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-tertiary pf-m-disabled">Tertiary Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-link pf-m-disabled">Link Button</button>
  </p>
  <p>
    <button class="pf-c-button pf-m-link pf-m-disabled">
      Link button with icon
      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
    </button>
  </p>

  <h1>Forms</h1>
  {{ form }}

  <div class="pf-c-page__main-section pf-m-dark-100" style="background-color: #000; padding: 35px 45px;">
    <h1>This is XL heading 1 for the developer site on a dark background</h1>
    <h1>This is heading 1 for the developer site on a dark background</h1>
    <h2>This is heading 2 for the developer site on a dark background</h2>
    <h3>This is heading 3 for the developer site on a dark background</h3>
    <h4>This is heading 4 for the developer site on a dark background</h4>
    <p>This is standard text for the developer site on a dark background</p>
    <p>
      <a href="#" class="pf-c-button pf-m-link-on-dark">This is link text for the developer site on a dark background</a>
    </p>
    <p>
      <a href="#" class="pf-c-button pf-m-link--secondary-on-dark">This is light link text for the developer site on a dark background</a>
    </p>
    <p>This is a light CTA for the developer site on a dark background</p>
    <p>This is a light CTA for the developer site on a dark background</p>
    <p>This is a light CTA for the developer site on a dark background</p>
    <p>This is a light CTA for the developer site on a dark background</p>
    <p>
      Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi tomatillo melon azuki bean garlic.
    </p>

    <h2>This is heading 2 for the developer site</h2>
    <p>
      Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.
    </p>

    <p>
      Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.
    </p>

    <h1>Buttons</h1>
    <p>
      <button class="pf-c-button pf-m-primary">Primary Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-heavy">Heavy Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-secondary">Secondary Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-secondary-alt">Alternate Secondary Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-tertiary">Tertiary Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-link">Link Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-link">
        Link button with icon
        <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
      </button>
    </p>
    <h1>Disabled Buttons</h1>
    <p>
      <button class="pf-c-button pf-m-primary pf-m-disabled">Primary Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-heavy pf-m-disabled">Heavy Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-secondary pf-m-disabled">Secondary Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-secondary-alt pf-m-disabled">Alternate Secondary Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-tertiary pf-m-disabled">Tertiary Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-link pf-m-disabled">Link Button</button>
    </p>
    <p>
      <button class="pf-c-button pf-m-link pf-m-disabled">
        Link button with icon
        <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
      </button>
    </p>

    <h1>Forms</h1>
    {{ form }}
  </div>

</div>
