
<div class="component pf-c-content">
  <div class="pf-l-grid">
    <div class="pf-m-12-col">

      <h1 class="pf-c-title pf-m-4xl">This is XL heading 1 for the developer site</h1>
      <h1>This is heading 1 for the developer site</h1>
      <h2>This is heading 2 for the developer site</h2>
      <h3>This is heading 3 for the developer site</h3>
      <h4>This is heading 4 for the developer site</h4>
      <p>This is standard text for the developer site</p>
      <p><a href="#">This is link text for the developer site</a></p>
      <p>This is a light CTA for the developer site</p>
      <p>This is a light CTA for the developer site</p>
      <p>This is a light CTA for the developer site</p>
      <ul>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
      </ul>
      <ol>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
      </ol>

      <div class="pf-c-page__main-section pf-m-dark-100" style="background-color: #000; padding: 35px 45px;">
        <h1>This is XL heading 1 for the developer site on a dark background</h1>
        <h1>This is heading 1 for the developer site on a dark background</h1>
        <h2>This is heading 2 for the developer site on a dark background</h2>
        <h3>This is heading 3 for the developer site on a dark background</h3>
        <h4>This is heading 4 for the developer site on a dark background</h4>
        <p>This is standard text for the developer site on a dark background</p>
        <p><a href="#" class="pf-c-button pf-m-link-on-dark">This is link text for the developer site on a dark background</a></p>
        <p><a href="#" class="pf-c-button pf-m-link--secondary-on-dark">This is light link text for the developer site on a dark background</a></p>
        <p>This is a light CTA for the developer site on a dark background</p>
        <p>This is a light CTA for the developer site on a dark background</p>
        <p>This is a light CTA for the developer site on a dark background</p>
        <p>This is a light CTA for the developer site on a dark background</p>
      </div>

    </div>
  </div>
</div>
