{##
 # This search form block is currently used only on mobile viewports in our
 # Mobile Tra region.
 #}
<div class="rhd-search-wrapper">
  <form class="search-bar" accept-charset="utf-8" action="/search/" method="get" role="search" type="submit">
    <input class="user-search" type="text" placeholder="Enter your search term" id="search_list_text" name="t" maxlength="128" required="">
    <button type="submit" id="search-button"><i class="far fa-search"></i></button>
  </form>
</div>
