.downloadthankyou(id="downloadthankyou" style="display:none")
  .thankyouclose
    a(href="#" onClick="$('div#downloadthankyou').hide('slow');")
  h2 Thank you for downloading #{page.parent.product.abbreviated_name}!
  h3 
    | Problems with the download? Please use this 
    a(href="#{download_manager_path(page.parent.parent_dir, page.parent.product.current_version)}") direct link
    |.
  p 
    | By downloading this product you have agreed with our 
    a>(href="#{site.base_url}/#{site.context_url}/terms-and-conditions") terms and conditions
    | on 
    span(id="tcWhenSigned")
    |.  You will be notified again in 
    span(id="tcEndsIn")
    | after your subscription ends.

javascript:
  $.urlParam = function(name) {
    var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null) {
      return null;
    } else {
      return results[1] || 0;
    }
  }
  
  var tcUser = $.urlParam('tcUser');
  var tcWhenSigned = $.urlParam('tcWhenSigned');
  var tcEndsIn = $.urlParam('tcEndsIn');
  var tcDownloadURL = $.urlParam('tcDownloadURL');
  var tcDownloadFileName = $.urlParam('tcDownloadFileName');

  if (tcWhenSigned) {
    $("#tcWhenSigned").html(decodeURIComponent(tcWhenSigned));
  }
  
  if (tcEndsIn) {
    if (tcEndsIn =="1") {
      $("#tcEndsIn").html("one day ");
    } else {
      $("#tcEndsIn").html(tcEndsIn +" days ");
    }
  }

  function downloadFile() {
    if(tcDownloadURL) {
         tcDownloadURL =  window.location.href.substr(window.location.href.indexOf("tcDownloadURL=")+14);

       $("a#tcDownloadLink").attr("href",tcDownloadURL);
       if(tcDownloadFileName) {
          $("#tcDownloadFileName").html(decodeURIComponent(tcDownloadFileName));
       }

       var tcRedirect = $.urlParam('tcRedirect');
       if(tcRedirect) {
       $("#tcRedirectIn").html(tcRedirect/1000+" seconds");
          setTimeout("location.href = '"+tcDownloadURL+"';",tcRedirect);
       }
    }
  }

  $(document).ready(function() {  
      if (tcDownloadFileName) {
        $('div#downloadthankyou').show('slow');
      }
      downloadFile();
  });
