@media print {
  a[href]:after {
    content: " ";
  }
  
  // hide un-printable stuff
  .social-buttons, #tabnav-panel, #tabnav, .top-bar-section, .tertiary-nav, .dropup, footer.bottom, .gsi-nav, .toc {
    display: none !important;
  }

  .get-involved-banner {
    padding: 0;
  }

  // Bread crumbs and links within paragraphs have links appended after them
  ul.breadcrumbs li:last-child a:after, .content p a:after {
    content: " (" attr(href) ")";
    font-weight: 100;
    font-size: 12px;
    margin-left: 20px;
  }
  .side-nav {
    display: none;
  }

  // Fixes print layout in Product Get Started pages
  .tthw-steps{
    .step-cards {
      width: 33%;
      display: inline-block;
      position: relative;
      float: left;
      border: 1px solid #D2D2D2;
    }
    .step-header {
      border: 1px solid #D2D2D2;
      padding: 9px 15px;
    }
    .tableblock a {
      display: inline-block;
      &:after {
        position: relative;
        top: 5px;
      }
    }
  }
}
