{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'large-24',
    'columns',
    'text-content',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <span data-target-product="fuse"></span>
  <span data-order-by="priority"></span>
  <h2 class="subpage-name" id="overview">All Connectors</h2>
  <p class="link-list connectors-order">
    <strong>Order By</strong>
    <a href="#" class="active order-priority">
      <i class="fas fa-sort-amount-down"></i> Importance
    </a>
    <a href="#" class="order-alpha">
      <i class="fas fa-sort-amount-up"></i> Alphabetically
    </a>
  </p>
  {% if rows %}
    <ul class="large-block-grid-4 medium-block-grid-2 connector-results">
      {{ rows }}
    </ul>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}
	<small>&#42;All registered trademarks belong to their respective owners.</small>
</div>
