/*
  Icon Font: rh-icons
*/

@font-face {
  font-family: "rh-icons";
  src: cdn("./fonts/rh-icons.eot");
  src: cdn("./fonts/rh-icons.eot?#iefix") format("embedded-opentype"),
       cdn("./fonts/rh-icons.woff") format("woff"),
       cdn("./fonts/rh-icons.ttf") format("truetype"),
       cdn("./fonts/rh-icons.svg#rh-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "rh-icons";
    src: cdn("./rh-icons/rh-icons.svg#rh-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-RHDev_-resources_icons_article:before,
.icon-RHDev_-resources_icons_blogpost:before,
.icon-RHDev_-resources_icons_book:before,
.icon-RHDev_-resources_icons_demo:before,
.icon-RHDev_-resources_icons_getstarted:before,
.icon-RHDev_-resources_icons_video:before,
.icon-rh-icon-aed:before,
.icon-rh-icon-alert-downtime:before,
.icon-rh-icon-application:before,
.icon-rh-icon-application-alt:before,
.icon-rh-icon-atom:before,
.icon-rh-icon-award-ribbon:before,
.icon-rh-icon-bar-graph:before,
.icon-rh-icon-battery:before,
.icon-rh-icon-bike:before,
.icon-rh-icon-blueprint:before,
.icon-rh-icon-book:before,
.icon-rh-icon-bus-front-view:before,
.icon-rh-icon-bus-side-view:before,
.icon-rh-icon-calculator:before,
.icon-rh-icon-calendar:before,
.icon-rh-icon-can:before,
.icon-rh-icon-cardboardrecycling:before,
.icon-rh-icon-cd-disk:before,
.icon-rh-icon-check-yes:before,
.icon-rh-icon-circle-sphere:before,
.icon-rh-icon-circuit:before,
.icon-rh-icon-clock:before,
.icon-rh-icon-cloud:before,
.icon-rh-icon-cloud-admin:before,
.icon-rh-icon-code:before,
.icon-rh-icon-compass:before,
.icon-rh-icon-competitive-analysis:before,
.icon-rh-icon-complexity:before,
.icon-rh-icon-construction-hard-hat:before,
.icon-rh-icon-control-panel:before,
.icon-rh-icon-create-cloud:before,
.icon-rh-icon-cube:before,
.icon-rh-icon-data:before,
.icon-rh-icon-datacenter:before,
.icon-rh-icon-datacenter-alt1:before,
.icon-rh-icon-development-model:before,
.icon-rh-icon-eBook:before,
.icon-rh-icon-electrical:before,
.icon-rh-icon-elevator-up-down:before,
.icon-rh-icon-emergency-use-stairs:before,
.icon-rh-icon-enclave:before,
.icon-rh-icon-enclave2:before,
.icon-rh-icon-envelope-back:before,
.icon-rh-icon-ewaste-recycling:before,
.icon-rh-icon-ex-no:before,
.icon-rh-icon-fan:before,
.icon-rh-icon-feather:before,
.icon-rh-icon-finance:before,
.icon-rh-icon-fire-extinguisher:before,
.icon-rh-icon-frame:before,
.icon-rh-icon-gears:before,
.icon-rh-icon-glass-bottle:before,
.icon-rh-icon-glass-recycling:before,
.icon-rh-icon-global-ecosystem:before,
.icon-rh-icon-government:before,
.icon-rh-icon-handicapped-accessible:before,
.icon-rh-icon-health-vertical:before,
.icon-rh-icon-hosting-support:before,
.icon-rh-icon-icecaps-mountain:before,
.icon-rh-icon-increase-productivity:before,
.icon-rh-icon-industry:before,
.icon-rh-icon-instructor:before,
.icon-rh-icon-insurance:before,
.icon-rh-icon-interoperable-cross-platform:before,
.icon-rh-icon-kiosk:before,
.icon-rh-icon-lab:before,
.icon-rh-icon-laptop:before,
.icon-rh-icon-leaf:before,
.icon-rh-icon-lifestyle:before,
.icon-rh-icon-lightbulb-energy-efficient:before,
.icon-rh-icon-lightbulb-traditional:before,
.icon-rh-icon-lock:before,
.icon-rh-icon-locked:before,
.icon-rh-icon-mail:before,
.icon-rh-icon-management-checklist:before,
.icon-rh-icon-monitor:before,
.icon-rh-icon-mothers-room:before,
.icon-rh-icon-moving:before,
.icon-rh-icon-network:before,
.icon-rh-icon-network-community:before,
.icon-rh-icon-network-personal:before,
.icon-rh-icon-no-smoking:before,
.icon-rh-icon-noise:before,
.icon-rh-icon-noise-isolation:before,
.icon-rh-icon-notepad:before,
.icon-rh-icon-odor:before,
.icon-rh-icon-office-building-smb:before,
.icon-rh-icon-office-chair:before,
.icon-rh-icon-office-desk:before,
.icon-rh-icon-office-reception:before,
.icon-rh-icon-ohc-cloud-apps:before,
.icon-rh-icon-ohc-hybrid-cloud:before,
.icon-rh-icon-ohc-iaas:before,
.icon-rh-icon-ohc-paas:before,
.icon-rh-icon-ohc-private-cloud:before,
.icon-rh-icon-ohc-public-cloud:before,
.icon-rh-icon-organization:before,
.icon-rh-icon-packing:before,
.icon-rh-icon-paper:before,
.icon-rh-icon-paper-lined:before,
.icon-rh-icon-paperrecycling:before,
.icon-rh-icon-parking:before,
.icon-rh-icon-partner-map:before,
.icon-rh-icon-phone-land-line:before,
.icon-rh-icon-photo-frame-family:before,
.icon-rh-icon-piggy-bank:before,
.icon-rh-icon-plastic-bottle:before,
.icon-rh-icon-podium-speakers:before,
.icon-rh-icon-policy:before,
.icon-rh-icon-price-label:before,
.icon-rh-icon-printer-copier:before,
.icon-rh-icon-process:before,
.icon-rh-icon-protected:before,
.icon-rh-icon-puzzle-piece:before,
.icon-rh-icon-pyramid:before,
.icon-rh-icon-radio-podcast:before,
.icon-rh-icon-recycle:before,
.icon-rh-icon-recycle-cans:before,
.icon-rh-icon-recycle-plastic:before,
.icon-rh-icon-restrooms:before,
.icon-rh-icon-safety-warning-alert:before,
.icon-rh-icon-scalable:before,
.icon-rh-icon-search:before,
.icon-rh-icon-security:before,
.icon-rh-icon-server:before,
.icon-rh-icon-server-alt1:before,
.icon-rh-icon-server-alt2:before,
.icon-rh-icon-server-stack:before,
.icon-rh-icon-server-stack-alt1:before,
.icon-rh-icon-server-stack-alt2:before,
.icon-rh-icon-server-vintage:before,
.icon-rh-icon-server-vintage-alt1:before,
.icon-rh-icon-shipping-container:before,
.icon-rh-icon-shipping-container-rail:before,
.icon-rh-icon-shipping-container-ship:before,
.icon-rh-icon-shipping-container-truck:before,
.icon-rh-icon-shopping-bag:before,
.icon-rh-icon-smart-phone:before,
.icon-rh-icon-sports-play:before,
.icon-rh-icon-stairs-step-by-step:before,
.icon-rh-icon-star:before,
.icon-rh-icon-storage-brick:before,
.icon-rh-icon-storage-stack:before,
.icon-rh-icon-sun:before,
.icon-rh-icon-talk-bubble:before,
.icon-rh-icon-talk-bubble-conversation:before,
.icon-rh-icon-talk-bubble-lined:before,
.icon-rh-icon-telecom-vertical:before,
.icon-rh-icon-toolbox:before,
.icon-rh-icon-tools:before,
.icon-rh-icon-transportation:before,
.icon-rh-icon-trash:before,
.icon-rh-icon-trophy:before,
.icon-rh-icon-user-1:before,
.icon-rh-icon-user-2:before,
.icon-rh-icon-user-3:before,
.icon-rh-icon-user-4:before,
.icon-rh-icon-user-5:before,
.icon-rh-icon-utensils:before,
.icon-rh-icon-video:before,
.icon-rh-icon-virtual-datacenter:before,
.icon-rh-icon-virtual-server:before,
.icon-rh-icon-virtual-stack:before,
.icon-rh-icon-virtual-storage-brick:before,
.icon-rh-icon-virtual-storage-stack:before,
.icon-rh-icon-volume-mute:before,
.icon-rh-icon-volume-up:before,
.icon-rh-icon-water-droplet:before,
.icon-rh-icon-water-faucet:before,
.icon-rh-icon-waveform:before,
.icon-rh-icon-webinar:before,
.icon-rh-icon-workplace-strategy:before,
.icon-rh-icon-wrench-mechanical:before,
.icon-web-icon-call:before,
.icon-web-icon-caret-down:before,
.icon-web-icon-caret-left:before,
.icon-web-icon-caret-right:before,
.icon-web-icon-caret-up:before,
.icon-web-icon-cart:before,
.icon-web-icon-check:before,
.icon-web-icon-chevron:before,
.icon-web-icon-close:before,
.icon-web-icon-contact:before,
.icon-web-icon-contact2:before,
.icon-web-icon-copy:before,
.icon-web-icon-dashboard:before,
.icon-web-icon-envelope:before,
.icon-web-icon-facebook:before,
.icon-web-icon-fax:before,
.icon-web-icon-globe:before,
.icon-web-icon-gplus:before,
.icon-web-icon-grid:before,
.icon-web-icon-key:before,
.icon-web-icon-laptop:before,
.icon-web-icon-link:before,
.icon-web-icon-linkedin:before,
.icon-web-icon-list:before,
.icon-web-icon-list-form:before,
.icon-web-icon-mobile-menu:before,
.icon-web-icon-new-window:before,
.icon-web-icon-open:before,
.icon-web-icon-open-quote:before,
.icon-web-icon-plus:before,
.icon-web-icon-print:before,
.icon-web-icon-reddit:before,
.icon-web-icon-rss:before,
.icon-web-icon-search:before,
.icon-web-icon-tumblr:before,
.icon-web-icon-twitter:before,
.icon-web-icon-upload:before,
.icon-web-icon-user:before,
.icon-web-icon-youtube:before,
.icon-web-icon-youtube2:before {
  display: inline-block;
  font-family: "rh-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-RHDev_-resources_icons_article:before { content: "\f1d5"; }
.icon-RHDev_-resources_icons_blogpost:before { content: "\f1db"; }
.icon-RHDev_-resources_icons_book:before { content: "\f1d7"; }
.icon-RHDev_-resources_icons_demo:before { content: "\f1dc"; }
.icon-RHDev_-resources_icons_getstarted:before { content: "\f1d9"; }
.icon-RHDev_-resources_icons_video:before { content: "\f1da"; }
.icon-rh-icon-aed:before { content: "\f100"; }
.icon-rh-icon-alert-downtime:before { content: "\f101"; }
.icon-rh-icon-application:before { content: "\f102"; }
.icon-rh-icon-application-alt:before { content: "\f103"; }
.icon-rh-icon-atom:before { content: "\f104"; }
.icon-rh-icon-award-ribbon:before { content: "\f105"; }
.icon-rh-icon-bar-graph:before { content: "\f106"; }
.icon-rh-icon-battery:before { content: "\f107"; }
.icon-rh-icon-bike:before { content: "\f108"; }
.icon-rh-icon-blueprint:before { content: "\f109"; }
.icon-rh-icon-book:before { content: "\f10a"; }
.icon-rh-icon-bus-front-view:before { content: "\f10b"; }
.icon-rh-icon-bus-side-view:before { content: "\f10c"; }
.icon-rh-icon-calculator:before { content: "\f10d"; }
.icon-rh-icon-calendar:before { content: "\f10e"; }
.icon-rh-icon-can:before { content: "\f10f"; }
.icon-rh-icon-cardboardrecycling:before { content: "\f110"; }
.icon-rh-icon-cd-disk:before { content: "\f111"; }
.icon-rh-icon-check-yes:before { content: "\f112"; }
.icon-rh-icon-circle-sphere:before { content: "\f113"; }
.icon-rh-icon-circuit:before { content: "\f114"; }
.icon-rh-icon-clock:before { content: "\f115"; }
.icon-rh-icon-cloud:before { content: "\f116"; }
.icon-rh-icon-cloud-admin:before { content: "\f117"; }
.icon-rh-icon-code:before { content: "\f118"; }
.icon-rh-icon-compass:before { content: "\f119"; }
.icon-rh-icon-competitive-analysis:before { content: "\f11a"; }
.icon-rh-icon-complexity:before { content: "\f11b"; }
.icon-rh-icon-construction-hard-hat:before { content: "\f11c"; }
.icon-rh-icon-control-panel:before { content: "\f11d"; }
.icon-rh-icon-create-cloud:before { content: "\f11e"; }
.icon-rh-icon-cube:before { content: "\f11f"; }
.icon-rh-icon-data:before { content: "\f120"; }
.icon-rh-icon-datacenter:before { content: "\f121"; }
.icon-rh-icon-datacenter-alt1:before { content: "\f122"; }
.icon-rh-icon-development-model:before { content: "\f123"; }
.icon-rh-icon-eBook:before { content: "\f124"; }
.icon-rh-icon-electrical:before { content: "\f125"; }
.icon-rh-icon-elevator-up-down:before { content: "\f126"; }
.icon-rh-icon-emergency-use-stairs:before { content: "\f127"; }
.icon-rh-icon-enclave:before { content: "\f128"; }
.icon-rh-icon-enclave2:before { content: "\f129"; }
.icon-rh-icon-envelope-back:before { content: "\f12a"; }
.icon-rh-icon-ewaste-recycling:before { content: "\f12b"; }
.icon-rh-icon-ex-no:before { content: "\f12c"; }
.icon-rh-icon-fan:before { content: "\f12d"; }
.icon-rh-icon-feather:before { content: "\f12e"; }
.icon-rh-icon-finance:before { content: "\f12f"; }
.icon-rh-icon-fire-extinguisher:before { content: "\f130"; }
.icon-rh-icon-frame:before { content: "\f131"; }
.icon-rh-icon-gears:before { content: "\f132"; }
.icon-rh-icon-glass-bottle:before { content: "\f133"; }
.icon-rh-icon-glass-recycling:before { content: "\f134"; }
.icon-rh-icon-global-ecosystem:before { content: "\f135"; }
.icon-rh-icon-government:before { content: "\f136"; }
.icon-rh-icon-handicapped-accessible:before { content: "\f137"; }
.icon-rh-icon-health-vertical:before { content: "\f138"; }
.icon-rh-icon-hosting-support:before { content: "\f139"; }
.icon-rh-icon-icecaps-mountain:before { content: "\f13a"; }
.icon-rh-icon-increase-productivity:before { content: "\f13b"; }
.icon-rh-icon-industry:before { content: "\f13c"; }
.icon-rh-icon-instructor:before { content: "\f13d"; }
.icon-rh-icon-insurance:before { content: "\f13e"; }
.icon-rh-icon-interoperable-cross-platform:before { content: "\f13f"; }
.icon-rh-icon-kiosk:before { content: "\f140"; }
.icon-rh-icon-lab:before { content: "\f141"; }
.icon-rh-icon-laptop:before { content: "\f142"; }
.icon-rh-icon-leaf:before { content: "\f143"; }
.icon-rh-icon-lifestyle:before { content: "\f144"; }
.icon-rh-icon-lightbulb-energy-efficient:before { content: "\f145"; }
.icon-rh-icon-lightbulb-traditional:before { content: "\f146"; }
.icon-rh-icon-lock:before { content: "\f147"; }
.icon-rh-icon-locked:before { content: "\f148"; }
.icon-rh-icon-mail:before { content: "\f149"; }
.icon-rh-icon-management-checklist:before { content: "\f14a"; }
.icon-rh-icon-monitor:before { content: "\f14b"; }
.icon-rh-icon-mothers-room:before { content: "\f14c"; }
.icon-rh-icon-moving:before { content: "\f14d"; }
.icon-rh-icon-network:before { content: "\f14e"; }
.icon-rh-icon-network-community:before { content: "\f14f"; }
.icon-rh-icon-network-personal:before { content: "\f150"; }
.icon-rh-icon-no-smoking:before { content: "\f151"; }
.icon-rh-icon-noise:before { content: "\f152"; }
.icon-rh-icon-noise-isolation:before { content: "\f153"; }
.icon-rh-icon-notepad:before { content: "\f154"; }
.icon-rh-icon-odor:before { content: "\f155"; }
.icon-rh-icon-office-building-smb:before { content: "\f156"; }
.icon-rh-icon-office-chair:before { content: "\f157"; }
.icon-rh-icon-office-desk:before { content: "\f158"; }
.icon-rh-icon-office-reception:before { content: "\f159"; }
.icon-rh-icon-ohc-cloud-apps:before { content: "\f15a"; }
.icon-rh-icon-ohc-hybrid-cloud:before { content: "\f15b"; }
.icon-rh-icon-ohc-iaas:before { content: "\f15c"; }
.icon-rh-icon-ohc-paas:before { content: "\f15d"; }
.icon-rh-icon-ohc-private-cloud:before { content: "\f15e"; }
.icon-rh-icon-ohc-public-cloud:before { content: "\f15f"; }
.icon-rh-icon-organization:before { content: "\f160"; }
.icon-rh-icon-packing:before { content: "\f161"; }
.icon-rh-icon-paper:before { content: "\f162"; }
.icon-rh-icon-paper-lined:before { content: "\f163"; }
.icon-rh-icon-paperrecycling:before { content: "\f164"; }
.icon-rh-icon-parking:before { content: "\f165"; }
.icon-rh-icon-partner-map:before { content: "\f166"; }
.icon-rh-icon-phone-land-line:before { content: "\f167"; }
.icon-rh-icon-photo-frame-family:before { content: "\f168"; }
.icon-rh-icon-piggy-bank:before { content: "\f169"; }
.icon-rh-icon-plastic-bottle:before { content: "\f16a"; }
.icon-rh-icon-podium-speakers:before { content: "\f16b"; }
.icon-rh-icon-policy:before { content: "\f16c"; }
.icon-rh-icon-price-label:before { content: "\f16d"; }
.icon-rh-icon-printer-copier:before { content: "\f16e"; }
.icon-rh-icon-process:before { content: "\f16f"; }
.icon-rh-icon-protected:before { content: "\f170"; }
.icon-rh-icon-puzzle-piece:before { content: "\f171"; }
.icon-rh-icon-pyramid:before { content: "\f172"; }
.icon-rh-icon-radio-podcast:before { content: "\f173"; }
.icon-rh-icon-recycle:before { content: "\f174"; }
.icon-rh-icon-recycle-cans:before { content: "\f175"; }
.icon-rh-icon-recycle-plastic:before { content: "\f176"; }
.icon-rh-icon-restrooms:before { content: "\f177"; }
.icon-rh-icon-safety-warning-alert:before { content: "\f178"; }
.icon-rh-icon-scalable:before { content: "\f179"; }
.icon-rh-icon-search:before { content: "\f17a"; }
.icon-rh-icon-security:before { content: "\f17b"; }
.icon-rh-icon-server:before { content: "\f17c"; }
.icon-rh-icon-server-alt1:before { content: "\f17d"; }
.icon-rh-icon-server-alt2:before { content: "\f17e"; }
.icon-rh-icon-server-stack:before { content: "\f17f"; }
.icon-rh-icon-server-stack-alt1:before { content: "\f180"; }
.icon-rh-icon-server-stack-alt2:before { content: "\f181"; }
.icon-rh-icon-server-vintage:before { content: "\f182"; }
.icon-rh-icon-server-vintage-alt1:before { content: "\f183"; }
.icon-rh-icon-shipping-container:before { content: "\f184"; }
.icon-rh-icon-shipping-container-rail:before { content: "\f185"; }
.icon-rh-icon-shipping-container-ship:before { content: "\f186"; }
.icon-rh-icon-shipping-container-truck:before { content: "\f187"; }
.icon-rh-icon-shopping-bag:before { content: "\f188"; }
.icon-rh-icon-smart-phone:before { content: "\f189"; }
.icon-rh-icon-sports-play:before { content: "\f18a"; }
.icon-rh-icon-stairs-step-by-step:before { content: "\f18b"; }
.icon-rh-icon-star:before { content: "\f18c"; }
.icon-rh-icon-storage-brick:before { content: "\f18d"; }
.icon-rh-icon-storage-stack:before { content: "\f18e"; }
.icon-rh-icon-sun:before { content: "\f18f"; }
.icon-rh-icon-talk-bubble:before { content: "\f190"; }
.icon-rh-icon-talk-bubble-conversation:before { content: "\f191"; }
.icon-rh-icon-talk-bubble-lined:before { content: "\f192"; }
.icon-rh-icon-telecom-vertical:before { content: "\f193"; }
.icon-rh-icon-toolbox:before { content: "\f194"; }
.icon-rh-icon-tools:before { content: "\f195"; }
.icon-rh-icon-transportation:before { content: "\f196"; }
.icon-rh-icon-trash:before { content: "\f197"; }
.icon-rh-icon-trophy:before { content: "\f198"; }
.icon-rh-icon-user-1:before { content: "\f199"; }
.icon-rh-icon-user-2:before { content: "\f19a"; }
.icon-rh-icon-user-3:before { content: "\f19b"; }
.icon-rh-icon-user-4:before { content: "\f19c"; }
.icon-rh-icon-user-5:before { content: "\f19d"; }
.icon-rh-icon-utensils:before { content: "\f19e"; }
.icon-rh-icon-video:before { content: "\f19f"; }
.icon-rh-icon-virtual-datacenter:before { content: "\f1a0"; }
.icon-rh-icon-virtual-server:before { content: "\f1a1"; }
.icon-rh-icon-virtual-stack:before { content: "\f1a2"; }
.icon-rh-icon-virtual-storage-brick:before { content: "\f1a3"; }
.icon-rh-icon-virtual-storage-stack:before { content: "\f1a4"; }
.icon-rh-icon-volume-mute:before { content: "\f1a5"; }
.icon-rh-icon-volume-up:before { content: "\f1a6"; }
.icon-rh-icon-water-droplet:before { content: "\f1a7"; }
.icon-rh-icon-water-faucet:before { content: "\f1a8"; }
.icon-rh-icon-waveform:before { content: "\f1a9"; }
.icon-rh-icon-webinar:before { content: "\f1aa"; }
.icon-rh-icon-workplace-strategy:before { content: "\f1ab"; }
.icon-rh-icon-wrench-mechanical:before { content: "\f1ac"; }
.icon-web-icon-call:before { content: "\f1ad"; }
.icon-web-icon-caret-down:before { content: "\f1ae"; }
.icon-web-icon-caret-left:before { content: "\f1af"; }
.icon-web-icon-caret-right:before { content: "\f1b0"; }
.icon-web-icon-caret-up:before { content: "\f1b1"; }
.icon-web-icon-cart:before { content: "\f1b2"; }
.icon-web-icon-check:before { content: "\f1b3"; }
.icon-web-icon-chevron:before { content: "\f1b4"; }
.icon-web-icon-close:before { content: "\f1b5"; }
.icon-web-icon-contact:before { content: "\f1b6"; }
.icon-web-icon-contact2:before { content: "\f1b7"; }
.icon-web-icon-copy:before { content: "\f1b8"; }
.icon-web-icon-dashboard:before { content: "\f1b9"; }
.icon-web-icon-envelope:before { content: "\f1ba"; }
.icon-web-icon-facebook:before { content: "\f1bb"; }
.icon-web-icon-fax:before { content: "\f1bc"; }
.icon-web-icon-globe:before { content: "\f1bd"; }
.icon-web-icon-gplus:before { content: "\f1be"; }
.icon-web-icon-grid:before { content: "\f1bf"; }
.icon-web-icon-key:before { content: "\f1c0"; }
.icon-web-icon-laptop:before { content: "\f1c1"; }
.icon-web-icon-link:before { content: "\f1c2"; }
.icon-web-icon-linkedin:before { content: "\f1c3"; }
.icon-web-icon-list:before { content: "\f1c4"; }
.icon-web-icon-list-form:before { content: "\f1c5"; }
.icon-web-icon-mobile-menu:before { content: "\f1c6"; }
.icon-web-icon-new-window:before { content: "\f1c7"; }
.icon-web-icon-open:before { content: "\f1c8"; }
.icon-web-icon-open-quote:before { content: "\f1c9"; }
.icon-web-icon-plus:before { content: "\f1ca"; }
.icon-web-icon-print:before { content: "\f1cb"; }
.icon-web-icon-reddit:before { content: "\f1cc"; }
.icon-web-icon-rss:before { content: "\f1cd"; }
.icon-web-icon-search:before { content: "\f1ce"; }
.icon-web-icon-tumblr:before { content: "\f1cf"; }
.icon-web-icon-twitter:before { content: "\f1d0"; }
.icon-web-icon-upload:before { content: "\f1d1"; }
.icon-web-icon-user:before { content: "\f1d2"; }
.icon-web-icon-youtube:before { content: "\f1d3"; }
.icon-web-icon-youtube2:before { content: "\f1d4"; }
