form.search-bar{
  position: relative;
}

.result-info {
  margin-bottom: 5px;
  .caps{
    text-transform: uppercase !important;
  }
}

.searchpage-update {
  @extend .clearfix;
  .update {
    margin-bottom: 20px;
    a h5 {
      color:$link;
      font-size:emCalc(20px);
    }
  }
}
