.vhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Socialite Look-a-like defaults
 */

.social-buttons {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    display: block;
    margin: 0;
    padding: 5px;
    float: left;
  }

  .socialite {
    display: block;
    position: relative;
    background: none !important;
  }

  .socialite-loaded {
    background: none !important;
  }

  .twitter-share {
    float: left;
  }

  .googleplus-one {
    float: left;
  }

  .googleplus-share {
    float: left;
  }

  .facebook-like {
    float: left;
  }

  .facebook-share {
    float: left;
    top:-4px;
  }

  .linkedin-share {
    float: left;
  }
}
