$rhd-theme--font--color: #151515;
$rhd-theme--component-font--color: #151515;
$rhd-theme--component-font--color-light: #fff;
$rhd-theme--component-font--color-dark: #151515;
$rhd-theme--component-background--color: #fff;
$rhd-theme--component-background--color-extra-light: #e4e4e6;
$rhd-theme--component-background--color-light: #D4D4D4;
$rhd-theme--component-background--color-dark: #252525;

:root {
    --rhd-theme--font--color: #{$rhd-theme--font--color};
    --rhd-theme--component-font--color: #{$rhd-theme--component-font--color};
    --rhd-theme--component-font--color-light: #{$rhd-theme--component-font--color-light};
    --rhd-theme--component-font--color-dark: #{$rhd-theme--component-font--color-dark};
    --rhd-theme--component-background--color: #{$rhd-theme--component-background--color};
    --rhd-theme--component-background--color-light: #{$rhd-theme--component-background--color-light};
    --rhd-theme--component-background--color-dark: #{$rhd-theme--component-background--color-dark};
}