//Base colours
$white: #ffffff;
$black: #151515;
$alto: #d2d2d2;
$rolling-stone: #72767B;
$cod-gray: #131313;
$malibu: #73BCF7;
$dodger-blue: #2B9AF3;
$science-blue: #0066cc;
$primary-blue: #0073af;
$secondary-blue: #0087ce;
$congress-blue: #004080;
$light-gray: #EDEDED;
$medium-light-gray: #D4D4D4;
$dark-gray: #252525;
$soft-dark: rgba(0,0,0,.8);
$red: #ee0000;
$dark-red: #cc0000;
$darker-red: #a30000;
$even-darker-red: #820000;

//rhd theme variables
$rhd-theme--font--color: $black;
$rhd-theme--link--color: $science-blue;
$rhd-theme--link-hover--color: $congress-blue;
$rhd-theme--component-font--color: $black;
$rhd-theme--component-font--color-light: $white;
$rhd-theme--component-font--color-dark: $black;
$rhd-theme--component-background--color: $white;
$rhd-theme--component-background--color-extra-light: $light-gray;
$rhd-theme--component-background--color-light: var(--pf-global--BackgroundColor--300);
$rhd-theme--component-background--color-dark: $dark-gray;

$rhd-theme--base-buttons: (
    'm-link': (
        'Color': #{$rhd-theme--link--color},
        'hover--Color': #{$rhd-theme--link-hover--color},
        'active--Color': #{$rhd-theme--link-hover--color},
        'focus--Color': #{$rhd-theme--link-hover--color},
        'BorderColor': transparent,
        'hover--BorderColor': transparent,
        'active--BorderColor': transparent,    
        'BackgroundColor': transparent,
        'hover--BackgroundColor': transparent,
        'active--BackgroundColor': transparent
    ),
    'm-link--secondary': (
        'Color': #{$black},
        'hover--Color': #{$rolling-stone},
        'active--Color': #{$rolling-stone},
        'focus--Color': #{$rolling-stone},
        'BorderColor': transparent,
        'hover--BorderColor': transparent,
        'active--BorderColor': transparent,    
        'BackgroundColor': transparent,
        'hover--BackgroundColor': transparent,
        'active--BackgroundColor': transparent
    ),
    'm-heavy': (
        'Color': #{$white},
        'hover--Color': #{$white},
        'active--Color': #{$white},
        'focus--Color': #{$white},
        'BorderColor': #{$red},
        'hover--BorderColor': #{$dark-red},
        'active--BorderColor': #{$dark-red},    
        'BackgroundColor': #{$red},
        'hover--BackgroundColor': #{$dark-red},
        'active--BackgroundColor': #{$dark-red}
    ),
    'm-primary': (
        'Color': #{$white},
        'hover--Color': #{$white},
        'active--Color': #{$white},
        'focus--Color': #{$white},
        'BorderColor': #{$secondary-blue},
        'hover--BorderColor': #{$primary-blue},
        'active--BorderColor': #{$primary-blue},
        'BackgroundColor': #{$secondary-blue},
        'hover--BackgroundColor': #{$primary-blue},
        'active--BackgroundColor': #{$primary-blue}
    ),
    'm-secondary': (
        'Color': #{$science-blue},
        'hover--Color': #{$white},
        'active--Color': #{$white},
        'focus--Color': #{$white},
        'BorderColor': #{$science-blue},
        'hover--BorderColor': #{$secondary-blue},
        'active--BorderColor': #{$secondary-blue},
        'BackgroundColor': #{$white},
        'hover--BackgroundColor': #{$secondary-blue},
        'active--BackgroundColor': #{$secondary-blue}
    ),
    'm-secondary-alt': (
        'Color': #{$red},
        'hover--Color': #{$white},
        'active--Color': #{$white},
        'focus--Color': #{$white},
        'BorderColor': #{$red},
        'hover--BorderColor': #{$dark-red},
        'active--BorderColor': #{$dark-red},
        'BackgroundColor': #{$white},
        'hover--BackgroundColor': #{$dark-red},
        'active--BackgroundColor': #{$dark-red}
    ),
    'm-tertiary': (
        'Color': #{$black},
        'hover--Color': #{$white},
        'active--Color': #{$white},
        'focus--Color': #{$white},
        'BorderColor': #{$black},
        'hover--BorderColor': #{$black},
        'active--BorderColor': #{$black},
        'BackgroundColor': transparent,
        'hover--BackgroundColor': #{$black},
        'active--BackgroundColor': #{$black}
    )
);

:root {
    //General theme font colours
    --rhd-theme--font--color: #{$rhd-theme--font--color};
    --rhd-theme--color--ui--soft-dark: #{$soft-dark};

    //General theme component variables
    --rhd-theme--component-font--color: #{$rhd-theme--component-font--color};
    --rhd-theme--component-font--color-light: #{$rhd-theme--component-font--color-light};
    --rhd-theme--component-font--color-dark: #{$rhd-theme--component-font--color-dark};
    --rhd-theme--component-background--color: #{$rhd-theme--component-background--color};
    --rhd-theme--component-background--color-light: #{$rhd-theme--component-background--color-light};
    --rhd-theme--component-background--color-dark: #{$rhd-theme--component-background--color-dark};

    //Legacy theme color variables
    --rhd-theme--color--grey-3: #{$grey-3};
    --rhd-gray-2: #e6e6e6;
    --rhd-gray-3: #{$gray-3};
    --rhd-gray-4: #{$gray-4};
    --rhd-blue: #{$blue};
    --rhd-white: #{$white};

    //Default theme link colour variables
    --rhd-theme--link--color: #{$rhd-theme--link--color};
    --rhd-theme--link-hover--color: #{$rhd-theme--link-hover--color};
}