// FORMATTING FOR ARCHIVE/TAXONOMY/CATEGORY PAGES

// Hide inline post featured images on archive pages
.featured-post-image-permalink {
  img.featured-post-image {
    @media(max-width:$medium-screen-breakpoint) {
      display:none;
    }
  }
}


@media(max-width:$tablet-landscape) {
  .archive-list,
  header.page-header-archive {
    padding-left:15px;
    padding-right:15px;
  }
}