// ALL CSS FOR THE CUSTOM AUTHOR PAGE

.author-page {

  // Outer div reset
  //padding:0;
  //margin:0;

  .page-title {
    margin-bottom:.5em;
  }

  // Left col
  main#main {
    header {
      padding:1em 0 .5em 0;
      border:none;
      &.page-header {
        margin-bottom:0;
        display:block;
      }

      .author-heading {
        font-size:2rem;
        font-weight:bold;
        text-transform: uppercase;
        padding-bottom:0;
        margin:1em 0 .5em 0;
        color:$dark-slate-grey;
      }

      h2 {
        &.section-subheading-title {
          font-size:1.5rem !important;
          font-weight:bold;
          padding-bottom:0;
          margin:.5em 0;
          color:$grey-5;
        }

      }
    }

    .container {
      padding-left:0;
      padding-right:0;
    }
  }

  h2.recent-posts-heading {
    margin:2em 0 1em 0;

  }

  .main-col-bio {
    position: relative;
    img.bio-img-display {
      line-height: 1;
      clear:none;
      border:none;
      margin:0 10px 2px 0;
      vertical-align: text-top;
      @media(max-width:$desktop-small) {
        clear:both;
        float:none;
        margin:0 auto 20px auto;
      }
    }
  }



  .main-column-author-info {
    display:none;
    padding-bottom:3em;
    @media(max-width:$desktop-small) {
      display:block;
      margin-top:2em;
      border-bottom:1px dashed $link-underline-grey;
    }
    h4 {
      font-weight:bold;
      font-size:1.1em;
      text-transform: uppercase;
      color:lighten($dark-grey,10%);
    }

    .expertise {
      padding-bottom:1em;
    }

    .social-media {
      .author-social-links {
        @include flex();
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: space-between;

        a {
          color:$blue;
          font-size:1.5em;
          margin:.3em .4em;
          display:block;
          &:hover {
            color:$blue-hover;
          }
          &:first-child {
            margin-left:0;
          }
          span.icon {
            line-height:1;
            display:block;
            svg {
              fill:$blue;
              width:1em;
              height:auto;
              max-height:1em;
              path {
                fill:$blue;
              }
            }
          }
        }
      }
    }
  }




  // Right Col
  .author-right-side {
    aside {
      h1 {
        color: $standardred;
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: bold;
      }

      h2 {
        font-size:1.3em;
        font-weight:bold;
        text-transform: uppercase;
        color:$dark-slate-grey;
      }

      h4 {
        font-size:1em;
        font-weight:bold;
        text-transform: uppercase;
        color:$med-grey;
        margin-top:1em;
      }
      img {
        float:left;
        margin-right:.5em;
      }

      p {
        font-weight:200;
        &.author-info {
          float:left;
          clear:none;
          margin:0 0 1em 0;
        }

      }

      ul {
        margin:0;
        padding:0;
        li {
          list-style:none;
          line-height: 1.3;
          margin:.4em 0;
          a {
            font-weight:400;
          }
        }
      }

      .author-social-links {

        @include flex();
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-content: space-between;

        a {
          color:$blue;
          font-size:1.5em;
          margin:.4em .5em;
          &:hover {
            color:$blue-hover;
          }
          &:first-child {
            margin-left:0;
          }
          line-height:1;
          svg {
            fill:$blue;
            width:1em;
            height:auto;
            max-height:1em;
            path {
              fill:$blue;
            }
          }
        }

      }
    }
    @media (max-width:$desktop-small) {
      display:none;
    }

  }


}