// Blog footer

footer[role="contentinfo"] {
  // Outer footer container
  div {
    &.region.region-rhd-footer {
      div {
        &.rhd-footer {

          // LEFT-HAND LINKS NAV
          nav.rhd-footer-nav {
            @media (max-width:480px) {
              grid-column-end: -1;
              order:2;
            }
            grid-template-columns: repeat(1,1fr);

            > .rhd-menu {
              grid-auto-rows:min-content;
            }
            ul {
              &.rhd-menu {
                //line-height:21px;
                @media (max-width:1170px) {
                  grid-template-columns: repeat(1, 1fr)
                }
                li {
                  a {
                    font-weight:400;
                  }
                  &.menu-item {
                    &.menu-item--expanded {

                      h3.section-toggle {
                        margin-top:15px;
                        margin-bottom:20px;
                        font-weight:700;
                        color:white;
                        font-size:14px;
                        text-transform: uppercase;
                        pointer-events: all;
                        line-height:21px;

                        @media (max-width:1170px) {
                          margin-top:15px;
                          margin-bottom:20px;

                          content: "\203A";
                          display: inline-block;
                          top: 2px;

                          &:before {
                            content: "\203A";
                            display: inline-block;
                            top: 10px;
                            margin-right: 3px;
                            width: 20px;
                            font-size: 25px;
                            position: relative;
                            box-sizing: border-box;
                            pointer-events: all;
                            cursor: pointer;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: white;
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -o-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                            transform: rotate(90deg);
                          }
                        }
                      }

                      ul.rhd-menu {
                        font-size:16px;
                        padding-left:0;
                        @media (max-width:1170px) {
                          margin:0 25px;
                        }
                      }

                      &.collapsed {
                        @media (max-width:1170px) {
                          h3.section-toggle {

                            &:before {
                              content: "\203A";
                              display: inline-block;
                              top: 2px;
                              margin-right: 3px;
                              width: 20px;
                              font-size: 25px;
                              position: relative;
                              box-sizing: border-box;
                              pointer-events: all;
                              cursor: pointer;
                              text-transform: uppercase;
                              font-weight: bold;
                              color: white;
                              -webkit-transform: rotate(0deg);
                              -moz-transform: rotate(0deg);
                              -o-transform: rotate(0deg);
                              -ms-transform: rotate(0deg);
                              transform: rotate(0deg);
                              
                            }
                          }

                          ul.rhd-menu {
                            margin:0 25px;
                          }
                        }

                        ul.rhd-menu {
                          max-height:0;
                          overflow:hidden;
                          overflow-x:hidden;
                          overflow-y:hidden;
                          margin:0 25px;
                          padding:0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          div {
            // Red Section With General Information
            &.rhd-footer-sidebar {
              background-color: $red;
              //grid-column: span 4;
              line-height:1rem;
              @media (max-width:480px) {
                grid-column-start: 1;
                grid-column-end: -1;
                order:1;
              }
              ul {
                line-height:1em;
                &.rhd-footer-sidebar-social {
                  li {
                    a {
                      svg {
                        vertical-align: -3px;
                        height:1em;
                        width:1em;

                        &.fa-youtube {
                          width:1.125em;
                        }

                        &.fa-facebook {
                          width:.875em;

                        }
                      }
                    }
                  }
                }
              }

              p.rhd-footer-sidebar-content {
                padding-bottom:5px;
              }

              a.rhd-footer-sidebar-signup {
                line-height:2;
                //height:22px;
              }
            }
          }
        }
      }
    }
  }
}