.article-list .hentry {
  float:none !important;
  width:100% !important;
}

[class*=" paged-"] {
  // Articles on Home Page - Adjusted
  .article-list {
    padding-top:0;
    .hentry,article  {
      float:none;
      width:100%;
      &:nth-child(1) {
        width:100%;
        float:none;
      }
      &:nth-child(2) {
        float:none;
        width:100%;
      }
      &:nth-child(n+3) {
        .featured-post-image-permalink {
          img {
            display:none;
          }
        }
      .entry-meta {
        font-size:16px;
      }
    }

      .featured-img-vert-div {
        display:none;
        width:40%;
        float:none;
        clear:both;
        margin:0 auto;

        img {
          max-width: 100%;
          width:100%;
          height:auto;
          margin:0 auto 1em auto;
        }
        @media (max-width: $medium-screen-breakpoint) {
          display:block;
          width:100%;
          height:auto;
          clear:both;

          margin:0 auto;
          float:none;
          max-width: 100%;

          a {
            display:block;
            width:100%;
          }
        }
      }
    }
  }
}

.article-list {
  .hentry {
    width:100%;
    float:none;
  }
}


.home .entry-content img,
img.featured-post-image {
  max-width:40%;
  height:auto;
  float:right;
  margin-bottom:10px;
  margin-left:10px;
}

.home {
  .entry-content {
    .featured-img-vert-div {
      display:none;

      img {
        &.featured-img-mobile {
          @media(max-width: $medium-screen-breakpoint) {
            margin:0 auto;
            float:none;
            width:70%;
            height:auto;
            max-width: 70%;
          }
        }
      }
    }
  }
}


.featured-img-vert-div {
  display:none;
  width:100%;
  clear:both;

  @media(max-width: $medium-screen-breakpoint) {
    display:block;
  }
}

