// EXTRAS AND PLUGINS

/**
* This CSS provides adjustments to plugin components that have been added.
*/


// POST RATINGS
.ratings-column {
  @include flex();
  align-items: center;
  -webkit-align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;

  @media(max-width:$small-screen-breakpoint ) {
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
}
/*
.post-ratings-container {
  height:auto;
  position: relative;

  .post-ratings {
    float:right;
    font-size: 12px;
    strong {
      margin-bottom: -2px;
      letter-spacing:1px;
    }

    @include flex();
    align-items: center;
    -webkit-align-items: center;

    span.vote-box {
      display:inline-block;
      width:40px;
      letter-spacing:0;
      img {
        float:right;
        &:last-child {
          margin-right:5px;
        }
      }
    }

    img.post-ratings-image {
     display:none;
    }
  }

  .post-ratings-loading {
    position:absolute;
    font-size:14px;
    text-align: center;
    margin:0 auto;
    top:0;
    //left:230px;
    left:0;
    img {
      margin-right:.5em;
    }
  }
}
*/

// ELP EMAIL & NEWSLETTER WIDGET CHANGES (EMAIL NEWSLETTER SIGNUP)
aside.widget.elp-widget {
  div {
    form {
      div {
        &.es_button {
          input.es_submit_button {
            border:none;
            width:60%;
            display: block;
            text-align: center;
            padding: 9px;
            font-size: 14px;
            background: #cc0000;
            color: #ffffff;
            text-transform: uppercase;
            transition: background 0.2s ease-in 0s;
            &:hover {
              background: $standardred-hover none repeat scroll 0 0;
            }
          }
        }
      }
    }
  }
}

// Additional tags
div.class-new-css {
  border:none;
}

div.new-class-two-css {
  border:none;
}


// CONTACT FORM 7 / EMAIL SIGNUP FORM IN SIDE WIDGET
// (CF7 short code must be placed inside a div with class 'rh-email-signup' to work)
aside {
  .rh-email-signup {

    // Form changes
    div.wpcf7 {
      form {
        // Form submit button container
        p {
          input[type="submit"] {
            border:none;
            width:60%;
            display: block;
            text-align: center;
            padding: 9px;
            font-size: 14px;
            background: #cc0000;
            color: #ffffff;
            text-transform: uppercase;
            transition: background 0.2s ease-in 0s;
            &:hover {
              background: $standardred-hover none repeat scroll 0 0;
            }
          }
        }
      }
    }



      // Remove left padding from the Contact Form 7 widget default
      @at-root {
        .textwidget.custom-html-widget  {
          padding-left:0;
      }
    }
  }
}


// SELECTION SHARER ADJUSTMENTS
/**
Selection sharer is the plugin which allows a user to select a patch of text (any text enclosed by <p> tags) and share
on a social media platform
 */
#selectionSharerPopover-inner {
  border-radius: 0;
}




// SYNTAX HIGHLIGHTING ADJUSTMENT IN ENTRY CONTENT
article .entry-content div .syntaxhighlighter {

    font-size:14px;
    table {
      font-size:1em;
    }

    border:1px solid lighten($med-grey,30%);

    &.redhat-highlight {
      font-size: 14px !important;
      line-height: 1.42857;
    }

    .container {
      &:before,&:after {
        display:block;
      }
    }
}



// SHARE DADDY CHANGES
div.sharedaddy h3.sd-title {
  display:none;
}

.sd-block.sd-rating {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}

// JETPACK INFINITE SCROLL
#infinite-footer {
  display:none;
  visibility: hidden;
}

// JETPACK - RELATED CONTENT ROW IN POST FOOTER
#jp-relatedposts {
  font-size:1em !important;
  outline:none;
  padding-top:1em;
  padding-bottom:1em;
  h3.jp-relatedposts-headline {
    outline:none;
    font-size:1.33rem;
    color:$dark-grey-h3;
    em {
      font-weight:300;
      &:before {
        border:none !important;
      }
    }
  }
}


// CATEGORY TEMPLATES
// In-column fix for float removal
article {
  .entry-content {
    div {
      &.rh-cat-template-link-div {
        a {
          font-size:14px !important;
        }
        font-size:14px;
        div {
          font-size:14px;
          float:none;
          &:last-child {
            float:none;
          }

          a {
            font-size:14px !important;
            @media(max-width:$desktop-small) {
              font-size:1rem;
              line-height:1;
              margin:1.5rem 0;
            }
          }
        }
      }
    }
  }
}


// EMAIL SUBSCRIBERS PLUGIN
aside.widget.elp-widget {
  .es_form_container {
    .es_widget_form {
      div {
        &.es_textbox {
          padding-bottom:0;
        }
      }
      p {
        margin-top:0;
        label.gdpr-label {
          input[type="checkbox"] {
            margin:0 .3rem 0 0;
          }
          a {
            font-size:1em;
          }
        }
      }
    }
  }
}


// GDPR PLUGIN


.gdpr.gdpr-privacy-bar {

  .gdpr-wrapper {
    .gdpr-content {
      p {
        font-family: $overpass;
        a {
          text-decoration:underline;
          color:white;
        }
      }
    }


  }
}
.gdpr-right {
  .gdpr-buttons {
    button {
      &.gdpr-agreement {
        border-radius:0;
        text-transform:uppercase !important;
        letter-spacing:1px;
        text-shadow:none;
        border:none;
        box-shadow:none;
        -moz-box-shadow:none;
      }
    }
  }
}


.gdpr *:not(textarea):not(input):not(select) {
  font-family: $overpass !important;
}
