// Variables and Global settings for RH Blog

// Re-inserted variables
$desktop-large:     1240px;
$desktop-small:     992px;
$tablet-landscape:  768px;
$tablet-portrait:    576px;

// Breakpoint settings
$large-screen-breakpoint:         $desktop-large; // 1240px
$medium-large-screen-breakpoint:  1040px;
$smallest-large-screen-breakpoint: $desktop-small; // 992px
$medium-screen-breakpoint:        920px;
$small-screen-breakpoint:         $tablet-landscape; // 768px
$small-phone-breakpoint:          $tablet-portrait; // 576px
$wp-admin-bar-small-break:        600px; // This is a breakpoint specific to the WP Admin Bar – required for spacing edits in phone breakpoints
$xtra-small-screen-breakpoint:    480px;


// Widths
$row-width-max: 1170px;


// Percentage Widths:
$row-width-max-percent: 80%;


// Fonts
$overpass: Overpass, "Open Sans", Helvetica, sans-serif;

// Font Size
$article-font-size: 23px;

// General element padding (left and right padding)
$leftRightPadding: .975rem;