{# TODO: figure out what to do about the searchisko variables here...  data-searchisko-type="jbossdeveloper_vimeo" data-searchisko-id="#{page.video.id}" #}
<div itemprop="video" itemscope="" itemtype="http://schema.org/VideoObject">
    <div class="flex-video">
        {{ element }}
    </div>
</div>
