$gutter: 30px;

$spacing: (
    'base': 16px,
    'xxl': 64px,
    'xl': 48px,
    'lg': 32px,
    'med': 24px,
    'sm': 8px,
    'xs': 4px
);

$line-height: (
    'base': 1.5,
    'xl': calc(53/40),
    'lg': calc(42/32),
    'med': calc(37/28),
    'sm': calc(31/24),
    'xs': calc(26/20)
);
