{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <a href="{{ url }}">
    {% if content.field_image|render %}
      <div class="tile-image-wrapper">
          {{ content.field_image.0 | with('#image_style', 'static_item') }}
      </div>
    {% endif %}
    <h3 class="tile-title">{{ label }}</h3>
  </a>
</article>
