* { box-sizing: border-box; }
body { margin: 0; padding: 0; }

[data-rhd-grid="normal"] {
    display: flex;
    flex-direction: column;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 1fr 700px;
}
    
body > header,
body > main,
body > footer {
    flex: 0 0 auto;
    grid-column: span 12;
}

.rh-universal-header, .rh-universal-footer {
    background-color: #1a1a1a;
    height: 50px;
}

.rhd-header {
    height: 100px;
}
.rhd-footer {
    background-color: #252525;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.rhd-footer :first-child {
    flex: 1 1 auto;
}

.rhd-footer-sidebar {
    background-color: #c00;
    flex: 0 0 33%;
}

/*
header
	universal header (#1a1a1a bg)
		RH Logo/Mark
		Link List
		Login/User
	RHD Header
		Logo/Mark
		Fixed Nav
		Topic List/Menu
content
footer
	RHD footer (#252525 bg)
		sidebar (#c00 bg)
		
    universal footer (#1a1a1a bg)
    */