<div class="medium-4 columns">
    {% set classes = ['toc', 'toc-responsive', 'gsi-nav'] %}
    <div {{ attributes.addClass(classes) }}>
        {{ desktop }}
        {{ mobile }}
    </div>
</div>
<div class="medium-15 columns gsi article-content"> {# Starting div for the content, closed in the node template #}