<div class="downloadthankyou hide" id="downloadthankyou">
    <div class="thankyouclose"><a href="#" onclick="$('div#downloadthankyou').hide('slow');"><i class="fas fa-times"></i></a></div>
    <h2 id="thank-you">Thank you for downloading </h2>
    <p id="download-problems" style="display: block;">Your download should start automatically. If you have any problems
        with the download, please use the<a id="tcDownloadLink" href="#"> direct link</a>.</p>
    {% if product_machine_name != 'rhel' %}
        <br><br>
        <div class="large-24 thankyoupanels" style="display: none;">
            <div class="row">
                <div class="large-2 columns"><i class="fa fa-file-text fa-2x"></i></div>
                <div class="large-22 columns"><p style="display: none;">By downloading this product you have agreed with our
                        <a href="{{ base_url }}/terms-and-conditions/">terms and conditions </a>on <span id="tcWhenSigned"></span>.
                        You will be notified again in <span id="tcEndsIn"></span>after your subscription ends. </p></div>
            </div>
        </div>
    {% endif %}
</div>