/* Tables */
table {
  border: 0;
  background: $grey-3;
  border-collapse: collapse;

  tbody tr {
    background: #f5f5f6;
  }

  td {
    vertical-align: top;
  }

  td.linkList {
    a {
      border-right: 1px solid;
      padding-right: 10px;
      margin-right: 10px;

      &:last-child {
        border-right: 0;
      }
    }
  }

  p {
    margin: 0;
  }
}
