.field--name-field-audience-selection .select2-container--bootstrap .select2-selection--multiple  li[title]{
    background: red;
    color: white;
}

.field--name-field-audience-selection .select2-container--bootstrap .select2-selection--multiple  li[title] span {
    color: white;
}

.field--name-status label.control-label.option {
  border-left: solid 4px red;
  display: inline-block;
  background: white;
  padding: 4px 4px 4px 28px;
 }
