.book {
  padding-right:20px !important;
  position: relative;
  float: left;
  padding-bottom: 20px;
  // &:nth-child(4n+1) {
  //   clear:left;
  // }
  a.book-preview {
    position: absolute;
    background:$grey-7;
    color:white;
    display:block;
    width:60%;
    padding:5px;
    text-align: center;
    left:20%;
    text-transform: uppercase;
    top:130px;
    opacity:0;
    @include transition(all 0.3s);
  }
  &:hover a.book-preview {
    opacity:1;
  }
  img {
    width:100%;
    padding:5px;
    border:1px solid $grey-3;
    background:white;
  }
  h4 {
    padding-top: .5em;
    margin-bottom: 0;
  }
  p {
    margin:3px 0;
    font-size: emCalc(12px);
  }
}

.featured-books {
  background:$grey-2;
  border-radius:$global-radius;
  h3 {
    color:black;
    margin-top:0;
  }
  .book {
    padding-bottom: 0;
  }
}
p.desc {
  clear:both;
  margin-bottom: 5px;
}


@include mobile-landscape-and-down {

.book {
  padding-right:0px 
 }
  li.book {
    width:100%;
/*    margin:0;
    padding:0; */
    margin-bottom: 10px;
  }
}

.isbnList {
  display: none;
}