.buzz-item {
  width:24%;
  float:left;
  padding:10px;
  .buzz-item-inner {
    border:1px solid $grey-3;
    box-shadow:2px 2px 0 $med-blue;
    background:$grey-2;
    word-wrap:break-word;
  }
  h3,p {
    padding:10px;
    font-weight: 100;
    margin:0;
    color:$grey-6;
  }
  h3 + p {
    padding-top:0;
  }
  img {
    width: 100%;
  }
}

.buzz-header {
  text-align: center;
  color:$med-blue;
  background:white;
  padding:10px;
  i {
    font-size: 22px;
  }
}

.sort-icons  {
  text-align: center;
  li {
    display: inline;
    position: relative;
    margin:3px;
    &.sortBy {
      padding-right:10px;
      position: relative;
      top:-6px;
    }
    a {
      font-size: 35px;
      padding: 5px 10px;
      color:$med-blue;
      &:after {
        content :'';
        width:10px;
        height:10px;
        left:50%;
        margin-left: -5px;
        background:$dark-blue;
        display: block;
        position: absolute;
        @include transform(rotate(45deg));
        top:24px;
        display: none;
      }
      &:hover, &.buzz-filter-active {
        background:$dark-blue;
        color:white;
        &:after {
          display: block;
        }
      }
    }
  }
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

input[type=text][name="buzz-filter-text"] {
  width:200px;
  position: relative;
  /*margin-bottom:-42px; // PLM commented this out as it broke the layout without the sort ul*/
}

h4.buzz-message.divider {
  float:left;
  width:100%;
  margin:20px 0 40px 0;
}

/* Mq */

@include tablet-portrait-and-down {
  .buzz-item {
    width:49%;
  }
  .sort-icons  {
    li {
      margin:0;
      a {
        font-size: 20px;
        &:after {
          top:20px;
        }
      }
    }
  }
  input[type="text"][name="buzz-filter-text"] {
    width:100%;
    margin-bottom: 20px;
  }

}

@include mobile-landscape-and-down {
  .buzz-item {
    width:98%;
  }
}

.buzz-loading {
    background:red;
    background:cdn("../images/icons/ajax-loader.gif") center 80px no-repeat;
    height: 200px;
    width: 100%;
    li.material {
      visibility: hidden;
    }
  }

.mini-buzz-container > div:nth-child(odd) {
  clear: left;
}
