/* Cheat Sheet and books */

#rhd-cheat-sheet, #rhd-book {
  .content-type{
    text-transform: uppercase;
    color: $grey-6;
    margin-bottom: 0;
  }

  .cs-excerpt, .book-excerpt {
    display: block;
    background-color: #e8fbff;
    border: 1px solid #b8e3ed;
    padding: 20px 30px;
    margin: 40px 0 20px 0;

    h4 {
      margin-bottom: 15px;
    }

    span {
      display: inline-block;
      width: calc(100% - 60px);
      font-style: italic;
      &.open-quote {
        font-size: 7em;
        width: 60px;
        margin-top: 40px;
        color: #00b9e4;
        font-style: normal;
      }

      .field--name-field-cheat-sheet-excerpt, .field--name-field-book-excerpt {
        width: inherit;
      }
    }
    .divider {
      border-bottom:1px solid $grey-3;
      padding: 10px 0;

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    code {
      background-color: transparent;
      border: none;
      padding: 0;
      font-weight: inherit;
    }
  }

  .cta-label {
    margin-bottom: 15px;
  }

  .cs-info, .book-info {
    border-top: 1px solid $grey-5;
    border-bottom: 1px solid $grey-5;
    padding: 7px 5px 0 0;
    margin-bottom: 2.5em;
    ul {
      list-style: none;
      margin: 0;
      overflow: hidden;
      li {
        width: auto;
        margin-bottom: 1px;
        padding-top: 1px;
        display: inline-block;
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
  .cs-social .googleplus-one, .book-social .googleplus-one {
    max-width: 55px;

  }
  .share-this {
    background: none;
    padding-top: 0;
  }
  a.button {
    margin: 5px 0 20px 0;
    margin-right: 25px !important;
  }

  .shown-after-login, .hidden-after-login {
    display: none;
  }

  @include tablet-landscape-and-down {
    .cs-info, .book-info {
      .cs-social, .book-social {
        float: none !important;
        margin-top: 5px;
      }
      ul li{
        display: block;
      }
    }

    .field--name-field-cheat-sheet-tags, .field--name-field-tags {
      margin-bottom: 25px;
    }
    a.button {
      width: 100%;
      margin-right: 0;
    }
  }
  @include tablet-portrait-and-down {
    .cs-tags {
      margin-top: 20px;
    }
  }
}
