/* Cheat Sheet */

#rhd-cheat-sheet {
  .content-type{
    text-transform: uppercase;
    color: $grey-6;
    margin-bottom: 0;
  }

  .cs-info{
    border-top: 1px solid $grey-5;
    border-bottom: 1px solid $grey-5;
    padding: 7px 5px 0 0;
    margin-bottom: 2.5em;
    ul {
      list-style: none;
      margin: 0;
      overflow: auto;
      li {
        width: auto;
        margin-bottom: 1px;
        padding-top: 1px;
        display: inline-block;
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
  .cs-social .googleplus-one{
    max-width: 55px;

  }
  .share-this {
    background: none;
    padding-top: 0;
  }
  a.button {
    margin-right: 25px !important;
  }

  .shown-after-login, .hidden-after-login {
    display: none;
  }

  @include tablet-landscape-and-down {
    .cs-info {
      .cs-social {
        float: none !important;
        margin-top: 5px;
      }
      ul li{
        display: block;
      }
    }
    .field--name-field-cheat-sheet-tags {
      margin-bottom: 25px;
    }
    a.button {
      width: 100%;
      margin-right: 0;
    }
  }
}
