.wide-hero.devnation2016 {
  background-image: url('http://static.jboss.org/images/rhd/microsite/RHDev_pageheader_devnation2016_desktop_21jun2016.png');
  background-size: cover;
  background-position: top center;
  background-repeat: repeat-x;
  border:0;
  max-width: 100%;
  margin: 0;
  padding: 0;
  img{
    max-width: 700px;
  }
  @include tablet-portrait-and-down {
    background-position: top center;
    background-repeat: repeat-x;
  }
  @include mobile-landscape-and-down {
    background-image: url('http://static.jboss.org/images/rhd/microsite/RHDev_pageheader_devnation2016_mobile_21jun2016.png');
    min-height: 400px;
    padding-top: 115px;
  }
}

#devnation2016-microsite {
  margin-top: 2em;
  .divider {
    border-bottom: 1px solid $grey-4;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
  .event-video {
    margin-top: 2em;
    h4 {
      display: none;
    }
  }
  iframe.embedded-chat {
    margin-top: 2em;
    height: 500px;
    width: 100%;
  }
  .devnation2016-date span{
    display: inline-block;
    i {
      margin-right: 10px;
    }
    .event-day, .event-time, .event-timezone {
      font-size: 1.1em;
      font-weight: 800;
      color: #252527;
    }
    .event-time {
      display: inline;
      float: left;
      margin-right: 5px;
    }
    .event-timezone {
      display: inline;
    }    
  }
  ul.demo-links {
    margin-bottom: 2em;
  }
  ul.events-list {
    list-style: none;
    margin-left: 0;
    li.single-event {
      border-bottom: 1px solid $grey-4;
      margin-bottom: 2em;
      padding-bottom: 1.2em;
      &:last-child {
        border: none;
      }
      .session-links {
        padding-top: 5px;
        a {
          margin-right: 10px;
        }
      }
    }
  }
  .session-links.y-centered {
    margin-top: 7px;
  }
  #hiddenDate {
    display: none;
  }
  a.enlarge-video {
    margin-right: 20px;
  }
}

#videoModal {
  max-width: 100em !important;
  top: 500px !important;
  .row {
    margin: 0 5%;
    width: 90%;
    max-width: 1300px;
  }
  .event-video {
    display: inline-block;
    float: left;
    width: calc(100% - 370px);
    margin-right: 20px;
    h4 {
      display: block;
    }
  }
  .chat {
    display: inline-block;
    width: 350px;
  }

 iframe.embedded-chat {
    min-height: 610px;
    width: 100%;
  }
}

@include tablet-landscape-and-down {
  #videoModal, a.enlarge-video {
    display: none;
  }
  iframe.video{
    width: 100%;  
  }
}
