.wide-hero.devnation-live {
  background-image: url('https://design.jboss.org/redhatdeveloper/website/redhatdeveloper_2_0/microsite_graphics/images/devnationlive_microsite_banner_desktop_background_r4v1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 242px;
  margin-bottom: 0;
  img {
    display: block;
    margin: 0 auto;
  }
  @include tablet-landscape-768-and-down {
    background: url('https://design.jboss.org/redhatdeveloper/website/redhatdeveloper_2_0/microsite_graphics/images/devnationlive_microsite_banner_mobile_background_r4v1.png') top center / cover repeat-x;
  }
}

#devnationLive-microsite {
  @include tablet-landscape-768-and-down {
    h2 { font-size: 2em; }
  }
  .divider {
    border-bottom: 1px solid $grey-4;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
  .abstract {  }
  .next-session { 
    // background: $gray; 
    padding: 1em 0 2em 0; 
    
    .columns {
      background: $white;
      padding-top: 1em;
    }
  }

  .session-list {
    margin-top: 2em;
  }
  .event-video {
    margin-top: 2em;
  }
  .event-chat {
    margin-top: 2em;

    @media only screen and (max-width: 768px) {
      margin-top: 1em;
    }
  }
  iframe.embedded-chat {
    min-height: 465px;
    width: 100%;
  }

  iframe.session-reg {
    border: 0;
    height: 200px;
    width: 100%;
  }
  .session-date{
    font-size: 1.1em;
    font-weight: 800;
    color: #252527;
    i {
      margin-right: 10px;
      position: relative;
    }
  }
  ul.demo-links {
    margin-bottom: 2em;
  }
  ul.events-list {
    list-style: none;
    margin-left: 0;
    li.single-event {
      border-bottom: 1px solid $grey-2;
      margin-bottom: 2em;
      padding-bottom: 1.2em;
      &:last-child {
        border: none;
      }
      .session-links {
        padding-top: 5px;
        a {
          color: $link-sm;
          margin-right: 10px;
        }
      }
    }
  }
  .session-links.y-centered {
    margin-top: 7px;
  }
  #hiddenDate {
    display: none;
  }
  a.enlarge-video {
    margin-right: 20px;
  }
  .align-center {
    text-align: center;
  }
}
