.wide-hero {
	background: cdn("../images/devoxx4kids/devoxx4kids_microsite_hero.jpg") top center no-repeat;
	background-size:cover;
	color:white;
	padding:50px 0;
	margin-bottom: 40px;
	border-bottom: 1px solid $grey-2;
	h3{text-align: left;}
}

ul.devoxx-list{
    padding-bottom: 5px;
    li {
    	padding-left: 1em;
    }
 }

  .video-embed h4{display: none;}
  