.developer-materials-sidebar {
  @extend .large-6;
  @extend .columns;
}
.developer-materials-main {
  @extend .large-13;
  @extend .columns;
}

/* Materials */
ul.results {
  margin-top: 20px;
  &.loading {
    background:cdn("../images/icons/ajax-loader.gif") center 80px no-repeat;
    li.material {
      visibility: hidden;
    }
  }
}
.material {
  position: relative;
  &:before {display: none;} // take off the ul bullet
  p {
    word-wrap: break-word;
  }
  img {
    padding:5px;
    box-shadow:0 0 5px #ccc;
    border:1px solid $grey-3;
    margin-bottom: 7px;
    width:100%;
  }
  .label {
    float:right;
    margin-left:10px;
    border-radius:$global-radius;
    line-height: 1.3;
    &.material-level-beginner { background:$med-green; }
    &.material-level-Beginner { background:$med-green; }
    &.material-level-intermediate { background:$med-blue; }
    &.material-level-Intermediate { background:$med-blue; }
    &.material-level-advanced { background:$dark-red; }
    &.material-level-Advanced { background:$dark-red; }
  }

  .empty-label {
    height: 1.3em;
    font-size: 0.75em;
  }
  h4 {
    clear: both;
  }
  p {
    margin:0;
    font-size: emCalc(14);
    &.author {
      a {
        // text-decoration: underline;
      }
    }
    &.material-datestamp {
      font-size: emCalc(11);
    }
    &.rating {
      text-transform: uppercase;
      color:#000;
      margin:5px 0;
      i:first-child {
        margin-left: 5px;
      }
    }
  }
  i {
    color:$grey-4;
  }
  i.fa-star,i.fa-star-half-empty {
    color:$light-orange;
  }

  a.banner {
    display: block;
    width:100%;
    position: absolute;
    text-indent: -9999px;
    &.premium {
      @extend .icons-premium;
      height:20px;
      top:20px

    }
    &.experimental {
      @extend .icons-experimental;
      height: 120px;
      width: 130px;
      right: 0px;
      top:0;
    }
  }
}


@include tablet-portrait-and-down {
  body.developer-materials {
    .content-wrapper, .wrapper, .developer-materials-sidebar {
      padding:0;
    }
  }

  .developer-materials-sidebar {
    h4 {
      background:$dark-blue;
      color:white;
      padding:10px;
      text-align: center;
      border-radius: $global-radius;
      margin:10px;
      &:after {
        content: "\f078";
        font-family: 'FontAwesome';
        padding-left: 10px;
      }
    }
    form {
      display: none;
    }
    a.filters-clear {
      display: none;
    }
    &.open {
      display: block;
      position: fixed;
      top:0;
      bottom:0;
      background:white;
      width:100%;
      z-index: 9999;
      form {
        display: block;
      }
      h4 {
        background:$dark-blue;
        color:white;
        font-size: 0;
        padding:20px;
        cursor:pointer;
        text-align: left;
        &:before {
          content : 'Cancel';
          font-size: 14px;
        }
      }
      a.filters-clear {
        font-size: 14px;
        display: inline;
        float: right;
        color:white;
        text-decoration: none;
      }
      .filters-apply {
        display: inline-block;
        position: absolute;
        left:50%;
        top:0;
        top: 20px;
        background:$med-blue;
        padding:2px 20px;
        margin-left: -45px;
      }
    }
  }
  .filter-block {
    border-bottom: 1px solid $grey-3;
    padding:10px;
    input[type="range"] {
      width:100%;
    }
    h5.show-more {
      cursor:pointer;
      &:after {
        content:"\f078";
        color:$dark-blue;
        padding-right:10px;
        float: right;
        font-family:'FontAwesome';
        @include transition(all 0.3s);
      }
      &.filter-block-open:after {
        @include transform(rotate(-180deg));
      }
    }
  }
  
  .filter-block-checkboxes {
    padding:0;
    h5 {
      padding-left:10px;
    }
  }
  .filter-block-inputs {
    display: none;
    position: relative;
    label {
      padding:3px;
      float: left;
      width:100%;
      margin:0;
      padding:10px;
      color:white;
      background:$dark-blue;
      border-bottom: 1px solid $grey-5;
      font-weight: 600;
      &:after {
        content : "\f00c";
        font-family: FontAwesome;
        color:#5D8097;
        float: right;
      }
      &.checked {
        background:#5D8097;
        color:white;
        &:after {
          color:white;
        }
      }
      input {
        margin:0;
        display: none;
      }
    }
    span.skill-display {
      position: absolute;
      top:10px;
      right:10px;
    }
  }
}

@include mobile-landscape-and-down {
  .filter-block-inputs {
    label {
      // width:50%;
    }
  }
}

@include tablet-landscape-and-down {
  .developer-materials-main {
    width:75%;
  }
}

@include tablet-portrait-and-down {
  .developer-materials-main {
    width:100%;
  }
}
