#distributed-javaee-architecture {
  .promotion-header {
    padding: 40px 40px 0 0;
    img {
      max-width: 320px;
    }
    .report-title {
      margin-top: 20px;
    }
    .button {
      display: block;
      margin: 17px 0;
      max-width: 320px;
    }
  }
  .author-img {
    width: 115px;
    margin-top: 10px;
  }
}
