.hero.hero-downloads {
  background: cdn('../images/design/RHDev_pageheader_downloads_desktop.png') top center / cover no-repeat;
  content : ':4242';
  border:0;
  min-height: 220px;
  margin-bottom: 0;

  h2 {
    color:white;
    font-size: 5em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  p {
    color: white;
    font-size: 1.1em;
    margin: 20px 0;
    a, a:active, a:focus, a:hover{
      color: white;
    }
  }
  @include tablet-landscape-and-down {
    background: cdn('../images/design/RHDev_pageheader_downloads_tablet.png') top center / cover no-repeat;
    min-height: auto;
    h2 {
      margin-top: 10px;
    }
    p {
      margin: 0 15px 20px 15px;
    }
  }
  @include mobile-landscape-and-down {
    background: cdn('../images/design/RHDev_pageheader_downloads_mobile.png') top center / cover no-repeat;
    h2 {
      font-size: 4em;
    }
  }
  .row {
    @extend .flex-center;
  }
}

// Downloads
#downloads {
  width: 100%;
  .download-list {
    .category-label {
      margin-bottom: 20px;
      margin-top: 50px;
      h5{
        text-transform: uppercase;
        color: $black;
        margin-bottom: 0;
        font-size: 30px;
      }
    }
    .indent-product {
      margin-left: 1em;
      .large-8 {
        margin-left: -.7em;
      }
      @include tablet-landscape-and-down {
        .large-8 {
          margin-left: 0;
        }
      }
    }
  }
  #other-resources {
    .category-label {
      margin-bottom: 40px;
      margin-top: 50px;
    }
    ul {
      margin-left: 0;
      list-style: none;
    }
    a.button {
      background: #6abcd3 cdn("../images/design/stars-texture.png") bottom right no-repeat;
      width: 100%;
      padding: 25px 10px 25px 20px;
      text-align: left;
    }
    a.button:hover,a.button:active, a.button:focus {
      background: #43aac7 cdn("../images/design/stars-texture.png") bottom right no-repeat;
    }
  }
}

.has-download, .no-download {
  display: none;
}

.download-links {
  a + a {
    margin-left: 10px;
  }
}
