.hero.hero-downloads {
  background: cdn('../images/design/RHDev_indeximage_desktop_downloads.png') top center / cover no-repeat;
  border:0;
  padding: 20px;
  padding-top: 40px;
  min-height: 230px;
  @include tablet-portrait-and-down {
    background: cdn('../images/design/RHDev_indeximage_mobile_downloads.png') top center / cover no-repeat;
    margin: -15px;
    h2.blowout {
      padding-top: 20px !important;
      font-size: 40px !important;
    }
    .columns {
      padding: 0;
    }
  }
  h2.blowout {
    color:white;
    line-height:1;
    font-size: 70px;
    text-shadow: 3px 3px #063a63;
  }
  p {
    color:white;
    font-size: 20px;
    a, a:active, a:focus, a:hover{
      color: white;
    }
  }
  .row {
    @extend .grow;
  }
}

// Downloads
#downloads {
  .download-list {
    .category-label {
      margin-bottom: 20px;
      margin-top: 50px;
      h5{
        text-transform: uppercase;
        color: $black;
        margin-bottom: 0;
        font-size: 30px;
      }
    }
  }
  #other-resources {
    .category-label {
      margin-bottom: 40px;
      margin-top: 50px;
    }
    ul {
      margin-left: 0;
      list-style: none;
    }
    a.button {
      background: #6abcd3 cdn("../images/design/stars-texture.png") bottom right no-repeat;
      width: 100%;
      padding: 25px 10px 25px 20px;
      text-align: left;
    }
    a.button:hover,a.button:active, a.button:focus {
      background: #43aac7 cdn("../images/design/stars-texture.png") bottom right no-repeat;}
    }
}

.has-download, .no-download {
  display: none;
}

.download-links {
  a + a {
    margin-left: 10px;
  }
}
