.hero.hero-downloads {
  background: cdn('../images/design/RHDev_pageheader_downloads_desktop.png') top center repeat-x;
  border:0;
  margin-bottom: 0;

  h2 {
    color:white;
    font-size: 5em;
    margin:0;
    text-transform: uppercase;
    font-weight: 600;
  }
  p {
    color: white;
    font-size: 1.1em;
    margin: 20px 0;
    a, a:active, a:focus, a:hover{
      color: white;
    }
  }
  @include tablet-landscape-and-down {
    background: cdn('../images/design/RHDev_pageheader_downloads_tablet.png') top center / cover no-repeat;
    min-height: auto;
    h2 {
      margin-top: 10px;
    }
    p {
      margin: 0 15px 20px 15px;
    }
  }
  @include mobile-landscape-and-down {
    background: cdn('../images/design/RHDev_pageheader_downloads_mobile.png') top center / cover no-repeat;
    h2 {
      font-size: 4em;
    }
  }
  .row {
    @extend .flex-center;
  }
}

// Downloads
h3.downloads-header {
  text-transform: uppercase;
  margin:30px 0;
}
#downloads {
  width: 100%;
  .download-list {
    p {
      margin: 0;
    }
    .category-label + .row hr {
      display: none;
    }
    hr {
      margin: 2rem 1rem;
    }
    .category-label {
      margin-bottom: 20px;
      margin-top: 20px;
      background:#656565 cdn("../images/design/dotted_line-white.svg") no-repeat;
      padding:20px;
      background-size:1000px;
      background-position:center right -300px;
      h4 {
        text-transform: uppercase;
        color: white;
        font-size: 25px;
        margin:0;
        line-height:1;
      }
    }
    .indent-product {
      margin-left: 1em;
      .large-8 {
        margin-left: -.7em;
      }
      @include tablet-landscape-and-down {
        .large-8 {
          margin-left: 0;
        }
      }
    }
  }

  .button {
    width:100%;
  }
  h5 {
    font-size: 25px;
  }
  #other-resources {
    .category-label {
      margin-bottom: 40px;
      margin-top: 50px;
    }
    ul {
      margin-left: 0;
      list-style: none;
    }
    a.button {
      background: #6abcd3 cdn("../images/design/stars-texture.png") bottom right no-repeat;
      width: 100%;
      padding: 25px 10px 25px 20px;
      text-align: left;
    }
    a.button:hover,a.button:active, a.button:focus {
      background: #43aac7 cdn("../images/design/stars-texture.png") bottom right no-repeat;
    }
  }
}

.has-download, .no-download {
  display: none;
}

.download-links {
  a + a {
    margin-left: 10px;
  }
}


.most-popular-downloads {
  background:#E6E7E8 cdn("../images/design/dotted_line-white.svg") no-repeat;
  padding:20px 0;
  background-size:1200px;
  h3 {
    color:#242424;
    text-transform: uppercase;
  }
}

.popular-download-box {
  background:white;
  padding:20px;
  border:1px solid #DEDEDE;
  margin-bottom: 20px;
  .button {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
  }
  h4 {
    font-size: 17px;
    min-height:60px;
  }
  p {
    margin: 0;
    color:black;
    text-align: center;
  }
  small {
    text-align: center;
    display: block;
  }
}
