.events-control {
  float:left;
  margin-bottom: 20px;
  input[type] {
    padding:8px;
    font-size: 13px;
    &.datepicker {
      // @extend .icons-calendar;
      width:177px;
      margin:0 0 0 3px;
      display:inline;
      padding-right:10px;
      background-clip: content-box;
      background-origin:content-box;
      text-indent: 20px;
      background-color: white;
      &:first-child {
        margin-right:3px;
      }
    }
  }
}

.events-filter {
  p {
    font-size: 12px;
  }
}

.events-actions {
  text-align: right;
  .button {
    margin:5px 0 0 5px;
  }
}

h2.divider.month-heading {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0;
}


.event {
  margin-bottom: 20px;
  border:1px solid $grey;
  overflow: hidden;
  .button {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    
    i {
      margin-left: 5px;
    }
  }
  .event-body {
    padding:10px;
    float: left;
    width: 100%;
    position: relative;

  .red-hat-event {
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 5px;
    background: cdn("../images/icons/redhat.png") no-repeat 20%;
    width:100%;
    clear: both;
    margin: 0;
    i {
      margin-right: 10px;
    }
  }}
  h3 {
    font-size: emCalc(18);
    color:$dark-blue;
    margin: 0;
  }
  p {
    font-size: 14px;
  }
}

.event-date {
  width:70px;
  height:70px;
  background:$dark-red;
  float:left;
  text-align: center;
  color:$med-blue;
  padding:5px;
  color:white;
  font-weight: 800;
  text-transform: uppercase;
  border:1px solid white;
  margin-left: 10px;
  position: absolute;
  top: 10px;
  &.multiday {
    padding-top: 15px;
    span[class] {
      display: inline;
      font-size: 12px;
      font-weight: 800;
    }
    &.start {
      display: block;
    }
    span.end {
      display: block;
    }
    .same-month {
      position: relative;
      top: -3px;
      span {
        &.month {
          display: block;
          font-size: 16px;
          font-weight: 200;
          margin-bottom: 3px;
        }
        &.day {
          font-size: 18px;
        }
        &.end-day {
          display: inline !important;
          font-size: 18px;
        }
      }
    }
    span.end {
      &.same-month {
        display: none;
      }
    }
  }
  span {
    display: block;
    clear:both;
    width:100%;
    font-size: 18px;
    line-height:1;
    &.end {
      display: none;
    }
    &.days {
      font-size: 18px;
      padding-top: 6px;
    }
    &.day {
      font-size: 36px;
      font-weight: 800;
    }
    &.month {
      font-size: 16px;
      padding-top: 5px;
    }
  }
  span.end-day {
    display: none !important;
  }
}

.event-head {
  overflow: hidden;
  position: relative;
  min-height: 89px;
  background-color: #e6e7e8;
  img {
    width: 100%;
  }
}

.event-body {
  padding:10px;
}

h4.events-header.divider {
  float: left;
  width:100%;
  margin:20px 0 30px 0;
}

@include mobile-landscape-and-down {
  ul.events {
    li {
      width:100%;
    }
  }
}

// Coming Soon Modal
.reveal-modal.coming-soon h3,
.reveal-modal.coming-soon h4 {
   text-align: center;
   line-height: 1;
   margin-bottom:0;
}

.hero.hero-events {
  background: cdn('../images/design/RHDev_pageheader_events_desktop.png') top center / cover no-repeat;
  content : ':4242';
  border:0;
  min-height: 240px;
  margin-bottom: 0;

  h2 {
    color:white;
    font-size: 5em;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  @include tablet-portrait-and-down {
    background: cdn('../images/design/RHDev_pageheader_events_tablet.png') top center / cover no-repeat;
    min-height: auto;
    h2 {
      margin-top: 10px;
    }
  }
  @include mobile-landscape-and-down {
    background: cdn('../images/design/RHDev_pageheader_events_mobile.png') top center / cover no-repeat;
  }
  p {
    color: white;
    font-size: 20px;
  }
  .row {
    @extend .flex-center;
  }
}

// Makes height of events equal in each row using Flexbox
.events-listing {
  margin-top:20px;
  margin-left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.event-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em;
  width: 25%;
}

@include tablet-landscape-and-down {
  .event-item{
    width: 50%;
  }
}

@include mobile-landscape-and-down {
  .event-item{
    width: 100%;
  }
}

.event {
  display: flex;
  flex-direction: column;
  .button {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 92%;
    margin-bottom: 10px;
  }
}

.event-body {
  flex-grow: 1;
  position: absolute;
  bottom: 0;
  p {
    padding-bottom: 25px;
  }
}
