form.contact-form {
  label {
    width:20%;
    float:left;
    text-align: right;
    padding:15px;
    margin:0;
  }
  input, textarea {
    width:80%;
    float:left;
  }
  textarea {
    height:200px;
  }
}

span.prefix.radius, label.prefix.radius, span.postfix.radius, label.postfix.radius {
height: 2.5em;
font-size: 1em;

  .error {
  border-color: #c60f13;
  }
}

form.side-by-side {
  label {
    display: block;
    width:20%;
    float: left;
    margin: 0;
    padding:0.925em 1em 0.925em 0;
    color:$grey-5;
    font-weight: 600;
    text-align: right;
  }
  input[type=text],input[type=email], select, textarea {
    width:80%;
    float: left;
  }
  textarea {
    height:150px;
  }
}
