.hero.hero-forums {
  background: url('http://static.jboss.org/images/rhd/headers/RHDev_pageheader_forums_desktop.png') top center / cover no-repeat;
  content : ':4242';
  border:0;
  min-height: 205px;
  margin-bottom: 20px;

  h2 {
    color:white;
    font-size: 5em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  p {
    color: white;
    font-size: 1.1em;
    margin: 20px 0;
    max-width: 350px;
    a, a:active, a:focus, a:hover{
      color: white;
    }
  }
  @include tablet-landscape-and-down {
    background: url('http://static.jboss.org/images/rhd/headers/RHDev_pageheader_forums_tablet.png') top center / cover no-repeat;
    min-height: auto;
    h2 {
      margin-top: 10px;
    }
    p {
      margin: 0 15px 20px 15px;
      max-width: 100%;
    }
  }
  @include mobile-landscape-and-down {
    background: url('http://static.jboss.org/images/rhd/headers/RHDev_pageheader_forums_mobile.png') top center / cover no-repeat;
    h2 {
      font-size: 3em;
    }
  }
  .row {
    @extend .flex-center;
  }
}

.forums-product-categories {
  .product-category{
    .category-label {
      background-color: $grey-6;
      padding: 10px;
      margin-bottom: 15px;
      h4 {
        color: $white;
        margin-bottom: 0;
      }
    }
    .development-tool {
      border-bottom: 1px solid $grey-3;
      margin: 25px auto;
      i {
        float: left;
        margin-right: 10px;
      }
    }
    .development-tool:last-child{
      border-bottom: none;
    }
  }
}

ul.product-forums {
  li {
    margin-top: 1.2em;
    margin-bottom: 20px;
    list-style: none;
    padding-bottom: 5px;
    border-bottom: 1px solid $grey-2;
    min-height: 84px;
    break-inside: avoid-column;
    &:before {
      display: none;
    }
  }
  h5 {
    margin-bottom: 0;
  }
  a {
    color: #46a1da;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px !important;
  }
  &.multi-column {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    li {
      margin-top: 0;
    }
  }
}