form.contact-form {
  label {
    width:20%;
    float:left;
    text-align: right;
    padding:15px;
    margin:0;
  }
  input, textarea {
    width:80%;
    float:left;
  }
  textarea {
    height:200px;
  }
}

span.prefix.radius, label.prefix.radius, span.postfix.radius, label.postfix.radius {
height: 2.5em;
font-size: 1em;

  .error {
  border-color: #c60f13;
  }
}