.get-involved-banner {
  @extend .get-involved-bg;
  background-size:cover;
  color:white;
  padding:20px;
  padding-top: 120px;
  border-radius:$global-radius;
  margin-bottom: 20px;
  h2 {
    color:white;
    margin: 0;
    font-size: emCalc(48px);
  }
  h3 {
    color:white;
    margin: 0;
    max-width:600px;
    font-size: emCalc(30px);

  }
  .button {
    float: right;
    margin-top: -50px;
  }
}

.get-involved-label {
  background:$grey-2;
  padding:10px;
  margin-bottom: 10px;
  p {
    margin: 0;
  }
  p.title {
    font-size: emCalc(24);
    margin: 0;
  }
  p.name {
    font-size: emCalc(18);
    margin: 0;
  }
}

li.get-involved-person {
  img {
    width:100%;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    i {
      color:$grey-4;
      margin-left: 3px;
    }
  }
  blockquote {
    border:0;
    padding:0;
    font-size: emCalc(22);
    color:black;
    margin-bottom: 10px;
    &:before {
      content: "\f10d";
      font-family: 'FontAwesome';
      color:$grey-4;
      margin-right: 3px;
    }
    &:after {
      content: "\f10e";
      font-family: 'FontAwesome';
      color:$grey-4;
      margin-left: 3px;
    }
  }
}

.recommended-links {
  margin-bottom: 10px;
}


@include tablet-portrait-and-down {
  .get-involved-banner {
    .button {
      float:none;
      width:100%;
      margin-top:20px;
    }
  }
}
