.get-started-items {
  margin-bottom: 30px;
  position: relative;
  background:cdn("../images/design/get-started/bg.png") bottom center no-repeat;
  min-height:250px;
  span.line {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    background:cdn("../images/design/greypx.jpg") center repeat-x;
    margin-top:10px;
    margin-bottom:10px;
    span {
      background:white;
      padding:0 10px;
      color:$grey-5;
    }
  }
  h4 {
    text-transform: uppercase;
    color:$med-green;
    text-align: center;
  }
  &>div {
    text-align: center;
  }
}

.extra-installation-instructions {
  & ol {
    margin-left: 0;
  }
}


a.get-started-example {
  background:cdn("../images/design/get-started/bg-squares.jpg");
  background-size:cover;
  display: inline-block;
  width:37.5%;
  // margin: 0 7.5%;
  border:3px solid white;
  font-weight: 600;
  padding:4px;
  padding:20px 10px;
  line-height: 2;
  text-align: center;
  color:white;
  margin-top: 10px !important;
  &:first-child {
    margin:0 2.5% 0 10%;
  }
  &:last-child {
    margin:0 10% 0 2.5%;
  }
  &:hover {
    color:white;
  }
}


a.get-started-quickstart.button {
  font-size: emCalc(14);
  background:$med-blue;
  width:80%;
  margin:0 auto;
  padding:5px;
  margin-bottom: 10px;
  display: block;
  clear:both;
}

.get-started-item {
  h3 {
    margin: 0;
  }
  padding-top: 20px;
}



// Get Started Individual Pages (For BOM, Archetype, Quickstarts....)

.gsi-meta {
  background:$grey-1;
  padding:12px;
  border:1px solid $grey-2;
  border-radius: $global-radius;
  overflow: hidden;
  margin-bottom: 20px;
  ul {
    li {
      width:33.33%;
      float:left;
      list-style:none;
      strong {
        margin-right: 3px;
      }
      a + a {
        margin-left: 5px;
      }
    }
  }
}

ul.toc {
  margin: 0;
  width: 100%;
}
.gsi-nav-fixed {
  position: fixed;
  top:0;
  padding-top: 20px;
  width: 11%;
  max-width: 180px;
  min-width: 125px;
}

.gsi-nav {
  li {
    list-style:none;
    padding-bottom:10px;

    a.past-block:last-child {
      color:#a5ab36;
    }

    a {
      &:after {
        content: "\f054";
        font-size: 10px;
        margin-left: 5px;
        font-family: 'FontAwesome';
      }
    }
  }
}

.gsi {
  h3 {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: 100;
  }


  ol li, ul li {
    margin-left: 2em;
  }

}

@include tablet-portrait-and-down {
  .gsi-nav-fixed {
    position: relative; // on mobile we don't want a fixed nav
  }

}

@include tablet-landscape-and-down {
  .get-started-items {
    background:none;
    a.get-started-example {
      width: 100%;
      background:cdn("../images/design/get-started/bg-squares.jpg");
      background-size:cover;
    }
  }
}

@include mobile-landscape-and-down {
  ul.cta-blocks {
    li {
      width:100%;
      padding:15px;
      p {
        min-height:0;
      }
    }
  }
}

// Getting Started Download Thank you

.downloadthankyou {
  background-color: #e2f1f5;
  padding: 2em 2em 1em 2em;
  color: $grey-6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid $med-blue;
  margin-bottom: 2em;

  .thankyouclose {
    float:right;
    margin-right: -1em;
    margin-top: -1.5em;
    a {
      color: $grey-6;
      &:before {
        font-family: 'FontAwesome';
        content: "\f00d";
      }
    }
  }
  .thankyoupanels{
    i{
      text-align: center;
      color: #94aebd;
      margin-left: 15px;
      margin-top: 5px;
    }
    p{
      margin-left: -1em;
    }
  }

  h2 {
    font-size: emCalc(28);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
  }
  h3 {
    font-size: emCalc(20);
  }
  p {
    margin-bottom: 0;
  }
}

// Ticket Monster demo styles
.ticket-monster-items {
  // @extend .get-started-ticket-monster-bg !optional;
  margin-bottom: 30px;
  position: relative;
  min-height:200px;
  border-radius: $global-radius;
  padding: 30px;

  p {
	font-size: 1.5em;
    text-transform: uppercase;
    color:$white;
	text-shadow: 1px 1px 1px $black;
  }
}

.ticket-monster-links{
  a i{color: #424242;}
}

#new-rating, #your-rating, #avg-rating {display:none;}
#rating-section {padding-top:1em;}

// NEW GET STARTED - BLUE BOXES STYLES
.multipath-tabs-sm {
  margin-bottom: 15px;
  padding-left: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #BDBDBD;
  ul {
    li:before {
      display: none;
    }
    li {
      max-width: 100px;
      display: inline;
      margin-right: 10px;
      padding: 15px 20px 15px 10px;
      &.active {
        border: 1px solid #BDBDBD;
        border-bottom-color: $white;
        a {
          padding-bottom: 4px;
          border-bottom: 3px solid $red;
        }
      }
      a {
        font-size: 1em;
      }
    }
  }
}
@include tablet-portrait-and-down {

  .multipath-tabs-sm ul li{
    display: block;
    max-width: 100%;
    text-align: right;
    height: 30px;
    border: none;
    border-right: 4px solid #e6e7e8;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    padding-top: 0;
    &.active {
      border: none;
      border-right: 4px solid #cc0000;
      a {
        border-bottom: none;

      }
    }
    a {
      vertical-align: -webkit-baseline-middle;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.125rem;
      color: #1a1a1a;
      text-align: right;
    }
  }
}

#get-started h2{
  margin-bottom: 1rem;
}

#get-started-instructions {
  .gs-prerequisites h4 p, .gs-faq h4 p {
    font-weight: 800;
    color: #252527;
    font-size: 1.4375rem;
    margin-bottom: .5rem;
  }
  .gs-prerequisites ol {
    margin-bottom: 2.25rem;
    p {
      margin-bottom: 0;
    }
  }
  .step-cards {
    margin-bottom: 20px;
  }
  .card {
    background-color: #3999cb;
    color: $white;
    border: none;
    -webkit-transition: color 0.5s ease,background 0.5s ease,border-color 0.5s ease;
    -o-transition: color 0.5s ease,background 0.5s ease,border-color 0.5s ease;
    transition: color 0.5s ease,background 0.5s ease,border-color 0.5s ease;
    height: 95%;
    h4 {
      color: $white;
    }
    .tabs-content {
      margin: 0;
      padding: 0;
      width: 100%;
      .content {
        padding: 0;
      }
    }
    @include tablet-landscape-and-down {
      h4 {
        padding-top: 15px;
      }
    }
    i {
      float: right;
      font-size: .9rem;
    }
    .paragraph, .paragraph p {
      display: inline-block;
      font-size: .9rem;
      margin-bottom: 0;
      font-family: "Overpass", "Open Sans", Helvetica, sans-serif;
    }
    &:hover {
      background-color: #2d7195;
      .step-num {
        color: #3999cb;
      }
      .paragraph, .paragraph p, h4, i {
        color: #a3dbe8;
      }
    }
    .step-duration {
      position: relative;
      top: 20px;
    }
  }
.step2 {
  padding: 0; 
  width: 100%; 
  .step2-title {
    padding: 0;
    .tabs-content {
      padding: 0;
      margin: 0;
      .content {
        padding: 0;
      }
    }
  }
 } 
  .step-header {
    background-color: #3999cb;
    color: $white;
    border: none;
    padding: 5px 15px;
    margin: 20px 0;
    h4 {
      color: $white;
      margin-bottom: 0;
      display: inline-block;
    }
    .duration {
      display: inline;
      font-size: .9rem;
      margin-left: 10px;
      bottom: 2px;
      position: relative;
      color: #aae3ec;
      .paragraph, .paragraph p {
        display: inline;
        font-size: .9rem;
        font-family: "Overpass", "Open Sans", Helvetica, sans-serif;
      }
    }
  }
  .step-num {
    color: #aae3ec;
    display: inline;
    margin-right: 5px;
  }
  ul, ol {
    margin-top: 15px;
    li p, li p{
      margin-bottom: 5px;
      margin-left: 1em;
    }
  }
  .get-started-content img {
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 540px;
  }
  .content-img-sm img {
    max-width: 300px;
  }
  .content-img-xs img {
    max-width: 35px;
    margin: 0;
  }
  table {
    width: 100%;
  }
  #MoreResources {
    border: 5px solid #e6e7e8;
    padding: 1.5rem;
    margin: 3rem 0;
    ul li:before{ 
      display: none;
    }
  }
  mark {
    background: transparent;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
  }

  h4 p, .card h4 > .paragraph p {
    font-size: 1.4375rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0;
  }
}

.collapsable {
  input#stepOne, input#stepTwo, input#stepThree, input#stepFour {
    display: none;
    visibility: hidden;
  }

  .collapse-icon{
    display: inline-block;
    float: right;
    &:before{
      font-family: 'FontAwesome';
      font-size: 1.8em;
      color: $white;
      content: "\f107";
    }
  }

  input[type="checkbox"] + label, input[type="radio"] + label {
    width: 100%;
    margin: 0;
  }

  #expandStepOne, #expandStepTwo, #expandStepThree, #expandStepFour {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
  }

  #stepOne:checked ~ label, #stepTwo:checked ~ label, #stepThree:checked ~ label, #stepFour:checked ~ label {
    .collapse-icon{
      display: inline-block;
      float: right;
      &:before{
        font-family: 'FontAwesome';
        font-size: 1.8em;
        color: $white;
        content: "\f106";
      }
    }
  }
  #stepOne:checked ~ #expandStepOne, #stepTwo:checked ~ #expandStepTwo, #stepThree:checked ~ #expandStepThree,  #stepFour:checked ~ #expandStepFour {
    height: auto;
  }
  .tabs-content {
    margin-left: 0;
    width: 100%;
  }
}

.download-completed {
  .collapse-icon:before{
    color: #424242 !important;
  }

  .step-header {
    background-color: #d5d5d5 !important;
    h2, h4, i, p, .step-num {
      color: #afb1b2 !important;
    }
  }
  .step-num:before{
    font-family: 'FontAwesome';
    color: #424242;
    font-size: 1em;
    content: "\f058";
    z-index: 9999;
    margin-right: 5px;
  }
  .collapse-icon:before {
    content: "\f106";
  }
  #stepOne:checked ~ label{
    .collapse-icon:before {
      content: "\f107";
    }
  }
  #stepOne:checked ~ #expandStepOne {
    height: 0;
  }
  #expandStepOne {
    height: auto;
  }
}

.download-completed-box a{
  background-color: #d5d5d5 !important;
  h2, h4, i, p, .step-num {
    color: #afb1b2 !important;
  }
  .fa-check-circle {
    color: $white !important;
  }
}

.download-completed-box:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'FontAwesome';
  color: #424242;
  padding: 25% 45%;
  font-size: 5em;
  content: "\f058";
  z-index: 9999;
}

#get-started-instructions.four-steps{
  img {
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 540px;
  }
  .card {
    padding: 22px 15px;
    min-height: 166px;
    .step-num {
      font-size: 35px;
    }
  }
}

.lang-tabs {
  .tabs.vertical {
    width: 100%;
    max-width: none;
  }
  ul li {
    height: 30px;
    border-right: 4px solid #e6e7e8;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    &:before {
      display: none;
    }
    &.active, &:focus, &:hover, &:active {
      border-right: 4px solid $red;
    }
    a {
      vertical-align: -webkit-baseline-middle;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.125rem;
      color: #1a1a1a;
      text-align: right;
    }

  }
}
.tabs-content.rhel-tabs-cont{
  width: 100%;
  margin: 0;
  min-height: 300px;
  .recommended {
    p, em, strong {
      font-size: 105%;
    }
    em.red {
      color: $red;
    }
  }
  .tc-button {
    margin-top: 15px;
    a{
      background: #cc0000;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      border: 0;
      font-size: 15px;
      font-weight: 600;
      padding: 9px 40px;
      transition: background .2s ease-in 0s;
      color: $white;
      display: block;

      &:hover, &:active, &:focus {
        background: #AD0000;
      }
    }
  }
  .tc-link {
    margin-top: 15px;
    text-align: center;
  }
}
.tabs-content.full-width-content {
  width: 100%;
  margin-left: 0;
  img {
    max-width: 600px;
  }
}

@include mobile-landscape-and-down {
  #get-started-instructions {
    ul li p, ol li p {
      word-wrap: break-word;
    }
  }
  .product-updates iframe {
    max-width: 100%;
  }
  .tabs-content.full-width-content img{
    width: 100%;
  }
}
@include tablet-landscape-and-down {
  .get-started-content img{
    width: 100%;
  }
}
