.get-started-items {
  position: relative;
  background:url(../images/get-started-bg.png) bottom center no-repeat;
    min-height:250px;
  span.line {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    background:url(../images/greypx.png) center repeat-x;
    span {
      background:white;
      padding:0 10px;
      color:$grey-5;
    }
  }
  h4 {
    text-transform: uppercase;
    color:$med-green;
    text-align: center;
  }
  &>div {
    text-align: center;
  }
}

.get-started-content {
  padding-top: 40px;
  p {
    margin:0;
  }
  .button {
    font-size: emCalc(28);
    font-weight: 100;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0;

  }
}

a.get-started-example {
  display: block;
  width:37.5%;
  // margin: 0 7.5%;
  float:left;
  border:3px solid white;
  font-weight: 600;
  padding:4px;
  background:url(../images/bg-squares.png);
  background-size:cover;
  padding:20px 10px;
  line-height: 2;
  text-align: center;
  color:white;
  &:first-child {
    margin:0 2.5% 0 10%;
  }
  &:last-child {
    margin:0 10% 0 2.5%;
  }
  &:hover {
    color:white;
  }
}


a.get-started-quickstart.button {
  font-size: emCalc(14);
  background:$med-blue;
  width:50%;
  margin:0 auto;
  padding:10px;
  margin-bottom: 10px;
  display: block;
  clear:both;
}

.get-started-item {
  h3 {
    margin: 0;
  }
  padding-top: 20px;
}



// Get Started Individual Pages (For BOM, Archetype, Quickstarts....)

.gsi-meta {
  background:$grey-1;
  padding:12px;
  border:1px solid $grey-2;
  border-radius: $global-radius;
  overflow: hidden;
  margin-bottom: 20px;
  ul {
    li {
      width:33.33%;
      float:left;
      list-style:none;
      strong {
        margin-right: 3px;
      }
      a + a {
        margin-left: 5px;
      }
    }
  }
}