.get-started-items {
  margin-bottom: 30px;
  position: relative;
  background:cdn("../images/design/get-started/bg.png") bottom center no-repeat;
  min-height:250px;
  span.line {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    text-align: center;
    background:cdn("../images/design/greypx.jpg") center repeat-x;
    margin-top:10px;
    margin-bottom:10px;
    span {
      background:white;
      padding:0 10px;
      color:$grey-5;
    }
  }
  h4 {
    text-transform: uppercase;
    color:$med-green;
    text-align: center;
  }
  &>div {
    text-align: center;
  }
}

.extra-installation-instructions {
  & ol {
    margin-left: 0;
  }
}

.get-started-content {
  padding-top: 15px;
  text-align: center;
  p {
    margin:0;
  }
  .button {
    font-size: emCalc(28);
    font-weight: 100;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 0;

  }
}

a.get-started-example {
  background:cdn("../images/design/get-started/bg-squares.jpg");
  background-size:cover;
  display: inline-block;
  width:37.5%;
  // margin: 0 7.5%;
  border:3px solid white;
  font-weight: 600;
  padding:4px;
  padding:20px 10px;
  line-height: 2;
  text-align: center;
  color:white;
  margin-top: 10px !important;
  &:first-child {
    margin:0 2.5% 0 10%;
  }
  &:last-child {
    margin:0 10% 0 2.5%;
  }
  &:hover {
    color:white;
  }
}


a.get-started-quickstart.button {
  font-size: emCalc(14);
  background:$med-blue;
  width:80%;
  margin:0 auto;
  padding:5px;
  margin-bottom: 10px;
  display: block;
  clear:both;
}

.get-started-item {
  h3 {
    margin: 0;
  }
  padding-top: 20px;
}



// Get Started Individual Pages (For BOM, Archetype, Quickstarts....)

.gsi-meta {
  background:$grey-1;
  padding:12px;
  border:1px solid $grey-2;
  border-radius: $global-radius;
  overflow: hidden;
  margin-bottom: 20px;
  ul {
    li {
      width:33.33%;
      float:left;
      list-style:none;
      strong {
        margin-right: 3px;
      }
      a + a {
        margin-left: 5px;
      }
    }
  }
}

ul.toc {
  margin: 0;
  width: 100%;
}
.gsi-nav-fixed {
  position: fixed;
  top:0;
  padding-top: 20px;
  width: 11%;
  max-width: 180px;
  min-width: 125px;
}

.gsi-nav {
  li {
    list-style:none;
    padding-bottom:10px;

    a.past-block:last-child {
      color:#a5ab36;
    }

    a {
      &:after {
        content: "\f054";
        font-size: 10px;
        margin-left: 5px;
        font-family: 'FontAwesome';
      }
    }
  }
}

.gsi {
  h3 {
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-weight: 100;
  }


  ol li, ul li {
    margin-left: 2em;
  }

}

@include tablet-portrait-and-down {
  .gsi-nav-fixed {
    position: relative; // on mobile we don't want a fixed nav
  }

}

@include tablet-landscape-and-down {
  .get-started-items {
    background:none;
    a.get-started-example {
      width: 100%;
      background:cdn("../images/design/get-started/bg-squares.jpg");
      background-size:cover;
    }
  }
}

@include mobile-landscape-and-down {
  ul.cta-blocks {
    li {
      width:100%;
      padding:15px;
      p {
        min-height:0;
      }
    }
  }
}

// Getting Started Download Thank you

.downloadthankyou {
  background-color: #e2f1f5;
  padding: 2em 2em 1em 2em;
  color: $grey-6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid $med-blue;
  margin-bottom: 2em;

  .thankyouclose {
    float:right;
    margin-right: -1em;
    margin-top: -1.5em;
    a {
      color: $grey-6;
      &:before {
        font-family: 'FontAwesome';
        content: "\f00d";
      }
    }
  }
  .thankyoupanels{
    i{
      text-align: center;
      color: #94aebd;
      margin-left: 15px;
      margin-top: 5px;
    }
    p{
      margin-left: -1em;
    }
  }

  h2 {
    font-size: emCalc(28);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
  }
  h3 {
    font-size: emCalc(20);
  }
  p {
    margin-bottom: 0;
  }
}

// Ticket Monster demo styles
.ticket-monster-items {
  // @extend .get-started-ticket-monster-bg !optional;
  margin-bottom: 30px;
  position: relative;
  min-height:200px;
  border-radius: $global-radius;
  padding: 30px;

  p {
	font-size: 1.5em;
    text-transform: uppercase;
    color:$white;
	text-shadow: 1px 1px 1px $black;
  }
}

.ticket-monster-links{
  a i{color: #424242;}
}

#new-rating, #your-rating, #avg-rating {display:none;}
#rating-section {padding-top:1em;}
