// THESE STYLES WERE PREVIOUSLY IN APP.SCSS =============================================

// body
body {
  background-position:top center;
  background-repeat:repeat-x;
}

// Specific Home Styles
body.home {
  header.main h4 { display: block; }
}

// Search
.search {
  input[type=text] {
    float: right;
    &:focus {
      width:250px;
    }
  }
}

p.sign-in-options {
  color:$grey-7;
  i {
    font-size:emCalc(20);
    margin: 0 2px;
    position: relative;
    top:2px;
  }
}


// Footer
footer.bottom {
  background:$black;
  padding:20px 0 10px 0;
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    margin-top: 15px;
  }
  a {
    color:white;
    &.copyright {
      color: #646464;
      width: 240px;
      cursor: default;
    }
    &.summit-logo {
      margin-right: 20px;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &.quick-links {
      li {
          padding-bottom: 5px;
          margin-right: 38px;
          a {
            font-size: 14px;
            color: white;
            font-weight: 400;
            text-decoration: none;
            i {
              font-size: 13px;
              margin-left: 5px;
            }
          }
        }
      li:first-child {
        margin-left: 0;
      }
    }
  }
  .legal {
    margin-top: 1.5rem;
    ul.inline-list {
      margin-top: 10px;
      & > li {
        margin: 0 0 0 10px;
        a {
          font-size: .75rem;
          color: #858585;
        }
      }
    }
  }
  @include tablet-portrait-and-down {
    .rh-logo{
      max-height: 31px;
    }
    ul {
      &.inline-list li{
        float: none;
        margin-left: 0 !important;
      }
    }
  }
}

ul.footer-nav {
  display: block;
  margin-bottom: 0;
  li.security {
    margin-right: 20px;
  }
}

ul.social-nav {
  list-style: none;
  margin: 0;
  float: right;
  padding: 4px 0 !important;
  li {
    display: inline;
    margin-left: 16px;
    float:none;
    a {
      font-size: 1.1rem;
    }
  }
}
@include tablet-landscape-and-down {
  ul.social-nav {
    float: none;
    margin: 10px 0 !important;
  }
}

p.feedback {
  background:$dark-red;
  text-align: center;
  color:white;
  font-size: 20px;
  font-weight: 600;
  width:35%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
  a {
    font-weight: normal;
    padding:5px;
  }
}



// ============================================ NAVIGATION =============================================

// Main Nav
nav.top-bar {
  margin-bottom: 1.5em;
  margin-bottom: 0;
  @include tablet-portrait-and-down {
    @include transform(translateX(-100%) translateZ(0));
    width: 85%;
    position: absolute;
    top: 0;
    z-index: 99;
    background:$grey-7;
    height:100%;
    padding-top: 20px;
  }
  .row {
    position: relative;
  }
}

// Custom icons
i.jd-redhat:before {
  // @extend .icons-redhat !optional;
  content:"R";
  position: relative;
  color:transparent;
  width:20px;
  display: inline-block;
}

.site-wrapper {
  @include transition(all 0.3s);
  position: relative;
  left:0%;
}

// Footer Nav (this is only shown on mobile)

ul.footer-nav {
  display:none;
  clear:both;
  background:none;
  text-align: right;
  padding:1em;
  li {
    color:$grey-5;
    font-size: 12px;
    display:inline;
    margin-right: 2px;
    &.redhat a {
      // @extend .icons-redhat-logo !optional;
      display: block;
      width:77px;
      height:25px;
      text-indent: -9999px;
      display: block;
      color:transparent;
    }
    a {
      background:none;
      font-size: 12px;
      color:white;
      display:inline;
      font-size: 14px;
      text-decoration: underline;
    }
    &.redhat {
      float: left;
      a {
        text-decoration: none;
      }
    }
  }
  @include tablet-portrait-and-down {
    text-align: center;
    li.redhat, li.security {
      margin: 0;
      text-align: center;
      display: block;
      width:100%;
      float: none;
      a {
        display: inline-block;
      }
    }
  }
}


// FlexBox Layouts
.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  @include tablet-landscape-and-down {
    // stack
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}


// HiDPI Screens

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){

  ul.footer-nav li.redhat a {
    background-image:cdn("../images/icons/redhat-large.png");
    background-size:cover;
    background-position: 0;
  }

}

@include tablet-portrait-and-down {

  header.main {
    h4 {
      display: none;
    }

    h1 {
      text-align: center;
      &.logo {
        font-size: 1.75em;
        padding-left: 20px;
      }
    }
    i.nav-toggle {
      position: absolute;
      top:5px;
      right: 1px;
      display: block;
      z-index: 999;
    }
  }

  .top-bar-section {
    .has-dropdown {
      span.drop-down-arrow:after {
        display:block; // hide until mobile
        // border:inset 10px;
        // border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
        color:white;
        font-size:20px;
        right:0;
        content:"\25BC";
        top:0;
        padding: 10px 10px 20px 20px;
        position: absolute;
        cursor:pointer;
      }
    }
    .social {
      li {
        a {
          background:none;
        }
      }
    }
  }

  .tertiary-nav {
    display: none;
  }

  ul.social {
    margin-top: 20px;
    padding-left: 13px;
  li {
      display: inline;
      a {
        display: inline;

      }
    }
  }

  ul.footer-nav {display: block;}

}

.inline-nav {
  margin: 20px 0 0 0;
  padding: 0;
  @extend .large-24;
  @extend .column;
  li {
    display: inline;
    margin-right: 15px;
    padding-right: 15px;
    border-right:2px solid $grey-5;
    &:last-child {
      border-right:0;
    }
    a {
      color:$grey-5;
      text-transform: uppercase;
      font-size: emCalc(20);
      &:hover, &.current-page {
        color:$dark-blue;
      }
    }
  }
}


// when there are both breadcrumbs and a 3rd level nav
.tertiary-nav + .row .breadcrumbs {
  margin-top: 20px;
}

.overlay {
  background:rgba(0,0,0,0.6);
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: none;
}

body.overlay-open {
  .overlay {
    display:table;
  }
}

.overlay-wrap {
  display: table-cell;
  vertical-align: middle;
}
.overlay-inner {
  max-width:800px;
  padding:20px;
  background:white;
  margin: 0 auto;
  position: relative;
}


.overlay-close {
  position: absolute;
  font-size: 30px;
  top:10px;
  right:10px;
}

// Alert Boxes
.alert-box {
  border:0;
  &.alert {
    background-color:#f0ab00;
  }
  &.success {
    background-color:#92d400;
  }
  &.warning {
    background-color:#cc0000;
  }
  p {
    margin-bottom: 0;
  }
}


@include mobile-landscape-and-down {
  body.overlay-open {
    overflow: hidden;
    .overlay {
      display: block;
      overflow: scroll;
      height:100%;
      -webkit-overflow-scrolling: touch;
      .overlay-wrap {
        display: block;
        .overlay-inner {
          height: 100%;
        }
      }
    }
  }
}
