// THESE STYLES WERE PREVIOUSLY IN APP.SCSS =============================================

// body
body {
  background-position:top center;
  background-repeat:repeat-x;
}

// Specific Home Styles
body.home {
  header.main h4 { display: block; }
  // h1.logo {margin-top: 40px; }
}

h1.logo {
  margin-bottom: 3px;
  font-size: 2.75em;
  padding-left: 5px;
  a {
    font-weight: 100;
    letter-spacing:-2px;
    strong {
    }
  }
}

// Header
header.main {
  h4 {
    font-style:italic;
    color:$dark-blue;
    font-size:emCalc(26);
    font-weight: normal;
    padding-top: 9px;
    padding-bottom: 50px;
    display: none;
  }
}

// Search
.search {
  input[type=text] {
    float: right;
    &:focus {
      width:250px;
    }
  }
}

// Dropdown ------------------------- WHAT IS THIS?? DID WE GET RID OF DROP DOWNS????
.f-dropdown.content {
  width:300px;
  max-width:300px;
  border-radius: $global-radius;
  padding:20px;
  margin-left: -150px;
  margin-top: 10px;
  text-align: left;
  color:$dark-blue;
  border:1px solid $grey-3;
  box-shadow:1px 1px 4px rgba($grey-7,0.3);
  // arrow nub
  &:before {
    left:170px;
  }
  &:after {
    left:169px;
  }
  .inline-list {
    margin-left: 0;
    li {
      line-height: 0.5;
    }
    li:first-child {
      border-right: 1px solid $grey-7;
    }
  }
  h4 {
    font-style: normal;
    margin-bottom: 0;
    color:$dark-blue;
  }
  p {
    margin:0;
    font-size: emCalc(12);
  }
  p.sign-in-options {
    padding:10px 0;
  }
  input[type="submit"] {
    font-size: 16px;
    padding: 2px 17px;
    height: auto;
    margin-bottom: 10px;
  }
}
p.sign-in-options {
  color:$grey-7;
  i {
    font-size:emCalc(20);
    margin: 0 2px;
    position: relative;
    top:2px;
  }
}


// Footer
footer.bottom {
  background:$grey-7;
  ul.footer-nav {
    display: block;
    margin-bottom: 0;
  }
}



// ============================================ NAVIGATION =============================================

// Main Nav
nav.top-bar {
  margin-bottom: 1.5em;
  margin-bottom: 0;
  @include tablet-portrait-and-down {
    left:-85%;
    width: 85%;
    position: absolute;
    top: 0;
    z-index: 99;
    background:$grey-7;
    height:100%;
  padding-top: 20px;
  }
  .row {
    position: relative;
  }
}

/* Hard set of hover state to force background onto social icons */
.top-bar-section li a:not(.button):hover {
  background:$dark-blue;
  color:white;
}

// Navigation Drop Downs

.top-bar-section {
  // Main Nav Elements
  .main-menu {
    li {
      a {
        text-transform: uppercase;
        padding: 5px 20px 4px 20px;
        background:none;
        font-size: 1.375em;
      }
    }
    li:hover {
       ul.dropdown {
        display: block;
        visibility: visible;
      }
    }
  }
  // Social
  .social {
    a {
      color:$grey-4;
      padding-left: emCalc(8);
      background:none;
      padding:3px 7px;
    }
  }
  // Both
  ul {
    background: none;
  }
  // Dropdown
  .has-dropdown > a:after {
    display:none; // hide until mobile
  }
  ul.dropdown {
    border:1px solid $grey-3;
    border-radius:0 0 $global-radius $global-radius;
    overflow: hidden;
    width:auto;
    min-width: 0;
    box-shadow:1px 1px 4px rgba($grey-7,0.3);
    padding:emCalc(5) 0;
    background: #fff;
    li {
      clear:both;
      a {
        font-size: emCalc(15);
        color:$grey-5;
        padding:0.3em 1em;
        width:100%;
        text-transform: none;
      }
    }
  }
}

// sub Nav
.sub-nav {
  position: absolute;
  right:0;
  top:-55px;
  overflow: visible;
  padding-right: 110px;
  dd {
    float:right; // flip everything around
  }
  dd.home-link {
    display: none;
  }
  a.logged-in-name {
    display: none;
    img {
      position: relative;
      margin-right: 5px;
      margin-top: -6px;
      top: -2px;
    }
  }
  dd.login {
    padding-right: 20px;
    margin-right: 10px;
  }
  dd.login, dd.register {
    line-height: 1;
    a {
      // font-size: 1.2em;
      font-size: 1.1em;
    }
  }
  dd.search-wrapper {
    position: relative;
    top:-18px;
    margin-left: 20px;

  }
  @include tablet-portrait-and-down {
    top:0;
    position: relative;
  }
}

// Custom icons
i.jd-redhat:before {
  @extend .icons-redhat;
  content:"R";
  position: relative;
  color:transparent;
  width:20px;
  display: inline-block;
}

// Mobile Slide out
body.nav-open {
  header.main h1.logo {
    visibility: hidden; // hide the logo so it doesn't overlap the X
  }
  @include tablet-portrait-and-down {
    overflow-x:hidden;
    .site-wrapper {
      // left: 85%;
      @include transform(translateX(85%) translateZ(0));
    }
    i.nav-toggle {
      right:auto;
      // left:45px;
      left: 15%;
      margin-left: -43px;
      top:1px !important;
      &:before {
        content: '×';
        font-size: 4em;
        line-height: 0.6em;
      }
    }
    nav.top-bar {
      // This allows for a consistent close button area
      // regardless of device width
      // margin-left: -60px;
      // padding-left: 60px;
      // width:100%;
    }
    .sub-nav {
      top:0;
    }
  }
}
.nav-toggle {
  &:before {
    display: block;
    content: "\f0c9";
    font-size:emCalc(40);
    width: 40px;
    height: 40px;
    speak:none;
    font-family: 'FontAwesome';
    font-style:normal;
  }
  display: none;
}

.site-wrapper {
  @include transition(all 0.3s);
  position: relative;
  left:0%;
}

// Sub Nav
.sub-nav {
  float: right;
  margin-bottom: 10px;
  top: -45px;
  i {
    margin-right: 6px;
  }
}

// Footer Nav (this is only shown on mobile)

ul.footer-nav {
  display:none;
  clear:both;
  background:none;
  text-align: right;
  padding:1em;
  li {
    color:$grey-5;
    font-size: 12px;
    display:inline;
    margin-right: 2px;
    &.redhat a {
      @extend .icons-redhat-logo;
      display: block;
      width:77px;
      height:25px;
      text-indent: -9999px;
      display: block;
      color:transparent;
    }
    a {
      background:none;
      font-size: 12px;
      color:white;
      display:inline;
      font-size: 14px;
      text-decoration: underline;
    }
    &.redhat {
      float: left;
      a {
        text-decoration: none;
      }
    }
  }
}

@include tablet-portrait-and-down {

  header.main {
    h4 {
      display: none;
    }
    h1 {
      text-align: center;
      &.logo {
        font-size: 1.75em;
        padding-left: 20px;
      }
    }
    i.nav-toggle {
      position: absolute;
      top:5px;
      right: 1px;
      display: block;
      z-index: 999;
    }
  }

  .top-bar-section {
    .has-dropdown > a:after {
      display:block; // hide until mobile
      border:inset 10px;
      border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
      right:20px;
      top:25px;
      // @include transition(transform 0.2s);
    }
  }

  .top-bar-section {
    .main-menu {
      border-bottom:1px solid $grey-6;
      li {
        border-top:1px solid $grey-6;
        &.current-item {
          a {
            border-left: 5px solid $medium-orange;
          }
        }
        a {
          color:white;
          padding:12px 20px;
          line-height: 1;
          &:hover {
            background: none;
          }
        }
        // Open state
        &.sub-nav-open {
          background:$grey-8;
          ul.dropdown {
            visibility: visible;
            display: block !important;
            height:auto;
            max-height:500px;
          }
          // Flip the array
          &.has-dropdown a:after {
            @include transform(rotate(180deg));
            top:13px;
          }
        }
        &:hover {
          ul.dropdown {
            // display: none; // hide the dropdown on 'hover'
          }
        }
      }
      /*
        Down / Active State
        Disabled because its too jarring of an experience
      */
      // &:active {
      //   li {
      //     a {
      //       color:$grey-5;
      //     }
      //   }
      //   &>li {
      //    &>a {
      //       background:blue;
      //       @include background-image(linear-gradient(#353535, #424242));
      //     }
      //   }
      // }
    }

    // Mobile Dropdown
    ul.dropdown {
      display: block;  // display none so it doesn't make up any visual room
      visibility: visible;
      position: relative;
      left:0;
      background:0;
      border:0;
      padding:0 10px;
      max-height: 0;
      @include transition(all 1s);
      li {
        a {
          font-size: inherit;
          color:white;
          font-size: emCalc(24);
          font-weight: 600;
        }
      }
    }
  }


  dl.sub-nav {
    width:100%;
    padding:emCalc(18);
    padding-bottom: 0;
    margin-bottom: 10px;
    dd.home-link {
      display: block;
      float: left;
      margin:0;
      font-size: 25px;
      width:10%;
    }
    dd.search-wrapper {
      clear:none;
      width:85%;
      float: right;
      margin:10px 0 20px 0;
      top:-5px;
      input {
        width:100%;
        background:$grey-6;
        border:0;
        @include input-placeholder {
          color:white;
        }
        &:focus {
          width: 100%;
          box-shadow: none;
          border:0;
          outline:0;
          color:white;
        }
      }
    }
    dd.register {
      float: right;
    }
    dd.login {
      margin-left: 0;
      float: left;
      border-right:0;
    }
    dd.register, dd.login {
      a {color:white; }
    }
    a {
      font-size: emCalc(20px);
    }
  }

  ul.social {
    margin-top: 20px;
    padding-left: 13px;
  li {
      display: inline;
      a {
        display: inline;

      }
    }
  }

  ul.footer-nav {display: block;}

}

.inline-nav {
  li {
    display: inline;
    margin-right: 15px;
    padding-right: 15px;
    border-right:2px solid $grey-5;
    &:last-child {
      border-right:0;
    }
    a {
      color:$grey-5;
      text-transform: uppercase;
      font-size: emCalc(20);
      &:hover, &.current-page {
        color:$dark-blue;
      }
    }
  }
}
