// THESE STYLES WERE PREVIOUSLY IN APP.SCSS =============================================

// body
body {
  background-position:top center;
  background-repeat:repeat-x;
}

// Specific Home Styles
body.home {
  header.main h4 { display: block; }
}

// Search
.search {
  input[type=text] {
    float: right;
    &:focus {
      width:250px;
    }
  }
}

p.sign-in-options {
  color:$grey-7;
  i {
    font-size:emCalc(20);
    margin: 0 2px;
    position: relative;
    top:2px;
  }
}


// Footer
footer.bottom {
  background: #1a1a1a;
  padding: 0 0 10px 0;
  z-index: 0;

  .footer-links { background-color: #252525; }
  .footer-links > .row { background-color: $red; }

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    margin: 15px 0 20px 0;
  }
  a {
    color:white;
    text-decoration: underline;
    &.summit-logo {
      margin-right: -15px;
      float: right;
    }
    &.devnation-logo { float: right; }
  }
  p {
    line-height: 1.5;
    font-size: .9em;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    &.inline-list {
      li:first-child {
        margin-left: 0;
      }
    }
    &.quick-links {
      margin-bottom: 20px;
      li {
          padding-bottom: 10px;
          margin-right: 38px;
          a {
            font-size: 14px;
            color: white;
            font-weight: 400;
            text-decoration: none;
            i {
              font-size: 13px;
              margin-left: 5px;
            }
            &:hover, &:active, &:focus { text-decoration: underline; }
          }
        }
    }
  }
  .legal {
    margin: 10px 0 5px 0;
    ul.inline-list {
      margin-top: .6em;
      & > li {
        margin: 0 0 0 10px;
        a {
          font-size: 14px;
          color: #858585;
          display: inline;
          &.copyright {
            width: 220px;
            cursor: default;
            text-decoration: none;
            margin-right: 3em;
          }
        }
      }
      li:nth-of-type(2), li:nth-of-type(3) {
        &:after {
          content: '|';
          margin: 0 10px;
          display: inline-block;
        }
      }
    }

  }

  .rhdp-info {
    background-color: $red;
    color: $white;
    padding: 20px 30px 30px 30px;
    min-height: 225px;
    a { text-decoration: underline;}
  }

  #collapseFooter {
    padding-top: 1.2em;
    background-color: #252525;
    min-height: 245px;
  }

  .section-toggle { 
    cursor: text;
    pointer-events: none;
  }

  .section-content {
    max-height: 300px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }

  .collapsible-section.collapsed .section-toggle ~ .section-content { max-height: 0px; }
  .section-toggle .toggle-icon { display: none; }
  
  ul.social-nav {
    list-style: none;
    margin: 0;
    float: right;
    padding: 4px 0 !important;
    li {
      display: inline;
      margin-left: 16px;
      float:none;
      &:first-child { margin-left: 0; }
      a { font-size: 1.1rem; }
    }
  }

  @include desktop-and-down {
    .collapsible-section { width: 100%; }
    .rh-logo { max-height: 31px; }
    
    .section-toggle {
      pointer-events: all;
      cursor: pointer;
      .toggle-icon {
        width: 16px;
        display: inline-block;
        margin-right: 5px;
        &:before {
          font-family: 'FontAwesome';
          content: '\f078';
        }
      }
    }

    .collapsible-section.collapsed .section-toggle .toggle-icon:before { content: '\f054'; }

    ul.quick-links { margin-left: 25px; }
    
    ul.inline-list {
      margin: 15px 0;
      li {
        float: none;
        margin-left: 0 !important;
        margin-bottom: 15px;
        display: inline;
      }
    }
    .legal ul.inline-list { margin-top: 0; }
    .legal a.summit-logo { margin-right: 0; }
  }
  @include tablet-landscape-768-and-down {
    ul.inline-list { margin-top: .6em; }
    #collapseFooter { min-height: 200px; }
    a.summit-logo {
      float: none;
    }
  }
  @include mobile-portrait-and-down {
    ul.inline-list li:nth-of-type(1) { display: block; }
  }
}

p.feedback {
  background:$dark-red;
  text-align: center;
  color:white;
  font-size: 20px;
  font-weight: 600;
  width:35%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -20px;
  a {
    font-weight: normal;
    padding:5px;
  }
}

// ============================================ NAVIGATION =============================================

// Main Nav
nav.top-bar {
  margin-bottom: 1.5em;
  margin-bottom: 0;
  @include tablet-landscape-768-and-down {
    @include transform(translateX(-100%) translateZ(0));
    width: 85%;
    position: absolute;
    top: 0;
    z-index: 99;
    background:$grey-7;
    height:100%;
    padding-top: 20px;
  }
  .row {
    position: relative;
  }
}

// Custom icons
i.jd-redhat:before {
  // @extend .icons-redhat !optional;
  content:"R";
  position: relative;
  color:transparent;
  width:20px;
  display: inline-block;
}

.site-wrapper {
  @include transition(all 0.3s);
  position: relative;
  left:0%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// FlexBox Layouts
.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  @include desktop-small-and-down {
    // stack
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
  }
}


// HiDPI Screens

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){

  ul.footer-nav li.redhat a {
    background-image:cdn("../images/icons/redhat-large.png");
    background-size:cover;
    background-position: 0;
  }

}

@include tablet-landscape-768-and-down {

  header.main {
    h4 {
      display: none;
    }

    h1 {
      text-align: center;
      &.logo {
        font-size: 1.75em;
        padding-left: 20px;
      }
    }
    i.nav-toggle {
      position: absolute;
      top:5px;
      right: 1px;
      display: block;
      z-index: 999;
    }
  }

  .top-bar-section {
    .has-dropdown {
      span.drop-down-arrow:after {
        display:block; // hide until mobile
        // border:inset 10px;
        // border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
        color:white;
        font-size:20px;
        right:0;
        content:"\25BC";
        top:0;
        padding: 10px 10px 20px 20px;
        position: absolute;
        cursor:pointer;
      }
    }
    .social {
      li {
        a {
          background:none;
        }
      }
    }
  }

  .tertiary-nav {
    display: none;
  }

  ul.social {
    margin-top: 20px;
    padding-left: 13px;
  li {
      display: inline;
      a {
        display: inline;

      }
    }
  }

  ul.footer-nav {display: block;}

}

.inline-nav {
  margin: 20px 0 0 0;
  padding: 0;
  @extend .large-24;
  @extend .column;
  li {
    display: inline;
    margin-right: 15px;
    padding-right: 15px;
    border-right:2px solid $grey-5;
    &:last-child {
      border-right:0;
    }
    a {
      color:$grey-5;
      text-transform: uppercase;
      font-size: emCalc(20);
      &:hover, &.current-page {
        color:$dark-blue;
      }
    }
  }
}


// when there are both breadcrumbs and a 3rd level nav
.tertiary-nav + .row .breadcrumbs {
  margin-top: 20px;
}

.overlay {
  background:rgba(0,0,0,0.6);
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: none;
}

body.overlay-open {
  .overlay {
    display:table;
  }
}

.overlay-wrap {
  display: table-cell;
  vertical-align: middle;
}
.overlay-inner {
  max-width:800px;
  padding:20px;
  background:white;
  margin: 0 auto;
  position: relative;
}


.overlay-close {
  position: absolute;
  font-size: 30px;
  top:10px;
  right:10px;
}


@include mobile-landscape-and-down {
  body.overlay-open {
    overflow: hidden;
    .overlay {
      display: block;
      overflow: scroll;
      height:100%;
      -webkit-overflow-scrolling: touch;
      .overlay-wrap {
        display: block;
        .overlay-inner {
          height: 100%;
        }
      }
    }
  }
}
