header.main {
  font-size: 2rem;
  background:$dark-gray;
  position: relative;
  z-index: 2;
  /* Resets */
  ul {
    margin:0;
    padding:0;
    list-style: none;
    li {
      float:left;
    }
    a {
      margin:0;
      display: block;
      i {
        vertical-align: text-bottom;
        line-height: 1;
        color:$grey-6;
        transition:all 0.3s;
        margin-left: 3px;
      }
    }
  }
}

.mega-menu {
  clear: both;
  @extend '.clearfix';
  a {
    font-weight: 100;
    color:white;
    font-size: 25px;
    padding:10px 20px;
  }

  li.heading {
    text-align: left;
  }
  // top level
  & > ul {
    float:right;
    position: relative;
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      &:hover, &.sub-nav-open {
        & > a {
          color:$dark-grey;  
          background:white;
        }
        a {
          i {
            color:$red;
            transform:rotateX(180deg);
          }
        }
        .sub-nav {
          display: block;
        }
      }
      & > a:focus + .sub-nav {
        display:block;
      }
    }
  }
}

.sub-nav {
  background:white;
  width:100%;
  left:0;
  position: absolute;
  display: none;
  padding:40px;
  border-bottom: 10px solid $grey-2;
  margin:0;
  color:$blue;
  -webkit-column-count:2;
  column-count:2;
  -webkit-column-rule:1px dashed $grey-3;
  -webkit-column-gap:50px;
  background:white url('../images/design/dotted_line-grey.svg') bottom right no-repeat;
  background-position: bottom -200px right -200px;
  background-size:1000px;
  &.pull-right {
    right:0;
  }
  li {
    display: block;
    width: 100%;
    margin:0;
  }
  a {
    font-size:14px;
    padding:5px 0;
    color:$blue;
    display: block;
    font-weight:900;
  }
  .heading {
    font-size:14px;
    text-transform: uppercase;
    &:after {
      content:"›";
      font-size:1.3em;
      font-weight:100;
      margin-left: 5px;
    }
  }
  span.page-description {
    color:$grey-5;
    font-weight: 300;
    display: block;
  }
}

.sub-nav-group {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

/* 
  Mobile
 */

@include tablet-portrait-and-down {
  header.main {
    background:black;
    ul {
      float:none;
      li {
        display: block;
        float:none;
        margin:0;
      }
      a {
        width: 100%;
        border-bottom:1px solid black;
        display: block;
      }
    }
  }
  
  .mega-menu {
    
    & > ul {
      & > li {
        &:hover, &.sub-nav-open {
          
        }
        &.sub-nav-open > a, & > a,  {
          padding-left: 20px;
          text-transform: uppercase;
          color:white;  
          background:black;
          border-top: 1px solid $grey-5;
        }
      }
    }

    li {
      float:none;
    }
    .sub-nav {
      padding:0;
      border-bottom: 0;
    }
    a {
      display: block;
      background:$grey-7;
      color:white;
      font-size: 20px;
      font-weight: 100;
      padding:10px 10px 10px 40px;
    }
  }

  .accounts, .mega-menu {
    display: none;
  }

  body.nav-open {
    .accounts, .mega-menu {
      display: block;
    }
  }

  .sub-nav {
    width: 100%;
    position: relative;
    -webkit-column-count:1;
    column-count:1;
    .heading {
      background:black;
      color:white;
      padding:5px;
      display: block;
    }
  }
}

/* 
  Logo
 */

//  h1.logo {
//    font-size: 20px;
//    float: left;
//    margin-right: 60px;
//    a {
//      color:white;
//      background: cdn('../images/branding/RHDevelopers_RGB_Default.svg') center no-repeat;
//      text-indent:-9999px;
//      position: relative;
//      display: block;
//      width:155px;
//      height:56px;
//    }
//  }

