header.main {
  font-size: 2rem;
  background:$dark-gray cdn('../images/design/RHD-header-bg.svg') no-repeat;
  position: relative;
  z-index: 2;
  background-position: right;
  /* Resets */
  ul {
    margin:0;
    padding:0;
    list-style: none;
    li {
      float:left;
    }
    a {
      margin:0;
      display: block;
      i {
        vertical-align: text-bottom;
        line-height: 1;
        color:$grey-6;
        transition:all 0.3s;
        margin-left: 3px;
      }
    }
  }
}

.mega-menu {
  float:right;
  max-width:100%;
  a {
    font-weight: 100;
    color:white;
    font-size: 23px;
    padding:10px;
  }

  // top level
  & > ul {
    float:right;
    position: relative;
    .indent {
      margin-left: 15px;
    }
    & > li {
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        & > a {
          color:$dark-grey;
          background:white;
        }
        a {
          i {
            color:$red;
            transform:rotateX(180deg);
          }
        }
        .sub-nav {
          display: block;
        }
      }
      // & > a:focus + .sub-nav {
      //   display:block;
      // }
      & > a {
        text-transform: uppercase; // top level links
      }
      &.active > a {
        color:$gold;
      }
    }
  }
}

.sub-nav {
  background:white;
  width:100%;
  left:0;
  position: absolute;
  display: none;
  padding:40px;
  border-bottom: 10px solid $grey-2;
  margin:0;
  color:$blue;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
  -webkit-column-rule:1px dashed $grey-3;
  -moz-column-rule:1px dashed $grey-3;
  column-rule:1px dashed $grey-3;
  -webkit-column-gap:50px;
  -moz-column-gap:50px;
  column-gap:50px;
  background:white cdn('../images/design/dotted_line-grey.svg') bottom right no-repeat;
  background-position: bottom -200px right -200px;
  background-size:1000px;
  &.pull-right {
    right:0;
  }
  li {
    display: block;
    width: 100%;
    margin:0;
  }
  a {
    font-size:14px;
    padding:5px 0;
    color:$blue;
    display: block;
    font-weight:900;
    &.heading {
      font-size:14px;
      text-transform: uppercase;
      font-weight: 200;
      &:after {
        content:"›";
        font-size:1.3em;
        font-weight:100;
        margin-left: 5px;
      }
    }
  }
  span.page-description {
    color:$grey-5;
    font-weight: 300;
    display: block;
  }
}

.sub-nav-group {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 10px;
}

/*
  Search
 */

nav.accounts {
  text-align: right;
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-end);
  padding:5px 0;
  ul {
    display: inline-block;
    padding-top: 20px;
    li:first-child a {
      border-left: 0;
    }
    a.logged-in-name{
      border-left: none;
    }

    a {
      color:white;
      // border-left:1px solid white;
      padding: 0 10px;
      line-height:1;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 900;
    }
  }
  .search-wrapper {
    display: inline-block;
    margin-top: -10px;
  }
  input {
    font-size: 12px;
    padding:2px 5px 2px 5px;
    width:auto;
    min-width:250px;
    margin: 0;
    &:placeholder-shown {
      text-transform: uppercase;
    }
  }
}

/*
  Layout
 */

.header-wrap {
  @include flexbox;
  @include flex-wrap(wrap);
}

.mega-menu {
  @include flexbox;
  @include align-items(flex-end);
  @include justify-content(flex-end);
  @include flex(1 0 auto); // take all the extra space
}


nav.accounts {
  width: 100%;
}

.logo-wrap {
  @include flex(0); // take no extra space
  flex-basis:auto;
}

/*
  Logo
 */

h1.logo {
 float: left;
 width:300px;
 margin: 0;
 margin-top: -30px;
}

nav.accounts {
  float: right;
}

.nav-toggle {
  display: none;
}


/*
  Mobile
 */

@include tablet-portrait-and-down {
  header.main {
    background:black;
    h1.logo {
      margin:0;
      padding-left:0 !important;
    }
    ul {
      float:none;
      min-width: 100%;
      li {
        display: block;
        float:none;
        margin:0;
      }
      a {
        width: 100%;
        border-bottom:1px solid black;
        display: block;
      }
    }
  }

  .mega-menu {
    min-width: 100%;
    a.hide-on-mobile {
      display: none;
    }

    & > ul {
      .indent {
        margin: 0;
      }
      & > li {
        // disable hover styles on mobile
        &:hover {
          background:black;
          & > a {
            background:none;
            color:white;
            i {
              color:$grey-6;
              transform:none;
            }
          }
          .sub-nav {
            display: none;
          }
        }
        &.sub-nav-open > a, & > a,  {
          padding-left: 20px;
          text-transform: uppercase;
          color:white;
          background:black;
          border-top: 1px solid $grey-5;
        }
      }
    }

    li {
      float:none;
    }
    li.sub-nav-open {
      .sub-nav {
        display: block !important;
      }
      i {
        color:$red !important;
        transform:rotateX(180deg) !important;
      }
    }
    .sub-nav {
      padding:0;
      border-bottom: 0;
      .page-description {
        display: none;
      }
    }
    a {
      display: block;
      background:$grey-7;
      color:white;
      font-size: 20px;
      font-weight: 100;
      padding:10px 10px 10px 40px;
    }
  }
  .accounts, .mega-menu {
    display: none;
  }

  body.nav-open {
    .accounts, .mega-menu {
      display: block;
    }
  }

  .sub-nav-group {
    margin-bottom: 0;
  }

  // grey out rest of the website
  .mega-menu:after {
    display: block;
    content: '';
    background:rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .sub-nav {
    width: 100%;
    position: relative;
    -webkit-column-count:1;
    column-count:1;
    a.heading {
      color:white;
      display: block;
      font-size: 20px;
      &:after {
        display: none;
      }
    }
  }

  .nav-toggle {
    display: block;
  }



  nav.accounts {
    padding:0;
    display: none;
    form.search {
      display: none;
    }
    ul {
      width: 100%;
      background:$grey-6;
      @include flexbox;
      li {
        @include flex(1);
        text-align: center;
        border:0;
        border-right:1px solid black;
        &:last-child {
          border-right: 0;
        }
        a {
          display: block;
          border:0;
          padding: 20px 10px;
          font-size: 20px;
        }
      }
    }
  }

  .logo-wrap {
    width: 100%;
    @include flex(1 0 auto);
    @include flexbox;
    @include justify-content(space-between);
    order:-1; // put above the bar
  }
  .nav-toggle {
    @include align-self(center);
    display: inline-block;
    color:white;
    text-transform: uppercase;
    &:hover, &:focus {
      color:white;
    }
    i {
      color:$grey-6;
      margin-left: 5px;
      margin-right: 5px;
    }
  }





}

@include mobile-landscape-and-down {
  h1.logo {
    max-width:230px;
  }
  .nav-toggle {
    font-size: 20px;
  }
}
