// NEW HOMEPAGE STYLES
.home .wrapper {
  padding-bottom: 0;
}

.homepage-main {
  color: $white;
  background-image: cdn('../images/design/homepage-hero/RHDev_homehero_desktop_projectoctopus.png');
  &.hero2 { background-image: url('https://static.jboss.org/images/rhd/hero/RHDev_homehero_desktop_community_12apr2016.jpg'); }
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(152, 21, 15);
  & > .row {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
  }
  .homepage-cta {
    margin: 35px auto;
    span {
      max-width: 300px;
      display: block;
      margin: 0 auto;
      h2, h4 {
        color: $white;
        line-height: 1.1;
      }
      h2 {
        font-weight: 700;
      }
    }
    a.button {
      min-width: 250px;
    }
  }
  .homepage-getstarted {
    min-height: 348px;
    padding: 20px;
    background-color: rgba(78, 11, 8, 0.78);
    h5 {
      color: #eaa400;
      margin-top: 20px;
    }
    a {
      color: $white;
      &:hover, &:focus, &:active {
        color: #E0E0E0;
      }
    }
    ul {
      margin-bottom: 10px;
    }
    .video-thumb {
      img {
        max-width: 225px;
      }
      p {
        margin-top: 8px;
        margin-bottom: 10px;
      }
    }
    a.learn-more {
      text-transform: uppercase;
      color: #eaa400;
      font-weight: 700;
      float: right;
      i {
        margin-left: 5px;
      }
    }
  }
}

.spotlights-wrap {
  background: black cdn("../images/design/dotted_line-darkgrey.svg") left no-repeat;
}

.spotlights-container {
  background-position: -200px 0;
  background-size: 1500px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.spotlight-item {
  width: calc(20%);
  padding: 0 12px;
  border-right: 1px solid $dark-grey;
  color: white;
  img {
    padding-bottom: 10px;
    &:hover {
      opacity: 0.7;
    }
  }
  &:hover {
    color: white;
  }
  &:last-child {
    border-right: 0;
  }
  .cut-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .cut-image::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .cut-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
  }
}

ul.homepage-resources {
  list-style: none;
  margin: 0;
  li {
    @include flexbox;
    @include align-items(flex-start);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed $grey;
    &:last-child {
      border-bottom: none;
    }
    img {
      width: 150px;
      margin-right: 10px;
    }
    i {
      font-size: 35px;
      margin-right: 10px;
      color: $dark-grey;
      position: relative;
      top: -5px;
    }
    p.description {
      font-family: inherit;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
      text-rendering: optimizeLegibility;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      max-height: 50px;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;

    }
    a {
      color: #1C93D3;
    }
  }
  a.title {
    display: block;
    line-height: 1.5;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  .author {
    margin: 0;
  }

  .date {
    display: block;
    color: black;
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 0;
  }

  &.homepage-resources-latest {
    li {
      border-bottom: 0;
      padding-bottom: 10px;
    }
  }
}

.featured-and-latest {
  padding: 30px 0;
  h4 {
    font-weight: 600;
    font-size: 20px;
  }
  h3 {
    margin-bottom: 10px;
  }
}

.inverse {
  background: $grey-8 cdn('../images/design/join-now-bg.png') right center no-repeat;
  padding: 25px 0;
  h2, h3, h4, h5, h6, a, p {
    color: $white;
  }
  a.button {
    display: block;
    margin: 0 auto;
    max-width: 260px;
  }
  .inverse-spotlights {
    text-align: center;
    .large-8 {
      padding: 20px !important;
      margin: 15px !important;
      background-color: $grey-2;
      width: 30%;
    }
    i, h6 {
      color: $grey-7;
    }
  }
  .banner-icons {
    color: $white;
    text-align: center;
    margin: 1em 0 2em 0;
    img {
      display: block;
      margin: 1em auto 0 auto;
      max-width: 250px;
    }
  }
}

.home-join-img img {
  margin: 2em auto;
}

.home-jointext {
  a.button {
    max-width: 400px;
    margin-bottom: 3em;
  }
  p {
    font-size: 1.1em;
    line-height: 1.3;
  }
  .inline-icon {
    display: inline;
    max-width: 30px;
    margin-right: 5px;
  }
  span.text-blue {
    color: #a3dbe8;
    display: inline;
  }
}

// NEW MOBILE HOMEPAGE STYLES
@include tablet-landscape-and-down {
  .homepage-main {
    background-image: cdn('../images/design/homepage-hero/RHDev_homehero_tablet_projectoctopus.png');
    &.hero2 { background-image: url('http://static.jboss.org/images/rhd/hero/RHDev_homehero_tablet_community_12apr2016.jpg'); }
    .homepage-getstarted {
      min-height: 240px;
    }
    .video-thumb img {
      max-width: 300px;
    }
  }
  span.type-icon {
    display: none !important;
  }
  .spotlight-item {
    width: calc(33.333% - 16px);
    margin: 8px;
  }
  .homepage-getstarted a.learn-more {
    float: none !important;
  }
}

@include tablet-portrait-and-down {
  a.title {
    max-width: 100%;
  }
  .inverse-spotlights .large-8 {
    width: 90% !important;
    padding: 2em !important;
  }
  .homepage-main {
    .homepage-cta img {
      margin-bottom: 20px;
    }
  }
}

@include mobile-landscape-and-down {
  .homepage-main {
    background-image: cdn('../images/design/homepage-hero/RHDev_homehero_tablet_projectoctopus.png');
    &.hero2 { background-image: url('http://static.jboss.org/images/rhd/hero/RHDev_homehero_mobile_community_12apr2016.jpg'); }
  }
  .spotlights-container {
    flex-direction: column;
  }
  .spotlight-item {
    width: calc(100% - 16px);
    margin: 8px;
    .cut-image::before, .cut-image::after {
      display: none;
    }
  }
}

.drupal-header {
  z-index: 100;
  width: 300px;
  padding: 20px;
  position: fixed;
  transition: all 0.4s;
  transform: translateX(-100%);
  &.open {
    transform: translateX(0);
    background: #000;
  }

  .tab {
    position: absolute;
    top: 30px;
    right: 0;
    background: black;
    color: white;
    padding: 30px;
    transform: rotate(90deg) translateY(-100%)
  }
}

