// NEW HOMEPAGE STYLES
.home .wrapper {
  padding-bottom: 0;
}
.homepage-main {
  color: $white;
  background-image: cdn('../images/design/RHDev_homehero_desktop_yearend2015.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(86, 15, 3);
  .homepage-cta {
    .tagline {
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }
    a.button {
      display: table;
      margin: 15px auto 0 auto;
      background-color: $white;
      color: $red;
      min-width: 250px;
      position: relative;
      top: 365px;
      left: 140px;
    }
  }
  .homepage-getstarted {
    min-height: 445px;
    padding: 15px 20px;
    background-color: rgba(86, 15, 3, 0.73);
    @include tablet-landscape-and-down {
      background-color: rgb(86, 15, 3);
    }
    h5 {
      color: #eaa400;
      margin-top: 10px;
    }
    a {
      color: $white;
      &:hover, &:focus, &:active {
        color: #E0E0E0;
      }
    }
    ul {
      margin-bottom: 10px;
    }
    .video-thumb {
      img {
        max-width: 225px;
      }
      p{
        margin-top: 8px;
        margin-bottom: 10px;
      }
    }
    a.learn-more {
      text-transform: uppercase;
      color: #eaa400;
      font-weight: 700;
      float: right;
      i {
        margin-left: 5px;
      }
    }
  }
}



.spotlights-wrap {
  background:black cdn("../images/design/dotted_line-darkgrey.svg") left no-repeat;
}

.spotlights-container {
  background-position:-200px 0;
  background-size:1500px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.spotlight-item {
  width: calc(20% - 16px);
  padding: 0 12px;
  border-right: 1px solid $dark-grey;
  color:white;
  &:hover {
    color:white;
    background:lighten(black, 10%);
  }
  &:last-child {
    border-right:0;
  }
  .cut-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .cut-image::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .cut-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
  }
}

ul.homepage-resources {
  list-style: none;
  margin: 0;
  li {
    @include flexbox;
    margin-bottom: 10px;
    &:last-child {
      border-bottom: none;
    }
    i {
      font-size: 35px;
      margin-right: 10px;
      color:#1C93D3;
      position: relative;
      top:-5px;
    }
    a {
      color:#1C93D3;
    }
  }
  a.title {
    display: block;
    overflow: hidden;
    line-height: 1.5;
    max-height: 3em;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  .date{
    display: block;
    color:black;
    margin-right: 20px;
    font-size: 11px;
    margin-bottom: 0;
  }
}

.featured-and-latest {
  padding:20px 0;
  h4 {
    font-weight: 600;
    font-size: 20px;
  }
}

.inverse {
  background-color: $grey-8;
  padding: 25px 0;
  h2, h3, h4, h5, h6, a, p {
    color: $white;
  }
  a.button {
    display: block;
    margin: 0 auto;
    max-width: 260px;
  }
  .inverse-spotlights {
    text-align: center;
    .large-8 {
      padding: 20px !important;
      margin: 15px!important;
      background-color: $grey-2;
      width: 30%;
    }
    i, h6 {
      color: $grey-7;
    }
  }
  .banner-icons {
    color: $white;
    text-align: center;
    margin: 1em 0 2em 0;
    img {
      display: block;
      margin: 1em auto 0 auto;
      max-width: 250px;
    }
  }
}

.home-join-img img {
  margin: 2em auto;
}

.home-jointext {
  a.button {
    max-width: 400px;
    margin-bottom: 3em;
  }
  p {
    font-size: 1.1em;
    line-height: 1.3;
  }
  .inline-icon {
    display: inline;
    max-width: 30px;
    margin-right: 5px;
  }
  span.text-blue {
    color: #a3dbe8;
    display: inline;
  }
}

// NEW MOBILE HOMEPAGE STYLES
@include tablet-landscape-and-down {
  .homepage-main {
    background: cdn('../images/design/RHDev_homehero_tablet_yearend2015.png') top center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #560f03;
    .homepage-cta {
      height: 575px;
      a.button {
        left: 0;
        top: 500px;
      }
    }
  }
  .video-thumb {
    img {
      max-width: 300px;
    }
  }
  span.type-icon {
    display: none !important;
  }
  .spotlight-item {
    width: calc(33.333% - 16px);
    margin: 8px;
  }
  .homepage-getstarted a.learn-more {
    float: none !important;
  }
}

@include tablet-portrait-and-down {
  .homepage-main {
    .homepage-cta {
      height: 470px;
      a.button {
        left: 0;
        top: 370px;
      }
    }
  }
  a.title {
    max-width: 100%;
  }
  .inverse-spotlights .large-8 {
    width: 90% !important;
    padding: 2em !important;
  }
}

@include mobile-landscape-and-down {
  .homepage-main {
    background: cdn('../images/design/RHDev_homehero_mobile_yearend2015.png');
    background-size: initial;
    .homepage-cta {
      height: 500px;
      a.button {
        margin-top: 5px;
        top:450px;
      }
    }
  }
  .spotlights-container {
    flex-direction: column;
  }
  .spotlight-item {
    width: calc(100% - 16px);
    margin: 8px;
    .cut-image::before, .cut-image::after {
      display: none;
    }
  }
}
