// NEW HOMEPAGE STYLES
.home .wrapper {
  padding-bottom: 0;
}
.homepage-main {
  color: $white;
  background-image: cdn('../images/design/RHDev_homehero_desktop_javaeebook.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(11, 8, 21);
  .homepage-cta {
    margin: 8% auto;
    img {
      display: inline-block;
      vertical-align: middle;
    }
    span {
      padding-left: 30px;
      display: inline-block;
      vertical-align: middle;
    }
    span h2 {
      color: $white;
      text-transform: uppercase;
      margin-left: 20px;
    }
    a.button {
      background-color: $white;
      color: $red;
      min-width: 250px;
      margin-left: 20px;
    }
  }
  .homepage-getstarted {
    min-height: 322px;
    padding: 15px 20px;
    background-color: rgb(11, 8, 21);
    h5 {
      color: #eaa400;
      margin-top: 10px;
    }
    a {
      color: $white;
      &:hover, &:focus, &:active {
        color: #E0E0E0;
      }
    }
    ul {
      margin-bottom: 10px;
    }
    .video-thumb {
      img {
        max-width: 185px;
      }
      p{
        margin-top: 8px;
        margin-bottom: 10px;
      }
    }
    .external-link:after {
      display: none;
    }
  }
}



.spotlights-wrap {
  background:black cdn("../images/design/RHDev_homepage_promobkg.svg") left center no-repeat;
  background-size: 45%;
}

.spotlights-container {
  background-position:-200px 0;
  background-size:1500px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.spotlight-item {
  width: calc(20%);
  padding: 0 12px;
  border-right: 1px solid $dark-grey;
  color:white;
  &:hover {
    color:white;
    opacity:0.6;
  }
  &:last-child {
    border-right:0;
  }
  img {
    padding-bottom: 5px;
  }
  .cut-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .cut-image::before {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .cut-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid white;
    border-right: 15px solid white;
  }
}

ul.homepage-resources {
  list-style: none;
  margin: 0;
  li {
    @include flexbox;
    @include align-items(flex-start);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed $grey;
    &:last-child {
      border-bottom: none;
    }
    img {
      width:150px;
      margin-right: 10px;
    }
    i {
      font-size: 35px;
      margin-right: 10px;
      color:$dark-grey;
      position: relative;
      top:-5px;
    }
    a {
      color:#1C93D3;
    }
  }
  a.title {
    display: block;
    line-height: 1.5;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  .author {
    margin: 0;
  }

  .date{
    display: block;
    color:black;
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 0;
  }

  &.homepage-resources-latest {
    li {
      border-bottom: 0;
      padding-bottom: 10px;
    }
  }
}

.featured-and-latest {
  padding:30px 0;
  h4 {
    font-weight: 600;
    font-size: 20px;
  }
  h3 {
    margin-bottom: 10px;
  }
}

.inverse {
  background: $grey-8 cdn('../images/design/join-now-bg.png') right center no-repeat;
  padding: 25px 0;
  h2, h3, h4, h5, h6, a, p {
    color: $white;
  }
  a.button {
    display: block;
    margin: 0 auto;
    max-width: 260px;
  }
  .inverse-spotlights {
    text-align: center;
    .large-8 {
      padding: 20px !important;
      margin: 15px!important;
      background-color: $grey-2;
      width: 30%;
    }
    i, h6 {
      color: $grey-7;
    }
  }
  .banner-icons {
    color: $white;
    text-align: center;
    margin: 1em 0 2em 0;
    img {
      display: block;
      margin: 1em auto 0 auto;
      max-width: 250px;
    }
  }
}

.home-join-img img {
  margin: 2em auto;
}

.home-jointext {
  a.button {
    max-width: 400px;
    margin-bottom: 3em;
  }
  p {
    font-size: 1.1em;
    line-height: 1.3;
  }
  .inline-icon {
    display: inline;
    max-width: 30px;
    margin-right: 5px;
  }
  span.text-blue {
    color: #a3dbe8;
    display: inline;
  }
}

// NEW MOBILE HOMEPAGE STYLES
@include tablet-landscape-and-down {
  .homepage-main {
    background: cdn('../images/design/RHDev_homehero_tablet_javaeebook.png') top center / cover;
    .homepage-cta {
      img {
        margin-left: 0;
      }
    }
  }
  .video-thumb {
    img {
      max-width: 300px;
    }
  }
  span.type-icon {
    display: none !important;
  }
  .spotlight-item {
    width: calc(33.333% - 16px);
    margin: 8px;
  }
  .homepage-getstarted a.learn-more {
    float: none !important;
  }
}

@include tablet-portrait-and-down {
  .homepage-main {
    .homepage-cta {
      span h2 {
        font-size: 2em;
      }
      img {
        max-width: 120px;
        margin-left: 50px;
        margin-bottom: 20px;
      }
    }
  }
  a.title {
    max-width: 100%;
  }
  .inverse-spotlights .large-8 {
    width: 90% !important;
    padding: 2em !important;
  }
}

@include mobile-landscape-and-down {
  .homepage-main {
    background: cdn('../images/design/RHDev_homehero_mobile_javaeebook.png');
    background-size: cover;
  }
  .spotlights-container {
    flex-direction: column;
  }
  .spotlight-item {
    width: calc(100% - 16px);
    margin: 8px;
    .cut-image::before, .cut-image::after {
      display: none;
    }
  }
}
