/* zurb foundation 4 block grid fix for ie8 and below */
@mixin blockGridFix($columns: 12) {
  $i: 1;
  @while $i < $columns + 1 {
    // block grid
    & .large-block-grid-#{$i} > li{
      width:(100/$i) + 0%;
      padding:0 0.625em 1.25em;
      float:left;
      list-style: none;
    }
    $i: $i + 1;
  }
}

/* zurb foundation 4 grid column fix for ie8 and below */
@mixin columnFix($columns: 24){
    $i: 1;
    @while $i < $columns + 1 {
        
    $colWidth: ($i/$columns)*100%;
    $colWidth7: ($i/$columns)*98%;
        & .large-#{$i}, & .small-#{$i} {
            width: $colWidth;
      *width: $colWidth7; //sets the width for ie7
        }
        
        /* thanks to pinder */
        & .large-offset-#{$i} { 
          margin-left: ($i/$columns)*100%;
          *margin-left: ($i/$columns)*98%;;
        }
        
        /* allows centering block elements */
  & .centered-#{$i}{
      margin-left: (100% - $colWidth)/2;
      *margin-left: (98% - $colWidth7)/2;
  }

        $i: $i + 1;
    }
 
    & .columns {
        //*padding-left: 1%;
        //*padding-right: 1%;
    }
    & .row .row {
        *margin-left: 0; /* fix ie7 margins */
    }
}

.lt-ie9 {
  @include columnFix;
  @include blockGridFix;
  // nav fixes
  .top-bar-section {
    ul {
      width:auto;
      li {
        float: left;
      }
    }
  }
}
