.wide {
  h1,h2,h3,h4,h5,h6 {
    color:$grey-6;
  }
}

.microsite-icon-points {
  background:black;
  color:white;
  text-align: center;
  padding: 30px 0;
  margin:20px 0;
  i {
    font-size: 100px;
  }
  h3 {
    color:white;
  }
  p {
    color:white;
    line-height: 1.3;
  }
}


.microsite-large-icons {
  .center {
    text-align: center;
  }
  i {
    font-size: 180px;
    margin-top: -30px;
    margin-bottom: 30px;
    color:$grey-4;
    position: relative;
    &.fa-image {
      left: -20px;
    }
  }
  padding:30px 0;
  border-bottom: 2px solid $grey-1;
}


.microsite-text-points {
  h3 {
    font-weight: 600;
  }
}

.wide-hero {
  background-size:cover;
  color:white;
  padding:50px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid $grey-2;
  h1 {
    color:white;
  }
  h2 {
    color:white;
    font-size: emCalc(65);
    text-align: right;
    line-height: 1;
  }
  h3 {
    color:white;
    font-size: emCalc(32);
    line-height: 1;
    text-align: right;
  }
  p {
    margin-top: 20px;
  }
}

.left-aligned-h3 {
  h3 {
    text-align: left;
  }
}

.microsite-cta {
  background:$dark-blue;
  text-align: center;
  padding:40px 0;
  margin:20px 0;
  h3 {
    text-transform: uppercase;
    color:$medium-orange;
    font-size: emCalc(32);
  }
  p {
    color:white;
    font-style: italic;
    font-size: emCalc(22);
  }
}

.microsite-cta--image {
  text-align: left;
  background-size:cover;
}

.y-center {
  text-align: center;
  display: table;
  & > div {
    display: table-cell;
    vertical-align: middle;
  }
  a {
    margin: 0;
  }
}

@include tablet-landscape-and-down {
  body.fullbleed {
    .row {
      .row {
        margin: 0;
        .columns {
          padding: 0;
        }
      }
    }
  }

  .wide-hero {
    width:100%; // fallback
    width: calc(100% + 10px); // acount for the wrapper margin
    margin-left: -5px;
  }


  .microsite-cta--image {
    & div {
      width:100%;
    }
  }

  .microsite-large-icons {
    padding: 0;
    i {
      font-size: 50px;
      margin: 0;
    }

    .row {
      & > div {
        &.microsite-large-icon {
          display: none;
        }
      }
    }

  }

}

// Navigations

.microsite-nav {
  @extend .large-24;
  @extend .columns;
  margin-top: -40px;
  margin-bottom: 20px;
  & > ul {
    list-style: none;
    li {
      display:inline-block;
      float: left;
      a {
        display: block;
        background:$grey-2;
        color:$grey-5;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        padding:10px 0;
        border-right: 3px solid white;
        border-top: 3px solid white;
        &:hover {
          background:$dark-blue;
          color:white;
        }
      }
      &.active a {
        background:$dark-blue;
        color:white;
      }
      &:last-child a {
        border-right: 0;
      }
    }
    $items: 12;
    @for $i from 1 through $items {
      &.microsite-nav-#{$i} {
        li {
          width: (100 / $i) * 1%;
        }
      }
    }
  }
}

body.microsite-multi-page, body.microsite {
  .top-bar-section {
    display: none;
  }
  nav.top-bar {
    border-bottom: 0;
  }
}

@include tablet-portrait-and-down {
  .microsite-nav {
    position: relative;
    z-index: 2;
    height:80px;
    & > ul[class*=microsite-nav-] {
      position: absolute;
      width: 100%;
      left: 0;
      // padding-top: 45px;
      margin-top: 20px;
      border:1px solid $grey-4;
      border-radius: $global-radius;
      overflow: hidden;
      li {
        display: block;
        width:100%;
        position: relative;
        display: none;
        &.active {
          // position: absolute;
          // top:0;
          display: block;
          a {
            border-top: 0;
            background:$grey-6;
            color:white;
          }
        }
        a {
          border:0;
          border-top: 1px solid white;
          text-align: left;
          padding-left: 10px;
          background:$light-blue;
          color:$dark-blue;
          &:hover {
            background:$grey-6;
            color:white;
          }
          &:after {
            content: "\f107";
            font-family: 'FontAwesome';
            float: right;
            font-weight: 600;
            margin-right: 10px;
          }
        }
        *:first-child a {
          border-top: 0;
        }
      }
    }
    &.microsite-nav--open > ul[class*=microsite-nav-] {
      & > li {
        display: block;
        a:after {
          content: "\f105"; // >
        }
      }
    }
  }

  .y-center {
    height:auto !important;
  }
}

.microsite-header {
  margin-top: 3em;
}

.dotnet-graphic {
  margin: 20px auto 40px auto;
  display: block;
}

.linuxcheat-graphic {
  max-width: 275px;
  margin-bottom: 1.2em;
}

.devnation-discount {
  h3 {
    margin-bottom: 20px;
  }
  img {
    margin: 0 auto 40px auto;
    display: block;
  }
}

.site-header {
  .card.green {
    background-color: #3f9c35;
    border: none;
    p {
      margin-bottom: 0;
    }
  }
}

.distributed-javaee-architecture {
  margin-top: 3em;
  .promotion-header {
    img {
      max-width: 320px;
    }
    .report-title {
      margin-top: 20px;
    }
    .button {
      display: block;
      margin: 17px 0;
      max-width: 320px;
    }
  }
  .author-img {
    width: 115px;
    margin-top: 10px;
  }
}

// Styles for microsite-2 layout
.microsite-tmpl {
  margin-top: 3em;
  h3 {
    text-transform: uppercase;
  }
  ul li p {
    margin-bottom: 5px;
  }
  .button {
    p {
      margin-bottom: 0;
    }
    a {
      color: $white;
      font-weight: 600;
    }
  }
}

.microsite-graphic {
  margin: 10px auto 40px auto;
  display: block;
}
