body.middleware {
  .wrapper { padding-bottom: 0; }

  section {
    padding: 30px 0 60px 0;
    
    h3 {
      text-transform: uppercase;
      margin-bottom: 1em;
    }

    h4 { margin-bottom: 1em; }

    &.green {
      padding: 30px 0 40px 0;
      h3 { margin-bottom: 8px; }
    }
    .enterprise-ready h4 { margin-bottom: 8px; }
    .video-col {
      position: relative;
      padding-bottom: 28%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
      height: auto;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 98%;
      height: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      li { margin-bottom: 1em; }
      &.bullet-list {
        list-style: disc;
        margin-left: 1.25em;
      }
    }
    .whats-new {
      background-color: $white;
      padding: 1.4em;
      top: -20px;
    }

    ul.middleware-blog li{
      a.title { font-weight: 600; }
      p.blog-info { margin-bottom: 5px; }
      span.author, span.date {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: .9em;
      }
      span.date { float: right; }
      p.description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 70px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

  }

  #referral-alert {
    padding-bottom: 0;
    div.alert-content h3 { text-transform: none; }
  }

  @include tablet-landscape-and-down {
    section {
      .video-col {
        padding-bottom: 56.25%;
        margin-bottom: 30px;
      }
      ul { margin-bottom: 1em; }
      .whats-new { top: 0; }
    }
    ul.middleware-blog li{
      span.author, span.date {
        display: block;
        float: none;
      }
    }
  }
  @include tablet-portrait-and-down {
    ul.middleware-blog li{
      span.author, span.date {
        display: inline-block;
      }
      span.date {
        float: left;
      }
    }
    #referral-alert {
      i { margin-bottom: 10px; }
    }
  }

}
