@include tablet-portrait-and-down {
  
  
  // Everything
  .wrapper {
    width:100%;
    padding:5px;
  }
  // 
  // Home Page
  //

  .cta {
    width:100%;
    clear:both;
    margin:0 0 10px 0;
    .button {
      width:100%;
      clear: both;
    }
  }

}