/* Misc Mobile styles */

@include tablet-portrait-and-down {
  
  // Everything
  .wrapper {
    width:100%;
    padding:5px;
  }

  .content-wrapper {
    padding:10px 10px 10px 10px;

  }

  .cta {
    width:100%;
    clear:both;
    margin:0 0 10px 0;
    .button {
      width:100%;
      clear: both;
    }
  }

  /* Development Tools */
  div.development-tool-category {
    div.development-tool {
      width:100% !important;
      margin:0 !important;
      margin-bottom: 20px !important;
      height:auto !important; // overwrite the inline JS styles
    }
  }


  // 3rd level nav

  .side-nav {
    li {
      display: none;
      &:nth-child(2) a {
        border-top-width: 1px;
      }
      &:first-child a {
        border-top-width: 0px;
      }
      &.active {
        display: none;
      }
      &.side-nav-toggle {
        display: list-item;
        a {
          &:before {
            display: block;
            content:' ';
            border-right: 1px solid #fff;
            top: 0;
            bottom: 0;
            right: 40px;
            position: absolute;
          }
        }
      }
    }
    &.side-nav-open {
      li {
        display: list-item;
        &.side-nav-toggle a:after {
          @include transform(rotate(90deg));
        }
        &.active {
          display: none;
        }
      }
    }
  }

  table.forums {
    tbody {
      tr {
        display: block;
        width:100%;
        th {
          display: none;
        }
        td {
          width:100%;
          display: block;
          padding-left: 0;
          padding-right: 0;
          &.product-name {
            font-weight: 600;
            font-size: emCalc(20);
          }
          &:nth-child(3):before {
            content: 'Posts: ';
            font-weight: 600;
          }
          &:nth-child(4):before {
            content: 'Monthly Activity: ';
            font-weight: 600;
          }
        }
      }
    }
  }

} // end mq

@include mobile-portrait-and-down {
  // Material
  li.material {
    margin:0;
    margin-bottom: 20px;
    padding:0;
    width:100%;
    a.thumbnail {
      display: block;
      width:100%;
      img {
        width:100%;
      }
    }
  }

  // Projects
  li.upstream {
    width:100%;
  }
}

// Events mobile styles

@media (max-width: 767px) {
.events-control {
  input[type] {
    &.datepicker {
      width:100%;
     }
   }
 }
}

// Home specific mobile styles

@media (max-width: 767px) {

.mobilehome h3 {
  border-bottom: double $grey-3;
  }

.updatemobile {
  border-bottom: 1px solid $grey-3;
  margin-bottom: 20px;
  }
  
.updatemobile:last-child {
  border-bottom: none;
  }

.pinned:last-child  {
  border-bottom: 1px solid $grey-3;
  }
  
.viewall {
  padding-top: 5px;
  }
  
.hidden {
  display:none;
}
}


// mobile hero swap on home page.

@media (max-width: 480px) {

.herodesktop {
  display:none;
}

.heromobile {
  display:block;
  padding-bottom: 20px;
}
}

// Newsletter mobile style

@media (max-width: 767px) {

.newsletterspacing {
  padding-top: 2em;
  }
}