.eventsmsbuild2016 .wrapper {
  padding-bottom: 0;
}

.wide-hero.msbuild {
  background-image: cdn('../images/events/msbuild/msbuild_microsite_banner_1811x260px.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:0;
  min-height: 260px;
  @include tablet-landscape-and-down {
    min-height: 188px;
  }
  @include tablet-portrait-and-down {
    background: cdn('../images/events/msbuild/msbuild_microsite_banner_600x446.png') top center / cover repeat-x;
    min-height: 480px;
  }
  @include mobile-landscape-and-down {
    background: cdn('../images/events/msbuild/msbuild_microsite_banner_480x500px.png') top center / cover repeat-x;
    min-height: 427px;
  }
}

#msbuild-microsite {
  section{
    padding: 35px 0;
    &.inverse {
      background-color: #0d5884;
      padding: 25px 0;
      background-image: none;
      p, h2, h3, h4, h5, h6 {
        color: $white;
      }
    }
  }
  .site-header p {
    font-size: 1.2em;
  }
  ul {
    list-style: none;
    &.nav-list li {
      margin: 15px 0;
      i {
        margin-right: 3px;
      }
    }
    &.speakers-list {
      li img {
        display: block;
        float: left;
        height:120px
      }
    }
  }
  .msbuild-date {
    margin-top: 15px;
    h6, i.fa{
      display: inline;
      color: $white;
    }
  }
  ul.msb-team-members {
    margin-top: 60px;
    li {
      margin: 20px 0;
    }
    img {
      border-radius: 50%;
      display: block;
      margin: 0 auto 10px auto;
      max-width: 155px;
    }
    span {
      .name {
        font-weight: 800;
        font-size: 1em; 
        display: inline;
        margin-left: 15px;
      }
      a {
        display: inline;
        margin-left: 5px;
        font-size: 1.1em;
      }
      .title {
        font-size: .9em;
        margin-left: 15px;

      }
    }
  }
  .connect-with-us {
    padding: 50px 0;
    background-color: $red;
    h2 {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h4 {
      font-weight: 200;
      color: $white;
    }
    ul.social-links {
      list-style: none;
      max-width: 225px;
      display: block;
      margin: 30px auto 0 auto;
      li, li a {
        display: inline;
        color: $white;
        font-size: 1.8em;
        margin-right: 15px;
      }
    }
  }
  @include tablet-portrait-and-down {
    a.button {
      float: none !important;
      width: 100%;
    }
  }
}

#msbuild-registration iframe {
    min-height: 670px;
    display: block;
    margin: 30px auto;
}
