div.pagination-centered {
    margin: 2em 0;
  ul.pagination {
    font-size: 0;
    li {
      height:auto;
      margin: 0;
      border:1px solid $grey;
      border-right:0;
      &:before {
        display: none;
      }
      &:last-child a {
        border-right:1px solid $grey;
      }
      &.current a {
        color:white;
      }
      a {
        color:$blue;
        height:auto;
        font-size: emCalc(16);
      }
    }
    &.one-page {
      visibility: hidden;
      margin-top: 0;
    }
  }
}
