// Products
.hero.hero-products {
  background: cdn('../images/design/RHDev_pageheader_productsoverview_desktop.png') top center / cover no-repeat;
  content : ':4242';
  border:0;
  min-height: 220px;
  margin-bottom: 0;

  h2 {
    color:white;
    font-size: 5em;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  p {
    color: white;
    font-size: 1.1em;
    margin: 20px 0;
    max-width: 350px;
    a, a:active, a:focus, a:hover{
      color: white;
    }
  }
  @include tablet-landscape-and-down {
    background: cdn('../images/design/RHDev_pageheader_productsoverview_tablet.png') top center / cover no-repeat;
    min-height: auto;
    h2 {
      margin-top: 10px;
    }
    p {
      margin: 0 15px 20px 15px;
      max-width: 100%;
    }
  }
  @include mobile-landscape-and-down {
    background: cdn('../images/design/RHDev_pageheader_productsoverview_mobile.png') top center / cover no-repeat;
    h2 {
      font-size: 3em;
    }
  }
  .row {
    @extend .flex-center;
  }
}

.product-header {
  background-position: top center;
  background-size: cover;
  background-repeat: repeat-x;

  &.amq {background-image: cdn('../images/design/products/prod_header_jboss_amq.png');}
  &.atomic {background-image: cdn('../images/design/products/prod_header_rhel_atomic_host.png');}
  &.bpmsuite {background-image: cdn('../images/design/products/prod_header_jboss_bpm_suite.png');}
  &.brms {background-image: cdn('../images/design/products/prod_header_jboss_brms.png');}
  &.cdk {background-image: cdn('../images/design/products/RHDev_productheader_desktop_cdk.png');}
  &.datagrid {background-image: cdn('../images/design/products/prod_header_jboss_data_grid.png');}
  &.datavirt {background-image: cdn('../images/design/products/prod_header_jboss_data_virt.png');}
  &.developertoolset {background-image: cdn('../images/design/products/prod_header_rh_developer_toolset.png');}
  &.devstudio {background-image: cdn('../images/design/products/prod_header_jboss_devstudio.png');}
  &.devsuite {background-image: url('http://static.jboss.org/images/rhd/headers/RHDev_productheader_desktop_devsuite.png');}
  &.dotnet {background-image: url('http://static.jboss.org/images/rhd/headers/RHDev_productheader_desktop_dotnetrhel.png');}
  &.eap {background-image: cdn('../images/design/products/prod_header_jboss_eap.png');}
  &.fuse {background-image: cdn('../images/design/products/prod_header_jboss_fuse.png');}
  &.mobileplatform {background-image: cdn('../images/design/products/prod_header_rh_mobile_app_platform.png');}
  &.openshift {background-image: cdn('../images/design/products/prod_header_openshift_enterprise.png');}
  &.rhel {background-image: cdn('../images/design/products/prod_header_rhel.png');}
  &.satellite {background-image: cdn('../images/design/products/prod_header_rh_satellite.png');}
  &.softwarecollections {background-image: cdn('../images/design/products/prod_header_rh_software_collections.png');}
  &.webserver {background-image: cdn('../images/design/products/prod_header_jboss_webserver.png');}

  @include tablet-portrait-and-down {
    &.amq {background-image: cdn('../images/design/products/productheader_tablet_jboss_amq.png');}
    &.atomic {background-image: cdn('../images/design/products/productheader_tablet_rhel_atomic_host.png');}
    &.bpmsuite {background-image: cdn('../images/design/products/productheader_tablet_jboss_bpm_suite.png');}
    &.brms {background-image: cdn('../images/design/products/productheader_tablet_jboss_brms.png');}
    &.cdk {background-image: cdn('../images/design/products/RHDev_productheader_tablet_cdk.png');}
    &.datagrid {background-image: cdn('../images/design/products/productheader_tablet_jboss_data_grid.png');}
    &.datavirt {background-image: cdn('../images/design/products/productheader_tablet_jboss_data_virt.png');}
    &.developertoolset {background-image: cdn('../images/design/products/productheader_tablet_rh_developer_toolset.png');}
    &.devstudio {background-image: cdn('../images/design/products/productheader_tablet_jboss_devstudio.png');}
    &.devsuite {background-image: url('http://static.jboss.org/images/rhd/headers/RHDev_productheader_tablet_devsuite.png');}
    &.dotnet {background-image: url('http://static.jboss.org/images/rhd/headers/RHDev_productheader_tablet_dotnetrhel.png');}
    &.eap {background-image: cdn('../images/design/products/productheader_tablet_jboss_eap.png');}
    &.fuse {background-image: cdn('../images/design/products/productheader_tablet_jboss_fuse.png');}
    &.mobileplatform {background-image: cdn('../images/design/products/productheader_tablet_rh_mobile_app_platform.png');}
    &.openshift {background-image: cdn('../images/design/products/productheader_tablet_openshift_enterprise.png');}
    &.rhel {background-image: cdn('../images/design/products/productheader_tablet_rhel.png');}
    &.satellite {background-image: cdn('../images/design/products/productheader_tablet_rh_satellite.png');}
    &.softwarecollections {background-image: cdn('../images/design/products/productheader_tablet_rh_software_collections.png');}
    &.webserver {background-image: cdn('../images/design/products/productheader_tablet_jboss_webserver.png');}
  }
  @include mobile-portrait-and-down {
    &.amq {background-image: cdn('../images/design/products/productheader_mobile_jboss_amq.png');}
    &.atomic {background-image: cdn('../images/design/products/productheader_mobile_rhel_atomic_host.png');}
    &.bpmsuite {background-image: cdn('../images/design/products/productheader_mobile_jboss_bpm_suite.png');}
    &.brms {background-image: cdn('../images/design/products/productheader_mobile_jboss_brms.png');}
    &.cdk {background-image: cdn('../images/design/products/RHDev_productheader_mobile_cdk.png');}
    &.datagrid {background-image: cdn('../images/design/products/productheader_mobile_jboss_data_grid.png');}
    &.datavirt {background-image: cdn('../images/design/products/productheader_mobile_jboss_data_virt.png');}
    &.developertoolset {background-image: cdn('../images/design/products/productheader_mobile_rh_developer_toolset.png');}
    &.devstudio {background-image: cdn('../images/design/products/productheader_mobile_jboss_devstudio.png');}
    &.devsuite {background-image: url('http://static.jboss.org/images/rhd/headers/RHDev_productheader_mobile_devsuite.png');}
    &.dotnet {background-image: url('http://static.jboss.org/images/rhd/headers/RHDev_productheader_mobile_dotnetrhel.png');}
    &.eap {background-image: cdn('../images/design/products/productheader_mobile_jboss_eap.png');}
    &.fuse {background-image: cdn('../images/design/products/productheader_mobile_jboss_fuse.png');}
    &.mobileplatform {background-image: cdn('../images/design/products/productheader_mobile_rh_mobile_app_platform.png');}
    &.openshift {background-image: cdn('../images/design/products/productheader_mobile_openshift_enterprise.png');}
    &.rhel {background-image: cdn('../images/design/products/productheader_mobile_rhel.png');}
    &.satellite {background-image: cdn('../images/design/products/productheader_mobile_rh_satellite.png');}
    &.softwarecollections {background-image: cdn('../images/design/products/productheader_mobile_rh_software_collections.png');}
    &.webserver {background-image: cdn('../images/design/products/productheader_mobile_jboss_webserver.png');}
  }
}

.product-graphics {
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  
  &.storage-and-big-data {
    background-image: cdn('../images/design/products/dotted_lines_top_left_orange.png'),  cdn('../images/design/products/dotted_lines_bottom_right_gray.png');
  }
  &.it-infrastructure {
    background-image: cdn('../images/design/products/dotted_lines_top_left_blue.png'),  cdn('../images/design/products/dotted_lines_bottom_right_gray.png');
  }
  &.application-development {
    background-image: cdn('../images/design/products/dotted_lines_top_left_green.png'),  cdn('../images/design/products/dotted_lines_bottom_right_gray.png');
  }

  .row.content {
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 40px;
  }

}

@include tablet-landscape-and-down {
  .product-graphics {
    &.storage-and-big-data, &.it-infrastructure, &.application-development {
      background-image: none;
    }
  }
}

.product {
  .toolbar {
    text-align: right;
    a {
      margin-right: 1em;
    }
  }
  p {
    font-family: $sans-serif;
    font-style: italic;
  }
  h4 {
    margin-bottom: 0;
    font-weight: normal;
  }
}

.product-header{
  background-color: rgba(0, 0, 0, 0.77);
  padding: 20px 15px 15px 15px;
  &.storage-and-big-data {
    border-bottom: 9px solid #F0AB00;
  }
  &.it-infrastructure {
    border-bottom: 9px solid #0088ce;
  }
  &.application-development {
    border-bottom: 9px solid #92D400;
  }
  h2, .breadcrumbs > *:before, .breadcrumbs a{
    color: $white;
  }
  .breadcrumbs li {
    color: $white;
    text-transform: none;
    font-size: 14px;
  }
  h2 {
    text-transform: uppercase;
  }
  h3 {
    color: $grey-3;
    font-weight: 100;
    margin-bottom: 0;
  }
  @include desktop-and-down {
    padding:20px;
  }
}

#hero-try-or-buy {
  margin: 0 auto;
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 0.9);

  &.storage-and-big-data {
    border-bottom: 1px dashed #F0AB00;
  }
  &.it-infrastructure {
    border-bottom: 1px dashed #0088ce;
  }
  &.application-development {
    border-bottom: 1px dashed #92D400;
  }
  .button {
    width: 100%;
    margin-bottom: 5px;
    padding: .7rem;
  }
  p {
    margin-bottom: 0;
    &.caps {
      text-transform: uppercase;
    }
  }
  .hello-world{
    @extend .flex-center;
    align-items: center;
    margin-bottom: 1em;
    & > div:first-child {
      text-align: center;
    }
    h2{
      color: $grey-7;
      font-size: 37px;
      margin-bottom: 0;
    }

    @media only screen and (max-width: 64em) {
      margin-bottom: 15px;
      small {
        display: block;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
  .outside-links a{
    text-align: left;
    display: block;
    padding: 5px 16px;
    color: $grey-7;
    p {
      color: #0088ce;
    }
    i {
      margin-left: 5px;
    }
  }
}

.product-placeholder{
  width: 100%;
  height:250px;
  background-color: rgb(237, 237, 237);
  border: none;
}

.product-video h4{display: none;}

#product-features{
  margin: 1em 0;
  .feature-icon {
    text-align: center;
    p {
      color: $grey-5;
      margin-bottom: 0;
    }
    img {
      max-width: 160px;
    }
  }

  .feature-text {
    text-align: center;
    h4{
      font-size: 1em;
      text-transform: uppercase;
      color: $red;
    }
    .paragraph{
      text-align: left;
    }
  }
}

.hero-placeholder{
  height: 300px;
  background-color: $grey-2;
}

.development-tools {
  margin-top: 20px;
  h2 {
    clear: both;
  }
}

.development-tool-category {
  .category-label{
    margin-bottom: 40px;
    margin-top: 50px;
    h5{
      text-transform: uppercase;
      color: $black;
      margin-bottom: 0;
      font-size: 30px;
    }
  }

  .divider{
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 5px;
    height: auto;
  }
  .indent-product {
    margin-left: 2em;
    .large-8 {
      margin-left: -.7em;
    }
    @include tablet-landscape-and-down {
      .large-8 {
        margin-left: 0;
      }
    }
  }
}
#development-tool {
  .download-link{
    width: 100%;
    background-color: $grey-2;
    padding: 15px 15px;
    text-align: center;
  }
  .download-link a:before{
    display: none;
  }
  a.button{
    max-width: 265px;
    margin: 0 auto 5px auto;
    display: block;
    padding: .8rem 2rem;
  }
  .download-sublabel{
    font-size: 70%;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }
  .tool-links{
    padding: 15px 15px;
    text-align: center;
    li:last-child{margin-left: 8px;}
  }
}

.band-tabs {
  .nav-tabs {
    font-size: 0; // ghost space
    li {
      margin: 0;
      &.active {
        a {
          color:$headline-grey;
          background:white;
          &:after {
            background:$red;
          }
        }
      }
      a {
        background:$headline-grey;
        text-transform: uppercase;
        font-size: 20px;
        padding:15px 15px 24px 15px;
        display: inline-block;
        min-width:250px;
        color: white;
        &:after {
          bottom:10px;
          left:15px;
          background-color: #888;
        }
      }
    }
  }
}

@include desktop-and-down {
  #hero-try-or-buy {
    padding: 0;
    margin:0;
    .hello-world {
      padding: 0;
    }
  }
}

ul.product-langs {
  margin-top: 25px !important;
  li {
    background-color: $grey-2;
    padding: 50px 0 35px 0;
    margin: 10px 20px 10px 0;
    width: 195px;
    list-style: none;
    &:before {
      display: none;
    }
    .lang-logo {
      height: 50px;
      margin-bottom: 15px;
      img {
        max-width: 125px;
        display: block;
        margin: 0 auto;
      }
    }
    .prod-lang-name {
      text-align: center;
      color: $red;
      font-weight: 100;
      margin: 0 5px;
    }
  }
  @include tablet-landscape-and-down {
    li {
      width: calc(33% - 20px);
      min-height: 189px;
    }
  }
  @include mobile-landscape-and-down {
    li {
      width: calc(50% - 20px);
    }
  }
}

.sp-header {
  margin: 35px 0 15px 0 !important;
  p {
    font-size: rem-calc(18);
  }
}

.gs-header .paragraph {
  display: inline-block;
  p {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 0;
  }
}

.os-tabs.tabs-content {
  width: 100%;
  margin-left: 0;
  padding: 0;
}

.label.material-duration {
  max-width: 45px;
  padding: 0 6px;
}

.product-updates {
  .ulist li {
    margin-bottom: 5px;
  }
}

.top-section {
  span {
    display: inline;
    &.product-video {
      width: 415px;
      margin-left: 20px;
    }
  }
}
@include mobile-landscape-and-down {
  .top-section span {
    display: block;
    &.product-video {
      width: 340px;
      margin-left: 0;
    }
  }
}

.docs-and-apis-ec table{
  width: 100%;
  caption {
    color: #424242;
  }
}

@include mobile-landscape-and-down {
  table.downloads-table {
    thead tr th {
      padding: 5px;
    }
    .download-links a, .download-links a + a {
      display: block;
      margin-left: 0;
    }
  }
}

.forums-stack-row {
  margin: 2em 0;
}

.services-and-support {
  ul{
    margin: 1.5em -15px !important;
    text-align: center;
    h5 {
      color: $red;
      margin-bottom: 5px;
      &.offset-img {
        margin-top: -22px;
      }
    }
    a.button {
      margin-top: 1em;
    }
    img {
      width: 60%;
      margin: 10px auto;
      opacity: 0.4;
    }
  }
}

.latest-discussions, .top-qa {
  h4 {
    color: $red;
  }
  h4 i {
    color: $grey-3;
  }
  a {
    color: #46a1da;
  }
  .see-all {
    float: right;
    margin-top: 13px;
  }
}

