// Upstream Projects
li.upstream {
  font-size: emCalc(13);
  padding-bottom: 45px;
  .defaultprojectimage {
    border:1px solid $grey-5;
    width:100%;
  }

  h5.solution-name .solution-name-link{
    font-weight: 800;
  }

  a.image-link {
    img {
      background: $white;
      width:100%;
    }
  }
  a.upstream-toggle-more {
    display: block;
    clear:both;
    margin-top: 5px;
    span.view-less { display: none; }
    &.upstream-toggle-open {
      span.view-less { display: inline; }
      span.view-more { display: none; }
    }
    i {
      margin-left: 5px;
    }
  }
  .upstream-more-content {
    display: none;
  }
  p {
    margin-bottom: 10px;
  }
  h3 {
    color:$link;
    font-weight: 600;
    font-size: emCalc(24);
    margin:10px 0;
  }
}

ul.featured-projects-results {
  @extend .small-block-grid-1;
  @extend .medium-block-grid-3;
  @extend .large-block-grid-3;
  margin: 0;
  & > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em;
    .defaultprojectimage {
      width:100%;
      border: 0;
      background:none;
      height:auto;
    }
  }
  a.image-link {
    img {
      width:100%;
      border:1px solid $grey-4;
      padding:5px;
    }
  }
}

.project-content {
  display: none;
}

.project-details-list {
  list-style: none;
  margin: 0;
  padding: 0;
  // @include column-count(2);
  // @include column-gap(20px);
  li {
    // word-wrap: break-word;
    overflow: hidden;
    font-size: emCalc(16);
    a {
      &:after {
        font-family: 'FontAwesome';
        content : "\f08e";
        margin-left: 5px;
        font-size: 12px;
      }
      &[href*="jboss.org"]:after {
        content :'';
      }
    }
  }
}

.project-content-left {
  position: static;
  p {
    margin:5px 0;
  }
}

ul.project-social {
  list-style: none;
  margin: 0;
  position: absolute;
  bottom: 10px;
  li {
    display:inline;
    a {
      font-size: 30px;
      color:$grey-3;
    }
  }
}


@include mobile-portrait-and-down {
  ul.featured-projects-results {
    margin: 0;
    li {
      padding: 0;
    }
  }
}

.hero.hero-projects {
  background: cdn('../images/design/RHDev_indeximage_desktop_community.png') top center / cover repeat-x;
  content : ':4242';
  border:0;
  margin-bottom: 40px;
  padding:20px;
  min-height: 185px;
  @media (max-width: 970px){
    background: cdn('../images/design/RHDev_indeximage_mobile_community.png') top center / cover repeat-x;
    margin: -15px;
    margin-bottom: 40px;
  }
  h2.blowout {
    color:white;
    font-size: 70px;
    text-shadow: 3px 3px #063a63;
    margin-top: 25px;
  }
  p {
    color: white;
    font-size: 20px;
  }
  .row {
    @extend .flex-center;
  }
}
