// Products
.product {
  .toolbar {
    text-align: right;
    a {
      margin-right: 1em;
    }
  }
  p {
    font-family: $sans-serif;
    font-style: italic;
  }
  h4 {
    margin-bottom: 0;
    font-weight: normal;
  }
}

.product-header{
  h2 {
    color: $red;
  }
  h3 {
    font-weight: 100;
    text-transform: uppercase;
  }
  @include desktop-and-down {
    padding:20px;
  }
}

.product-placeholder{
  width: 100%;
  height:250px;
  background-color: rgb(237, 237, 237);
  border: none;
}

.product-video h4{display: none;}

#product-features{
  margin: 1em 0;
  .feature-icon {
    text-align: center;
    p {
      color: $grey-5;
      margin-bottom: 0;
    }
    img {
      max-width: 160px;
    }
  }

  .feature-text {
    text-align: center;
    h4{
      font-size: 1.2rem;
    }
    .paragraph{
      text-align: left;
    }
  }
}

.hero-placeholder{
  height: 300px;
  background-color: $grey-2;
}

.development-tools {
  margin-top: 20px;
  h2 {
    clear: both;
  }
}

.development-tool-category {
  .category-label{
    margin-bottom: 40px;
    margin-top: 50px;
    h5{
      text-transform: uppercase;
      color: $black;
      margin-bottom: 0;
      font-size: 30px;
    }
  }

  .divider{
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 5px;
    height: auto;
  }
}
#development-tool {
  .download-link{
    width: 100%;
    background-color: $grey-2;
    padding: 15px 15px;
    text-align: center;
  }
  .download-link a:before{
    display: none;
  }
  a.button{
    max-width: 265px;
    margin: 0 auto 5px auto;
    display: block;
    padding: .8rem 2rem;
  }
  .download-sublabel{
    font-size: 70%;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }
  .tool-links{
    padding: 15px 15px;
    text-align: center;
    a:first-of-type{margin-right: 15px;}
  }
}
.hero.hero-products {
  background: cdn('../images/design/RHDev_indeximage_desktop_products.png') top center / cover repeat-x;
  border:0;
  padding: 20px;
  padding-top: 40px;
  min-height: 230px;
  @include tablet-portrait-and-down {
    background: cdn('../images/design/RHDev_indeximage_mobile_products.png') top center / cover repeat-x;
    margin: -15px;
    h2.blowout {
      padding-top: 20px !important;
    }
  }
  h2.blowout {
    color:white;
    line-height:1;
    font-size: 70px;
    text-shadow: 3px 3px #063a63;
  }
  p {
    color:white;
    font-size: 20px;
  }
  .row {
    @extend .grow;
  }
}


.band-tabs {
  .nav-tabs {
    font-size: 0; // ghost space
    li {
      margin: 0;
      &.active {
        a {
          color:$headline-grey;
          background:white;
          &:after {
            background:$red;
          }
        }
      }
      a {
        background:$headline-grey;
        text-transform: uppercase;
        font-size: 20px;
        padding:15px 15px 24px 15px;
        display: inline-block;
        min-width:250px;
        color: white;
        &:after {
          bottom:10px;
          left:15px;
          background-color: #888;
        }
      }
    }
  }
}

#hero-try-or-buy {
  border-top:1px solid #a3dbe8;
  border-bottom:1px solid #a3dbe8;
  padding: 0 40px;
  margin:40px auto;
  .button {
    width: 100%;
    margin-bottom: 5px;
    padding: .7rem;
  }
  p {
    margin-bottom: 0;
  }
  .hello-world{
    @extend .flex-center;
    align-items: center;
    & > div:first-child {
      text-align: center;
    }
    h2{
      color: #146691;
      font-size: 37px;
      margin-bottom: 0;
    }

    @media only screen and (max-width: 64em) {
      margin-bottom: 15px;
      small {
        display: block;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
  .outside-links a{
    text-align: left;
    display: block;
    padding: 5px 16px;
    color: $grey-7;
    p {
      color: #0088ce;
    }
    i {
      margin-left: 5px;
    }
  }
}

#get-started h2{
  margin-bottom: 1rem;
}

#get-started-instructions {
  #PrerequisitesSection {
    h4 p{
      font-weight: 800;
      color: #252527;
      font-size: 1.4375rem;
      margin-bottom: .5rem;
    }
    ol {
      margin-bottom: 2.25rem;
      p {
        margin-bottom: 0;
      }
    } 
  }
  .card {
    background-color: #3999cb;
    color: $white;
    border: none;
    h4 {
      color: $white;
    }
    @include tablet-landscape-and-down {
      h4 {
        padding-top: 15px;
      }
    }
    i {
      float: right;
      font-size: .9rem;
    }
    .paragraph, .paragraph p {
      display: inline-block;
      font-size: .9rem;
      margin-bottom: 0;
    }
  }
  .step-header {
    background-color: #3999cb;
    color: $white;
    border: none;
    padding: 5px 15px;
    margin: 3rem 0;
    h4 {
      color: $white;
      margin-bottom: 0;
    }
    .duration {
      display: inline;
      font-size: .9rem;
      margin-left: 10px;
      bottom: 2px;
      position: relative;
      color: #aae3ec;
      .paragraph, .paragraph p {
        display: inline;
        font-size: .9rem;
      }
    }
  }
  .step-num {
    color: #aae3ec;
    display: inline;
  }
  ol li p, ul li p{
    margin-bottom: 1rem;
  }
  .content-img img {
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 540px;
  }
  table {
    width: 100%;
  }
  #MoreResources {
    border: 10px solid #e6e7e8;
    padding: 1.5rem;
    margin-top: 3rem;
    ul li:before{ 
      display: none;
    }
  }
}


@include desktop-and-down {
  #hero-try-or-buy {
    padding: 0;
    margin:0;
    .hello-world {
      padding: 0;
    }
  }
}
