form.search {
  position: relative;
  input.query {
    -webkit-appearance:searchfield;
  }
  input.query:focus ~ .searchResults {
    display: block;
  }
  span.search-close {
    color:white;
    background:$grey-3;
    position: absolute;
    top: 12px;
    right: 8px;
    color:black;
    line-height: 10px;
    font-size: 21px;
    border-radius: 50%;
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    padding-top: 1px;
    display: none;
  }
}

.searchResults {
  position: absolute;
  width:100%;
  background:white;
  z-index: 999;
  border-radius: 0 0 $global-radius $global-radius;
  border:1px solid $grey-3;
  top:42px;
  display: none;
  span.highlight {
    font-weight:600;
    background:#FFFFD6;
    padding:0 2px;
    border-radius:2px;
  }
  li {
    display: block;
    width:100%;
    margin:0;
    a {
      padding:10px;;
      display: block;
      color:$grey-7;
    }
    &.active-item, &:hover {
      a {
        background:$dark-blue;
        color:white;
        span.highlight {
          color:black;
        }
      }
    }
  }
}


@include tablet-portrait-and-down {
  form.search {
    span.search-close {
      display: block;
    }
  }

  .searchResults {
    display: block;
    border:0;
  }
}