rhdp-search-app {
    display: flex;
    flex-flow: column;
    font-family: "Overpass","Open Sans",Helvetica,sans-serif;
    .hide { display: none; }
    .show { display: block; }
    .mobile { display: none; }

    h2 { margin-top: 30px; }

    .loading {
        background:url("https://developers.redhat.com/images/icons/ajax-loader.gif") center 80px no-repeat;
        min-height:250px;
    }
}

rhdp-search-box {
    margin: 0 0 1em 0;

    form.search-bar { 
        box-sizing: border-box;
        color: rgb(66,66,66);
        cursor: auto;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        line-height: 24px;
        position: relative; 
        margin: 0;
        width: 100%;
    }

    form.search-bar div {
        flex: 1 1 100%;
    }
    
    input.user-search {
        background-color: white;
        border-bottom-color: rgb(204,204,204);
        border-bottom-style: solid;
        border-left-color: rgb(204,204,204);
        border-left-style: solid;
        border-right-color: rgb(204,204,204);
        border-right-style: solid;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        text-align: start;
        padding: 8px;
        transition-property: box-shadow, border-color;
        transition-delay: 0s, 0s;
        transition-duration: 0.45s, 0.45s;
        transition-timing-function: ease, ease-in-out;
        user-select: text;
        width: 100%;
    }

    button {
        text-transform: uppercase;
        background: #c00;
        text-decoration: none;
        border: 0;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
        padding: 9px 30px;
        transition: background .2s ease-in 0s;
        line-height: 1.2em;
        cursor: pointer;
        position: relative;
        text-align: center;
        color: #fff;
    }

    button i.fa.fa-search { display:none; }

    @media only screen and (max-width: 768px) {
        margin-bottom: .5em;
        button { display: block; padding: 9px 20px; }
        button i.fa.fa-search { display: inline-block; font-size: 18px; }
        button span { display: none; }
    }
}

rhdp-search-result-count, rhdp-search-empty-query {
    font-weight: 600;
    font-size: 1.2em;
    display: block;
    margin-bottom: 1em;

    p {
        margin-top: 1em;
        font-size: 18px;
    }

    @media only screen and (max-width: 768px) {
        border-bottom: 1px solid $grey-3;
    }
}

rhdp-search-sort-page {
    display: block;
    margin: 1em 0;
    border-bottom: 1px solid $grey-4;

    p { margin-bottom: 0; }
    
    select { width: auto; padding-right: 20px; }
    .tight {
        display: none;
    }
    .tight .button {
        background: #ccc;
        text-decoration: none;
        border: 0;
        font-weight: 600;
        font-size: 16px;
        padding: 9px 25px;
        transition: background .2s ease-in 0s;
        line-height: 1.2em;
        cursor: pointer;
        position: relative;
        text-align: center;
        color: #333; 
        width: 100%;
        display: block;
        width: 150px;
        margin-right: 2em;
    }

    @media only screen and (max-width: 768px) {
        align-self: flex-end; 
        position: absolute; 
        top: -4.5em;
        right: 1em;
        border-bottom: none;

        top: -4.6em;

        span { display: none; }
        select { 
            width: 150px; 
            text-align: center;
            text-align-last: center;
            font-weight: 600;
            height: auto;
            border: 1px solid $blue;
            line-height: 1.44;
            background-color: transparent;
            padding: 8px 0;
            color:$blue;
            font-size: 16px;

            &:hover, &:focus {
                background-color: $blue;
                color: $white;
            }
        }
        .roomy {
            display: none;
        }
        .tight { 
            display: block; 
        }
        .clear {
            padding: 0;
            margin: 0; 
            border: 1px solid white;
            width: auto;
            font-weight: bold;
        }
    }

    @media only screen and (max-width: 365px) {
        position: relative;
        left: 0; top: 0;
    }
}

rhdp-search-filters {
    display: block;

    &[type="modal"] {
        display: none;
    }

    .title {
        background: #e6e7e8; 
        color: #000;
        text-transform: uppercase;
        padding: .5em 1em;
        font-weight: 600;
    }
    .cancel { display: none; }
    .showBtn { 
        display: none;
        background: #ccc;
        text-decoration: none;
        border: 0;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
        padding: 9px 40px;
        transition: background .2s ease-in 0s;
        line-height: 1.2em;
        cursor: pointer;
        position: relative;
        text-align: center;
        color: #333; 
        width: 100%;
        }
    .groups {
        background-color: #f9f9f9;
        padding-bottom: 30px;
    }
    .active-type {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
    }
    .active-type strong {
        flex: 0 1 auto; 
        order: 1; 
        font-weight: 600;
        font-size: 1.2em;
        margin: 0.3em .7em 0 0;
        white-space: nowrap;
    }
    .active-type div { flex: 1 1 auto; order: 2; list-style: none; }
    .active-type a {
        flex: 0 1 auto;
        order: 3;
        text-decoration: none;
        color: #0066CC;
        margin-top: .3em;
        font-weight: 100;
        font-size: 14px;
        white-space: nowrap;
        &:hover, &:active, &:focus { color: #004080; }
    }

    #footer { display: none; }

    @media only screen and (max-width: 768px) {
        .control {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding-top: 51px;
            background: rgba(0,0,0,.5);
            border: none;
            z-index: 99;
            right: 100%;
            position: absolute;
            top: 100px;
        }

        flex: none; 
        align-self: 
        flex-start; 
        float: left;
        border: none;
        margin: 0 0 1em 0; 

        .title { flex: 0 0 40px; order: 1; vertical-align: middle; }
        .showBtn {
            display: block;
            width: 150px;
            height: auto;
            border: 1px solid $blue;
            line-height: 1.44;
            background-color: transparent;
            padding: 8px 0;
            color:$blue;

            &:hover, &:focus {
                background-color: $blue;
                color: $white;
          }
        }

        &[type="active"] {
            width: 100%;
            .active-type {
                display: block;
                margin-bottom: 0;
            }
            .active-type strong {
                display: none;
            }
            .active-type div {
                list-style: none;
                width: auto;
                white-space: nowrap;
                overflow-y: hidden;
                // overflow-x: scroll;
                -webkit-overflow-scrolling: touch;
            }
            .active-type a {
                display: block;
                clear: left;
                font-size: 14px;
            }
        }

        &[type="modal"] {
            display: block;
            .modal {
                transition: .5s ease-in-out;
                transform: translateX(100%); 
            }

            .cover {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding-top: 100px;
                background: rgba(0,0,0,.5);
                border: none;
                z-index: 99;
                right: 100%;
                position: absolute;
                top: 0px;
            }
            .cancel { 
                display: block; 
                float: right; 
                color: $blue; 
                font-size: 14px;
            } 
            
            .groups {
                background: white;
                flex: 1 1 100%; 
                order: 1;
                overflow: auto;
            }
            .footer { 
                display: block;
                flex: 1 0 auto;
                height: 70px;
                order: 2;
                text-align: center;
                background-color: $black;
                padding: 1em;
            }
            .clearFilters {
                display: inline-block;
                border: 1px solid $blue;
                line-height: 1.44;
                background-color: $white;
                padding: 8px 35px;
                color:$blue;
                text-transform: uppercase;
                margin-right: 1em;
                font-weight: 600;
                &:hover, &:focus {
                    background-color: $blue;
                    color: $white;
                }
            }
            .applyFilters {
                text-transform: uppercase;
                background: $red;
                font-weight: 600;
                padding: 10px 45px;
                transition: background .2s ease-in 0s;
                color: $white;
            }
        
            rhdp-search-filter-group {
                margin: 0 0 .5em 0;
            }
        }
    }
}
    
rhdp-search-results {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    a.moreBtn {
        display: inline-block;
        border: 1px solid $blue;
        line-height: 1.44;
        background-color: $white;
        padding: 8px 35px;
        color: $blue;
        text-transform: uppercase;
        margin: 0 auto;
        font-weight: 600;
        &:hover, &:focus {
            background-color: $blue;
            color: $white;
        }
    }

    @media only screen and (max-width: 768px) {
        display: block;
    }
}

rhdp-search-result {
    font-family: "Overpass","Open Sans",Helvetica,sans-serif;

    .subscription-required {
        &:before {
            content: '';
            background: url('http://static.jboss.org/rhd/images/icons/subscription-required.svg') no-repeat;
            background-size:cover;
            position:absolute;
            margin-top: 5px;
            width: .9em;
            height: .9em;
        }
        .caps {
            margin-left: 20px;
        }

    }
    .result {
        margin-bottom: 25px;
    }

    .result.result-search {
        border-bottom: 1px solid $grey-3;
    }

    h4 {
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        line-height: 1.4;
        color: #06c;
        cursor: pointer;
        margin: 0;
        font-family: "Overpass","Open Sans",Helvetica,sans-serif;
    }

    p { margin: 0; 
        color: #424242;
        font-family: "Overpass","Open Sans",Helvetica,sans-serif; 
        }

    .caps {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        -webkit-font-smoothing: antialiased;
    }
    .result-description {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 45px;
        margin-bottom: 25px;
    }
    .hlt { font-weight: 600; }
}

rhdp-search-filter-group {
    &:first-of-type { padding-top: 1.2em; }

    display: block;
    margin: 0 1em .5em 1em;
    position: relative;
    cursor: pointer;

    h6 {
        font-weight: 600;
        text-transform: uppercase;
        margin: .5em 0;
        padding-bottom: .3em;
        border-bottom: 1px solid #8c8f91;
        &:last-child {
            border-bottom: none;
        }
    }

    .toggle { 
        float: right;
        font-weight: 600;
        &.expand {
            transition: .1s ease-in-out;
            transform: rotate(0.25turn);
        }
    }

    .filters {
        font-size: .9em;
    }
    .hide { display: none; }

    a.more {
        margin-left: 2.3em;
        font-size: 14px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 768px) {
        h6 {
            padding-left: 1em;
            padding-right: 1em;
        }
        .group {
            padding: 0 1em;
        }
        a.more { margin-left: 0; }
    }
}

rhdp-search-filter-item {
    font-family: "Overpass","Open Sans",Helvetica,sans-serif;
    span { display: none; }
    .text {
    flex: 1 6 auto;
    }

    .list {
        display: flex;
        flex-direction: row;
        padding: .5em .5em 0 1.1em;
        clear: left;
        font-size: 14px;
        line-height: 1.25em;
        height: auto;
        cursor: pointer;

        label {
            margin-left: 0;
        }
    }

    input[type=checkbox] {
        margin: .25em 5px 0 0;
        flex: 0 0 auto;
        order: 0;
    }

    #checkbox.checked {
        background-color: #0089d0;
        border-color: #0089d0;
    }

    .inline {
        padding: .5em .7em;
        font-size: 13px;
        line-height: 1em;
        border: 1px solid #8c8f91;
        background-color: #8c8f91;
        color: #fff;
        margin-right: .5em;
        margin-bottom: .5em;
        display: inline-block;
        cursor: default;

        .clearItem {
          font-weight: 700;  
          cursor: pointer;
        }
    }

    #toggle { display: none; }

    &:last-child .inline {
        margin-right: 0;
    }

    @media only screen and (max-width: 768px) {
        .list { 
            line-height: 25px;
            padding-left: 0;
            font-size: 16px; 
        }
        span { display: inline; font-size: 16px; }

        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
            order: 2;
        }

        label {
            cursor: pointer;
            text-indent: -1200px;
            width: 50px;
            height: 25px;
            background: grey;
            display: block;
            border-radius: 25px;
            position: absolute;
            right: 0;
        }

        label:after {
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: 23px;
            height: 23px;
            background: #fff;
            border-radius: 20px;
            transition: 0.3s;
        }

        input:checked + label {
            background: $accent-blue;
        }

        input:checked + label:after  {
            left: calc(100% - 1px);
            transform: translateX(-100%);
        }

        label:active:after {
            width: 33px;
        }


        // input[type=checkbox] {
        //     order: 2;
        // }

        // .list { 
        //     
        // }
    }
}

rhdp-search-onebox {
    div {
        display: block;
        border: 1px solid $grey-3;
        padding: 25px;
        margin-bottom: 3em;
    }

    p { margin-bottom: 20px; }
    a.button { margin-bottom: 0; }

    ul.slots {
        display: inline;
        li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;

            a { 
                position: relative;
                padding-left: 3em;

                &:hover, &:focus {
                    text-decoration: underline;

                    svg {
                        fill: $linkhover;
                    }
                }
            }

            svg {
                max-width: 2.7em;
                margin-right: 5px;
                fill: $blue;
                position: absolute;
                left: 0;
            }
        }
    }
}
@include tablet-landscape-and-down {
    rhdp-search-onebox {
        ul.slots {
            display: block;
            margin-left: 0;
            margin-top: 20px;
            li img { max-width: 2.7em; }
        }
    }
}

@include tablet-portrait-and-down {
    rhdp-search-onebox {
        ul.slots li img{ max-width: 2em; }
    }
}

@include mobile-landscape-and-down {
    rhdp-search-onebox {
        ul.slots { display: none; }
    }
}

@media only screen and (max-width: 768px) {
    .mobile { display: block; }
    .desktop { display: none; }
    rhdp-search-app {
        .content {
            flex-direction: column;
            position: relative;
            margin: 0;
        }
    }

    rhdp-search-filter-item {
        #check { display: none; }
        #toggle { display: block; }
    }
}