/*
  Search Form - used on the Buzz page and the header
*/
form.search {
  position: relative;
  input.query {
    -webkit-appearance:searchfield;
  }
  input.query:focus ~ .searchResults {
    display: block;
  }
  span.search-close {
    color:white;
    background:$grey-3;
    position: absolute;
    top: 12px;
    right: 8px;
    color:black;
    line-height: 10px;
    font-size: 21px;
    border-radius: 50%;
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    padding-top: 1px;
    display: none;
  }
}

span.highlight, span.hlt {
  font-weight:600;
  background:#FFFFD6;
  border-radius:2px;
}
.searchResults {
  position: absolute;
  width:100%;
  background:white;
  z-index: 999;
  border-radius: 0 0 $global-radius $global-radius;
  top:42px;
  display: none;
  li {
    display: block;
    width:100%;
    margin:0;
    border-left:1px solid $grey-3;
    border-right:1px solid $grey-3;
    &:first-child {
      border-top:1px solid $grey-3;
    }
    &:last-child {
      border-bottom:1px solid $grey-3;
    }
    a {
      padding:10px;;
      display: block;
      color:$grey-7;
    }
    &.active-item {
      a {
        background:$dark-blue;
        color:white;
        span.highlight, span.hlt {
          color:black;
        }
      }
    }
  }
}

form.header-search {
  position: relative;
  z-index: 2;
  margin-left: 20px;
   &:before {
    content: "\f002";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    z-index: 10;
    padding:10px;
   }
  input {
     display:inline-block;
     padding: 10px 10px 10px 25px;
     line-height: 1;
     position: relative;
     min-width:300px;
     margin-bottom: 0;
  }
  button {
    position: absolute;
  }
}


@include tablet-portrait-and-down {
  form.search {
    span.search-close {
      display: block;
    }
  }

  .searchResults {
    display: block;
    border:0;
  }
}

// New Search page styles
#searchpage {
  margin-top: 40px;

  .divider {
    border-bottom: 1px solid #d5d5d5;
  }

  .sort-by {
    select {
      max-width: 100px;
      margin: 10px 5px 5px 5px;
    }
  }

  .accordion {
    position:relative;
    background-color:white;
    .filter-container {
      background-color: #F1F1F1;
      border-radius: 5px;
      padding: 5px;
      margin-top: 10px;

      input.filter-toggle {
        display:block;
        margin:0 0;
        width:100%;
        height:30px;
        position:relative;
        cursor:pointer;
        opacity:0;
        filter:alpha(opacity=0);

        &:checked + label {
          // background-color:darkblue;
        }

        &:checked + label + div {
          display:none;
        }
      }

      label.filter-label {
        display:block;
        font:bold 12px/30px Arial,Sans-Serif;
        text-transform: uppercase;
        margin:-30px 0 0 0;
        padding:0 15px;
      }

      div.filter-content {
        padding:0 15px 10px 15px;
        display:block;
        ul {
          list-style: none;
          margin-bottom: 0;
        }
        select {
          margin-bottom: 0;
        }
      }
    }
  }

  .searchpage-middle {
    padding-left: 2em;

    .search-bar {
      .large-21.columns {
        padding-right: 0;
      }
      .large-3.columns {
        padding-left: 0;
      }
      a.button.postfix {
        height: 40px;
        line-height: 3;
        i {
          font-size: 1.5em;
        }
      }
    }
  }
}


.search-bar {
  position: relative;
  input[type="text"] {
    padding-left:30px;
  }
  #search-button {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    margin:0;
    padding:0 10px;
    background:none;
    color:#919191;
    width:auto;
    height:auto;
    line-height:1;
  }
}

.search input[type=text]:focus {
  width: 100% !important;
}

/*
  Search Page Results
 */

.results {
  transition: all 0.5s;
  opacity:1;
  margin:20px 0;
  &.invisible {
    opacity:0;
  }
}

.result {
  margin-bottom: 40px;
  h4 {
    margin-bottom: 0;
  }
  .meta-data {
    font-size: 12px;
    margin-bottom: 0;
  }
  .tags-list {
    font-size: 12px;
    color:$grey-6;
  }
}

span.tag:after {
  content: ', '
}

span.tag:last-child:after {
  content:'';
}


.sorting {
  select {
    width: auto;
    padding-right: 20px;
    margin: 0 5px;
  }
}
