/*
  Slider Module
  This CSS styles all sliders on the site, variants are coded near the end
*/
.slider-wrapper {
  position: relative;
  overflow: hidden;
  .slider {
    // max-height:405px;
    overflow: hidden;
    &.rounded {
      border-radius:$global-radius;
      overflow: hidden;
    }
    .slide {
      position: relative;
      color:white;
      padding-top: 20px;
      padding-bottom: 20px;
      a.slider-img {
        width: 100%;
        img {
          width: inherit;
        }
      }
      @include flexbox;
      & > .row {
        @include align-self(center);
      }
      img {
        &.desktop {
          width:100%;
        }
        &.mobile {
          padding: 0;
        }
      }
    }
  }

  /* Individual Slide Designs */
  .slide--matthicks {
    background:cdn("../images/slider/homepage_carouselhelloworld_bkg.png") center repeat-x;
    background-size:auto 100%;
  }

  .slide--devnation {
    background:cdn("../images/slider/RHDev_homecarousel_docker_desktop_09252015.jpg") center repeat-x;
    background-size:auto 100%;
    @include mobile-landscape-and-down {
      background-image:cdn("../images/slider/RHDev_homecarousel_docker_mobile_09252015.png");
      .slide-text {
        margin-top: 0;
      }
    }
    text-align: center;
    h2 {
      text-transform: uppercase;
      color:white;
      line-height: 1.2;
    }
    img {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .slide-text {
      margin-top: 65px;
    }
  }

  .slide--redhatdevelopers {
    background:cdn("../images/slider/homepage_carousel_join_desktop_bkg.png") center repeat-x;
    background-size:auto 100%;
    @include mobile-landscape-and-down {
      background-image:cdn("../images/slider/homepage_carousel_join_mobile_bkg.png");
      h2 {
        font-size: 55px !important;
      }
    }
    h2 {
      text-shadow:3px 3px 0 #994030;
      font-size: 60px;
      line-height: 1;
      text-align:left;
    }
    p {
      font-size: 20px;
      text-shadow:1px 1px 0 #994030;
      text-align:left;
      padding-left: 50px;;
    }
  }

  .slide--modernjava {
    background:cdn("../images/slider/RHDev_homecarousel_oreilly_desktop.png") center repeat-x;
    background-size:auto 100%;
    .large-11 {
      margin-left: 15%;
    }
    h2 {
      color:white;
      line-height: 1;
      font-size: 55px;;
    }
    p {
      font-size: 30px;
    }
    @include desktop-small-and-down {
      .large-11 {
        margin-left: 0%;
      }
      img {
        max-width: 252px;
        display: block;
        margin: 0 auto;
      }
      .button {
        max-width: 252px;
        display: block;
        margin: 0 auto 30px auto;
      }
    }
    @include mobile-landscape-and-down {
      background-image:cdn("../images/slider/RHDev_homecarousel_oreilly_mobile.png");
    }
  }

  .slide--devoxx {
    background:cdn("../images/slider/RHDev_homecarousel_desktop_devoxx.png") center;
    background-size: cover;
    h2 {
      color:white;
      line-height: 1;
      font-size: 60px;;
    }
    p {
      font-size: 30px;
      font-weight: 600;
    }
    @include mobile-landscape-and-down {
      background-image:cdn("../images/slider/RHDev_homecarousel_mobile_devoxx.png");
    }
  }

  .slide--atomic {
    background:cdn("../images/slider/homepage_carousel_container_desktop_bkg.jpg") center repeat-x;
    background-size:auto 100%;
    @include mobile-landscape-and-down {
      background-image:cdn("../images/slider/homepage_carousel_container_mobile_bkg.png");
    }

    text-align: center;
    h2 {
      color:white;
      text-transform: uppercase;
      line-height: 1;
      padding:0 50px;
      margin-bottom: 20px;
    }
    p {
      font-size: 22px;
      max-width:450px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }


  .slider-label {
    position: absolute;
    background:#000;
    background:rgba(0,0,0,0.5);
    bottom:0;
    padding:10px;
    color:white;
    padding-right: 150px;
    width:100%;
    h3 {
      font-size: emCalc(18);
      margin-bottom: 0;
      color:white;
      a {
        color:white;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
  .slider-pager {
    position: absolute;
    right:15px;
    bottom:15px;
    a {
      display: inline-block;
      background:$grey-7;
      width: 10px;
      height: 10px;
      text-indent: -9999px;
      margin:4px;
      border-radius: 50%;
      &.slider-pager-active {
        background:white;
      }
    }
  }
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  max-height:450px;
  position: relative;
  visibility:hidden;
  @include flexbox;
}

.slider-loaded .swipe-wrap {
  visibility:visible;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.slide-text {
  text-align: center;
}

.slide {
  blockquote {
    border:0;
    color:white;
    font-size: 20px;
    line-height:1.2;
    margin-bottom: 0;
    color:#eafbff;
    &:before { content : '“'; }
    &:after { content : '”'; }
    &:before, &:after {
      font-size: 35px;
      line-height:.58; // thats 20/35
      position: relative;
      top:5px;
      font-weight: 900;
    }
    strong {
      color:white;
    }
  }
  cite {
    display: block;
    clear: both;
    font-size: 22px;
    padding-bottom: 10px;
  }
  small {
    display: block;
    font-size: 12px;
    line-height: 14px;
  }
  h3, h4 {
    font-weight: 500;
    color:white;
  }
  h3 {
    padding-bottom: 10px;
  }
}

.slide__heading {
  color:white;
  font-size: 45px;
  padding:20px 0;
  text-transform: uppercase;
}

.portrait {
  display:block;
  // offset the slide padding so we have fullbleed
  margin-top: -20px;
  margin-bottom: -20px;
  img {
    width:auto;
    max-width: none;
    position: relative;
    left: -60%;
  }
}

.text-pagination {
  @extend .row;
  @extend .grow;
}
.slider-controls {
  background:$headline-grey;
  ul {
    list-style: none;
    margin: 0;
    // Flexbox Wrapper
    display:flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }
  .slider-item {
    text-align: center;
    color:white;
    font-weight: 400;
    cursor:pointer;
    transition:0.3s;


    // Flexbox Basics
    display: flex;
    align-items: center;
    flex:3;
    flex-wrap:wrap;
    word-wrap: break-word;

    // Flexbox w/ Prefixes (http://autoprefixer.github.io/)
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex:3;
    -webkit-flex:3;
    -ms-flex:3;
    flex:3;
    & > a {
      display: block; /* fixes IE11 flexbox wrapping */
      flex: 1;
      padding:10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    // use CSS not() to only apply to the elements you want
    &:not(:last-child) {
      border-right:1px solid #424242;
    }

    &:hover, &.slider-pager-active {
      background:$red;
    }

    &.arrow {
      max-width:80px;
      &:hover {
        background:none;
      }
    }
  }
  strong {
    font-weight: 600;
    display: block;
  }
  a {
    color:white;
    width: 100%;
    &:hover {
      color:white;
    }
    &.slider-prev {
      // left:-75px;
    }
    &.slider-next {
      // right:-75px;
      // flex-basis:50px;
    }
  }
}

// Side by side slider design
.slider.slider-side-by-side {
  overflow: hidden;
  border-radius:$global-radius;
  background-clip: padding-box;
  overflow: hidden;
  .slide {
    border-radius:$global-radius;
    background-clip: padding-box;
    overflow: hidden;
  }
  .slider-label {
    width:40%;
    max-width:400px;
    top:0;
    padding:45px;
    text-shadow:1px 1px 0px #000;
    h4 {
      color:$med-green;
    }
    h2 {
      margin:0;
    }
    a {
      color:white;
    }
  }
}


@include desktop-small-and-down {
    .portrait {
      display: none;
    }
   .swipe-wrap {
    max-height:none;
   }
}

@include tablet-landscape-768-and-down {
  .swipe-wrap {
    counter-reset: item; /* create a item counter scope */
  }
  .slider-item:not(.arrow) {
    counter-increment: item; /* add 1 to chapter */
    strong {
      display: none;
    }
    a:after {
      content: counter(item);
    }
  }

  .slide__heading {
    padding: 10px 0 0 0;
    font-size: 30px;
    margin-bottom: 0;
  }

  .slide {
    h3 {
      padding: 0;
    }
  }

}
