.vhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Socialite Look-a-like defaults
 */

.social-buttons {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    display: block;
    margin: 0;
    padding: 5px;
    float: left;
  }

  .socialite {
    display: block;
    position: relative;
    background: none !important;
  }

  .socialite-loaded {
    background: none !important;
  }

  .twitter-share {
    width: 55px;
    height: 65px;
    background-position: 0 0;
  }

  .googleplus-one {
    width: 50px;
    height: 65px;
    background-position: -75px 0;
  }

  .googleplus-share {
    width: 50px;
    height: 65px;
    background-position: -75px 0;
  }

  .facebook-like {
    width: 50px;
    height: 65px;
    background-position: -145px 0;
  }

  .facebook-share {
    width: 50px;
    height: 65px;
    background-position: -145px 0;
  }

  .linkedin-share {
    width: 60px;
    height: 65px;
    background-position: -215px 0;
  }
}