// Solutions Grid
.solution {
  margin-bottom: 20px;
  position: relative;
  &:last-child.column { 
    float:left; 
  }
  img {
    width:100%;
    @include transition(all 0.7s);
  }
  p {
    margin-top: 10px;
  }
  a.image-link {
    float: left;
    width:100%;
    overflow: hidden;
  }
  .solution-name {
    width:100%;
    text-align: center;
    background:$dark-blue;
    color:white;
    font-size:emCalc(22);
    margin: 0;
    margin-top: -50px;
    position: relative;
    padding: 10px;
    z-index: 999;
    clear: both;
    a {
      color:white
    }
  }
  &.solution-open img {
    @include transform( rotate(-3deg) scale(1.3) );
  }

  // Open State
  &.solution-open {
    .solution-name-link {
      position: absolute;
      padding-left:0.625em;
      padding-right:0.625em;
      padding-bottom: 1.25em;
      display: block;
      width:100%;
      left:0;
      bottom:0;
      top:0;
      right:0;
    }
    .solution-name {
      margin:0;
      background: rgba(74, 93, 117, 0.76);
      position: relative;
      width: 100%;
      height: 100%;
      padding-top: 18%;
      @include transition(all 0.4s);
    }
  }
}

$arrow-size : 20px;
.solutions-row {
  position: relative;
}
.solution-overlays {
  display: none;
  z-index: 999;
  width:100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.6);
  height:100%;

  @include transition(all 0.4s);
  span.arrow {
    display: block;
    width: 0;
    height: 0;
    border-right:$arrow-size solid transparent;
    border-left:$arrow-size solid transparent;
    border-top:$arrow-size solid transparent;
    border-bottom:$arrow-size solid black;
    position: absolute;
    top:($arrow-size * 2) * -1;
    z-index: 3;
    @include transition(left 0.4s);
    &:before {
      display: block;
      content : '';
      border-right:$arrow-size solid transparent;
      border-left:$arrow-size solid transparent;
      border-top:$arrow-size solid transparent;
      border-bottom:$arrow-size solid white;
      position: absolute;
      top: ($arrow-size - 1) * -1;
      left: -$arrow-size;
      z-index: 2;
    }
  }
  img {
    width:100%;
  }
}
.solutions-meta {
  margin-bottom: 20px;
}
.solution-overlay {
  max-width:900px;
  border:1px solid black;
  padding:20px;
  background:white;
  position: relative;
  margin:0 auto;
  .solution-meta {
    margin: 0;
    font-weight: 600;
    &:last-of-type {
      margin-bottom: 1.25rem;
    }
  }
  .slide {
    img {
      width:100%;
    }
  }
}

.solution-wrap {
  display:table-cell;
  vertical-align: middle;
}

.solution-intro {
  p {
    font-size: emCalc(20);
  }
}

.solutions-slider-controls {
  margin-top: 10px;
  font-size:emCalc(20);
  i {
    font-size:30px;
    margin:0 5px;
    position: relative;
    top:3px;
  }
  span {
    margin:0 3px;
  }
}

.fn-close-overlay {
  position: absolute;
  top: -20px;
  right: -15px;
  font-size: 50px;
  font-weight: 100;
  line-height: 30px;
  color:#000;
}


.widget.widget--solution {
  margin-bottom: 20px;
  img {
    width:100%;
  }
  h3 {
    background:$dark-blue;
    color:white;
    margin: 0;
    padding:2px 10px;
    text-align: center;
  }
}

blockquote.speech-bubble {
  border: 0;
  padding: 0;
  margin: 0;
  p {
    background:$grey-2;
    padding:20px;
    border-radius: $global-radius;
    position: relative;
    color:black;
    font-style: italic;
    &:after {
      display: block;
      content :'';
      border-width:25px 25px 0 0;
      border-style:solid;
      border-color:$grey-2 transparent transparent transparent;
      float: right;
      position: absolute;
      bottom:-25px;
      right:20px;
    }
  }
  cite {
    text-align: right;
    padding-top: 10px;
    padding-right: 50px;
  }
}

.row.solutions-body {
  margin-top: 1.24rem;
  ul,ol {
    list-style-position: inside;
  }
}

.more-info-link {
  input[type="text"] {
    width: 70%;
    display: inline-block;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    padding:5px;
    line-height: 1.5;
    height:auto;
    font-size: 14px;
  }
  a.button {
    display:inline-block;
    width:30%;
    float: right;
    margin: 0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    box-shadow:none;
    padding:5px;
    line-height: 1.5;
    height:auto;
    font-size: 14px;
    border:1px solid transparent;
    &:focus {
      outline: 0;
    }
  }
}

.more-info {
  margin-bottom: 10px;
  a {
    margin-right: 10px;
  }
}

.solution-header {
  h3 {
    display:inline;
  }
  .share-this {
    display: inline-block;
    width:250px;
    float: right;
    margin-top: -20px;
  }
}

.unifiedpush-downloads {
  h4.divider {
    margin-top: 0;
    margin-bottom: 10px;
  }
  a.download {
    top: -0.5rem;
    position: relative;
    display: block;
    text-align: right;
  }
}

@include tablet-portrait-and-down {
  .solution-overlays {
    padding: 0;
    background:white;
  }
  .solution-wrap {
    padding: 0;
    width: 100%;
  }
  .solution-overlay {
    position: absolute;
    top:0;
    width:100%;
    max-width: none;
    height: 100%;
    overflow: scroll;
    border: 0;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }

  .fn-close-overlay {
    position: fixed;
    top: 10px;
    right: 20px;
  }
}

@include mobile-landscape-and-down {
  li.solution {
    width:100%;
    margin:0;
    padding:0;
    margin-bottom: 10px;
  }
}
