.product-stackoverflow-container, .stackoverflow-container {
  .stackoverflow-product-update .update, .stackoverflow-update .update{
    margin-top: 1.2em;
    
    .qtn-stats {
      span {
        display: inline-block;
        text-align: center;
        margin-right: 15px;
      }
    }
    a h5.qtn-title {
      color: #006792;
    }
    span.qtn-answer {
      display: block;
      margin-top: 1em;
    }
    .callout{
      background-color: $grey-1;
      margin: 10px 0;
      padding: 10px;
    }
  }
  .stackoverflow-update .update{
    margin-top: 2em;
  }
}

.stackoverflow-main {
  background-color: #0089d0;
  background-position: left top;
  background-image: url("http://static.jboss.org/images/rhd/headers/stackoverflow_overview_background.svg");
  background-size: 37%;
  background-repeat: no-repeat;
  padding: 40px 0;
  h3, p {
    color: $white;
  }
}

.stack-help {
  background-color: $grey-8;
  margin-bottom: 25px;
  h3 {
    text-align: right;
    color: $grey-4;
  }
  p {
    color: $white;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 0 0 0;
    margin-bottom: 5px;
  }
  a {
    color: #0089d0;
  }
}

.stackoverflow-filters {
  label {
    font-weight: 800;
    color: $grey-6;
    font-size: 1.6em;
    margin-right: 20px;
    display: inline-block;
  }
  .styled-select {
    display: inline-block;
  }
}

.qtn-answer p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 70px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px !important;
}

p.so-tags{
  margin-top: 5px;
}
