// shimming a few bootstrap classes

.span4 {
  width:33%;
  float:left;
  padding:0 40px;
}

/* ------------------ Tabzilla Global tabnav ------------------------- */
.dropup {
  /* display: none;  HIDE IT UNTIL WORKING */
  height: 37px;
  background-image: cdn("http://static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png");
  background-position: left top;
  width: 112px;
  background-color: transparent;
  position: absolute;
  margin-bottom: -40px;
  z-index: 999;
  text-align: center;
  left: 50%;
  margin-left: 494px;
  margin-top: -1px !important;
}
#tabnav-panel {
  background: white;
}
#tabnav-panel li {
  list-style: none;
}
#tabnav-panel .middlewarelogo {
  border-right: 1px solid #d5d5d5;
  text-align: center;
  margin: 0 auto;
  padding: 0 35px 20px 0;
}
#tabnav {
  background-color: #FFF;
  // padding: 0 25px;
  margin: 0px auto;
  display: block;
  font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 13.5px;
  height: 100%;
  // max-width: 1180px;
  text-align: left;
}
#tabnav .tabcontent {
  padding-top: 30px;
  background: linear-gradient(to bottom, #e1eef4 0%, #ffffff 60%) no-repeat scroll 0 0 transparent;
  height: 100%;
  clear: both;
  padding: 20px 5%;
  overflow: hidden;
}
#tabnav .tabcontent .overview {
  padding-bottom: 30px;
  font-size: 15px;
}
#tabnav .span6 {
  padding: 20px 10px 0 10px;
}
#tabnav ul li {
  color: #656565;
  line-height: 23px;
  list-style: none;
  padding: 0px;
}
#tabnav ul li a {
  text-decoration: none;
  text-shadow: 0 1px 1px #e4eaf1;
}
#tabnav ul li a:hover {
  text-shadow: 1px 1px 1px #e4eaf1;
  text-decoration: none;
}
/* (I renamed all tabzilla to tabnav here...) */
#tabnav-panel.tabnav-opened {
  height: 240px;
  border-bottom: 1px solid #d5d5d5;
}
#tabnav-panel {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  height: 0;
  line-height: 1.3;
  overflow: hidden;
  position: relative;
  width:100%;
}
#tabnav-contents {
  bottom: 0;
  left: 50%;
  right: 0;
  text-align: left;
}
* html #tabnav-contents {
  zoom: 1;
}
/* IE6 */
*:first-child + html #tabnav-contents {
  zoom: 1;
}
/* IE7 */
#tabnav-contents:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
#tabnav-promo .snippet h4,
#tabnav-panel #tabnav-nav,
#tabnav-panel #tabnav-nav h2 {
  color: #484848;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
#tabnav-panel #tabnav-nav ul {
  margin: 0;
  padding: 0;
}
#tabnav-panel #tabnav-nav h2 {
  font-size: 13px;
  font-weight: 600;
  margin: 0 20px 0.4em;
  white-space: nowrap;
}
#tabnav-panel #tabnav-nav ul li ul li {
  border-right: 0 none;
  float: none;
  height: auto;
  margin: 0;
}
#tabnav-panel #tabnav-nav a {
  color: #484848;
  display: block;
  outline: 0 none;
  padding: 0.1em 8px 0.2em 20px;
}
#tabnav ul li#tabnav-search {
  border-right: 0 none;
}
#tabnav #tabnav-search ul li {
  background: none repeat scroll 0 0 transparent;
  border-right: 1px dotted #D6D6D6;
  display: inline;
  float: left;
  height: 95px;
  line-height: 1.1;
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  width: 16.5%;
}
#tabnav ul li#tabnav-search a {
  padding-top: 0;
}
#tabnav ul li#tabnav-search form {
  margin: 0.4em 10px;
}
#tabnav ul li#tabnav-search input:-moz-placeholder {
  color: #173444;
}
/* =Dropup Tab */
#tab.tabnav-opened:after {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#tab:after {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  order-radius: 8px;
  background: cdn("http://static.jboss.org/common/images/arrow-tabnav-down.png") repeat scroll 0 0 transparent;
  content: "x";
  height: 15px;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 13px;
}
#tab.tabnav-opened,
.darkbg #tab.tabnav-opened {
  background-position: 0 -47px;
}
#tab {
  /*background: url(../../images/common/tabnav-search.png) repeat scroll 0 0 transparent;  */

  display: block;
  float: right;
  height: 40px;
  overflow: hidden;
  position: absolute;
  text-indent: -2000px;
  width: 100px;
  z-index: 999;
  top: 0px;
  right: 4px;
}

@media (max-width: 1200px) {
  #tabnav-panel {
    margin: 0 auto;
  }
  .dropup {
    right:0;
    margin:0;
    left:auto;
  }
}

@media (max-width: 768px) {
  .span4 {
    width:100%;
    padding:0;
  }
  #tabnav {
    padding:0;
  }
  #tabnav .tabcontent .overview {
    padding:0;
  }
  #tabnav-panel {
    width:100%;
    margin: 0 auto;
  }
  #tabnav-panel .middlewarelogo {
    border-right: 0px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 15px;
  }
  #tabnav-panel.tabnav-opened {
    height: auto; // allow for spillover content to show
  }
  .dropup {
    height: 37px;
    background-image: cdn("http://static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png");
    background-position: left bottom;
    width: 74px;
    right:auto;
    left:0;
    margin:0;
  }
  .banner {
    border-top: 1px solid #E1EEF4;
  }
}

