// Dark Theme - Colors and Images
// body
body {
  @extend .theme-dark-background-short;
}

// Specific Home Styles
body.home {
  @extend .theme-dark-background-tall;
}

@media screen and ( max-width: 768px ) {
  body, body.home {
    background-image: none;
  }
}

// Header
header.main {
  background:rgba(0, 0, 0, 0.75);
}

// Main Nav
.top-bar {
  background-color:$black;
}
nav.top-bar {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
}
.top-bar-section li a:not(.button) {
  background: none;
}
.top-bar-section {
  // Main Nav Elements
  .main-menu {
    li {
      a {
        color:$white;
      }
    }
  }
}
h1.logo {
  a {
    color:darken($light-blue,5%);
    strong {
      color:$white;
    }
  }
}

// sub Nav
.sub-nav {
  dd.login {
    border-right:2px solid $white;
  }
  dd.login, dd.register {
    a {
      color:$white;
    }
  }
}

// Search Box
.home {
  input[type="text"] {
    background-color: $grey-3;
  }
}

