.topics-header {
  background-color: rgba(0, 0, 0, 0.77);
  padding: 20px;

  background-position: top center;
  background-size: cover;
  background-repeat: repeat-x;

  &.containers {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_containers.png');}
  &.devops {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_devops.png');}
  &.enterprise-java {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_java.png');}
  &.web-and-api-development {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_webapi.png');}
  &.mobile {
    background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_mobile.png');
    display: block;
  }
  
  @include mobile-landscape-and-down {
    &.containers {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_containers.png');}
    &.devops {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_devops.png');}
    &.enterprise-java {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_java.png');}
    &.web-and-api-development {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_webapi.png');}
    &.mobile {
      background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_mobile.png');
      display: block;
    }
    min-height: 200px;
  }

  h2, h4 {
    color: $white;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 100;
  }
}

.topics-dotted-graphics {
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-image: cdn('../images/design/topics/dotted_lines_top_left_gray.png'),  cdn('../images/design/topics/dotted_lines_bottom_right_gray.png');
}

.topics-main {
  padding-top: 4em;
  span.promo-tags {
    position: absolute;
    bottom: 16px;
    .promo-tags-label, ul li {
      font-size: 13px;
      display: inline;
      color: $white;
    }
    ul {
      list-style: none;
      display: inline;
      margin-left: 0;
      li {
        display: inline;
        &:after {
          content: ", ";
          position: relative;
          left: -2px;
        }
      }
      li:last-child{
        &:after {
          display: none;
        }
      }
    }
  }
  .main-promo{
    background-color: #0089d0;
    background-position: left top, right top;
    background-size: 45%, contain;
    background-repeat: no-repeat;
    color: $white;
    height: 400px;
    margin: 16px 0;
    padding: 25px;
    position: relative;

    &.containers {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_containers.png');}
    &.devops {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_devops.png');}
    &.enterprise-java {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_java.png');}    
    &.web-and-api-development {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_webapi.png');}
    &.mobile {
      background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_mobile.png');
      display: block;
    }

    h3 {
      color: $white;
      text-transform: uppercase;
    }
    p.description {
      font-size: 1.4em;
    }
    .promo-links {
      position: absolute;
      bottom: 16px;
      padding-right: 30px;
      a {
        color: $white;
        text-decoration: underline;
        font-size: 13px;
        line-height: 0;
      }
    }
    span.promo-tags {
      position: relative;
    }
    @include tablet-landscape-and-down {
      background-size: 30%, contain;
    }
    @include mobile-landscape-and-down {
      height: auto;
    }
  }

  .secondary-promo {
    background: #f07b00 cdn("../images/design/topics/dotted_lines_white.png") left top / 80% no-repeat;
    color: $white;
    height: 400px;
    margin: 16px 0;
    padding: 25px;
    position: relative;
    h4 {
      color: $white;
      text-transform: uppercase;
    }
    p {
      font-size: 1em;
      line-height: 1.3;
    }
    @include tablet-landscape-and-down {
      background-size: 30%;
    }
    @include tablet-portrait-and-down {
      height: auto;
    }
  }
  .tertiary-tall-promo {
    background: #90d100 cdn("../images/design/topics/dotted_lines_white.png") left top / 80% no-repeat;
    color: $white;
    height: 418px;
    margin: 16px 0;
    padding: 25px;
    position: relative;
    p {
      line-height: 1.3;
      font-size: 1em;
    }
    h4 {
      color: $white;
    }
    @include tablet-landscape-and-down {
      background-size: 30%;
      height: auto;
    }
  }
  .tertiary-promo {
    background-color: $white;
    height: 193px;
    margin: 16px 0;
    padding: 15px;
    border: 2px solid $grey-3;
    position: relative;
    p {
      font-size: 1em;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.4;
      max-height: 3em;
      color: #424242;
    }
    .promo-tags .promo-tags-label, .promo-tags ul li{
      color: #424242;
    }
    &:hover, &:active, &:focus {
      border: 2px solid #0089d0;
      background-color: #0089d0;
      cursor: pointer;
      a, p, h4, h5, .promo-tags-label, ul li , .promo-tags ul li:after{
        color: $white;
      }
    }
  }

  .right-side-promo {
    background: $grey-2 cdn("../images/design/topics/dotted_lines_gray.png") left top / 80% no-repeat;
    height: 850px;
    margin: 16px 0;
    padding: 25px;
    h4 {
      text-transform: uppercase;
    }
    h6 {
      font-weight: 600;
    }
    ul {
      list-style: none;
      li:only-child {
        margin-left: -15px;
      }
      li a {
        font-weight: 600;
      }
    }
    a.button {
      display: block;
    }
    ul.sec-4-links {
      margin-left: 0;
      li a {
        text-transform: uppercase;
      }
    }
    @include tablet-landscape-and-down {
      height: auto;
      background-size: 30%;
    }
  }
  .external-link:after {
    display: none;
  }
}

.promo-tags {
  max-width: 85%;
}
