.topics-header {
  background-color: rgba(0, 0, 0, 0.77);
  padding: 20px 35px 20px 35px;
  background-position: top center;
  background-size: cover;
  background-repeat: repeat-x;
  margin: -15px -15px 0 -15px;

  &.containers {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_containers.png');}
  &.devops {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_devops.png');}
  &.enterprise-java {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_java.png');}
  &.web-and-api-development {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_webapi.png');}
  &.dotnet {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_dotnet.png');}
  &.mobile {
    background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_mobile.png');
    display: block;
  }
  &.iot {background-image: cdn('../images/design/topics/RHDev_topicsheader_desktop_iot.png');}
  @include tablet-landscape-and-down {
    padding-top: 20px;
  }
  @include mobile-landscape-and-down {
    &.containers {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_containers.png');}
    &.devops {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_devops.png');}
    &.enterprise-java {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_java.png');}
    &.web-and-api-development {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_webapi.png');}
    &.dotnet {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_dotnet.png');}
    &.iot {background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_iot.png');}
    &.mobile {
      background-image: cdn('../images/design/topics/RHDev_topicsheader_mobile_mobile.png');
      display: block;
    }
    min-height: 200px;
  }

  h2, h4 {
    color: $white;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 100;
  }
}

.topics-dotted-graphics {
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-image: cdn('../images/design/topics/dotted_lines_top_left_gray.png'),  cdn('../images/design/topics/dotted_lines_bottom_right_gray.png');
}

.topics-main {
  padding-top: 4em;
  span.promo-tags {
    position: absolute;
    bottom: 16px;
    .promo-tags-label, ul li {
      font-size: 13px;
      display: inline;
      color: $white;
    }
    ul {
      list-style: none;
      display: inline;
      margin-left: 0;
      li {
        display: inline;
        &:after {
          content: ", ";
          position: relative;
        }
      }
      li:last-child{
        &:after {
          display: none;
        }
      }
    }
  }
  .main-promo{
    background-color: #0089d0;
    background-position: left top, right bottom;
    background-size: 45%, contain;
    background-repeat: no-repeat;
    color: $white;
    height: 400px;
    margin: 16px 0;
    padding: 25px;
    position: relative;

    &.containers {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_containers.png');}
    &.devops {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_devops.png');}
    &.enterprise-java {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_java.png');}
    &.web-and-api-development {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_webapi.png');}
    &.iot {background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_3col_iot.png');}
    &.mobile {
      background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_mobile.png');
      display: block;
    }
    &.dotnet {
      background-image: cdn("../images/design/topics/dotted_lines_white.png"), cdn('../images/design/topics/RHDev_topics_primopromo_3col_dotnet.png');
      p.description {
        font-size: 1.3em;
      }
    }

    h3 {
      color: $white;
      text-transform: uppercase;
    }
    p.description, .description {
      font-size: 1.5em;
      line-height: 1.3;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 153px;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    .promo-links {
      position: absolute;
      bottom: 16px;
      padding-right: 30px;
      a {
        color: $white;
        text-decoration: underline;
        font-size: 13px;
        line-height: 0;
      }
    }
    span.promo-tags {
      position: relative;
    }
    @include tablet-landscape-and-down {
      background-size: 30%, contain;
      &.dotnet, &.iot {
        min-height: 445px;
      }
    }
    @include mobile-landscape-and-down {
      height: auto;
    }
  }

  .secondary-promo {
    background-color: #ec7a08;
    color: $white;
    height: 400px;
    margin: 16px 0;
    padding: 25px;
    position: relative;
    &:hover{
      opacity: .8;
      
    }
    a {
      color: $white;
    }
    &.dotnet {
      a, a i {
        color: $white;
      }
    }
    h4 {
      color: $white;
      text-transform: uppercase;
    }
    p, .description {
      font-size: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 1.3;
      max-height: 200px;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
    }
    @include tablet-landscape-and-down {
      background-size: 30%;
      &.dotnet, &.iot {
        min-height: 445px;
      }
    }
    @include tablet-portrait-and-down {
      height: auto;
      &.dotnet, &.iot {
        min-height: 200px;
      }
    }
  }
  .tertiary-tall-promo {
    background-color: #3f9c35;
    color: $white;
    height: 418px;
    margin: 16px 0;
    padding: 25px;
    position: relative;
    &:hover{
      opacity: .8;
    }

    a {
      color: $white;
    }

    p, .description {
      line-height: 1.3;
      font-size: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 192px;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
    }
    h4 {
      color: $white;
    }
    @include tablet-landscape-and-down {
      background-size: 30%;
      height: auto;
    }
  }
  .tertiary-promo {
    background-color: $white;
    height: 193px;
    margin: 16px 0;
    padding: 15px;
    border: 2px solid $grey-3;
    position: relative;

    a {
      color: #424242;
    }
    h5 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    p, .description {
      font-size: 1em;
      line-height: 1.4;
      color: #424242;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 43px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .promo-tags .promo-tags-label, .promo-tags ul li, .promo-tags .field__item {
      color: #424242;
    }
    &:hover, &:active, &:focus {
      border: 2px solid #a3dbe8;
      background-color: #a3dbe8;
      cursor: pointer;
      a, p, h4, h5, .promo-tags-label, ul li , .promo-tags .field__item, .promo-tags ul li:after{
        color: $white;
      }
    }
  }

  .right-side-promo {
    background: $grey-2 cdn("../images/design/topics/dotted_lines_gray.png") left top / 80% no-repeat;
    height: 850px;
    margin: 16px 0;
    padding: 25px;
    h4 {
      text-transform: uppercase;
    }
    h6 {
      font-weight: 600;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 10px;
      }
      li:only-child {
        margin-left: -15px;
      }
      li a {
        font-weight: 600;
      }
    }
    a.button {
      display: block;
    }
    ul.sec-4-links {
      margin-left: 0;
      li a {
        text-transform: uppercase;
      }
    }
    @include tablet-landscape-and-down {
      height: auto;
      background-size: 30%;
    }
  }
  .external-link:after {
    display: none;
  }
  ul.social-links {
    margin-top: 10px;
    margin-left: 0;
    li {
      display: inline;
      margin-right: 7px;
      a i{
        color: #0089d0;
      }
    }
  }
  ul.no-ident-li li{
    margin-left: -15px;

  }
}
ul.topic-resources.topic-resources-list{
  list-style: none;
  padding-left: 10px;
  max-height: 691px;
  overflow: hidden;
  li {
    display: inline-block;
    background-color: #FFFFFF;
    height: 193px;
    width: calc(25% - 34px);
    margin: 16px;
    padding: 15px;
    border: 2px solid #d5d5d5;
  }
  h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  p.description {
    font-size: 1em;
    line-height: 1.4;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 43px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  p.tags {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.4;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 16px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    position: relative;
    bottom: -16px;
  }
  li:hover, li:active, li:focus {
    border: 2px solid #a3dbe8;
    background-color: #a3dbe8;
    cursor: pointer;
    a, p, h4, h5, p.description, p.tags{
      color: $white;
    }
  }
}

@include tablet-portrait-and-down {
  ul.topic-resources.topic-resources-list {
    max-height: 2266px;
    li {
      width: calc(50% - 34px);
    }
  }
}
@include mobile-landscape-and-down {
  ul.topic-resources.topic-resources-list {
    height: 3605px;
    li {
      width: calc(100% - 34px);
    }
  }
}
.promo-tags {
  max-width: 85%;
}

// Styles for custom .NET Topics page
#dotNet .topics-main {
  .right-side-promo {
    height: 418px;
    h4 {
      font-size: 1.2em;
    }
  }
  .main-promo {
    background-size: 26%, contain;
    height: 400px;
    span.promo-tags {
      position: absolute;
    }
  }
}

#IoT .topics-main {
  .right-side-promo {
    height: 418px;
    h4 {
      font-size: 1.2em;
    }
  }
  .main-promo {
    background-size: 26%, contain;
    height: 400px;
  }
}

.right-side-promo.right-iot {
  height: 418px
}

.usb-login p, .usb-login ul{
  margin-bottom: 8px;
}
.topics-main .right-side-promo .usb-login ul li {
  margin-bottom: 0;
}

// HACK!! Working around the css / layout for drupal
.topics-main .contextual-region .promo-tags {
  position: inherit;
  bottom: inherit;
}