.verifier {
    text-align: center;

    h3 {
        font-size: 1.8rem;
        margin-bottom: 1em;
    }

    label {
        font-size: 1.4em;
        font-weight: 600;
        display: inline;
        @media only screen and (max-width: 768px) {
            display: block;
            margin-bottom: 1em;
        }
    }

    input {
        padding: .5em;
        width: 25em;
        margin-bottom: 1em;
        height: 42px;
        outline-color: $blue;
        @media only screen and (max-width: 768px) {
            width: 80%;
        }
    }

    .button.heavy-cta {
        margin-bottom: 1em;
        padding-left: 1.25em;
        padding-right: 1.25em;
        @media only screen and (max-width: 768px) {
            width: 80%;
        }
    }

    h5 {
        max-width: 25em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
}

.member {
    font-size: 5em;
    font-weight: 600;
    margin-bottom: 0;
    @media only screen and (max-width: 768px) {
        font-size: 4.25em;
    }
}

.notMember {
    @extend .member;
    color: #8f0000;
}

.isMember {
    @extend .member;
    color: green;
}