.verify-member {
    text-align: center;
}

.verify-member h3 {
    font-size: 1.8rem;
    margin-bottom: 1em;
}

.verify-member label {
    font-size: 1.4em;
    font-weight: 600;
    display: inline;
}

.verify-member input {
    padding: .5em;
    margin-left: 1em;
    width: 250px;
}

.notMember {
    font-size: 5em;
    color: #8f0000;
    font-weight: 600;
    margin-bottom: 0;
}

.isMember {
    font-size: 5em;
    color: green;
    font-weight: 600;
    margin-bottom: 0;
}

.verify-member h5 {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    .verify-member label {
        display: block;
        margin-bottom: 1em;
    }
}