.video-page {

  .video-slides div.video-container:only-child { width: 100% !important; }

  .field--type-video-embed-field { margin-bottom: 1.5em; }
  .page-info-bar { 
    margin-bottom: 4.5em;
    width: calc(100% - 30px);
  }
  .video-description {
    border-bottom: 1px solid #8c8f91;
    margin-bottom: 1em;
  }
  .video-transcript {
    h5 {
      border-bottom: 1px solid #8c8f91;
      padding-bottom: 1em;
      margin: 3em 0 1.5em 0;
    }
    border-bottom: 1px solid #8c8f91;
    padding: 2em 0 1em 0;
    margin-bottom: 2.5em;

    .field--name-field-video-transcript {
      max-height: 350px;
      overflow: scroll;
    }
  }
  .field--name-field-speakers .field__items > .field__item:not(:only-child):not(:last-child) {
    &:after { content: ','; }
  }

  .white-card {
    background-color: #fff;
    height: auto;
    margin: 16px 0;
    padding: 15px;
    border: 2px solid #d5d5d5;
    position: relative;
    h6 {
      font-weight: bold;
      text-transform: uppercase;
      color: $grey-5;
    }
    span {
      margin: 1em 0;
      font-size: 18px;
      font-weight: 600;
    }
  }
  @include tablet-portrait-and-down { 
    h2 { font-size: 30px; }
  }
}
