.video-page {
  div.video-container:only-child { width: 100% !important; }
  .slides {
    iframe {
      width: 595px;
      height: 392px;
    }
    small { display: block; }
  }
  .field--type-video-embed-field { margin-bottom: 1.5em; }
  .page-info-bar { 
    margin-bottom: 4.5em;
    width: calc(100% - 30px);
  }
  .video-description {
    border-bottom: 1px solid #8c8f91;
    margin-bottom: 1em;
  }
  .video-transcript {
    h5 {
      border-bottom: 1px solid #8c8f91;
      padding-bottom: 1em;
      margin: 3em 0 1.5em 0;
    }
    border-bottom: 1px solid #8c8f91;
    padding: 2em 0 1em 0;

    .field--name-field-video-transcript {
      max-height: 350px;
      overflow: scroll;
    }
  }
  .field--name-field-speakers .field__items > .field__item:not(:only-child):not(:last-child) {
    &:after { content: ','; }
  }
  .field--name-field-video-related-links {
    min-height: 55px;
    .field__item {
      display: block;
      > a:after { content: '\25B8'; }
    }
  }

  .related-video-content-card {
    margin: 15px;
    width: calc(25% - 28px);
    min-height: 195px;
    h4 { min-height: 65px; }
    &:first-child { margin-left: 0; }
    // &:last-child { margin-right: 0; }
  }

  #video-related-cont .field--name-field-related-video { display: inline;

  }
}

section.related-content {
  background-color: $grey-1;
  padding: 3em 0;
  position: relative;
  top: 113px;
}

@include desktop-and-down {
  section.related-content { margin: 0 -15px; }
}

@include tablet-landscape-and-down {
  .video-page {
    .slides iframe {
      width: 80%;
      height: 400px;
    }
    .related-video-content-card { min-height: 245px; }
  }
}

@include tablet-portrait-and-down { 
  header.video-page .field--name-title { font-size: 30px; }
  .video-page {
    .field--name-field-video-related-links { margin-top: 2em; }
    .page-info-bar { margin-bottom: 2em; }
    .video-transcript {
      margin-bottom: 1em;
      h5 { margin-top: 0; }
    }
    .related-video-content-card {
      width: calc(50% - 30px);
      min-height: 225px;
      &:first-child { margin-left: 15px; }
    }
  }
}


.video-caption {
  margin-top: 1em;
  text-align: center;
  font-size: .9em;
}

.video-caption * {
  font-size: .9rem;
}

.product-video .video-caption {
  margin-top: -3em;
}
@include mobile-landscape-and-down {
  .video-page .slides iframe { height: 230px; }
}
