.wide-hero.vjbug {
  background-image: cdn('../images/design/vjbug_microsite_banner_desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 242px;
  @include tablet-portrait-and-down {
    background: cdn('../images/design/vjbug_microsite_banner_mobile.png') top center / cover repeat-x;
    min-height: 115px;
  }
}

#vJBug-microsite {
  margin-top: 2em;
  .divider {
    border-bottom: 1px solid $grey-4;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
  .event-video {
    margin-top: 2em;
    h4 {
      display: none;
    }
  }
  iframe.embedded-chat {
    margin-top: 2em;
    height: 500px;
    width: 100%;
  }
  .vjbug-date span{
    display: inline-block;
    i {
      margin-right: 10px;
    }
  }
  ul.events-list {
    list-style: none;
    margin-left: 0;
    li.single-event {
      border-bottom: 1px solid $grey-4;
      margin-bottom: 2em;
      padding-bottom: 1.2em;
      &:last-child {
        border: none;
      }
    }
  }
}
