#vJBug-microsite {
  margin-top: 2em;
  .divider {
    border-bottom: 1px solid $grey-4;
    padding-bottom: 2em;
    margin-bottom: 2em;
  }
  .event-video {
    margin-top: 2em;
    h4 {
      display: none;
    }
  }
  iframe.embedded-chat {
    margin-top: 2em;
    height: 500px;
    width: 100%;
  }
  .vjbug-date span{
    display: inline-block;
    i {
      margin-right: 10px;
    }
  }
  ul.events-list {
    list-style: none;
    margin-left: 0;
    li.single-event {
      border-bottom: 1px solid $grey-4;
      margin-bottom: 2em;
      padding-bottom: 1.2em;
      &:last-child {
        border: none;
      }
    }
  }
}
