.margin-icon {
  margin-top: 20px;
  float: left;
  width: 120px;
}

.margin-icon i {
  font-size: 64px;
  color: $grey-3;
}

.benefit-paragraph {
  margin-left: 120px;
}

.summary-panel {
  background-color:$grey-2;
}

.send-content {
  margin-top: 16px;
}

.send-content button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.summary-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.summary-link {
  margin-bottom: 12px;
}

.why-subscribe-footer {
  margin-top: 48px;
  background-color:$grey-2;
}

.why-subscribe-footer h4 {
  color: $black;
}
