.margin-icon {
  margin-top: 20px;
  float: left;
  width: 120px;
}

.margin-icon i {
  color: $grey-3;
}

.benefit-paragraph {
  margin-left: 120px;
}

.description {
  margin-left: 1.5em;
  margin-bottom:1.0em;
}

.description-end {
  margin-left: 1.5em;
  margin-bottom:1.5em;
}

.summary-panel {
  background-color:$grey-2;
  padding: 1em 2em;
}

.send-content {
  margin-top: 16px;
}

.send-content button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.summary-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.summary-header:first-child {
  padding-top: 1em;
}

.summary-link {
  margin-bottom: 12px;
}

.why-subscribe-footer {
  margin-top: 2.5em;
  background-color:$grey-2;
  padding-top: .75em;
  padding-bottom: .75em;
}

.why-subscribe-footer h4 {
  color: $grey-7;
}

@media screen and ( max-width: 768px ) {
 .margin-icon  {
  float: none;
  width: 100%;
  text-align: center;

  i {
  font-size: 8em;
  float: none;
  margin-bottom: .2em;
  }
  }

  .benefit-paragraph {
  margin-left: 0px;
  }

 .why-subscribe-footer {
  margin-top: 1em;
  }

}
