@import "settings";
@import "normalize";

@import "custom-font-icons";
@import "fonts/fonts";
@import "colours";
@import "foundation/components/global"; // *always required
$include-html-global-classes: false; // fix for our version of ruby - https://github.com/zurb/foundation/issues/5989
@import "foundation/components/grid";

@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons

@import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
@import "foundation/components/flex-video";
@import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
@import "foundation/components/reveal";
// @import "foundation/components/joyride";
@import "foundation/components/alert-boxes";
@import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
@import "foundation/components/side-nav";
@import "foundation/components/sub-nav";
@import "foundation/components/switches";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
@import "foundation/components/tooltips";
@import "foundation/components/dropdown";
@import "foundation/components/tabs";

// Import only the compass modules we need
// @import "compass/css3/box-shadow";
// @import "compass/css3/images";
// @import "compass/css3/transform";
// @import "compass/css3/transition";
// @import "compass/css3/columns";


// Import Our CSS Modules and mixins
// @import "sprites";
@import "mq-mixins";
@import "mixins";
@import "slider";
@import "home";
@import "header";
@import "solutions";
@import "events";
@import "buzz";
@import "faq";
@import "books";
@import "get-started";
@import "picker";
@import "forms";
@import "get-involved";
@import "developer-materials";
@import "theme-light";
@import "global-wrapper";
@import "paginator";
@import "socialite";
@import "search";
@import "searchpage";
@import "chosen";
@import "ie8grid";
@import "projects";
@import "products";
@import "magula";
@import "microsite";
@import "connectors";
@import "print";
@import "rh-icons";
@import "downloads";
@import "devnation2015";
@import "javaone";
@import "devoxx-be";
@import "confirmation";
@import "vjbug";
@import "devnation2016";
@import "ticket-monster";
@import "content-contributors";
@import "videos";
@import "judcon-brno";
@import "topics";
@import "about";
@import "articles";
@import "msbuild";
@import "font-awesome";
@import "devoxxfrance";
@import "gids";
@import "stackoverflow";
@import "forums";

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } * html .clearfix             { zoom: 1; } /* IE6 */ *:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*
   Zurb Foundation Overides
  These are things that can't be changed in _settings.scss
*/

.row, .top-bar .row {
  max-width:emCalc(1170);
}

.row {
  margin: 0 auto;
  &.grow {
    & > [class^=large-] {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.content {
  padding:1em 0;
}

a {
  color:$link;
  cursor:pointer;
  &:hover {
    color:$linkhover;
  }
}

button, .button {
  text-transform: uppercase;
  background: $red;
  text-transform: uppercase;
  text-decoration: none;
  border:0;
  font-size: 15px;
  font-weight: 600;
  padding:9px 40px;
  transition:background .2s ease-in 0s;

  &:hover, &:focus {
    background: #AD0000;
  }
  &.large {
    padding: 0.6em 0.9em;
  }
  &.long {
    padding: .6em 5em;
  }
  & + button, & + .button {
    margin-left: 20px;
  }
  &.blue {
    background:$med-blue;
    &:hover {
      background: lighten($med-blue,10%);
    }
  }
  &.inverse {
    background:white;
    color:$red;
  }
  &.clear {
    padding-left:0;
    padding-right: 0;
    background: transparent;
    border: 0;
    i {
      margin-right:2px;
      margin-left: 2px;
    }
  }
}

.button-group {
  button, .button  {
    border-radius: 0;
  border-left: 1px solid $white;
    margin-left: 0px;
  }
  a {
  color: $white;
 }
}


/* Tables */
table {
  border:0;
  background:$grey-3;
  tbody tr {
    background:#f5f5f6;
  }
  td {
    vertical-align: top;
  }
  td.linkList {
    a {
      border-right:1px solid;
      padding-right: 10px;
      margin-right: 10px;
      &:last-child {
        border-right: 0;
      }
    }
  }
  p {
    margin:0;
  }
}

table.downloads {
  border: 0px double transparent;
  background: none;
  width: 100%;

  tbody tr {
    background: #ffffff;
    border-bottom: 1px solid $grey-2;
  }

  td {
    border: none;
  }

  td.product-name {
    white-space: nowrap;
  }

  td.description {
    text-align: justify;
  }

  th {
    background: #ffffff;
    text-align: left;
    border-bottom: 1px solid $black;
  }
}

.no-wrap {
  white-space: nowrap;
}

.panel {
  background:$headline-grey;
  h1,h2,h3,h4,h5,h6,p,ul,li {
    color:white;
  }
  color: $white;
}

// Download link

.download-link {
  h4 {
    a {
      &:before {
          font-family: 'FontAwesome';
          content: "\f01a";
          padding-right:3px;
      }
    }
  }
  a.button {
    display: block;
    margin: 0 auto 5px auto;
  }
  .version-name {
    text-align: center;
  }
}

a.download-link {
  &:before {
      font-family: 'FontAwesome';
      content: "\f01a";
      padding-right:3px;
  }
}

.guide-format-link {
  text-transform: uppercase;
}


.side-nav {
  border:0;
  padding:0;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 20px;
  background:white;
  li {
    margin:0 0 15px 0;
    a {
      padding:0 10px 0 0!important;
      text-transform: uppercase;
      font-weight: 600;
      font-size: emCalc(18);
      position: relative;
      color:$mars-black;
      text-align: right;
      &:hover {
        background:none !important;
      }
      i.fa-caret-right{
          color: $grey;
          margin-left: 5px;
        }
    }
    &.active , &:hover , &.active, &.side-nav-toggle {
      & > a:first-child, & > a:first-child:not(.button) {
        color:black;
        font-weight:600;
        i.fa-caret-right{
          color: $red;
        }
      }
    }
    &.side-nav-toggle {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px){
  .side-nav li.side-nav-toggle a:before {
    display: none !important;
  }
}

.col {float:left}

// body                 (moved to global-wrapper.scss, theme-light.scss, theme-dark.scss)
// Header               (moved to global-wrapper.scss, theme-light.scss, theme-dark.scss)
// Specific Home Styles (moved to global-wrapper.scss, theme-light.scss, theme-dark.scss)
// search               (moved to global-wrapper.scss, theme-light.scss, theme-dark.scss)
// Dropdown             (moved to global-wrapper.scss, theme-light.scss, theme-dark.scss)


// Form Elements
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border-radius:$global-radius;
/*  padding:emCalc(20) emCalc(14); */
  height: 2.5em;
  font-size: 1em;
/*   margin-bottom: 10px;  Commenting out as this adds space between the field a end the zurb error message style */
  &:focus {
    box-shadow : 0 0 5px $link;
    border:1px solid $med-blue;
  }
}

  form {
    margin: 0; // get rid of the margin
  }

  label input[type=checkbox] { // for when we have a checkbox beside some text
    margin-right: 5px;
  }

// Icons
i[class*=fa].invert {
  padding:emCalc(2);
  background: $grey-5;
  border-radius:emCalc(2);
  color:$white;
  width:emCalc(18);
}
// Additional Font Awesome styles
.fa-9x {
  font-size: 9em;
}

// Breadcrumbs
.breadcrumbs {
  background:none;
  border:0;
  padding:0;
  border-radius: 0;
  margin-bottom: 10px;
  select {
    width:auto;
    margin: 0;
  }
  & > *:before {
    color:$mars-black;
    content: ">";
    margin: 0 5px;
    font-weight: 800;
    position: relative;
    top: 0px;
  }
  a {
    color:$mars-black;
    text-transform: none;
    font-size: 14px;
  }
  li{
    margin-top: 3px;
    &:last-child a {
      font-weight: 600; // bold the last item
    }
  }
}


/*
  Layout and custom modules
*/

.content-wrapper {
  margin: 0 auto;
}

body.fullbleed {
  .content-wrapper {
    max-width:none;
    padding:0;
    margin:0;
    background:none;
  }
}
.wrapper {
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 400px;
  padding-bottom: emCalc(100px);
}


// Typography callouts -  Larger text as intro paragraphs to pages

.textcalloutlarge {
    font-size: emCalc(22);
}


// Hero Module
.hero {
  border:1px solid black;
  border-radius:$global-radius;
  margin-bottom: 20px;
}

// Introduction Module

.intro {
  text-align: center;
  background: $dark-blue;
  border:0;
  color:white;
  border-radius:$global-radius;
  padding:emCalc(25);
  display: none; // shown with JS in variations
  h2 {
    color:white;
    font-size: emCalc(30);
  }
  h3 {
    color:$medium-orange;
    text-transform: uppercase;
    font-size: emCalc(20);
  }
  p {
    max-width:320px;
    font-style: italic;
    color:white;
    margin:0 auto;
    margin-bottom: 20px;
    font-size: emCalc(20);
  }
  &.intro-layout2 {
    background-size:cover;
    border-radius: 0;
    margin-bottom: 20px;
    h2 {
      font-size: emCalc(42);
      padding:0 10%;
    }

    h3 {
      color:white;
      font-style: italic;
      font-size: emCalc(38);
    }
    p {
      color:$grey-3;
      font-size: emCalc(25);
      margin:0 auto 21px auto;
    }
  }
}

// Updates
.update {
  padding-right: 1em;
  margin-bottom: 0px;
  float: left;
  width:100%;
  word-wrap: break-word;
  p {
    margin-bottom: 0;
  }
  .update-source {
    font-size:emCalc(13);
    &:hover {
      h5 {
        color:$linkhover;
      }
    }
  }
  .update-timestamp {
    float:right;
    font-size:emCalc(13);
    color:$grey-5;
  }
  .update-get-social {
    float: right;
    a {
      color:$grey-4;
      margin:0 3px;
    }
  }
  .update-comment-count {
    float: left;
    a {
      font-size: 11px;
    }
  }
  .update-body {
    padding-bottom: 10px;
  }
  .update-subtext {
    font-size:13px;
    color:$grey-5;
  }
  .update-date {
    width:70px;
    height:70px;
    background:$light-blue;
    float:left;
    text-align: center;
    color:$med-blue;
    padding:10px;
    margin-right:15px;
    margin-bottom: 5px;
    span {
      display: block;
      clear:both;
      width:100%;
      font-size: 20px;
      &.days {
        font-size: 18px;
        padding-top: 10px;
      }
      &.day {
        font-size: 32px;
      }
    }
  }
  i[class*=fa] {
    margin-right: 3px;
  }
  h5 {
    margin:0;
  }
  &.pinned {
    padding-left: 2em;
    &:before {
      content: "\f08d";
      font-family: 'FontAwesome';
      position: absolute;
      color: #EAC562;
      font-size: emCalc(25px);
      left: 0.7em;
      @include transform(rotate(-45deg));

    }
  }
  img.avatar {
    float: left;
    margin-right: 10px;
  }
  .update-meta:first-child {
    margin-bottom: 10px;
  }
  .update-meta {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    .share-this {
      padding: 0;
      p {
        background:white;
        padding-left:0;
      }
    }
  }
}

.viewall {
  float:right;
  padding-top: 15px;
}

.mobile {
  display: none;
}

// displays Mobile topic content
body.mobile {
  display: block;
}

// call to action
.cta {
  border-radius:$global-radius;
  background:$grey-2;
  color:$grey-7;
  padding:3% 4%;
  width:48%;
  float: left;
  margin-bottom: 20px;
  &:first-child {
    margin-right:4%;
  }
  h2 {
    margin: 0;
    font-size: emCalc(50);
    color:$grey-7;
    font-weight: normal;
  }
  p {
    font-size: emCalc(32);
    color:$grey-6;
    font-style: italic;
    margin: 0;
  }
  .button {
    float: right;
    background:$med-blue;
    box-shadow: inherit inherit inherit #000;
  }
}

// Call to action blocks
.cta-blocks {
  margin-bottom: 30px;
  & > li {
    a {
      color:white;
      text-align: center;
      background:$dark-blue;
      color:white;
      display: block;
      width:100%;
      padding:30px;
      box-shadow:3px 3px 0 $med-blue;
    }
    i { // icons
      font-size: 35px;
    }
    h3 {
      color:white;
    }
    p {
      font-size: 20px;
      color:$light-blue;
      margin:0;
      min-height: 60px;
    }
  }
}

// columns of text
.two-col {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}



@media screen and ( min-width: 768px ) {
  .bordered-column {
    border-right: 1px solid $grey-2;
  }
}

@media screen and ( max-width: 768px ) {
  .bordered-column {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 40px;
  }
}

.features-u, .features-ul > .content{
  margin-left: 0 !important;
}

.card {
  padding: 30px 20px;
  display: block;
  background: $headline-grey;
  border-left:4px solid $red;
  color: white;
  margin-bottom: 15px;
}

.quick-start-buttons {
  float: left;
  clear:both;
  width:100%;
  .button {
    background:$med-blue;
    font-weight: normal;
    float:left;
    margin-right: 60px;
    &.large {
      padding: 72px 0.9em 72px 0.9em;
      margin-right: 10px;
      clear:none;
    }
  }
}

#guides-row{
  border-bottom: 1px solid #d5d5d5;
  margin: 1em 0 0 0;
  .dropdown.button, button.dropdown {
    position: relative;
    float: right;
  }
  & > div {
    padding-left: 0;
  }
  ul li:before{display: none;}
}
#guides-row:last-child {
  border-bottom: none;
}

.more-guides{
  margin: 1.5em auto;
}

.asset-list  {
  .item + .item::before {
    content: " | ";
  }
}

// Section Tabs
.section-container.auto {
  .content {
    overflow: hidden;
  }
  section{
    p.title {
      margin-left: emCalc(50);
      border:0;
      padding-left: emCalc(5);
      background:none !important;
      a {
        border: 1px solid $med-blue;
        background:$med-blue;
        margin:0 10px 0 0;
        text-transform: uppercase;
        font-size: emCalc(19);
        color:$white;
        padding:10px;
        text-align: center;
        border-radius: $global-radius $global-radius 0 0;
        font-weight: 600;
      }
    }
    &.active {
      p.title {
        a {
          background:white;
          border:1px solid $grey-3;
          border-bottom: 1px solid white !important;
          border-radius: 0;
        }
      }
    }
  }
}


// Widgets
.widget {
  margin-bottom: 40px;
  ul {
    list-style:none;
    margin: 0;
    li {
      margin-bottom: 5px;
    }
    p {
      margin: 0;
    }
  }
  a {
    &.button {
      text-decoration: none;
      display: block;
      width:100%;
      text-align: center;
      padding:1em 0;
      &.small {
        padding-left: 0.8em;
        padding-right: 0.8em;
        display: inline-block;
        width:auto;
      }
      i {
        margin-left: 5px;
      }
    }
  }
   p {
    // font-size:emCalc(13);
   }
  // widget title
  h3 {
    font-size:1em;
    font-weight: 600;
  }
  &.dark {
    background:$grey-2;
    border-radius:$global-radius;
    padding:25px 30px;
    h3 {
      color:$grey-7;
      font-size: emCalc(20);
      margin-top: 0;
    }
  }
}

// Spacing under the bulleted list
.ulist {
  margin-bottom: 15px;
  margin-left: 1em;
}

// Fixes spacing between/after lists made up of more than one list
.multi-ul {
  margin-bottom: 15px;
  .ulist{margin: 0;}
}

// Spacing alignment for the bulleted list

.ulist ul li {
  /* text-indent:-1em; */
  margin-left: 1em;
}

// Spacing alignment for the bulleted list

.olist ol li, .text-content ol li {
  /* text-indent:-1em; */
  margin-left: 1em;
}

// Training specific widget

.rightbarbullets {
  ul {
    list-style:none;
    li {
      margin-bottom: 15px;
    line-height: 1.25em;
    text-indent:-1em;
    margin-left: 1em;
      &:before {
        content: "\f111";
        font-family: 'FontAwesome';
        float: left;
        color:$grey-5;
        font-size: 9px;
        padding-right: 1.8em;
        position: relative;
      }
   p {
    line-height: 1.25em;
    }
}
}
}


.alert {
  color:$dark-red;
  i {
    padding-right:5px;
  }
}

// Typography

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large-title {
  font-size: emCalc(44);
  margin-bottom: 0;
}

.large-subtitle {
  font-size: emCalc(32);
  margin-bottom: 0;
}

.large-type {
  font-size: 1.3em;
}

/*
  Text Content is for styling body content such as blog posts or information pages
*/
.text-content {
  h3 {
    margin-top: 0;
  }
  .divider:first-child {
    margin-top: 0;
  }
  ul {
    margin:0;
    li {
      list-style: none;
      &:before {
        content: "\f111";
        font-family: 'FontAwesome';
        float: left;
        color:$grey-4;
        font-size: 9px;
        padding-right: 0;
        text-indent: -1.5em;
        position: relative;
        top: 4px;
      }
      p {
        margin:0;
        word-wrap: break-word;
      }
    }
  }
  .imageblock{
   .content{
      margin: -16px auto auto auto;
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }
}

// Account for when a section isn't finished with a paragraph
a, span  {
   & + .divider {
    margin-top: 1.25em;
  }
}

.ulist + .divider {
  margin-top: 0.75em;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  color:$headline-grey;
  &.divider {
    border-bottom: 1px solid $grey-3;
    margin-bottom: 20px;
    padding-bottom: 5px;
    clear: both;
    p {
      font-size:1.8rem;
      margin: 0;
    }
  }
  &.caps {
    text-transform: uppercase;
  }
  &.blowout {
    text-transform: uppercase;
    color:$red;
    font-size: emCalc(90px);
    font-weight: 600;
  }
  &.promo-headline {
    font-size:emCalc(80);
    font-weight: normal;
    margin:0;
    line-height: 1;
  }
  span.label {
    border-radius: $global-radius;
    margin-left: 10px;
  }
}

// Pre tags

pre {
  padding:10px;
  background:$grey-1;
  border:1px solid $grey-3;
  border-radius:$global-radius;
  font-weight: 600;
}

// Form Elements
input[type=checkbox],input[type=radio] {
  margin:0 0 5px 0;
}

// Range

input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    background-color: #ffffff; // Old browsers
    outline: none;
    &::-moz-focus-inner {
      outline:0;
    }
    &:focus,&:active {
      outline:none;
    }
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height:10px;
  position: relative;
  background: #fff;
  border:1px solid #ccc;
  border-radius:5px;
}

// These pseudo selectors cannot be in the same selector so we need to output it 4 times
$prefixes : -webkit-slider-thumb -moz-range-thumb -ms-slider-thumb slider-thumb;

@each $prefix in $prefixes {
  input[type="range"]::#{$prefix} {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border-radius:50%;
      position: relative;
      top:-2px;
      background:#08c0fc;
      position: relative;
      z-index: 2;
  }
}

::-moz-range-track {
  background:transparent;
  outline:0;
  border:0;
}

input[type=range]:focus, input[type=range]:active {outline:0;}

input[type=range]:before {
    content : '';
    display:block;
    background:#d5d5d5;
    position:absolute;
    height:12px;
    left:0;
    border-radius:9px;
}

@for $i from 0 through 100 {
    input[type=range][value="#{$i}"]:before {
      width: $i * 1%;
    }
}

span.skill-display {
  display: block;
  width:100%;
  clear: both;
  font-size: 11px;
  padding-top: 10px;
}

label[for="filter-rating"] {
  display: block;
  float: left;
  width:20px;
  height:20px;
  position: relative;
  &:hover {
    color:#eac84c;
    cursor:pointer;
  }
  &:before {
    position: absolute;
    content: "\f006";
    font-family: 'FontAwesome';
  }
  &.filter-rating-active:before {
    color:#eac84c;
    content: "\f005";
  }
  input[type=radio] {
    display: block;
    width:20px;
    height:20px;
    z-index: 99;
    position: relative;
    opacity:0;
  }
}

form.dev-mat-filters, .project-filters {
  h5 {
    margin-bottom: 5px;
  }
  .filter-block {
    margin-bottom: 10px;
    clear: both;
    float: left;
    width:100%;
  }
  input[type=text] {
    padding:6px;
    margin: 0;
  }
  a.project-filters-clear {
    @extend a.filters-clear;
  }
}

a.filters-clear {
  font-size: 14px;
  text-decoration: underline;
  padding-left: 5px;
  position: relative;
  top:-2px;
}

.filters-apply {
  display: none;
}

.styled-select {
  background:#fff;
  border:1px solid $grey-3;
  border-radius:$global-radius;
  position: relative;
  cursor:pointer;
  margin-bottom: 10px;
  &:after {
    border-left: 1px solid $grey-3;;
    content: "\f0d7";
    font-family:'FontAwesome';
    position: absolute;
    top:0;
    right:0;
    padding: 7px 10px;
  }
  select {
    background: transparent;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    padding:7px;
    margin:0;
    position: relative;
    z-index: 2;
    padding-right: 30px;
    /* Hacks to style dropdown */
    -webkit-appearance: none;
    -moz-appearance: window;
    &:focus, &:active {
      outline:0;
      border:0;
      outline: 1px solid white;
      outline-offset: -2px;
    }
  }
}

.label {
  background:$grey-4;
  color:white;
  padding:2px 6px;
  font-size: emCalc(12);
}

ul[class*=block-grid] {
  li {
    &:before {display: none;} // take off the ul bullet
  }
}

// Technology Solutions
.block-nav {
  li {
    display: table; // to get vertical align working
  }
  a {
    display: block;
    @include transition(all 0.2s);
    display:table-cell;
    vertical-align: middle;
    width:100%;
    text-align: center;
    background:$dark-blue cdn("../images/design/stripes.png");
    font-size: emCalc(26);
    color:white;
    font-weight: 600;
    padding:5px 30px;
    border:15px solid $dark-blue;
    line-height: 25px;
    height:120px;
    text-transform: uppercase;
    &:hover, &.current-page {
      background-color:$med-blue;
      border-color:$med-blue;
    }
  }
}

ul.external-links {
  list-style:none;
  margin:0;
  li a:after {
    content: "\f08e";
    font-family: FontAwesome;
    margin-left: 4px;
  }
}

/* little css module to create inline links with dividers */
.link-list > * {
  border-left:1px solid;
  padding-left: 10px;
  padding-right: 10px;
  &:first-child {
    padding-left: 0;
    border-left: 0;
  }
  &:hover {
    border-color:inherit;
  }
  &.active {
    color:$linkhover;
  }
}

// Login Page
body.login {
  background:#fff;
  nav.top-bar {
    border-top: 0;
    * {
      display: none;
    }
  }
  h2.large-title {
    line-height: 1.2;
  }
  i.nav-toggle {
    display: none;
  }
}
.sign-in-options {
  font-size: 18px;
  a {
    margin:0 5px;
  }
  i.fa-twitter:before { color:#00aee7; }
  i.fa-facebook:before { color:#3b5998; }
  i.fa-github:before { color:#000; }
  i.fa-google-plus:before { color:#dd483d; }
}
span.sign-in-options {
  padding-left: 5px;
  a:first-child {
    padding-left: 10px;
  }
}

form.login {
  width:80%;
  input[type=text],input[type=email],input[type=password] {
    width:70%;
  }
  .login-button-wrapper {
    background:$grey-2;
    padding:0.5em 0.5em  0.55em 0.5em;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius:$global-radius;
    input{
      float: left;
      width:30%;
      margin:0;
      margin-right: 20px;
    }
    p {
      font-size: 12px;
      line-height: 1.2;
      margin:0;
    }
    i {
      color:$red;
      margin-right: 5px;
    }
  }
}

// Planet
.planet-avatar {
  @include block-grid(
    $per-row: 6,
    $spacing: 4px,
    $base-style: true
  );
}

.recent-posts-list {
  padding-bottom: 30px;
  h3 {
    color: #000;
  }
  ul {
    border-bottom: 1px solid $grey-3;
    list-style-type: none;
    li {
      border-top: 1px solid $grey-3;
      padding: 5px;
      p {
        margin:0;
        &.download {
          font-size: emCalc(13);
        }
      }
      h4 {
        margin:0;
      }
    }
  }
  .link-list {
    margin-left: 5px;
  }
  i {
    margin-right: 5px;
  }
}

a.filter.button {
  font-size: emCalc(14);
  background:$med-blue;
  width:100%;
  margin:0 auto;
  padding:10px;
  margin-bottom: 10px;
  display: block;
  clear:both;
}

// Downloads links

a.view-older-downloads {
  font-size: emCalc(18);
  margin-bottom: 20px;
  float:left;
  display: block;
  width: 100%;
  i {
    padding-left: 10px;
  }
  &+table {
    display: none; // hide it initially
  }
}

// Terms and Conditons
.terms-and-conditons-accept {
  text-align: right;
  float:right;
  .styled-select {
    margin:20px;
    display: inline-block;
  }
}
span.asterisk {
  color:$red;
  font-size: 35px;
  font-weight: 600;
}

// Social Buttons
.share-this {
  background:#fff;
  /* padding:10px; */
  overflow: hidden;
  position: relative;
  padding: 6px 8px 0 8px;
  clear: both;
  &:hover {
    p {
      display: none;
    }
  }
  &.visible-by-default {
    padding-left:0;
    p {
      display: none;
    }
    .social-buttons {
      li {
        display:inline-block;
        width: auto;
        float:left;
      }
    }
  }
  p {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    z-index: 99;
    background:#fff;
    text-transform: uppercase;
    color:$grey-5;
    padding:10px;
    font-weight: 600;
    text-align: right;
    i {
      margin-right:10px;
    }
  }
}

.divider .share-this {
  width: 200px;
  display: inline-block;
  float: right;
  position: relative;
  // top: -26px;
  p {
    font-size: 15px;
  }
}

.share-this-buttons > * {
  // all importants override social network defaults
  float: left;
  margin-bottom: 5px;
  width:50%;
  height:30px;
  &:nth-child(odd) {
    float: left;
    text-align: left;
  }
  &:nth-child(even) {
    float: right;
    text-align: right;
  }
}
.facebook-share-button {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
  a {
    background:#ECEEF5;
    border:1px solid #CAD4E7;
    padding:2px 4px 3px;
    color:#3B5998;
    border-radius:3px;
    &:hover {
      border-color:#9DACCE;
      color:#3B5998;
    }
    &:before {
      font-family: 'FontAwesome';
      content: "\f082";
      font-size: 15px;
      margin-right: 4px;
      position: relative;
      top: 2px;
      line-height: 11px;
    }
  }
  .facebook-share-button-count {
    &:before {
      // @extend .icons-facebook-bubble !optional;
      content:attr(data-shares);
      display: inline-block;
      // content:"100";
      font-size: 11px;
      width: 40px;
      height: inherit;
      position: relative;
      padding: 3px 0 2px 4px;
      text-align: center;
    }
  }
}


// Special Callout Panel styles

.light-blue {
  background-color: $light-blue;
  }

// Technology Overview

.technology-item {
  border:1px solid $grey-4;
  h3 {
    margin:0;
    background:$dark-blue;
    color:white;
    padding:10px emCalc(10) 5px emCalc(10);
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 5px;
  }
  a.learn-more {
    float: right;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.embedded-media {
  clear: both;
  border:1px solid $grey-3;
  background:$grey-2;
  margin-top: 10px;
  overflow: hidden;
  h4 {
    margin: 0;
    padding: emCalc(5) emCalc(10);
  }
  iframe {
    width:100%;
    float: left;
  }
}

.technology-item-inside {
  padding:0 emCalc(20px) emCalc(20px) emCalc(20px);
  p {
    margin-bottom: 15px;
  }
}

.follow-links {
  width: 50%;
  float:left;
  padding:10px;
  &:nth-child(even) {
    border-left: 1px solid $grey-3;
  }
  span.title {
    margin-right: 15px;
  }
  a {
    margin-right:10px;
  }
}

// View More link
.moreinfolink {
  padding-top: 15px;
  display: inline-block;
}


// Under development

.under-development {
  text-align: center;
  padding:5px;
  border:0;
  margin: 0;
  &.status-red {
    background: $red;
    border-bottom: 3px solid darken($red, 5%);
    a {
      padding:3px 5px;
      margin-left: 10px;
      color:white;
      border-radius:5px;
      background:darken($red, 5%);
    }
  }
  &.status-yellow {
    background:#F1CC08;
    border-bottom: 3px solid darken(#F1CC08, 5%);
    a {
      padding:3px 5px;
      margin-left: 10px;
      color:white;
      border-radius:5px;
      background:darken(#F1CC08, 5%);
    }
  }
  &.status-green {
    background:#179B17;
    border-bottom: 3px solid darken(#179B17, 5%);
    a {
      padding:3px 5px;
      margin-left: 10px;
      color:white;
      border-radius:5px;
      background:darken(#179B17, 5%);
    }
  }
  p {
    color:white;
    text-shadow:1px 1px 0 rgba(0,0,0,0.2);
  }
}

.space,.spacer {
  width:100%;
  height:1px;
  clear:both;
}

table.demos {
  tbody {
    tr {
      background:white;
      &.desc {
        border-bottom: 1px solid #E6E7E8;
        p {
          display: none;
        }
      }
      td {
        border:0;
        &:nth-child(2) { max-width: 120px; }
        &:nth-child(3) { max-width: 120px; }
      }
    }
  }
  a.view-more {
    &:before {
      content : 'View More ';
    }
    &:after {
      content: "\f196";
      font-family: FontAwesome;
    }
    &.open {
      &:before {
        content : 'View Less ';
      }
      &:after {
        content: "\f147";
        font-family: FontAwesome;
      }
    }
  }
}

// Get social
.technology-blocks {
  .contributors {
    display: block;
    .contributor {
      display: block;
      width:100%;
      padding:5px 0;
      border-top:1px solid $grey-2;
      border-bottom:1px solid $grey-2;
      a {
        padding-right:20px;
      }
      & + .contributor {
        border-top: 0;
      }
    }
  }
}


// Forums

.external-forums-links {
  text-align: center;
  border-radius: $global-radius;
  background:$light-blue;
  h4 {
    min-height:46px;
  }
}

.forum-chart {
  width:200px;
  height: 100px;
}

.dcp-error-message {
  background: #FAFFDE;
  padding: 20px;
  border-radius: 10px;
}

.loading, .buzz-loading {
  .dcp-error-message {
    display: none;
  }
}

// hack for asciidoctor and older font-awesome content when asciidoctor #955 is merged this can go away
td.icon {
  vertical-align: middle;
}

// .icon {
//   @extend .fa;
//   .icon-warning {
//     @extend .fa-warning;
//     @extend .fa-2x;
//   }
// }

td.content {
  padding: inherit;
  margin: inherit;
}

// Operating System Selector
ul.os-selector {
  margin: 0;
  display: inline-block;
  border:1px solid $grey-3;
  border-radius: $global-radius;
  margin-bottom: 10px;
  overflow: hidden;
  &.hidden {
    display: none;
  }
  input {
    display: none;
    &:checked + label {
      background:$red;
    }
  }
  label {
    display: inline-block;
    padding: 10px;
    margin: 0;
    background:$dark-grey;
    color:white;
    border-right:1px solid white;
    &:last-child {
      border-right: 0;
    }
    &:hover {
      background:$red;
    }
    i.fa {
      margin-right: 10px;
    }
  }
}

.flex-video {
  width:100%;
}

.external-link:after {
  @extend .fa;
  display: inline;
  content: "\f08e";
  padding-left: .25em;
  font-size: 12px;
  vertical-align: super;
  text-decoration: none;
  font-family: 'FontAwesome';
}

.text-content {
  .list-icon-checklist ul li:before {
    content: "\f046";
    font-family: FontAwesome; /* or whatever */
    display: inline-block;
    margin-left: -1.2em; /*same as padding-left set on li*/
    width: 1.2em; /*same as padding-left set on li*/
    color: black;
  }
}
.center {
    text-align: center;
}

table.split-50 col {
  width: 50%;
}

// Tabs
.tabs-content {
  width:75%;
  padding: 0 0 0 10px;
  float: left;
  margin-left: 5%;
  & > .content.active {
    width:100%;
  }
}


.tabs {
  dd {
    & > a {
      padding:3px;
      background:white;
    }
    &.active > a {
      background:$grey-3;
    }
  }
}

// Hack for drupal
.tabs.nav-tabs li a {
  display: inherit;
  padding: 0;
  &:hover, &:focus {
    background-color: inherit;
  }
}

.tabs.vertical {
  a {
    padding: 0;
    display: inherit;
    &:hover {
      background-color: inherit;
    }
  }
  > li {
    display: inherit;
    margin-right: 0;
  }
}


/* Typography */
small {
  font-size: 80%;
}

h1 { font-size: 42px; }
h2 { font-size: 42px; }


label.inline{
  display: inline-block;
}

[class*="column"] + [class*="column"]:last-child {
  float:left;
}

// Mobile!
@import "mobile";

// Custom breakpoint for side navigation
@media only screen and (max-width: 768px) {
  .nav-breakpoint {
    width: 100%;
  }
}

.overlay-content {
  position: relative;
  top: 5px;
}

// Fixes styles for Notes, Tips, and Warnings in asciidocs
.admonitionblock {
  td.content {
    padding: 9px 0;
  }
  .title {
    font-weight: bold;
    padding-left: 5px;
  }
}

.code-block {
  .content {
    padding-top: 0;
  }
  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
  }
  code{
    border: none;
    padding: 0.125rem 0 0.0625rem;
    word-break: normal;
    white-space: pre;
  }
}

.listingblock {
  .content pre {
    font-size: 90%;
    line-height: 1.45;
  }
}

.callout-light {
  background-color: #f0f0f0;
  border: 1px solid #efeff0;
  padding: 20px;
  margin: 15px 0;
  p {
    margin-bottom: 0;
  }
}

.button.button--solution {
  background:#6abcd3 cdn("../images/design/stars-texture.png") bottom right no-repeat;
  width: 100%;
  padding-top:30px;
  padding-bottom:30px;
  padding-left: 20px;
  padding-right: 10px;
  text-align:left;
  &:hover {
    background:darken(#6abcd3,10%) cdn("../images/design/stars-texture.png") bottom right no-repeat;
  }
  &.clear {
    color:#0088ce;
    text-align: center;
    font-size: 20px;
    &:hover {
      background:none;
    }
  }
}

.button.button--join-today {
  position: relative;
  margin:0 80px;
  display: block;
  max-width:400px;
}

h2.home-title {
  padding:40px 0 20px 0;
}

@include tablet-landscape-and-down {
  .button.button--join-today {
    top:0;
    margin:20px 0;
  }
}

.button.button--solution {
  background:#6abcd3 cdn("../images/design/stars-texture.png") bottom right no-repeat;
  width: 100%;
  padding-top:30px;
  padding-bottom:30px;
  padding-left: 20px;
  padding-right: 10px;
  text-align:left;
  &:hover {
    background:darken(#6abcd3,10%) cdn("../images/design/stars-texture.png") bottom right no-repeat;
  }
  &.clear {
    color:#0088ce;
    text-align: center;
    font-size: 20px;
    &:hover {
      background:none;
    }
  }
}

.button.button--join-today {
  position: relative;
  margin:0 80px;
  display: block;
  max-width:400px;
}

h2.home-title {
  padding:40px 0 20px 0;
}

.literalblock {
  word-wrap: break-word;
}

@include tablet-landscape-and-down {
  .button.button--join-today {
    top:0;
    margin:20px 0;
  }
}

.side-nav li a:not(.button):focus {
  background: none;
}

.content code {
  word-wrap: break-word;
}

.connect-with-us {
  padding: 50px 0;
  background-color: $red;
  h2 {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    color: $white;
  }
  ul.social-links {
    list-style: none;
    max-width: 225px;
    display: block;
    margin: 15px auto 0 auto;
    li, li a {
      display: inline;
      color: $white;
      font-size: 1.8em;
      margin-right: 15px;
    }
  }
}
