// @import "settings";
// @import "normalize";

@import "colours";
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/button-groups"; // *requires components/buttons
// // @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// // @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/top-bar";  // *requires components/grid
// // @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// // @import "foundation/components/joyride";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// // @import "foundation/components/keystrokes";
// // @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// // @import "foundation/components/pricing-tables";
// // @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// // @import "foundation/components/switch";
// // @import "foundation/components/magellan";
// @import "foundation/components/tables";
// // @import "foundation/components/thumbs";
// // @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// // Import only the compass modules we need
// @import "compass/css3/box-shadow";
// @import "compass/css3/images";
// @import "compass/css3/transform";
// @import "compass/css3/transition";
// @import "compass/css3/columns";


// // Import Our CSS Modules and mixins
// @import "mq-mixins";
// @import "jboss-mixins";
// // @import "navigation";
// @import "slider";
// //@import "solutions";
// //@import "events";
// //@import "buzz";
// //@import "faq";
// //@import "books";
// //@import "get-started";
// //@import "picker";
// @import "forms";
// @import "tabzilla";
// //@import "get-involved";
// @import "global-wrapper";
// @import "theme-light";
// // @import "theme-dark";
// @import "compass/utilities/sprites";
// @import "icons/project-icon/*.png";
// @include all-project-icon-sprites;
// @import "print";


// // Styles that interfere with Developer styles and need to be prioritized to ensure consistency

// // Tabnav (Full-width everywhere)
// #tab {
//   background-image: none;
// }
// #tabnav {
//   width: 100%;
//   max-width: 100%;
//   ul {
//     padding: 0px;
//     li {
//       width: 100%;
//       a {
//         color: $link;
//         font-weight: normal;
//         padding-left: 0px;
//       }
//       a:hover {
//         color: $linkhover;
//         padding-left: 0px;
//       }
//     }
//   }
// }

// // Magnolia Theme (Fixed-width header)
// a:hover {
//   text-decoration: none;
// }
// #wrapper {
//   background-image: none;
//   background-color: transparent;
//   padding-top: 0px;
//   overflow: visible;
// }
// #maincontent-wrapper {
//   margin: 0px;
// }
// #wrapper-2 {
//   background-image: none;
//   background-color: transparent;
//   box-shadow: none;
// }
// .top-bar input[type="text"] {
//   height: 2.5em;
//   border-radius: 5px;
//   font-size: 1em;
// }
// .row, .top-bar .row {
//   max-width: 75em;
// }
// #community {
//   .top-bar {
//     .row {
//       margin: 0px auto;
//     }
//   }
// }
// #rightcolumn.column,
// #leftcolumn.column {
//   width: 270px;
// }
// @media screen and ( max-width: 980px ) {
//   #rightcolumn.column,
//   #leftcolumn.column {
//     width: 100%;
//   }
// }
// .footer {
//   width: auto;
//   height: auto;
//   font-size: 16px;
//   padding: 0px;
// }


// // Magnolia Content Styles that need to be overwritten
// #top_subnav_branding {
//   box-shadow: none;
// }
// #proj_nav ul li a,
// #sub_nav ul li a {
//   height: 20px;
//   text-shadow: none;
// }
// #tertiary-nav li {
//   margin-left: 0px;
// }
// ul li ul,
// ul li ol {
//   margin-left: 0px;
// }



// // Jive (Full-width header) -- (These are all hinged on unique Jive ID so they don't affect Magnolia)
// #j-header-wrap {
//   .dropup {
//     margin-right: 0px;
//     right: 0px;
//     left: inherit;
//   }
//   @media screen and ( max-width: 768px ) {
//     .dropup {
//       left: 0px;
//     }
//   }
//   .top-bar {
//     .row {
//       margin: 0px;
//       max-width: 100%;
//     }
//   }
//   .row {
//     max-width: 100%;
//   }
// }



// /* ---------------- JIRA icons ------------------------------------ */

// /* JIRA Icons Sprite */
// /* Generated by http://spritegen.website-performance.org/ with these settings:
//      Horizontal Offset: 5
//      Vertical Offset: 5
//      Class Prefix (optional): jira-
//      Display width and height (optional): unchecked
// */

// .jira-icon {
//   background: url(//static.jboss.org/images/jira-icons-sprite.png) no-repeat top left;
//   width: 16px;
//   height: 16px;
//   display: inline-block;
//   float: left;
// }

// .jira-issuetype-1{ background-position: 0 0;  }
// .jira-issuetype-10{ background-position: 0 -21px;  }
// .jira-issuetype-11{ background-position: 0 -42px;  }
// .jira-issuetype-12{ background-position: 0 -71px;  }
// .jira-issuetype-13{ background-position: 0 -100px;  }
// .jira-issuetype-14{ background-position: 0 -121px;  }
// .jira-issuetype-15{ background-position: 0 -142px;  }
// .jira-issuetype-2{ background-position: 0 -163px;  }
// .jira-issuetype-3{ background-position: 0 -184px;  }
// .jira-issuetype-4{ background-position: 0 -205px;  }
// .jira-issuetype-5{ background-position: 0 -226px;  }
// .jira-issuetype-7{ background-position: 0 -247px;  }
// .jira-issuetype-8{ background-position: 0 -268px;  }
// .jira-issuetype-9{ background-position: 0 -289px;  }
// .jira-status-1{ background-position: 0 -310px;  }
// .jira-status-3{ background-position: 0 -331px;  }
// .jira-status-4{ background-position: 0 -352px;  }
// .jira-status-5{ background-position: 0 -373px;  }
// .jira-status-6{ background-position: 0 -394px;  }
// .jira-status-10011{ background-position: 0 -416px;  }



// /* ---------------- Project page specific sprites ------------------------------ */

// .projectpage-sprite {
//    background: url(../../images/common/projectpage_sprite.png) no-repeat top left;
// }

// .projectpage-sprite-jive-icon-announcement-16x16{ background-position: 0 0; width: 17px; height: 17px; }
// .projectpage-sprite-nextlabel{ background-position: 0 -67px; width: 63px; height: 32px; }
// .projectpage-sprite-prevlabel{ background-position: 0 -149px; width: 63px; height: 32px; }
// .projectpage-sprite-securityimage{ background-position: 0 -231px; width: 244px; height: 75px; clear:both; margin-top: 15px; margin-bottom: 15px; }



