// 404 / Page not found
.error-outer-container {
  padding:1em 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .site-main {
    section.error-404 {

      .page-content {
        padding-left:15px;
        padding-right:15px;

        h1 {
          font-size:50px;
        }

        form.search {
          input[type="text"] {
            max-width:50%;

            @media(max-width:$tablet-landscape) {
              max-width:100%;
            }
          }
        }
        div.callout-light.error-button-content {
          p {
            font-weight:lighter;
            line-height: 1.5;
            margin:.5em;
          }


          a.error-button {
            display:block;
            clear:both;
            margin:15px auto 0 auto;
            font-size:16px;
            color:white;
            font-weight:600;
          }
        }
      }
    }
  }





  @media screen and (max-width: $medium-screen-breakpoint) {
    width: 100%;
  }
}

#errorPageCustomTrigger {
  margin:15px auto 0 auto;
  font-size:16px;
  color:white;
  font-weight:600;
}

// TEst