// SCSS FOR INDIVIDUAL POSTS IN SINGLE COLUMN FORMAT
article.single-column {
  border:none;
  div.entry-content.standard-post {
    .row {
      .columns {
        &.title-col {
          h2 {
            text-align: center;
            margin:1em auto 2em auto;
          }
        }

        .entry-meta {
          border:none;
          .row {
            &.entry-meta-row {
              .author-post-info {
                text-align: center;
              }
            }
          }
        }

        &.entry-content-body-row {
          div.featured-single-col-image-div {
            text-align: center !important;
            clear:both;
            position: relative;
            img {
              display:block !important;
              &.single-post-featured-img {
                text-align:center;
                max-width:70%;
                width:70%;
                height:auto;
              }
            }
          }
        }
      }
    }
  }
}
