// All Categories page

.all-categories {
  width:100%;
  padding-top:2rem;

  div.category-box-container {
    margin:0 -15px;


    // Using Regular Flex (not Foundation Flex) for category rows.
    .row {

      margin:1em auto;

      @include flex();
      flex-flow: row nowrap;
      justify-content:flex-start;
      -webkit-justify-content: flex-start;
      align-items: stretch;
      -webkit-align-items: stretch;
      position: relative;
      // Width Breakpoint
      @media (max-width: $desktop-small) {
        //display:block;
        flex-wrap: wrap;
      }
      @media(max-width:$medium-large-screen-breakpoint) {
        margin-top:0;
        margin-bottom:0;
      }

      // Float fix
      .columns,.column {

        width:25%;
        max-width:25%;
        @media (max-width: $desktop-small) {
          max-width:25%;
        }

        // Additional width breakpoint
        @media (max-width: 830px) {
          width:49.5%;
          min-width:49.5%;
        }

        @media(max-width:$tablet-landscape) {
          width:49.5%;
          max-width:49.5%;
        }
        &:last-child {
          float:left;
        }

        margin-top:1em;
        margin-bottom:1em;
        width:100%;
        .category-div {

          background-color:$white;

          height:100%;
          padding:1.5em 1em;
          height:100%;
          div {
            &.heading {
              padding:0 0 .4rem 0;
              a {
                font-size:18px;
                font-weight:600;
                line-height:24px;
              }
            }
            &.post-info {
              font-weight:bold;
              font-size:.8em;
              letter-spacing:1px;
              text-transform: uppercase;
              color:$med-grey;
              .row {
                margin-top:0;
                margin-bottom:0;
                div.column {
                  &.count-col {
                    padding:0;
                    span.post-count {
                      color:$med-grey;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }


}