// GENERAL SITE-WIDE SETTINGS FOR BLOG


// BASE FONT SIZE RESET
html  {
  // Full font-size reset
  //font-size:16px !important;

  body {
    //font-size:1rem !important;
  }
}


html {
  background:$white;
  height:auto;

  body {
    background:$white;
    div.hfeed.site {
      margin:0;

      .site-content {
        padding:0 0 4em 0;

        // Add All Topics Background
        &.all-topics {
          background-color: $gray-2;
          background-image:url('../images/Gray_Background.png');
          background-repeat:repeat-x;
          padding-bottom:4em;
          min-height:100%;
        }

        .container {
          padding-left:15px;
          padding-right:15px;

          >.row {
            margin:0 auto;
            header {
              &.page-header {
                border:none;
                display:none;
              }

              &.page-header-archive {

                h1  {
                  font-size:38px;
                }

                h2 {
                  margin-bottom:1.5em;
                }
              }
            }
          }


          .row {
            // Archive columns for post display
            .content-area {
              .site-main {
                margin:0 -15px;
                .archive-list {
                  article {

                  }
                }
              }
            }
          }
        }
      }
    }

    // Hyperlinks
    a {
      font-size:1em;
      color:$blue;
      text-decoration: none;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      &:hover {
        color:$blue-hover;
      }

      &:focus {
        @include aOutline;
      }
    }
  }
}



a {
  color:$link;
  cursor:pointer;
  text-decoration:none;
  &:hover {
    color:$linkhover;
  }

  &:focus {
    color:$linkhover;
    outline-offset: 1px;
    outline-style: dotted;
    outline-width: 1px;
    outline-color: color($link);
  }

  &:active {
    color:$linkhover;
  }
  &.dark-background {
    color:$link-dark-background;
  }
  &.link-sm {
    color:$link-sm;
  }
  &.link-sm-dark {
    color:$link-sm-dark-background;
  }
  &.pdf,&.img-link.pdf {
      font-size:.85em;
  }
}


a[href$=".pdf"]:before,
a.pdf:before {
  content: "\f1c1";
  font-family: FontAwesome;
  margin-right: 4px;
  margin-top:-1px;
  font-size:.85em;
}
a.img-link[href$=".pdf"]:before,
a.img-link.pdf:before {
  display: none;
}

a[href$=".pdf"]:after,
a.pdf:after,
a.img-link[href$=".pdf"]:after,
a.img-link.pdf:after {
  display:none;
  content:"";
}



p a:hover {
  border-bottom: 1px solid #DCDCDC; }

p a.external-link:after {
  display: none; }

.entry-content {
  // <a> reset

  a {
    color:$blue;
    text-decoration: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    &:not(.more-link) {
      border-bottom:1px dotted $link-underline-grey;
    }

    &:hover {
      color:$blue-hover;
    }

    &:focus {
      @include aOutline;
    }

    &.pdf,&.img-link.pdf {
     font-size:.85em;
    }
  }


  > p {
    > a {
      font-size:1em;
      color:$blue;
      text-decoration: none;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      &:not(.more-link) {
        border-bottom:1px dotted $link-underline-grey;
      }

      &:hover {
        color:$blue-hover;
      }

      &:focus {
        @include aOutline;
      }

      span.fa.fa-file-pdf-o {
        margin-left:3px;
        font-size:3px;

        &:after {
          font-size:5px;
          height:10px;
          max-height:3px;
        }
      }
    }
  }

  p {
    a {
      font-size:1em;
      text-decoration: none;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      color:$blue;
      &:not(.more-link) {
        border-bottom: 1px dotted $link-underline-grey;
      }

      &:hover {
        color:$blue-hover;
      }

      &:focus {
        @include aOutline;
      }


    }
  }

  ul,ol {
    li {
      a {
        color:$blue;
        border-bottom:1px dotted $link-underline-grey;
        text-decoration: none;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        &:hover {
          color:$blue-hover;
        }
        &:focus {
          @include aOutline;
        }
      }
    }
  }


  // Color changes only
  .entry-meta {
    .posted-on {
      a {
        color:$blue;
        border-bottom:1px dotted $link-underline-grey;
        text-decoration: none;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;

        &:hover {
          color:$blue-hover;
        }

        &:focus {
          @include aOutline;
        }

      }
    }
  }
}


%accessibility-focus {
  outline-offset: 1px;
  outline-style: dotted;
  outline-width: 1px;
  outline-color: color($blue);
}

code {
  color:$grey-7 !important;
  background-color:#f5f5f5 !important;
}

// Pagination for Archives
nav.navigation.pagination {

  width:100%;
  margin:0 0 2rem 0;

  h2.screen-reader-text {

  }
  div.nav-links {
    border:none;
    margin:0;
    padding:0;

    font-size:1.2rem;
    @media (max-width:$desktop-small) {
      text-align:center;
    }
    a {
      font-size:1.2rem;
      &.page-numbers {
        margin-left:.3em;
        margin-right:.3em;

      }
      &:first-child {
        margin-left:0;
      }
      &:last-child {
        margin-right:0;
      }
    }
  }
}

// Monospace fix
code,
pre {
  font-family:monospace;
}

// General Table Class
table.general-table {

  &.reduced-font-size {
    font-size:16px;
  }
  line-height:$table-line-height;
  border:$table-border-size $table-border-style $table-border-color;
  tr {
    td {
      padding:$table-head-padding;
      text-align:center;
    }
  }
  thead {
    background:$table-head-bg;
    color:$table-head-font-color;
    font-weight:$table-head-font-weight;
    text-transform:uppercase;
    tr {
      th {
        padding:10px;
      }
    }
  }

  tbody {
    tr {
      background: $table-bg;
      &:nth-child(even) {
        background: $table-even-row-bg;
      }
      td {

      }
    }
  }
}