// Headings (H1, H2, etc)


h1,h2,h3,h4,h5,h6,h7 {
  color:$grey-8;
  //font-weight:600 !important;
  margin-top:0;
}

// Reset page header div from RHD parent
header {
  &.page-header {
    h1,h2,h3,h4,h5,h6,h7 {
      color:$grey-8;
      text-transform: none;
    }
  }
}


.widget-area .widget .widget-title {
  color:$grey-8 !important;
  text-transform:none !important;
}

.widget-area {
  .widget {
    .widget-title {
      padding-left: 0;
      text-transform: none;
      color: $grey-8;
      &:before {
        content: none;
        background: none;
      }
    }
  }
}