// CUSTOM MIXINS

// Link outlining
@mixin aOutline() {
  outline-offset: 1px;
  outline-style: dotted;
  outline-width: 1px;
  outline-color: $blue;
}

@mixin flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin linkunderline {
  border-bottom:1px solid $link-underline-grey;
}

// General purpose element padding structure (left and right) for page alignment
@mixin l-r-padding() {
  padding-left:$leftRightPadding;
  padding-right:$leftRightPadding;
}