// GENERAL PAGE CONTENT, ARTICLE, POST UPDATES AND FIXES

.article-list  {
  .hentry {
    &:nth-child(1),&:nth-child(2) {
      .entry-content  {
        //font-size:20px;
      }
    }
  }
}

article {

  padding:1em 0;
  margin:1em 0;
  &.hentry {
    border-bottom:1px dashed $grey-8;
  }
  .entry-content {
    // Set main font sizes for article entries
    font-size:20px;
    color:$body-text-grey;

    @media(max-width:$desktop-small) {
      h1,h2 {
        font-size:32px;
      }
    }

    a {
      font-size:1em;
      color: $blue;
      &:not(.more-link) {
        border-bottom: 1px dotted $link-underline-grey;
      }

      &:hover {
        color: $blue-hover;
      }

      &:focus {
        @include aOutline;
      }
    }

    div,p,ul,ol,li {

      font-size:20px;
      line-height:1.5;
      font-weight:300;

      .syntaxhighlighter {
        font-size:16px !important;

        table,
        table td  {
          font-size:16px !important;
        }
      }
    }

    h1 {
      //font-size:1.8em; // ~40px
      //line-height:1.3;
      margin:1em 0;
    }

    .entry-title {
      color:$standardred;
      //font-size:1.8em; // ~40px
      line-height:1.3;
      margin:1em 0;
    }

    ul,ol {
      li {
        a {
          font-size:1em;
          font-weight:400;
        }
      }
    }

    pre {
      font-size:14px !important;
      margin:0 0 10px;
      padding:1em;
      overflow-x: auto;
    }

    h3 {
      margin:1em 0 !important;
    }

    // .archive-posts are the bylines for the posts listed on archive pages (front, category, tag, author pages)
    &.archive-posts {

      a {
        border:none;
        img {
          margin-bottom:1em;
        }
      }

      padding-top:0;
      h2 {
        &.entry-title {
          margin:0;
        }
      }
      .entry-meta {
        line-height: 1;
        margin:20px 0 20px 0;

        .posted-on {
          font-size: 13px;
          font-weight:bold;
          padding-bottom:0;

          @include flex();
          flex-flow: row nowrap;
          align-content: center;
          align-items: center;

          .author-line {
            display:inline-block;

            @media (max-width: $tablet-portrait) {
              display:block;
              width:100%;
              clear:both;
            }

            time.updated {
              display:none;
            }
          }

          .avatar-outer {
            img.avatar {
              width:30px;
              height:30px;
              max-width:30px;
              max-height:30px;
              float:left;
              margin:0 4px;

              &:first-child {
                margin-left:0;
              }
            }

            @media (max-width: $tablet-portrait) {
              display:block;
              width:100%;
              clear:both;
            }
          }

          @media (max-width: $tablet-portrait) {
            display:block;
          }
        }
      }
    }


    // Standard post bylines are the individual post pages.
    &.standard-post {
      padding-top:0;
      .entry-title {
        font-size:40px; // Set to override the em settings
        padding-bottom:0;
        margin-bottom:0;
      }

      .entry-meta {
        line-height:1;
        font-size:13px;
        border-top:1px solid lighten($link-underline-grey,5%);
        border-bottom:1px solid lighten($link-underline-grey,5%);
        margin:10px 0 20px 0;

        .row {
          line-height: 1;
          @include flex();
          .posted-on {
            padding-bottom:0;
            font-size:13px;
            font-weight:bold;

            time.entry-date {
              font-size: 13px;
              color:$med-grey;

              @media(max-width:$tablet-landscape ) {
                display:block;
                width:100%;
              }
            }

            .avatar-outer {
              display:inline-block;
              @media(max-width:$tablet-landscape ) {
                display:block;
                width:100%;
                padding-bottom:.5em;
              }
            }
          }

          &.entry-meta-row {
            padding:10px 0;


            @media(max-width:$tablet-landscape ) {
              padding:10px 0;
            }

          }

          @media(max-width:$tablet-landscape ) {
            display:block;
          }

          [class*=' col-'] {
            padding:0 20px;
            @media(max-width:$tablet-landscape ) {
              padding:10px 20px;
            }
          }

          .author-post-info {

            div.posted-on {
              //margin:1em auto 2em auto;
              @media (max-width:$tablet-landscape) {
                margin:1em auto 2em auto;
              }
              time {
                &.updated {
                  display:none;
                }
              }
            }
            img.avatar {
              width:30px;
              height:30px;
              max-width:30px;
              max-height:30px;
              margin:0 4px;

              &:first-child {
                margin-left:0;
              }
            }

            @media(max-width:$tablet-landscape) {
              text-align: center;
              padding:0;
            }
          }
        }
      }
      // Add margin to featured image.
      img.single-post-featured-img {
        margin:10px auto 20px auto;
        height:auto;
        max-width:50%;
        clear:both;
        float:none;
        @media(max-width:$tablet-landscape) {
          max-width:100%;
          display:block;
        }
      }

      // Custom Category Template Stylization
      .post-category-template {
        border-top:1px solid #ddd;
        margin-top:20px;
        padding-top:20px;
        p {
          &.strong-grey {
            color:#999999;
            font-weight:bold;
          }
        }
      }
    }
  }

  // Footer for each post
  footer.entry-footer {
    h3 {
      margin-top:1em;
      font-size:1.33rem;
      text-decoration:none;
      color:$dark-grey-h3;
    }
  }
}

.entry-title {
  margin-top:0;
}

.article-list {
  .hentry {
    .entry-title {
      margin-top:0;
    }

    &:nth-child(-n+2) {
      .entry_title {
        margin-top:0;
        a {
          color:$standardred;
        }
      }
    }
  }
}


a.more-link {
  color: $blue;
  border-bottom: 1px dotted $link-underline-grey;

  &:hover {
    color: $blue-hover;
  }

  &:focus {
    @include aOutline;
  }
}

p.read-more {
  color: $blue;
  border:none;
  &:hover {
    color: $blue-hover;
  }

  &:focus {
    @include aOutline;
  }
}

// Rule overwrite for page break
@media(max-width: $tablet-landscape) {
  .article-list article.hentry:nth-child(n+3) .featured-img-vert-div a img,
  .article-list article.hentry:nth-child(n+3) .featured-img-vert-div img {
    width:70%;
    max-width: 70%;
    height:auto;
    margin:0 auto;
    float:none;
  }
}


// Update to vcard
span.author.vcard {
  border:none;
  padding:.625rem 0;
}

span.vcard {
  border:none;
}



// TAXONOMY TAG CHANGES
/* Adjust sizes to make the category tags look aligned so they resemble actual "tags" */
.tags-links {

  a {
    font-size:11px;
    line-height:1;
    padding:8px;
    background:$standardred;
    color:white;
    margin:0px 10px 10px 15px;
    position:relative;
    &:before {
      position: absolute;
      left: -14px;
      top: 0;
      content: '';
      border-top: 14px solid transparent;
      border-right: 14px solid #cc0000;
      border-bottom: 14px solid transparent;
      height: 0;
      width: 0;
      display: inline-block;
    }
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      left: -6px;
      height: 4px;
      width: 4px;
      margin:-2px 0 0 0;
      background: #fff;
      border-radius: 50%;
      z-index: 10;
    }

    &:hover,&:active {
      color:white;
    }
  }
}

// Recent Comment Widget change
p.recent-comment-p {
  color:$med-grey;
}


.featured-img-vert-div {
  @media screen and (max-width: $tablet-landscape) {
    display:block;
  }
}

