// Misc. Page resets & default settings
#infinite-handle {
  display: none;
}

/* Temporarily hiding author pagination text */
.author-pagination {
  //display: none;
}

// Default page widths & positioning

/* Returns Page Width(s) to 100% due to Default RH Script import shortening width to only 75em */
.row, .text-pagination {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}