// Promotional section (in-page ads and/or Adobe T&T)

article .entry-content div.category-promo-section,
article .entry-content div.page-promo-section {
  display:block;
  width:100%;
  max-width:720px;
  background:$grey-2;
  padding:1em;
  margin:3em auto 2em auto;
  &.rhd-benefits-section {
    background:lighten($grey-2,6%);
  }
  &.reduced-top-margin {
    margin-top:2em;
  }

  // Add-ons for General Promo - August/September 2018
  // Image adjustments
  &.general-promo   {
    .container {
      .row {
        .promo-image {
          a {

            // Reduce left margin at desktop screen view with skinny columns
            @media(max-width:$desktop-large) and (min-width: 1025px) {
              margin-left:10px;
            }

            @media(max-width:1025px) and (min-width:$tablet-landscape ) {
              margin-left:20px;
            }


            img {
              //border:1px solid red;
              width:270px;
              height:auto;
              max-width:270px;
              @media(max-width:$desktop-large) and (min-width: $desktop-small) {
               // border:1px solid blue;
              }


              @media(max-width:$desktop-large) and (min-width: 1025px) {
                width:210px;
                height:auto;
                max-width:210px;
              }

              @media(max-width:1025px) and (min-width:$tablet-landscape ) {
                width:260px;
                height:auto;
                max-width:260px;
              }

              @media(max-width:$tablet-landscape) {
                width:270px;
                height:auto;
                max-width:270px;
                max-height:270px;
              }

              @media(max-width:360px) {
                width:100%;
                height:auto;
                max-width:270px;
                max-height:270px;
              }
            }
          }

        }
      }
    }
    margin-top:1em;

  }

  .container {
    .row {
      .columns {
        padding-left:0;
        padding-right:0;

        h4 {
          line-height:1.3;
          // Changed for August Promo
          //margin-bottom:.6rem;
          margin-bottom:0;
          @media(max-width:$small-screen-breakpoint) {
            font-size:1.3em;
            text-align: center;
          }
        }

        p {
          color:black;
          padding: 1em 0 1.8em 0;
          margin:0;
          line-height:1.5;
          font-size:1.1rem;
          font-weight:500 !important;
          color:rgb(100,100,100);

          @media(max-width:$tablet-landscape) {
            text-align:center;
          }
        }

        a.special-offer-bar-button {
          display:block;
          text-transform: uppercase;
          color:white;
          background-color:$blue;
          font-size:.9rem;
          // Changed for August Promo...
          //margin-top:1em;
          margin-top:0;
          &:hover, &:focus {
            color:white;
            background-color: darken( $blue, 6% );
          }

          @media(max-width:$tablet-landscape) {
            margin:.5em auto 1em auto !important;
          }
        }
        &.promo-image {
          text-align:center;
          @media(max-width:$medium-large-screen-breakpoint) {
            text-align:center;
          }
          padding:0;
          a {
            text-align: center;
            display:block;
            border:none;
          }


          // Width display controls - Default
          &.sm-display {
            display:none;
            @media(max-width:$small-screen-breakpoint ) {
              display:block;
            }


          }
          &.lg-display {
            display:block;
            a {
              // Removed for August Promo
              //margin-left:30px;
            }
            @media(max-width:$small-screen-breakpoint ) {
              display:none;
            }
          }

          img {
            width:95%;

            height:auto;
            margin-top:-2.8em;
            &.no-top-margin {
              margin-top:0;
            }
            margin-left:auto;
            margin-right:auto;
            @media(min-width:$medium-large-screen-breakpoint) and (max-width:$large-screen-breakpoint) {
              width:85%;
              margin-top:0;
              margin-left:.8rem;
            }
            @media(max-width:$small-screen-breakpoint ) {
              width:50%;
              margin:1em auto 2em auto;
            }
            @media(max-width:$small-phone-breakpoint) {
              width:60%;
            }


            @media(max-width:$xtra-small-screen-breakpoint) {
              width:90%;
              transform:rotate(0deg);
              margin:1em auto;
            }


          }


          // Special cases

          // In rhel_ansible.php
          &.rhel-ansible-img {
            img {
              margin-top:0;
              width:100%;
            }
          }

          // In dotnet_rhel.php, containers_cheat_sheet.php, advanced_linux_cheat_sheet.php
          &.adv-linux-cheatsheet-lg,
          &.containers-cheat-sheet-lg,
          &.dotnet-rhel-cheat-sheet-lg {
            img {
              max-width: 200px;
              transform:rotate(-5deg);
            }
          }

          // In microservices_java.php
          &.microservices-java-lg {
            img {
              max-width: 190px;
              transform:rotate(-5deg);
              box-shadow:0 1px 10px lighten($grey-5,5%);
            }
          }

          // In rhel_product.php
          &.rhel-product-lg {
            img {
              margin-top:0;
            }
          }

          // IN rhd_benefits.php
          &.rhd-benefits-img {
            img {
              margin-top:0;
              width:100%;
              max-width:100%;
            }
          }

          // In rhel_tools.php
          &.rhel-tools-img {
            img {
              margin-top:0;
            }
          }

          &.mesh-istio-lg {
             img {
               max-width: 200px;
               transform:rotate(-5deg);
               box-shadow:0px 1px 10px $grey-5;
              }
          }



          // Rotate fix
          &.adv-linux-cheatsheet-lg,
          &.containers-cheat-sheet-lg,
          &.dotnet-rhel-cheat-sheet-lg,
          &.rhel-product-lg,
          &.microservices-java-lg {
            img {
              @media(min-width:$desktop-small) and (max-width:$desktop-large) {
                transform:rotate(0deg);
                width:100%;
                max-width:100%;
              }
            }
          }
        }
      }
    }
  }


  h1 {
    color:white;
    text-transform: uppercase;
    letter-spacing:1px;
  }

  h2 {
    color:white;
    font-size:2em;
  }

  p {
    color:#000000;
    padding:0;
    margin:0;
    line-height:1.5;
    font-size:1rem;

    font-weight:500 !important;
    color:rgb(100,100,100);
  }

  a.special-offer-bar-button {
    display:block;
    text-transform: uppercase;
    color:white;
    background-color:$blue;
    font-size:.9rem;
    margin-top:1em;
    max-width:270px;
    &:hover, &:focus {
      color:white;
      background-color: darken( $blue, 6% );
    }

  }
}

