// Imported Header from new site 2018
header[role="banner"] {
  div.rhd-masthead {
    div {
      // TOP BAR WITH SHADOWMAN LOGO AND UNIVERSAL NAV ITEMS (CUSTOMER PORTAL, DEVELOPER, ETC.)
      div.rh-universal-header {
        width:100%;
        background-color:rgba(0, 0, 0, 0.8);

        nav.rh-nav-universal {
          max-width: 720px;
          width: 100%;
          padding-left: 10px;
          padding-right: 10px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: 130px 1fr;
          align-items: center;
          justify-items: center;
          min-height: 50px;
          @media (min-width:$desktop-small) {
            max-width: 1400px;
            grid-column-gap: 0;
            grid-template-columns: 145px 1fr;
          }

          a {
            &.rh-logo-wrapper {
              justify-self: start;
               svg {
                 width:100px;
                 height:auto;
                 max-width:100px;
                 padding:5px 6px;
                 vertical-align:middle;
              }
            }
            svg {
              width:100px;
              height:auto;
            }
          }

          ul.rhd-menu {
            &.rh-nav-universal-list {
              font-size:14px;
              li.rh-nav-universal-link {
                a[data-drupal-link-system-path="<front>"] {
                  color:white;
                  position: relative;
                  &:before {
                    content: '';
                    display: block;
                    width: 25px;
                    height: 1px;
                    position: absolute;
                    background-color: rgb(204, 0, 0);
                    bottom: -2px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                  }
                }
              }
            }

            &.rh-universal-login {
              li {
                &.menu-item {
                  span.icon {
                    svg {

                      max-height:14px;
                      width:14px;
                    }
                  }
                }

                &.login {
                  span.icon {
                    margin-right: 10px;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 600;
                    svg {
                      vertical-align:-1px;
                      width:1em;
                      height:1em;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    div.container {
      width:100%;
      @media(min-width:$desktop-large) {
        max-width:1202px;
      }
      @media(min-width:$desktop-small ) and (max-width:$desktop-large) {
        max-width:961px;
      }
      @media(max-width:$desktop-small) {
        max-width:720px;
      }


      // MIDDLE TIER NAVIGATION
      div.rhd-masthead-inner {

        // LAPTOP/DESKTOP NAVIGATION
        div.rhd-header {
          nav {
            ul.rhd-menu {
              li {
                &.rhd-nav-search {
                  button {
                    span {
                      &.open-icon {
                        svg {
                          vertical-align: -0.125rem;
                          width:16px;
                        }
                      }
                      &.close-icon {
                        svg {
                          vertical-align: -0.125rem;
                          width:12px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }



        // MOBILE PHONE DROPDOWN MENU
        div.region.region-mobile-tray.rhd-mobile-tray {

          .rhd-mobile-tray-inner {
            button {
              padding:0;
              width:auto;
              text-transform:uppercase;
              font-size:14px;
              &.menu-toggle {
                top:20px;
              }
              span.icon {
                svg {
                  &.svg-inline--fa.fa-times-circle.fa-w-16 {
                    width:1em;
                    vertical-alignt:-0.125rem;
                  }
                }
              }
            }

            nav {
              ul li span svg {
                width:1em;
              }

              &.block.block-menu.navigation.menu--account {
                ul.rhd-menu.rh-universal-login {
                  li {
                    span.icon {
                      svg {
                        width:14px;
                      }
                    }
                  }
                }
              }
              // <ul> element with main RHD Topics
              &.rhd-nav-mobile.menu--rhd-navigation {
                ul {
                  li {
                    a {
                      font-size:16px;
                      line-height:1.5;
                      span {
                        &.title {
                          font-size:18px;
                        }
                        &.description {
                          font-size:12px;
                        }
                      }
                    }
                  }
                }
              }
            }

            .block-rhd-search-block {
              .rhd-search-wrapper {
                .search-bar {
                  input {

                  }

                  button {
                    padding:10px 6px;
                    svg {
                      font-size:1rem;
                      width:1rem;
                      height:1rem;
                    }
                  }
                }
              }
            }
          }
        }

        // HAMBURGER MENU ICON
        div.menu-toggle-wrapper {
          text-align:right;
          //display:block;
          button {
            line-height:1;
            //max-width:100px;
            //display:inline-flex;
            @-moz-document url-prefix() {
              display:inline-flex;
            }
            @media(min-width:$tablet-landscape) {
              display:none;
            }
            &.menu-toggle {
              padding:11px 15px;
              writing-mode: horizontal-tb;
              position: inherit;
              align-items: flex-start;
              text-transform:uppercase;
              line-height:14px;

              //width:auto;
              span.icon {
                line-height:1;
                svg {
                  width:.875em;
                  height:1em;
                  vertical-align: -.125em;
                  overflow: visible;
                  overflow-x: visible;
                  overflow-y: visible;
                  path {
                    transform-origin: 0px 0px;
                  }
                }
              }
            }
          }
        }
      }
    }


    // THIRD TIER NAVIGATION ROW
    div.region.region-rhd-post-header {
      font-size:14px;
      nav {
        div.container {

          div.rhd-topic-header-inner {
            ul.rhd-menu.rhd-topic-nav.slick-initialized.slick-slider {
              div.slick-list.draggable {
                div.slick-track {
                  li {
                    display:block;
                    font-size:14px;
                    a {
                      height:44px;
                      font-size:16px;
                      display:inline-block;

                      &:hover {
                        color:#242424
                      }
                    }

                    &.rhd-nav-all-topics {
                      a {
                        @media (min-width:$desktop-small) {
                          display:none;
                        }
                        span {
                          svg {
                            width:6px;
                            height:16px;
                            vertical-align:-2px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            button {
              svg {
                width:.5em;
                vertical-align: -.125em;
              }
            }

            div.rhd-nav-all-topics {
              font-size:1rem;
              line-height:1em;
              top:4px;
              a {
                height:36px;
                //line-height:14px;
               // padding:8px 0;
                &:after {
                  content: '';
                  display: block;
                  height: 3px;
                  background-color: #CC0000;
                  transform: scaleX(0);
                  transition: ease-in-out 150ms;
                  transition-property: initial;
                  transition-duration: 150ms;
                  transition-timing-function: ease-in-out;
                  transition-delay: initial;
                  position: absolute;
                  bottom: -3px;
                  left: 0;
                  width: 100%;
                }
                &:hover {
                  &:after {
                    transform: scaleY(1);
                  }
                }
                @media (max-width:$desktop-small) {
                  display:none;
                }
                font-size:1rem;
                span {
                  height:1em;
                  svg {
                    width:6px;
                    height:1rem;
                    vertical-align: -2px;
                  }
                }
              }
            }
          }

        }
      }
    }



  }
}


// HEADER PAGE TITLE FOR SECOND HEADER TIER (USED FOR SUB-TITLE IN BLOG, LIKE "BLOG ARTICLES")
.container.title-container {

  .region.region-title {
    margin-bottom:2em;
    .block.block-core.block-page-title-block {
      padding-bottom:0;
      h1.page-title {
        font-size:50px;

        line-height: 1;
        font-weight:500;
        margin-top:35px !important;
        margin-bottom:16px;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        span {
          font-weight:500;
        }
        @media (max-width:$tablet-landscape) {
          font-size:23px;

        }
      }

      p.page-sub-title {
        font-weight:500;
        padding-bottom:0;
        margin-bottom:0;
      }
    }

    h3.page-title.general-title {
      font-size:27px;
      color:$grey-6;
      text-transform: uppercase;

    }
  }
}




