// SAML/SSO LOGIN BUTTON

// Widget area / main login button
.widget.widget_saml_login_widget {
  form {
    a {
      display:block;
      text-align:center;
      padding:9px 0;
      font-size:16px;
      background:#cc0000;
      color:#ffffff;
      text-transform: uppercase;
      transition: background 0.2s ease-in 0s;


      &:hover {
        background: $standardred-hover none repeat scroll 0 0;
      }
    }
  }
}

// Formatting for SAML/SSO in comments section

.comment-body {
  div.reply {
    a {
      &.comment-reply-login {
        display:block;
        padding:9px 14px;
        text-align:center;
        width:30%;
        background:#cc0000;
        color:#ffffff;
        text-transform: uppercase;
        transition: background 0.2s ease-in 0s;
        margin-bottom:2em;

        &:hover {
          background: $standardred-hover none repeat scroll 0 0;
        }
      }
    }

  }
}

// Formatting for "You must log in... " line
.comments-area {
  .comment-respond {
    p {
      &.must-log-in {
        padding:9px 14px;
        text-align:center;
        background: #ececec;
        text-transform:uppercase;
        width:70%;

        @media only screen and(max-width: $small-screen-breakpoint) {
          font-size:12px;
          width:100%;
        }

        a {
          display:inline-block;
          padding:2px 8px;
          background:$standardred;
          color:#ffffff;
          transition: background 0.2s ease-in 0s;

          &:hover {
            background: $standardred-hover none repeat scroll 0 0;
          }
        }
      }
    }
  }
}