// Sidebar and Widget formatting (when placed in sidebar; header and footer widgets won't appear in blog) – Also, not visible on authors' pages

// Widget changes
.widget-area {

  &.horizontal-orientation {
padding:0;
    .horiz-container {
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: auto;
      grid-column-gap: 20px;
      grid-row-gap: 15px;
      @media(max-width:$tablet-portrait) {
        display:block;
        aside {
          margin:1em auto;
        }
      }

      aside {
      }
    }

  }


    position: relative;
    div.vert-container {
      aside {
        padding: 0;
        margin: 0 0 60px 0;
        height: auto;
        &.widget {
          border:none;
          a {
            font-size:1rem;
            color: $blue;
            &:hover {
              color:$blue-hover;
            }
          }

          ul,ol {
            padding:0;
            li {
              font-size:1rem;
              list-style:none;
              margin:0;
              a {
                font-size:1rem;
              }
            }
          }

          // RSS Feed Widget
          &.rss-widget {
            div.rss-feed-sidebar-links {
              a {
                display:inline-block;
                font-size:1rem;
                margin:1em;
                &:first-child {
                  margin-left:0;
                }
                &:last-child {
                  margin-left:0;
                }
              }
            }
          }

          // Replacement login button
          &.login-to-admin {
            a {
              &.login-to-admin-btn {
                width:60%;
                display: block;
                text-align: center;
                padding: 9px;
                font-size: 14px;
                background: #cc0000;
                color: #ffffff;
                text-transform: uppercase;
                transition: background 0.2s ease-in 0s;
                &:hover {
                  background: $standardred-hover none repeat scroll 0 0;
                }
              }

              &.logged-in-a {
                transition: none;
                &:hover {
                  text-decoration: none;
                  border-bottom:none;
                }
              }
            }
          }

          &.widget_search {
            // Search form Widget Button margin fix
            padding:0;
            form.search-form {
              border:3px solid rgb(240, 240, 240);
              position: relative;
              line-height:1.42857;
              div.form-group {
                line-height:1.42857;
                margin:0;
                height:2.3125rem;
                label.sr-only {
                  font-size: 14px;
                  font-weight: 700;
                  height: 1px;
                  line-height: 21px;
                  margin-bottom: -1px;
                  margin-left: -1px;
                  margin-right: -1px;
                  margin-top: -1px;
                  max-width: 100%;
                  overflow: hidden;
                  overflow-x: hidden;
                  overflow-y: hidden;
                  padding-bottom: 0px;
                  padding-left: 0px;
                  padding-right: 0px;
                  padding-top: 0px;
                  position: absolute;
                  width: 1px;
                }

                input[type="text"] {
                  margin-bottom:0;
                  margin:0;
                  padding:10px 130px 10px 10px;
                  font-size:1rem;
                  font-size:14px;
                  line-height: 20px;
                  height:2.3125rem;
                  float:left;
                color: rgba(0, 0, 0, 0.75);
                  border:none;
                  box-shadow:none;
                }
              }

              button.btn {
                position:absolute;
                right:0;
                top:0;
                font-size:14px;
                padding:6px 20px;
                line-height:1.42857;
                height:100%;
                width:120px;
              }
            }
          }

          &.widget_recent_entries, &.widget_top-posts {
            .widget-title {
              &:before {
                content: none;
              }
            }
          }

          h1 {
            &.widget-title {
              padding-left: 0;
              &:before {
                content: none;
                background: none;
              }
            }

            &:before {
              content: none;
              background: none;
            }
          }

          h3 {
            font-size:1.4rem;
          }

          ul {
            font-size: 16px;
            li {
              font-size: 16px;
              padding: 0;
              line-height: 1.3;
              margin: .4em 0;
            }

            /* Change applied to space out comments widget <li>'s */
            &#recentcomments {
              li {
                &.recentcomments {
                  padding-bottom: 1em;
                }
              }
            }
          }

        }
      }
    }

  &.sidebar-non-author-page {
    position: relative;
    
    .sticky-wrapper {
      width:100%;
      position: relative;

      div.vert-container {
        &.stuck {
          position: fixed;
          top: 30px;
        }
      }
    }
  }

  form#login {
    a {
      color:white;
    }
  }
}

.testing-this {
  display:block;
}



