// Foundation Dependencies
$white: #FFFFFF !default;
$black : #000000;
$jet: #222222 !default;
$aluminum: #999999 !default;
$primary-color: #008CBA !default;
$blue: #0066CC;
$red: #CC0000;
$dark-grey : #242424;
$grey-3: #D5D5D5;
$grey-4: #CCCCCC;
$grey-5: #656565;
$grey-6: #424242;
$grey-7 : #333333;
$grey-8 : #242424;
$accent-blue: #08c0fc;
$linkhover: #004c98;
$screen: "only screen" !default;
$small-up: $screen !default;
$large-range: (64.063em, 90em) !default;
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$input-border-color: scale-color($white, $lightness: -20%) !default;

@import "functions";
@import "settings";
@import "components/global";
$include-html-global-classes: false; // fix for our version of ruby - https://github.com/zurb/foundation/issues/5989
@import "components/grid";
@import "components/visibility";
@import "components/block-grid";
@import "components/side-nav";
@import "components/forms";
@import "components/tabs";
@import "components/accordion";
// @import "components/tables";
@import "components/pagination";

/*
   Zurb Foundation Overides
  These are things that can't be changed in _settings.scss
*/

.row, .top-bar .row {
  max-width:emCalc(1170);
}

.row {
  margin: 0 auto;
  &.grow {
    & > [class^=large-] {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &.full-width{
    width: 100%;
    max-width: 100%!important; //might be needded depending on your settings
    &>.column:first-child,
    &>.columns:first-child{
        padding-left: 0;
    }
    &>.column:last-child,
    &>.columns:last-child{
        padding-right: 0;
    }
  }
}

pre code {
  border: none;
}

.content {
  padding:1em 0;
}

.content-wrapper {
  margin: 0 auto;
}

body.fullbleed {
  .content-wrapper {
    max-width:none;
    padding:0;
    margin:0;
    background:none;
  }
}
.wrapper {
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 400px;
  padding-bottom: emCalc(100px);
  flex: 1;
  flex-basis: auto;
}

.hero {
  border:1px solid black;
  border-radius: 0;
  margin-bottom: 20px;
}
