<div class="rhd-c-video--author">
  <span class="rhd-c-video--author-hero">
    {{ content.field_headshot }}
  </span>
  <div class="rhd-c-video--author-info">
    <div class="rhd-c-video--author-name">
      <a href="{{ url }}">{{ label }}</a>
    </div>
    {{ content.field_position_title }}
  </div>
</div>
