.assembly {
  background-color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  &.has-background {
    position: relative;
    .container {
      position: relative;
      z-index: 1;
    }
  }
  &:focus {
    outline: 0;
  }
  .field__item, .field {
    display: block;
  }
  &.assembly-dark {
    background: #252525;
    & a:not(.button){
      color: $link-dark-background;
    }
    &, h1, h2, h3, h4, h5, h6 {
      color: white;
    }
  }
  &.assembly-space {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &.assembly-center {
    * {
      text-align: center;
    }
  }
  &.assembly-slim {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;

    .text-formatted {
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.assembly-no-bkg {
    background-image: none;
  }
  &.assembly-narrow {
    > .container {
      max-width: 820px;
    }
  }
  &.assembly-image-left {
    @include desktop-small {
      .assembly-content{
        order: 2;
      }
      .assembly-content+.assembly-image{
        order: 1;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-right: 50px;
      }
    }
  }
  .background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .field--name-field-title, .header {
    text-align: center;
    margin-bottom: 16px;
    font-size: 18px;
    margin-top: 0;
    @include desktop-small {
      font-weight: bold;
      font-size: 36px;
    }
  }

  &.no-padding-top {
    padding-top: 5px;
  }
  &.no-padding-bottom {
    padding-bottom: 5px;
  }
  &.assembly-no-space-top {
    margin-top: 0;
  }
  &.assembly-no-space-bottom {
    margin-bottom: 0;
  }
  &[data-audience] {
    display: none;
  }

  &.left {
    text-align: left !important;
    float: none !important;
    .field__item {
      text-align: left !important;
    }
    &.assembly-type-featured_products .grid {
      justify-content: left;
    }
    .field--name-field-title,
    .header,
    .cta-link {
      text-align: left;
    }
  }

  &.gray-bg {
    background-color: #e5e5e5;
  }

  &.dark {
    background-color: #242424;
    color: #fff;
    .node--type-product .field__items {
      color: #333;
    }
    h1, h2, h3, h4, h5, h6,
    .field__item,
    .field__items {
      color: #fff;
    }
    .cta-link a {
      border-color: #fff;
      color: #fff;
      &:hover {
        color: #06c;
        background-color: #fff;
      }
    }
  }

  &.four-up {
    .grid {
      grid-gap: 15px 15px;
      grid-template-columns: repeat(4,230px);
    }
    @media screen and (max-width: 1024px) {
      .grid {
        grid-gap: $gutter $gutter;
        grid-template-columns: repeat(2, 300px);
      }
    }
    @media screen and (max-width: 768px) {
      .grid {
        grid-gap: $gutter $gutter;
        grid-template-columns: repeat(1, 300px);
      }
    }
  }
}
