.assembly {
  background-color: #FFF;
  &.has-background {
    position: relative;
    .container {
      position: relative;
      z-index: 1;
    }
  }
  &:focus {
    outline: 0;
  }
  .field__item, .field {
    display: block;
  }
  &.assembly-dark {
    background: #252525;
    & a:not(.button){
      color: $link-dark-background;
    }
    &, h1, h2, h3, h4, h5, h6 {
      color: white;
    }
  }
  &.assembly-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &.assembly-center {
    * {
      text-align: center;
    }
  }
  &.assembly-slim {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;

    .text-formatted {
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.assembly-no-bkg {
    background-image: none;
  }
  &.assembly-narrow {
    > .container {
      max-width: 820px;
    }
  }
  .background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .field--name-field-title, .header {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
  }

  &.no-padding-top {
    padding-top: 0 !important;
  }
  &.no-padding-bottom {
    padding-bottom: 0 !important;
  }
}
