.assembly {
  background-color: #FFF;
  &.has-background {
    position: relative;
    .container {
      position: relative;
      z-index: 1;
    }
  }
  &:focus {
    outline: 0;
  }
  .field__item, .field {
    display: block;
  }
  &.assembly-dark {
    background: #252525;
    &, h1, h2, h3, h4, h5, h6 {
      color: white;
    }
  }
  &.assembly-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &.assembly-center {
    * {
      text-align: center;
    }
  }
  .background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .field--name-field-title, .header {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
  }
}
