.assembly-type-call_to_action {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background: $light-blue;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  &, & p {
    font-size: 24px;
    line-height: 1.5;
  }
  * {
    color: #FFF;
  }
  .header {
    font-size: 40px;
    margin-bottom: 0;
    @include tablet-landscape {
      font-size: 60px;
    }
  }
  &.left {
    float: none !important;
    text-align: left;
    .header {
      text-align: left;
    }
  }
}
