.assembly-type-collection {

  .view-content {
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: 1fr 1fr;
    @include tablet-landscape {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include desktop-small {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .views-row {
      display: block;
      .tile-image-wrapper {
        text-align: center;
        max-height: 156px;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
  }
  &.pager-dots {
    .pager {
      .pager__item--first,
      .pager__item--previous,
      .pager__item--next,
      .pager__item--last {
        display: none;
      }
      .pager__item {
        a {
          display: inline-block;
          width: 10px;
          height: 10px;
          overflow: hidden;
          text-indent: -999px;
          background-color: #D3D2D2;
          border-radius: 10px;
        }
        &.is-active a {
          background-color: #2B9BDA;
        }
      }
    }
  }
}
