.assembly-type-content_with_image {
  text-align: center;
  @include desktop-small {
    text-align: left;
  }

  h2 {
    font-size: 50px;
  }
  @include desktop-small-and-down {
    h1,h2,h3,h4,h5,h6 {
      text-align: left;
    }
  }
  .header {
    text-align: left;
  }

  .container {
    flex-flow: row wrap-reverse;
    display: flex;
    @include desktop-small {
      flex-flow: row wrap;
    }
    > div {
      @include tablet-portrait {
        width: 50%;
        align-self: start;
      }
      @include desktop-large {
        align-self: center;
      }
    }
  }
  
  p, ol, ul {
    font-size: 13px;
    @include tablet-landscape {
      font-size: 16px;
    }
    &:first-child {
      margin-top: 0;
    }
    @include desktop-small-and-down {
      text-align: left;
    }
  }

  .assembly-content {
    width: 100%;
    @include desktop-small {
      width: 50%;
    }
    @include tablet-portrait {
      flex-grow: 2;
    }
    .field--name-field-title {
      font-size: 38px;
      font-weight: 600;
      text-align: left;
      margin-bottom: 20px;
    }
    + .assembly-image {
      max-width: 100%;
      width: 100%;
      text-align: center;
      margin-left: 0;
      margin-bottom: 20px;
      @include desktop-small {
        margin-top: 13px;
        margin-left: 50px;
        max-width: 320px;
        margin-bottom: 0;
        text-align: left;
      }
      img {
        max-width: 320px;
        @include mobile-landscape-and-down {
          max-width: 212px;
        }
      }
    }
  }
  .assembly-image {
    @include tablet-portrait {
      flex-grow: 1;
    }
  }
  .button {
    margin: 15px 15px 0 0 !important;
    @include tablet-portrait {
    }
  }
  &.assembly-bigger-image {
    .assembly-content + .assembly-image {
      @include desktop-small {
        max-width: 500px;
        img {
          max-width: 500px;
        }
      }
    }
  }
}
