.assembly-type-content_video {
  position: relative;
  height: 0;
  overflow: hidden;
  margin-bottom: 15px;
  @include desktop-small {
    width: 158%;
    padding-bottom: 88.88%;
  }
  @include desktop-small-and-down {
    width: 100%;
    padding-bottom: 56.25%;
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
