.assembly-type-cta_form {

  .assembly-type-eloqua_form_embed .iframe-container {
    max-width: 740px;
  }
  .field--name-field-title,
  .header {
    text-align: left;
    .use-h1 & {
      font-size: 23px;
      line-height: 1.24;
      @include tablet-portrait {
        font-size: 50px;
      }
    }
  }
  &.centered {
    text-align: center;
    .field--name-field-title,
    .header {
      text-align: center;
    }
  }
  &.background-gray {
    background: #e4e4e6;
  }
  .assembly-type-eloqua_form_embed {
    background-color: transparent;
  }

  &.sidebar-form  .column-container {
    @include tablet-landscape {
      display: grid;
      grid-template-columns: 66% 33%;
      > .cta-content{
        padding-right: 40px;
      }
    }
  }

}
