.assembly-type-dynamic_content_list {
  background: #F9F9F9;


  .sidebar {
    @include desktop-large {
      padding-left: 40px;
    }
  }

  &.big-heading .header {
    font-size: 18px;
    @include tablet-portrait {
      font-size: 38px;
    }
  }
  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    @include tablet-portrait {
      grid-template-columns: 2fr 1fr;
    }
  }

  .narrow {
    .grid {
      @include tablet-portrait {
        grid-template-columns: 1fr;
      }
    }
  }

  .content-teaser-list {
    list-style-type: none;
    &>li {
      margin: 0;
      border-bottom: 1px dashed #CCC;
      margin-bottom: 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .disqus {
    background: #FFF;
    padding: 35px 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }

    .header {
      margin-top: 0;
      font-size: 17px;
      text-align: left;
      margin-bottom: 30px;
      font-weight: normal;

      .fa-comment {
        font-size: 15px;
        margin-right: 3px;
      }
    }
  }

  .cta-link {
    margin-top: 2rem;
    .button {
      display: inline-block;
      width: 100%;
      @include tablet-portrait {
        width: auto;
      }
    }
  }

  .related-topics {
    label {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .5px;
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
      color: black;
    }
    .content-link-list {
      a {
        font-weight: bold;
        color: $gray-7;
        &:after {
          content: ", ";
        }
        &:last-child:after {
          content: "";
        }

        &:hover {
          border-bottom: 3px solid $red;
        }
      }

    }
  }

  .disqus+.related-topics {
    margin-top: 46px;
  }
}

.rhd-list-entry {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 2rem;
  grid-column-gap: 1.75rem;
  align-items: center;

  & > *:first-child { // Reorder things for mobile
    grid-row-start: -1;
  }

  p {
    margin: 0 0 1em 0;
    font-size: 14px;
    line-height: 1.5;
  }

  @include desktop-small {
    grid-template-rows: unset;
    grid-template-columns: 35% auto;
    align-items: start;
    max-width: 100%;
    margin: 1.75rem 0;
    .text-content {
      grid-row: 1;
      grid-column: 2;
    }
  }
  .rhd-play-button {
    padding: .5rem 1rem;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 15px;
    font-size: 1rem;
    position: absolute;
    right: 15px;
    left: auto;
    line-height: 1.5;
    span {
      position: relative;
      left: -0.15rem;
    }
  }

  .author.short-teaser {
    text-align: left;
    margin-top: 10px;
    .field--name-field-headshot {
      display: inline-block;
      vertical-align: middle;
      img {
        width: 52px;
        display: block;
      }
    }
    .author-name {
      background: transparent;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.rhd-list-entry--comment-link {
  font-size: 12px;
  margin-top: 0.8em;
  svg {
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }
}

.rhd-list-entry--title {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: bold;
  & > a {
    text-decoration: none;
  }
}

.rhd-list-entry--summary {
  font-size: 14px;
  color: #424242;
}

.rhd-list-entry--date {
  display: block;
  color: #808080;
  font-size: 14px;
  margin: 10px 0;
}

.rhd-list-entry--image {
  position: relative;
  margin-bottom: 10px;
  @include desktop-small {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 0;
  }
}

