.assembly-type-dynamic_content_list {
  background: #F9F9F9;
  padding-top: 70px;
  padding-bottom: 35px;

  @include tablet-portrait {
    padding-top: 123px;
    padding-bottom: 70px;
  }

  .header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
  }

  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    @include tablet-portrait {
      grid-template-columns: 2fr 1fr;
    }
  }

  .narrow {
    .grid {
      @include tablet-portrait {
        grid-template-columns: 1fr;
      }
    }
  }

  .content-teaser-list {
    list-style-type: none;
    &>li {
      margin: 0;
      @include tablet-portrait {
        border-bottom: 1px dashed #242424;
      }
    }
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 1fr;

    @include tablet-portrait {
      grid-template-columns: 1fr;
      grid-gap: 0;
      margin-top: -30px; // teaser top margin
    }

  }

  .disqus {
    background: #FFF;
    padding: 35px 1rem;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }

    .header {
      margin-top: 0;
      font-size: 17px;
      text-align: left;
      margin-bottom: 30px;

      .fa-comment {
        font-size: 15px;
        margin-right: 3px;
      }
    }
  }

  .cta-link {
    margin-top: 2rem;
    .button {
      display: inline-block;
      width: 100%;
      @include tablet-portrait {
        width: auto;
      }
    }
  }

  .related-topics {
    label {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .5px;
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
      color: black;
    }
    .content-link-list {
      a {
        font-weight: bold;
        color: $gray-7;
        &:after {
          content: ", ";
        }
        &:last-child:after {
          content: "";
        }

        &:hover {
          border-bottom: 3px solid $red;
        }
      }

    }
  }

  .disqus+.related-topics {
    margin-top: 46px;
  }
}

.rhd-list-entry {
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 160px;
  margin-bottom: 2rem;
  grid-column-gap: 1rem;

  & > *:first-child { // Reorder things for mobile
    grid-row-start: -1;
  }

  @include tablet-portrait-and-up {
    grid-template-rows: unset;
    grid-template-columns: 1fr auto;
    max-width: 100%;
    margin: 1rem 0;
  }
}

.rhd-list-entry--title {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 8px;
  
  & > a {
    color: #000;
    text-decoration: none;
  }

  @include tablet-portrait-and-up {
    display: block;
    font-size: 26px;
    margin-top: 0;
  }
}

.rhd-list-entry--summary {
  display: none;

  @include tablet-portrait-and-up {
    display: block;
    p {
      font-size: 14px;
    }
  }
}

.rhd-list-entry--date {
  display: block;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 6px;
}

.rhd-list-entry--image {
  height: 90px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet-portrait-and-up {
    height: unset;
    display: inherit;
  }

  &>img {
    max-width: 160px;
    max-height: 90px;

    @include tablet-portrait-and-up {
      max-height: unset;
      max-width: 180px;
    }
  }
}
