.assembly-type-dynamic_content_list {
  background: #F9F9F9;
  padding-top: 2rem;
  padding-bottom: 1rem;

  @include tablet-portrait {
    padding-top: 7rem;
    padding-bottom: 2rem;
  }

  .header {
    text-align: center;
    margin-top: 0;
  }

  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    @include tablet-portrait {
      grid-template-columns: 2fr 1fr;
    }
  }

  .content-teaser-list {
    list-style-type: none;
    &>li {
      margin: 0;
      @include tablet-portrait {
        border-bottom: 1px dashed #242424;
      }
    }
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 1fr;

    @include tablet-portrait {
      grid-template-columns: 1fr;
    }

  }

  .disqus {
    background: #FFF;
    padding: 2rem 1rem 1rem;
  }

  .cta-link {
    margin-top: 2rem;
    .button {
      display: inline-block;
    }
  }
}
