.assembly-type-dynamic_content_list {
  background: #F9F9F9;
  padding-top: 70px;
  padding-bottom: 35px;

  @include tablet-portrait {
    padding-top: 123px;
    padding-bottom: 70px;
  }

  .header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
  }

  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    @include tablet-portrait {
      grid-template-columns: 2fr 1fr;
    }
  }

  .narrow {
    .grid {
      @include tablet-portrait {
        grid-template-columns: 1fr;
      }
    }
  }

  .content-teaser-list {
    list-style-type: none;
    &>li {
      margin: 0;
      @include tablet-portrait {
        border-bottom: 1px dashed #242424;
      }
    }
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 1fr;

    @include tablet-portrait {
      grid-template-columns: 1fr;
      grid-gap: 0;
      margin-top: -30px; // teaser top margin
    }

  }

  .disqus {
    background: #FFF;
    padding: 35px 1rem;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    }

    .header {
      margin-top: 0;
      font-size: 17px;
      text-align: left;
      margin-bottom: 30px;

      .fa-comment {
        font-size: 15px;
        margin-right: 3px;
      }
    }
  }

  .cta-link {
    margin-top: 2rem;
    .button {
      display: inline-block;
      width: 100%;
      @include tablet-portrait {
        width: auto;
      }
    }
  }

  .related-topics {
    label {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: .5px;
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
      color: black;
    }
    .content-link-list {
      a {
        font-weight: bold;
        color: $gray-7;
        &:after {
          content: ", ";
        }
        &:last-child:after {
          content: "";
        }

        &:hover {
          border-bottom: 3px solid $red;
        }
      }

    }
  }

  .disqus+.related-topics {
    margin-top: 46px;
  }
}
