.assembly-type-eloqua_form_embed {
  .iframe-container {
    position: relative;
    @extend .container;
    margin-bottom: 20px;
    iframe {
      border: 0;
      height: 0px;
      width: 100%;
    }
  }
}
