.assembly-type-embedded_content {
  @media (min-width: 1025px) {
    width: 690px;
    max-width: none;
  }
  @include desktop-large {
    width: 869px;
  }
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
