.assembly-type-events_hero {
  color: $white;
  background-color: $black;
  background-image: url('/images/backgrounds/Event-HeroBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  position: relative;
  overflow: hidden;
  .container {
    display: block;
    @include desktop-small {
      display: flex;
    }
    h2.section-title {
      font-weight: bold;
      margin: 70px 0 0 0;
    }
    h2, h3, h4, h5, h6, p, a {
      color: $white;
    }
    .primary-event {
      padding: 30px 0;
      width: 70%;
      @include desktop-extra-small-and-down {
        width: 100%;
      }
      @include tablet-portrait {
        padding: 50px 0;
      }
      .event-info {
        .field--name-field-short-description {
          font-size: 16px;
          line-height: 24px;
          color: $white;
        }
      }
      .button {
        margin-top: 40px;
      }
    }
    &.has-sidebar {
      .primary-event {
        width: 50%;
        padding-right: 2rem;
        @include desktop-extra-small-and-down {
          width: 100%;
          flex-grow: 2;
        }
      }
      .secondary-events {
        width: 50%;
        @include desktop-small {
          flex-grow: 1;
          left: 50%;
          padding: 50px 0 0 0;
          left: auto;
          right: auto;
          margin: 0;
        }
        @include desktop-extra-small-and-down {
          width: 100%;
          left: 0;
          margin-left: 0;
        }
        h5 {
          text-transform: uppercase;
          margin: 0 0 15px;
          font-weight: bold;
          @include desktop-small {
            margin: 0 0 35px;
          }
        }
        article {
          margin-bottom: 25px;
          @include desktop-small {
            &:first-of-type {
              margin-right: 0;
            }
          }
        }

        .events-featured-tile {
          .short-description,
          .event-presenters {
            display: none;
          }

          a.button {
            border: 1px solid $white;
            line-height: 1.44;
            background-color: transparent;
            padding: 8px 40px;
            color:$white;
            &:hover, &:focus {
              background-color: $white;
              color: $red;
            }
          }

          &:only-of-type {
            .short-description,
            .event-presenters {
              display: block;
            }
            a.button {
              background: $red;
              -webkit-transition: background .2s ease-in 0s;
              transition:background .2s ease-in 0s;
              color: $white;
              font-weight: bold;
              border: none;
              &:hover, &:focus {
                color: $white;
                background-color: darken( $red, 12% );
              }
            }
          }
        }

        .more-link {
          margin-bottom: 3rem;
          a {
            margin-right: 20px;
            margin-bottom: 3rem;
            padding-right: 5px;
            position: relative;
            &:after {
              left: 100%;
              top: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              border-left-color: $white;
              border-width: 5px;
              margin-top: -5px;
            }
          }
        }
      }
    }
    .field--name-field-start-date,
    .rhd-list-entry--date {
      text-transform: uppercase;
      margin: 0 0 10px;
      @include tablet-portrait {
        margin: 0 0 20px;
      }
    }
    .event-presenters {
      display: grid;
      grid-template-columns: 1fr;

      @include tablet-portrait {
        grid-template-columns: 1fr 1fr;
      }

      h3 {
        color: $blue;
      }
    }
  }
  &.events-hero--light {
    background-color: $white;
    background-image: url('https://developers.redhat.com/images/design/product-hero-light.png');
    h1, h2, h3, h4, h5, h6, p, div {
      color: $gray-8;
    }
    .primary-event a.button {
      background: $red;
      color: $white;
      border: none;
      &:hover, &:focus {
        color: $white;
        background-color: darken( $red, 12% );
      }
    }
    .secondary-events > .events-featured-tile {
      a.button.heavy-cta {
        border: 1px solid $red;
        color:$red;
        &:hover, &:focus {
          border-color: $white;
        }
      }
    }
  }
  &.events-hero--dark {
    background-color: $black;
    background-image: url('/images/backgrounds/Event-HeroBackground.png');
    h1, h2, h3, h4, h5, h6, p {
      color: $white;
    }
  }
}
