.assembly-type-events_hero {
  color: #242424;
  background-color: #00B9E4;
  background-image: url('/images/Blue_Background@2x.png');
  background-repeat: no-repeat;
  background-size: 1060px auto;
  background-position: bottom left;
  position: relative;
  overflow: hidden;
  @include tablet-portrait {
    background-size: 1440px auto;
  }
  .container {
    display: block;
    @include desktop-small {
      display: flex;
    }
    .primary-event {
      padding: 30px 0;
      @include tablet-portrait {
        padding: 70px 0;
      }
      h2.section-title {
        font-weight: bold;
        margin: 0 0 15px;
        @include tablet-portrait {
          margin: 0 0 45px;
        }
      }
      .event-info {
        .rhd-list-entry--date {
          font-weight: 800;
          text-transform: uppercase;
          margin: 0 0 10px;
          @include tablet-portrait {
            margin: 0 0 20px;
          }
        }
        h3 {
          font-weight: bold;
          font-size: 18px;
          line-height: 18px;
          margin: 0 0 10px;
          @include tablet-portrait {
            margin: 0 0 20px;
            font-size: 27px;
            line-height: 27px;
          }
        }
        .field--name-field-short-description {
          font-size: 16px;
          line-height: 24px;
          color: #424242;
        }
      }
      .event-presenters {
        float: left;
        width: 100%;
        .short-teaser {
          margin-top: 35px;
          @include tablet-portrait {
            float: left;
            margin-right: 40px;
            max-width: 200px;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
      .button {
        margin-top: 40px;
      }
    }
    &.has-sidebar {
      .primary-event {
        width: 100%;
        @include desktop-small {
          padding-right: 70px;
          width: 50%;
          flex-grow: 2;
        }
      }
      .secondary-events {
        background-color: #d5d5d5;
        width: 100vw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
        padding: 30px;
        z-index: 2;
        @include desktop-small {
          width: 50%;
          max-width: 320px;
          flex-grow: 1;
          padding: 70px 0 70px 70px;
          left: auto;
          right: auto;
          margin: 0;
        }
        h5 {
          text-transform: uppercase;
          margin: 0 0 15px;
          font-weight: bold;
          @include desktop-small {
            margin: 0 0 35px;
          }
        }
        article {
          float: left;
          width: 48%;
          &:first-of-type {
            margin-right: 4%;
          }
          @include desktop-small {
            float: none;
            width: 100%;
            &:first-of-type {
              margin-bottom: 50px;
              margin-right: 0;
            }
          }
        }
        .tile-image {
          background-color: transparent;
        }
        .tile-title {
          font-weight: bold;
        }
        .more-link {
          clear: both;
          width: 100%;
          a {
            color: #0066CC;
            margin-right: 20px;
            padding-right: 5px;
            position: relative;
            &:after {
              left: 100%;
              top: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              border-left-color: #0066CC;
              border-width: 5px;
              margin-top: -5px;
            }
          }
        }
      }
    }
  }
  .background-sidebar {
    @include desktop-small {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      height: 100%;
      background-color: #d5d5d5;
    }
  }
}
