.event-list {
  list-style-type: none;
  padding: 0px;

  li.event-item {
    padding: 30px 30px;
    display: grid;
    grid-template-columns: 255px repeat(4, 1fr);
    grid-gap: 10px;
    border-top: 2px dotted #d2d3d4;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    &:last-child {
      border-bottom: 2px dotted #d2d3d4;

    }

    i {
      margin-right: 5px;
    }

    .event-thumbnail {
      max-width: 250px;
      max-height: 185px;
      grid-column: 1;
    }

    .event-date{
      color: #656565;
    }

    .event-info {
      grid-column: 2 / span 4;

      @media screen and (max-width: 768px) {
        grid-column: 1;
      }
    }

    p {
      margin: 10px 0px 10px 0px;
    }

    p:first-of-type.event-speaker{
      grid-column: 2;
      @media screen and (max-width: 768px) {
        grid-column: 1;
      }

    }

    p.event-speaker{
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-auto-flow: column;
      color: #656565;
      img {
        width: auto;
        height: auto !important;
        border-radius: 100%;
      }
      span {
        margin-left:10px;
      }
      @media screen and (max-width: 768px) {
        grid-column: 1;
      }


    }

    a.event-title{
      font-weight: 700;
      font-size: 18px;
    }
  }
}