.assembly-type-featured_articles,
.related-articles {
  padding-bottom: 2rem;
  padding-top: 3rem;

  .tiles {
    display: flex;
    flex-flow: wrap;
    width: 100%;
  }
  .tiles > .field__item {
    width: 100%;
    @include tablet-landscape {
      width: calc(100% / 2);
    }
    @include desktop-small {
      width: calc(100% / 3);
    }
  }

  .centered-tiles {
    justify-content: center;
  }

  h2 {
    text-align: center;
    margin-bottom: 50px;
  }

  .featured-article {
    border: 1px solid $gray-2;
    border-top: 6px solid $black;
    background-color: $white;
    padding: 30px;
    height: calc(100% - 40px);
    margin: 20px;
    @media screen and (max-width: 768px) {
      min-height: auto;
    }
  }

  .article-card-type {
    text-transform: uppercase;
  }
  .article-card-content {
    height: 300px;
    .field--name-field-short-description {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 5;
    }
    @media screen and (max-width: 768px) {
      height: auto;
      margin-bottom: 30px;
    }
  }
  .tile-title a {
    color: $gray-8;
  }
  .changed-date {
    color: $gray-4;
    font-size: 12px;
    line-height: 1.2;
    bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
  }
}
