.assembly-type-featured_products {
  background-color: $gray-2;

  h2.field--name-field-title {
    font-size: 32px;
    font-weight: 600;
  }

  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
  }

  article {
    background-color: $grey-1;
    text-align: center;
    padding: 30px 15px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      margin-bottom:15px;
    }

    .tile-title {
      color: $gray-8;
      font-size: 18px;
      font-weight: 600;
      margin: 15px 0;
    }

    .description {
      margin-bottom: 30px;
    }

  }
  &.featured article{
    border-top: 6px solid $red;
  }
  &.basic article{
    border-top: none;
  }
  @media screen and (max-width: 1024px) {
    .grid { grid-template-columns: repeat(2, 300px); }
  }
  @media screen and (max-width: 768px) {
    .grid { grid-template-columns: repeat(1, 300px); }
  }

  .cta-link {
    margin-top: 2rem;
    text-align: center;
    @include tablet-portrait {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    @include desktop-small {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    .button {
      display: inline-block;
      width: 100%;
      @include tablet-portrait {
        width: auto;
      }
    }
  }
}
