.assembly-type-featured_resources {
  padding-top: 38px;
  padding-bottom: 38px;
  @include tablet-landscape {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  background: #E5E5E5;
  background-image: url(/images/gray_diamond_background.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;

  .header {
    text-align: center;
    margin-top: 0;
  }

  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr;
  }

  .content-card-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 1fr;
    @include desktop-small {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .content-link-list {
    margin: 0;
    padding: 0;
    margin-bottom: -1rem;

    a {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &.has-links {
    .grid {
      @include tablet-portrait {
        grid-template-columns: 2fr 1fr;
      }
      @include tablet-landscape {
        grid-template-columns: 3fr 1fr;
      }
      @include desktop-small {
        grid-template-columns: 4fr 1fr;
      }
    }
    .content-card-list {
      @include desktop-small {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
