.assembly-type-featured_products {
  background-color: $gray-2;
  padding: 5rem 0;

  h2.field--name-field-title {
    font-size: 32px;
    font-weight: 600;
  }

  .header {
    text-align: center;
    margin-top: 0;
  }

  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
  }

  article {
    background-color: $grey-1;
    border-top: 6px solid $red;
    text-align: center;
    padding: 30px 15px;
    font-size: 14px;
    
    .tile-title {
      color: $gray-8;
      font-size: 18px;
      font-weight: 600;
      margin: 15px 0;
    }

    .description {
      margin-bottom: 30px;
    }

  }
  @media screen and (max-width: 1024px) {
    .grid { grid-template-columns: repeat(2, 300px); }
  }
  @media screen and (max-width: 768px) {
    .grid { grid-template-columns: repeat(1, 300px); }
  }
}
