.field--name-field-form {
  background-color: #e4e4e6;
  padding: 20px;
  .form-header {
    margin-bottom: 50px;
    h4 {
      font-size: 18px;
      text-transform: uppercase;
      color: #c00;
      font-weight: 600;
      margin-left: 0;
    }
  }
  .form-content {

  }
  .form-footer {
    margin-top: 40px;
    p {
      margin: 0;
    }
  }
}
