.assembly-type-hero {
  padding: 40px 0;
  @include desktop-small {
    padding: 100px 0;
    padding-bottom: 120px;
  }
  .content {
    max-width: 40rem;
    @include desktop-large {
      max-width: 48rem;
    }
  }
  .background {
    display: none;
    z-index: -1;
    @include desktop-small {
      display: block;
    }
    &:after {
      display: none;
    }
  }
  .homepage-hero-heading {
    font-size: 23px;
    line-height: 2em;
    @include tablet-portrait {
      font-size: 45px;
      line-height: 1.4;
    }
    @include tablet-landscape {
      font-size: 50px;
    }
    a {
      white-space: nowrap;
    }
  }
  h2 {
    font-size: 4rem;
    line-height: 1.1;
  }
  .field--name-field-content p {
    font-size: 1.5rem;
    @include tablet-landscape {
      font-size: 50px;
    }
  }
  a {
    color: #0066CC;
    font-weight: bold;
    text-decoration: none;
    background-image: radial-gradient(ellipse, #0066CC 50%,transparent 50%);
    background-position: 0 1.1em;
    background-repeat: repeat-x;
    background-size: 6px 4px;
  }
  .content {
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  .topics-billboard-list {
    .topic {
      &:after {
        content: ' / ';
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}

