.assembly-type-hero {
  padding: 40px 0;
  @include desktop-small {
    padding: 100px 0;
    padding-bottom: 120px;
  }
  .content {
    max-width: 40rem;
    @include desktop-large {
      max-width: 48rem;
    }
  }
  .background {
    display: none;
    z-index: -1;
    @include desktop-small {
      display: block;
    }
    &:after {
      display: none;
    }
  }
  h2 {
    font-size: 4rem;
    line-height: 1.1;
  }
  .field--name-field-content p {
    font-size: 1.5rem;
    @include tablet-landscape {
      font-size: 50px;
    }
  }

  .content {
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
}

.topics-hero-list {
  font-size: 23px;
  line-height: 1.24;
  margin: 0;
  font-weight: 500;

  @include tablet-portrait {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  @include desktop-small {
    font-size: 70px;
    margin-bottom: 2rem;
  }

  a {
    color: #0066CC;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    &:before {
      content: ' ';
      width: calc(100% - 1em);
      position: absolute;
      height: 4px;
      bottom: 0;
      left: 0;
      background-image: radial-gradient(ellipse, #0066CC 50%,transparent 50%);
      background-repeat: repeat-x;
      background-size: 6px 4px;
    }
    &:last-child:before {
      width: 100%;
    }
  }

  .topic {
    white-space: nowrap;
    &:after {
      content: ' / ';
      font-weight: normal;
      color: #333;
    }
    &:last-child:after {
      content: '';
    }
  }
}

