.assembly-type-learning_paths {
  padding-top: $gutter;
  padding-bottom: $gutter;
  background: #E5E5E5;
  background-image: url(/images/gray_diamond_background.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;

  .header {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .description {
    text-align: center;
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }

  .item-list {
    margin-top: 2rem;
  }

  .cta-link {
    margin-top: 2rem;
    text-align: center;
    a {
      display: inline-block;
    }
  }

  .content-card-list {
    &>li {
      list-style-type: none;
      margin: 0;
    }
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 1fr;
    @include tablet-landscape {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
