.assembly-type-on_page_navigation {
  background-color: #0066CC;
  color: #FFF;
  padding: 22px 0;
  text-align: center;
  padding-bottom: 31px;
  @include desktop-small {
    text-align: left;
    padding: 19px 0;
  }
  a {
    color: inherit;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: ease-in-out 150ms;
  }
  * {
    box-sizing: border-box;
  }
  .page-nav-wrapper {
    max-width: 350px + $gutter;
    margin-left: auto;
    margin-right: auto;
    @include tablet-landscape {
      max-width: 690px;
    }
    @include desktop-small {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      grid-auto-rows: 1fr;
      max-width: 931px;
    }
    @include desktop-large {
      max-width: 1172px;
    }
  }
  .item-list {
    @include desktop-small {
      grid-column: 2/right;
      align-self: center;
    }
    > ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 28px;
      grid-row-gap: 28px;
      grid-auto-rows: 1fr;
      @include tablet-landscape {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include desktop-small {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
      }
      @include desktop-large {
        margin-left: -25px;
        margin-right: -25px;
      }
      > li {
        display: grid;
        grid-template: subgrid;
        margin: 0;
        grid-auto-rows: 1fr;
        @include desktop-small {
          display: inline-block;
          padding-left: 15px;
          padding-right: 15px;
        }
        @include desktop-large {
          padding-left: 27.5px;
          padding-right: 27.5px;
        }
        > a {
          display: grid;
          grid-template: subgrid;
          grid-auto-rows: 1fr;
          font-size: 14px;
          font-weight: bold;
          border: 1px solid #73BCF7;
          padding: .7em 1em;
          font-weight: bold;
          &:hover, &:active, &:focus {
            background-color: #73BCF7;
            @include desktop-small {
              background-color: transparent;
              color: #73BCF7;
            }
          }
          @include tablet-landscape {
            font-size: 16px;
            padding: .35em 0.7em;
          }
          @include desktop-small {
            padding: 0;
            border: none;
            display: inline-block;
            font-size: 18px;
          }
          @include desktop-large {
            font-size: 21px;
          }
          > span {
            justify-self: center;
            align-self: center;
          }
        }
      }
    }
  }
  .section-title {
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 25px;
    @include desktop-small {
      margin-bottom: 0;
      align-self: start;
    }
    @include desktop-large {
      padding-top: 0.25em;
    }
  }
}
