.assembly-type-product_categories {
  background-color: $grey-1;
  padding: 5rem 0;

  .section-title {
    font-size: 32px;
    color: $grey-8;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
  }

  .cta-link {
    text-align: center;
    padding: 0 1rem;
  }
}

