.assembly-type-product_download_list {
  margin: 100px 0;
  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    @media screen and (max-width: 1024px) {
      grid-row-gap: 10px;
    }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
      grid-template-columns: 2fr 1fr;
      .product-version__file-description { order: 3; }
      .release-date-wrapper { order: 4;}
      .production-version__file-button { grid-row-end: span 4; }
    }
    @media screen and (max-width: 768px){
      grid-template-columns: 1fr;
    }
  }
  ul.rhd-accordion {
    li {
      border-top: none;
      i {
        margin: 6px 32px 0 16px;
      }
      @media screen and (min-width: 768px) {
        input[type=checkbox] { cursor: auto; }
        input[type=checkbox]~i { display: none; }
        input[type=checkbox]~.section-header { margin-left: 0; }
        input[type=checkbox]:checked~.section-content {
          margin-top: 1rem;
          opacity: 1;
          transform: translate(0);
          max-height: none;
          height: auto;
          pointer-events: none;
        }
      }
    }
  }
  .version-row {
    border: 1px solid $grey-3;
    padding: 20px 30px;
    margin: 30px 0 0 0;
    &:last-child {
      margin-bottom: 50px;
    }
     @media screen and (max-width: 768px){
      text-align: center;
     }
    .product-version__file-label-wrapper {
      border-right: 1px solid $grey-3;
      padding-right: 20px;
      align-self: center;
      @media screen and (max-width: 1024px) {
        border-right: none;
        padding-right: 0;
      }
      .product-version__file-label {
        margin: 0;
      }
    }
    .product-version__file-description,
    .release-date-wrapper {
      margin: 0;
      align-self: center;
    }
    .product-version__release-date-header {
      display: block;
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    .product-version__release-date, .file-size {
      color: #808080;
      font-weight: 400;
      font-size: 14px;
      display: block;
    }
    .production-version__file-button {
      max-height: 65px;
      align-self: center;
      @media screen and (max-width: 1250px) {
        max-height: 85px;
        max-width: 250px;
        justify-self: center;
      }
      &:hover,
      &:active,
      &:focus,
      &:hover .file-size,
      &:active .file-size,
      &:focus .file-size{
        color: $white;
      }
    }
  }
}
