.assembly-type-product_download_hero,
.assembly-type-product_try_it_hero {
  padding: 100px 15px;
  background-image: url('https://developers.redhat.com/images/design/product-hero-light.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;

  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 2fr 1fr;
    @media screen and (max-width: 768px){
      grid-template-columns: 1fr;
    }
  }

  .product-version__file,
  .product-try-it-cta {
    margin-top: 50px;
  }
  .product-version__version-name {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 100;
    max-width: 193px;
    white-space: nowrap;
    overflow: visible;
  }
  .product-image {
    img {
      margin: 0 auto;
      display: block;
    }
  }

  @media screen and (max-width: 768px){
    .product-image {
      order: 1;
    }
    .product-version,
    .product-try-it {
      order: 2;
    }
  }

  &.product-hero--dark {
    background-image: url('https://developers.redhat.com/images/design/product-hero-dark.png');
    h1, p, a, span {
      color: $white;
    }
  }
  &.product-hero--dark-centered {
    background-image: url('https://developers.redhat.com/images/design/product-hero-dark.png');
    text-align: center;
    h1, p, a, span {
      color: $white;
    }
   .grid {
      grid-template-columns: 1fr;
      margin: 0 auto;
      max-width: 770px;
    }
    .product-image img {
      display: none;
    }
    .product-version__version-name {
      width: 100%;
    }
  }
  &.product-hero--light {
    background-image: url('https://developers.redhat.com/images/design/product-hero-light.png');
  }
  &.product-hero--light-centered {
    background-image: url('https://developers.redhat.com/images/design/product-hero-light.png');
    text-align: center;
   .grid {
      grid-template-columns: 1fr;
      margin: 0 auto;
      max-width: 770px;
    }
    .product-image img {
      display: none;
    }
    .product-version__version-name {
      width: 100%;
    }
  }
  &.product-hero--slim {
    padding: 30px;
    h1 {
      margin-bottom: 7px;
      margin-top: 0;
    }
    p {
      margin: 8px 0;
    }
    .product-version__file,
    .product-try-it-cta {
      margin-top: 30px;
    }
  }
}
