.assembly-type-rich_text {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url(../docs/img/white_diamond_background.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;

  .header {
    margin-top: 0;
    font-size: 42px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 0;
  }

  &.assembly-slim {
    padding-top: 0;
    background-image: none;

    .text-formatted {
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.assembly-no-bkg {
    background-image: none;
  }
  &.assembly-narrow {
    > .container {
      max-width: 820px;
    }
  }
}
