.assembly-type-rich_text {
  background-image: url(../docs/img/white_diamond_background.png);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;

  &.assembly-slim {
    padding-top: 0;
    background-image: none;

    .text-formatted {
      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.assembly-no-bkg {
    background-image: none;
  }
  &.assembly-narrow {
    > .container {
      max-width: 820px;
    }
  }
}
