.assembly-type-static_content_band {

  background-color: #f9f9f9;

  .field--name-field-content-list {
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 1fr;
    @include tablet-landscape {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &.four-up {
    .field--name-field-content-list {
      @include tablet-landscape {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
  .cta-link {
    margin-top: 1rem;
    text-align: center;
    a {
      display: inline-block;
    }
  }

  &.dark {
    h3 {
      color: #fff !important;
    }
  }
}

.assembly-type-node_reference,
.assembly-type-static_item,
.assembly-type-wordpress_post_reference {
  background: transparent;
}
