.assembly-type-static_content_band {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #f9f9f9;

  .header {
    text-align: center;
    margin-top: 0rem;
  }

  .field--name-field-content-list {
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 1fr;
    @include tablet-landscape {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &.four-up {
    .field--name-field-content-list {
      @include tablet-landscape {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
