.assembly-type-video_hero {
  background-color: #00B9E4;
  background-image: url('/images/Blue_Background@2x.png');
  background-repeat: no-repeat;
  background-size: 1060px auto;
  background-position: bottom left;
  padding: 30px 0;
  @include tablet-portrait {
    padding: 70px 0;
    background-size: 1440px auto;
  }
  .container {
    @include desktop-small {
      display: grid;
      grid-template-columns: 1.25fr 1fr;
      grid-column-gap: 50px;
    }
    @include desktop-large {
      grid-column-gap: 70px;
    }
  }

  .content {
    padding: 0;
    margin-top: 30px;
    @include desktop-small {
      margin-top: 20px;
    }
    .section-title {
      margin-top: 0;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
      @include tablet-portrait {
        font-size: 32px;
      }
      @include desktop-small {
        margin-bottom: 6px;
      }
      a {
        color: #333;
      }
    }
    p {
      margin-top: 0;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 6px;
      @include tablet-portrait {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

    }
  }

  .authors {
    text-align: center;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
    grid-column-gap: 30px;
    @include tablet-portrait {
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 22px;
    }
    @include desktop-small {
      grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
      margin-top: 0;
    }
    > div {
      margin-top: 10px;
      @include tablet-landscape {
        margin-top: 40px;
      }
      @include desktop-small {
        margin-top: 10px;
      }
    }
  }
}
