<pfe-card color="lightest" class="rhd-c-card PFElement" pfelement="" pfe-color="base" has_body="" pfe-type="container" size="small">
  {{ image }}
  <div class="rhd-c-card__tag">
    <i class="fas fa-newspaper"></i>
    Opinion
  </div>
  <div class="rhd-c-card-content">
    <h3 class="rhd-c-card__title"><a href={{ title.url }} class="rhd-m-link">{{ title.text }}</a></h3>
    <p class="rhd-c-card__body ">This is the article description that can go to three lines and will be followed by a footer. Must truncate after 3 lines.</p>
    <div class="rhd-c-card__footer">
      <div class="rhd-c-card__footer--author">
        <a href="#" class="rhd-m-link">Author Name</a>
      </div>
      <div class="rhd-c-comment">
        <i class="fas fa-comment"></i> 2
      </div>
    </div>
  </div>
</pfe-card>
