{#
/**
 * The RHDP Card Grid component.
 *
 * Available variables:
 *
 */
#}
<div {{ attributes.addClass('rhd-c-card-grid', 'pf-c-content', 'component') }}>
  <div class="pf-l-flex">
    <h2 class="pf-c-title pf-m-3xl">{{ title }}</h2>
  </div>
  <div class="pf-l-flex rhd-c-card-grid__wrapper">
    {{ content }}
  </div>
</div>
