{#
/**
 * @file assembly--all-products-listing.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
<section{{ attributes }}>
  <div class="pf-l-grid">
    <h1>{{ content.field_title }}</h1>

  {% if content %}
    {{- content|without('field_title') -}}
  {% endif %}
  </div>
</section>
