
<div {{ attributes.addClass('rhd-c-dynamic-content-list-compact') }}>
  <div class="pf-l-grid">
    {{ content.field_title }}
    <div class="pf-l-grid__item pf-m-12-col">
      {{ content.posts }}
      {{ content.field_cta_link }}
    </div>
  </div>
</div>
