{{ attach_library('rhd_eloqua_embed/resize-eloqua-embed') }}
<section{{ attributes }}>
  <div class="iframe-container assembly--content">
    <iframe id="iframe-{{ eloqua_assembly_id }}" class="eloqua-iframe" src="{{ eloqua_iframe_url|raw }}" scrolling="no"></iframe>
  </div>
</section>
