<div class="a2a_kit a2a_default_style">
  <a class="a2a_button_twitter" aria-label="Share on twitter">
    <i class="fab fa-twitter" title="Share on twitter"></i>
  </a>
  <a class="a2a_button_facebook" aria-label="Share on facebook">
    <i class="fab fa-facebook-square" title="Share on facebook"></i>
  </a>
  <a class="a2a_button_linkedin" aria-label="Share on linkedin">
    <i class="fab fa-linkedin" title="Share on linkedin"></i>
  </a>
  <a class="a2a_button_email" aria-label="Share with email">
    <i class="fas fa-envelope" title="Share with email"></i>
  </a>
</div>
<script>
  var a2a_config = a2a_config || {};
  a2a_config.num_services = 6;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
