<li class="connector">
    <a href="#" class="fn-open-connector"><img src="<!=img_path_thumb!>" alt="logo" class="connector-logo"></a>
    <h3><a href="#" class="fn-open-connector"><!=sys_title!></a></h3>
    <p><!=sys_description!></p>
    <div class="connector-overlay-content">
        <div class="row">
            <div class="large-7 columns">
                <img src="<!=img_path_thumb!>" alt="Logo" class="connector-logo" onerror="<!=fallback_img!>">
            </div>
            <div class="large-17 columns">
                <p><!=sys_content!></p>
                <div class="connector-a">
                    <h4>Connector A
                        <div class="copy-to-clipboard">
                            <object data="" type="" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="110"
                                    height="14" id="clippy">
                                <param name="movie" value="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf">
                                <param name="allowScriptAccess" value="always">
                                <param name="quality" value="high">
                                <param name="scale" value="noscale">
                                <param name="" value="text=<!=code_snippet_1!>">
                                <param name="bgcolor" value="#FFFFFF">
                                <embed src="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf"
                                       type="application/x-shockwave-flash"
                                       width="110" height="14" name="clippy" quality="high" allowScriptAccess="always"
                                       pluginspage="http://www.macromedia.com/go/getflashplayer"
                                       FlashVars="text=#{page.text}"
                                       bgcolor="#FFFFFF">
                            </object>
                        </div>
                    </h4>
                    <input type="text" class="snippet-value" value="<!=code_snippet_1!>">
                </div>
                <div class="connector-b">
                    <h4>Connector B</h4>
                    <div class="copy-to-clipboard">
                        <object data="" type="" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="110"
                                height="14" id="clippy">
                            <param name="movie" value="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf">
                            <param name="allowScriptAccess" value="always">
                            <param name="quality" value="high">
                            <param name="scale" value="noscale">
                            <param name="FlashVars" value="text=<!=code_snippet_2!>">
                            <param name="bgcolor" value="#FFFFFF">
                            <embed src="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf"
                                   type="application/x-shockwave-flash" width="110" height="14" name="clippy"
                                   quality="high" allowScriptAccess="always"
                                   pluginspage="http://www.macromedia.com/go/getflashplayer"
                                   FlashVars="text=#{page.text}" bgcolor="#FFFFFF">
                        </object>
                    </div>
                    <div class="copy-to-clipboard">
                        <object data="" type="" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="110"
                                height="14" id="clippy">
                            <param name="movie" value="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf">
                            <param name="allowScriptAccess" value="always">
                            <param name="quality" value="high">
                            <param name="scale" value="noscale">
                            <param name="" value="text=<!=code_snippet_2!>">
                            <param name="bgcolor" value="#FFFFFF">
                            <embed src="//static.jboss.org/ffe/0/www/vendor/clippy/clippy.swf"
                                   type="application/x-shockwave-flash"
                                   width="110" height="14" name="clippy" quality="high" allowScriptAccess="always"
                                   pluginspage="http://www.macromedia.com/go/getflashplayer"
                                   FlashVars="text=#{page.text}"
                                   bgcolor="#FFFFFF">
                        </object>
                    </div>

                    <input type="text" class="snippet-value" value="<!=code_snippet_2!>">
                </div>
                <p class="link_1_text">
                    <a href="<!=link_1_url!>" class="link_1"><!=link_1_text!></a>
                    <br>
                    <a href="<!=link_2_url!>" class="link_2"><!=link_2_text!></a>
                </p>
                <p class="docs-link-text">For more details, view the <a href="<!=more_details_url!>" class="docs-link">Product
                        Documentation</a></p>
            </div>
        </div>
    </div>
</li>
