<div class="stackoverflow-update">
    <div class="update">
        <div class="update-meta">
            <div class="row">
                <div class="large-6 columns qtn-stats"><span class="votes-count"><h4><!=up_vote_count!></h4><p>Votes</p></span><span
                            class="answer-count <!=qtnAccepted!>"><h4><!=answer_count!></h4><p>
                            Answers</p></span><span class="views-count"><h4><!=view_count!></h4><p>Views</p></span>
                </div>
                <div class="large-18 columns"><a class="update-source" href="<!=sys_url_view!>" target="_blank" rel="noopener noreferrer">
                        <h5 class="qtn-title"><!=sys_title!></h5></a>
                    <p class="qtn-content"><!=qtnContent!></p>
                    <div class="rhd-c-panel qtn-answer &lt;!=displayAnswr!&gt;"><p><!=answer!></p><a
                                href="<!=sys_url_view!>" target="_blank" rel="noopener noreferrer">Read full question at Stack Overflow&nbsp;<i
                                    class="fa fa-angle-right"></i></a></div>
                    <p><span class="so-tags"><strong>Tags:&nbsp;</strong><!=tags!></span><span class="so-author"><!=dateCreated!> | <!=authorName!></span>
                    </p></div>
            </div>
        </div>
    </div>
</div>
