#rhd-article {
  padding-top: 2em;

  .large-5.medium-5.columns{
    position:absolute;
    float: right;
    right: 0;
  }
  .article-tags {
    padding-bottom: 15px;
  }
  .article-info{
    border: none;
    background: $grey-3;
    padding: 7px 5px;
    margin-bottom: 2.5em;
    ul {
      margin-top: 0;
      padding: 0 5px 5px 5px;
      li {
        width: auto;
        margin-right: 15px;
      }
      .field--name-field-content-author {
        display: inline-block;
      }
    }
  }
  .article-content {
    h2 {
      border-bottom: 1px solid #d5d5d5;
      margin-bottom: 20px;
      padding-bottom: 5px;
      font-weight: 100;
      font-size: 16px;
      @include tablet-landscape {
        font-size: 32px;
      }
    }
    h3 {
      border-bottom: none;
      font-size: 15px;
      padding-bottom: 0;
      margin-bottom: 10px;
      @include tablet-landscape {
        font-size: 27px;
      }
    }
  }
  .a2a_kit {
    margin-bottom:30px;
  }
  .field--name-field-tags {
    display: inline;
    .field__item {
      display: inline-block;
      color: $grey-6;
      a {
        color: $grey-6;
      }
      &:after{
        content: ", ";
        position: relative;
      }
      &:last-child{
        &:after {
          display: none;
        }
      }
    }
  }
}
@include desktop-and-down {
  #rhd-article {
    padding: 15px;
  }  
}
