#rhd-article {
  padding: 1em;
  padding-top: 2em;
  @include tablet-portrait {
    font-size: 18px;
    line-height: 2.22rem;
  }
  .a2a_kit {
    margin-left: -10px;
    a {
      background-color: #f3f3f3;
      border-radius: 100%;
      display: inline-block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      position: relative;
      margin-right: 10px;
      margin-top: 10px;
      float: none !important;
      @include tablet-landscape {
        margin-top: 0;
      }
      &:hover {
        > div {
          opacity: 0.7;
        }
      }
    }
  }
  .a2a_button_google_plusone {
    padding: 3px;
    > div {
      &:before {
        content: '';
        display: block;
        background: url("../images/design/google-plus-icon.png")!important;
        width: 100%;
        height: 100%;
        background-position: center center !important;
        background-size: 18px auto !important;
        background-color: #f3f3f3 !important;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat !important;
      }
    }
  }
  .a2a_count {
    display: none;
  }
  .a2a_svg {
    background-color: transparent !important;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto !important;
    transform: translateX(-50%) translateY(-50%);
    path {
      fill: #000 !important;
    }
    svg {
      width: 18px;
    }
  }
  .gsi {
    ul, ol {
      padding-left: 1em;
      li {
        margin-left: 1em;
        padding-left: 0.75em;
      }
    }
  }

  p {
    font-size: inherit;
    line-height: inherit;
  }

  .row {
    width: auto;
    max-width: none;
    margin-left: -1em;
    margin-right: -1em;
  }

  .pre-body {
    margin-bottom: 40px;
    @include desktop-small {
      margin-bottom: 70px;
    }
  }

  .large-5.medium-5.columns{
    position:absolute;
    float: right;
    right: 0;
  }
  .article-tags {
    padding-bottom: 15px;
    padding-right: 15px;
    @include desktop-small-and-down {
      position: relative;
    }
  }
  .article-info {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #444444;
    padding: 0 20px;
    overflow: hidden;
    max-width: 568px;
    @include tablet-portrait {
      display: flex;
    }
    ul {
      padding: 0;
      margin: 0;
      margin-left: -40px;
      margin-right: -40px;
      font-size: 0;
      line-height: 1.75;
      > li {
        display: inline-block;
        width: auto;
        float: none;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
      }
    }
  }
  .share-buttons {
    margin-left: -20px;
    margin-right: -20px;
  }
  .article-content {
    @include desktop-small {
      margin-right: 25%;
    }
    h3 {
      border-bottom: none;
      font-size: 15px;
      padding-bottom: 0;
      margin-bottom: 10px;
      @include tablet-landscape {
        font-size: 27px;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .a2a_kit {
    width: 160px;
    max-width: 100%;
    margin: 0;
  }
  .field--name-field-tags {
    display: inline;
    .field__item {
      display: inline-block;
      color: $grey-6;
      a {
        color: $grey-6;
      }
      &:after{
        content: ", ";
        position: relative;
      }
      &:last-child{
        &:after {
          display: none;
        }
      }
    }
  }
}
@include desktop-and-down {
  #rhd-article {
    padding: 15px;
  }
}

.page-node-type-article .disqus-thread-wrapper {
  padding-top: 40px;
  border-top: #E4E4E4 1px solid;
  h2 {
    @extend h4;
  }
}
