#rhd-article {
  padding: 1em;
  padding-top: 2em;
  @include tablet-portrait {
    font-size: 18px;
    line-height: 2.22rem;
  }
  pre {
    font-size: 14px;
    line-height: 1.5;
    padding-bottom: 15px;
    white-space: pre;
    overflow: auto;
    word-wrap: normal;
  }
  .pre-body {
    margin-bottom: 30px;
    @media (min-width: 1025px) {
      margin-bottom: 0;
    }
  }
  .article-hero {
    margin-top: -2em;
    @media only screen and (max-width: 1170px) {
      margin-top: -15px;
    }
    @media only screen and (min-width: 1171px) {
      margin-left: -3px;
      margin-right: -3px;
    }
    img {
      margin-bottom: 40px;
    }
    figcaption {
      font-size: 10px;
      text-align: right;
      margin-top: -40px;
      p, ol, ul {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }
  }
  .article-highlights {
    @include desktop-small {
      margin-bottom: 40px;
    }
  }
  .a2a_kit {
    margin-left: -10px;
    a {
      background-color: #f3f3f3;
      border-radius: 100%;
      display: inline-block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      position: relative;
      margin-right: 10px;
      margin-top: 10px;
      float: none !important;
      @include tablet-landscape {
        margin-top: 0;
      }
      &:hover {
        > div {
          opacity: 0.7;
        }
      }
    }
  }
  .a2a_count {
    display: none;
  }
  .a2a_svg {
    background-color: transparent !important;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto !important;
    transform: translateX(-50%) translateY(-50%);
    path {
      fill: #000 !important;
    }
    svg {
      width: 18px;
    }
  }
  .gsi {
    ul, ol {
      padding-left: 1em;
      li {
        margin-left: 1em;
        padding-left: 0.75em;
      }
    }
  }

  .article-type {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: $gray-4-5;
    margin: 0;
    letter-spacing: 0.025em;
  }

  .topics {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin-bottom: 20px;
    a {
      &:after {
        content: ', ';
        color: #444444;
      }
      &:last-of-type:after {
        content: ' ';
      }
    }
  }

  p {
    font-size: 13px;
    line-height: inherit;
    @include tablet-portrait {
      font-size: 18px;
    }
    @include tablet-landscape {
      font-size: 22px;
    }
    @include desktop-small {
      font-size: 20px;
    }
    @include desktop-large {
      font-size: 18px;
    }

  }

  .row {
    width: auto;
    max-width: none;
    margin-left: -1em;
    margin-right: -1em;
  }

  .large-5.medium-5.columns{
    position:absolute;
    float: right;
    right: 0;
  }
  .article-tags {
    padding-bottom: 15px;
    padding-right: 15px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 14px;
    span {
      display: inline-block;
      margin-right: 20px;
      font-weight: bold;
    }
    @include desktop-small-and-down {
      position: relative;
    }
  }
  .article-info {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #444444;
    padding: 0 20px;
    overflow: hidden;
    max-width: 568px;
    @include tablet-portrait {
      display: flex;
    }
    ul {
      padding: 0;
      margin: 0;
      margin-left: -40px;
      margin-right: -40px;
      font-size: 0;
      line-height: 1.75;
      > li {
        display: inline-block;
        width: auto;
        float: none;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
      }
    }
  }
  &.author-right {
    .pre-body {
      margin-bottom: 40px;
      @include desktop-small {
        margin-bottom: 70px;
      }
    }
    .article-highlights {
      margin-top: -40px;
      @include desktop-small {
        margin-top: -60px;
      }
    }
    .article-info {
      max-width: 100%;
      ul {
        > li {
          @include tablet-portrait {
            font-size: 18px;
          }
        }
      }
    }
    .article-info-wrapper {
      @include desktop-small {
        display: flex;
        align-items: flex-start;
      }
    }
    .article-info-left {
      @include desktop-small {
        padding-right: 50px;
      }
    }
    .authors {
      @include desktop-small {
        width: 190px;
        text-align: center;
        margin-top: 20px;
      }
      .author.short-teaser {
        @include desktop-small {
          float: none;
          margin-right: 0;
        }
        .author-name {
          @include desktop-small {
            font-size: 20px;
            padding: 12px 13px;
          }
        }
        img {
          @include desktop-small {
            width: 110px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .a2a_kit {
      a {
        @include tablet-portrait {
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
    .share-buttons {
      margin-bottom: 25px;
    }
  }
  .article-info-left {
    .share-buttons {
      margin-left: -20px;
      margin-right: -20px;
      @include tablet-portrait {
        margin: 0;
        padding-left: 60px;
        padding-right: 20px;
      }
    }
  }
  .authors {
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    &.no-image {
      margin-top: 0;
    }
    .author.short-teaser {
      float: left;
      margin-right: 20px;
      img {
        width: 80px;
        margin-bottom: 15px;
      }
      .author-name {
        background-color: $grey-1;
        margin: 5px 0;
        padding: 7px;
        font-size: 14px;
        line-height: 22px;
        font-weight: bold;
        color: $gray-6;
      }
      a {
        .author-name {
          color: $link;
        }
      }
    }
    @include desktop-small {
      margin-top: 40px;
    }
  }
  .floated-image {
    @include desktop-small {
      margin-top: 20px;
    }
  }
  figure {
    margin: 0;
    figcaption {
      font-size: 13px;
      line-height: 19px;
      p, ol, ul {
        margin-top: 18px;
        margin-bottom: 18px;
      }
    }
  }
  .field--name-field-article-highlights {
    margin: 15px 0;
    .article-highlight {
      color: #242424;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      border-left: 4px solid $red;
      padding-left: 12px;
      margin: 15px 0;
      float: left;
      width: 100%;
      @include tablet-landscape {
        font-size: 24px;
        line-height: 34px;
      }
    }
  }
  .article-content {
    @media all and (min-width: 1025px) {
      margin-right: 25%;
    }
    h3 {
      border-bottom: none;
      font-size: 15px;
      padding-bottom: 0;
      margin-bottom: 10px;
      @include tablet-landscape {
        font-size: 27px;
      }
    }
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }
    h2, h3, h4 {
      margin-top: 1.5em;

    }
    h3 {
      font-weight: 500;
    }
    h4 {
      font-size: 23px;
      font-weight: 500;
      @include tablet-portrait {
        font-size: 15px;
      } 
    }
  }
  .a2a_kit {
    width: 187px;
    max-width: 100%;
    margin: 0;
  }
  .field--name-field-tags {
    display: inline;
    .field__item {
      display: inline-block;
      color: $grey-6;
      a {
        color: $grey-6;
      }
      &:after{
        content: ", ";
        position: relative;
      }
      &:last-child{
        &:after {
          display: none;
        }
      }
    }
  }
  .publish-date,
  .changed-date {
    font-size: 14px;
    color: $gray-5;
  }
}
@include desktop-and-down {
  #rhd-article {
    padding: 15px;
  }
}

.page-node-type-article .disqus-thread-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  @include desktop-small {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.related-article-header {
  font-weight: 500;
  margin-bottom: 16px;
}

#rhd-article .related-articles {
  h5 {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    @include tablet-landscape {
      font-size: 24px;
      line-height: 37px;
      margin-top: 16px;
      margin-bottom: 12px;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;
    color: $dark-gray;
    @include tablet-landscape {
      margin-top: 14px;
      margin-bottom: 50px;
    }

  }
}
