.assembly-type-featured_evangelists {
  .field--name-field-evangelists {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}
