.assembly-type-call_to_action {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #444;
  color: #FFF;
  font-weight: bold;

  .text-formatted {
    font-size: 18px;
    line-height: 1.5;
    @include tablet-portrait {
      font-size: 24px;
    }
  }

  * {
    color: #fff;
  }

  .header {
    font-size: 27px;
    margin-bottom: 24px;
    line-height: 1.25;
    @include tablet-portrait {
      font-size: 40px;
    }
    @include tablet-landscape {
      font-size: 57px;
    }

  }

  &.centered {
    text-align: center;
  }
}
