.assembly-type-video_hero {
  background-color: #00B9E4;
  background-image: url('src/images/Blue_Background@2x.png');
  background-repeat: no-repeat;
  background-size: 1060px auto;
  background-position: bottom left;
  padding: 30px 0;
  @include tablet-portrait {
    padding: 70px 0;
    background-size: 1440px auto;
  }
  .container {
    @include desktop-small {
      display: grid;
      grid-template-columns: 1.25fr 1fr;
      grid-column-gap: 50px;
    }
    @include desktop-large {
      grid-column-gap: 70px;
    }
  }
  .field--name-field-title {
    font-size: 1em;
    margin-top: 0;
    @include tablet-portrait {
      font-size: 2em;
      margin-bottom: 0.25em;
      line-height: 1.2;
    }
  }
  .video + .content {
    margin-top: 30px;
    @include desktop-small {
      margin-top: 15px;
    }
  }
  p, ul, ol, h2 {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
