.node--type-author {
  &.node--view-mode-teaser {
    .grid {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 160px 1fr;
    }

    .name {
      margin-top: 0;
      margin-bottom: .5rem;
    }

    .bio p {
      margin-top: 0;
    }
  }

  .headshot {
    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .social-icons {
    padding: 0;
    list-style-type: none;
  }
}

%author-social-icon {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}

.author-social-icon-facebook {
  @extend %author-social-icon;
  svg {
    color: #3b5998;
  }
}

.author-social-icon-twitter {
  @extend %author-social-icon;
  svg {
    color: #00aced;
  }
}

.author-social-icon-youtube {
  @extend %author-social-icon;
  svg {
    color: #ff0000;
  }
}

.author-social-icon-linkedin {
  @extend %author-social-icon;
  svg {
    color: #0077B5;
  }
}

.author-social-icon-github {
  @extend %author-social-icon;
  svg {
    color: #000000;
  }
}
