.other-book-formats { margin-top: 12px; }

// Outdated styes, only used in old books page
.books-filters {
  input[name="filter-text"] {
    width:25%;
  }
}

ul.book-list {
  &.loading {
    background:cdn("../images/icons/ajax-loader.gif") center 80px no-repeat;
    min-height:250px;
    li.material {
      visibility: hidden;
    }
  }
  li:last-child{
    float: left !important;
  }
}

.book {
  &:last-child.column {
    float:left;
  }
  padding-right:20px !important;
  position: relative;
  float: left;
  padding-bottom: 20px;
  // &:nth-child(4n+1) {
  //   clear:left;
  // }
  span.highlight {
    font-weight:600;
    background:#FFFFD6;
    padding:0 2px;
    border-radius:2px;
  }
  a.book-preview {
    position: absolute;
    background:$grey-7;
    color:white;
    display:block;
    width:60%;
    padding:5px;
    text-align: center;
    left:20%;
    text-transform: uppercase;
    top:130px;
    opacity:0;
    // @include transition(all 0.3s);
  }
  &:hover a.book-preview {
    opacity:1;
  }
  img {
    width:100%;
    padding:5px;
    border:1px solid $grey-3;
    background:white;
  }
  h4 {
    padding-top: .5em;
    margin-bottom: 0;
  }
  p {
    margin:3px 0;
    font-size: emCalc(12px);
  }
}

.featured-books {
  background:$grey-2;
  border-radius:$global-radius;
  h3 {
    color:black;
    margin-top:0;
  }
  .book {
    padding-bottom: 0;
  }
}
p.desc {
  clear:both;
  margin-bottom: 5px;
}

@include desktop-small-and-down {
  .books-filters {
    input[name="filter-text"] {
      width:100%;
    }
  }
}

@include mobile-landscape-and-down {

.book {
  padding-right: 0px;
 }
  li.book {
    width:100%;
    margin-bottom: 10px;
  }
}

.isbnList {
  display: none;
}

.page-node-type-books .disqus-thread-wrapper {
  padding-top: 40px;
  border-top: #E4E4E4 1px solid;
  margin-top: 40px;
  h2 {
    @extend h4;
  }
}

.book-content {
  display: table;
}
