.buzz-filters {
  position: relative;
  .searchResults {
    ul {
      margin: 0;
    }
  }
  input[type=text][name="buzz-filter-text"]:focus + .searchResults {
    display: block;
  }
}

.buzz-container {
  overflow: visible;
}

.buzz-item {
  width:24%;
  float:left;
  padding:10px;
  .buzz-item-inner {
    border:1px solid $grey-3;
    box-shadow:2px 2px 0 #94aebd;
    background:$grey-2;
    word-wrap:break-word;
    a.authorUpdate {
      color:$link;
    }
    p.authorName {
      color:$link;
      padding-top: 0;
      padding-bottom: 0;
      font-size: 12px;
    }
    span.updateDate {
      float: right;
    }
  }
  h3,p {
    padding:10px;
    font-weight: 100;
    margin:0;
    color:$grey-6;
  }
  h3 {
    padding-bottom: 0;
  }
  h3 + p {
    padding-top:0;
  }
  img {
    width: 100%;
  }
}

.buzz-header {
  text-align: center;
  color:#94aebd;
  background:white;
  padding:10px;
  i {
    font-size: 22px;
  }
}

.sort-icons  {
  text-align: center;
  li {
    display: inline;
    position: relative;
    margin:3px;
    &.sortBy {
      padding-right:10px;
      position: relative;
      top:-6px;
    }
    a {
      font-size: 35px;
      padding: 5px 10px;
      color:#94aebd;
      &:after {
        content :'';
        width:10px;
        height:10px;
        left:50%;
        margin-left: -5px;
        background:$dark-blue;
        display: block;
        position: absolute;
        // @include transform(rotate(45deg));
        top:24px;
        display: none;
      }
      &:hover, &.buzz-filter-active {
        background:$dark-blue;
        color:white;
        &:after {
          display: block;
        }
      }
    }
  }
}

input[type=text][name="buzz-filter-text"] {
  width:200px;
  position: relative;
  /*margin-bottom:-42px; // PLM commented this out as it broke the layout without the sort ul*/
}

h4.buzz-message.divider {
  float:left;
  width:100%;
  margin:20px 0 40px 0;
}

/* Mq */

@include tablet-landscape-768-and-down {
  .buzz-item {
    width:49%;
  }
  .sort-icons  {
    li {
      margin:0;
      a {
        font-size: 20px;
        &:after {
          top:20px;
        }
      }
    }
  }
  input[type="text"][name="buzz-filter-text"] {
    width:100%;
    margin-bottom: 20px;
  }

}

@include mobile-landscape-and-down {
  .buzz-item {
    width:98%;
  }
}

span.loader {
    background: cdn("../images/icons/ajax-loader.gif") center no-repeat;
    content: '';
    display: block;
    width:100%;
    height: 60px;
    z-index: 99999;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    clear: both;
  }

.mini-buzz-container > div:nth-child(odd) {
  clear: left;
}

h2.large-title#buzz {
  i {
    font-size: 0.75em;
  }
}


.buzz-product-update {
  @extend .clearfix;
  .update {
    margin-bottom: 20px;
    a h5 {
      color:$link;
      font-size:emCalc(20px);
    }
  }
}
