.node--view-mode-card {
  background: #FFF;
  width: 100%;
  &>a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  .card-title {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
  }

  .header-block,
  .content-block {
    padding: 1rem;
  }

  .header-block {
    background: $blue;
    .card-title,
    .asset-type {
      color: #FFF;
    }
  }

  .asset-type {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5rem;
    color: $blue;
  }

  .login-required {
    display: inline-block;
    margin-right: .5rem;
  }

  .more {
    color: $blue;
    margin-top: 1rem;
    .svg-inline--fa {
      display: inline-block;
      margin-left: .5rem;
      font-size: 1.2rem;
      vertical-align: bottom;
    }
  }

  .card-image+.content-block {
    padding-top: 0;
  }

}

.card-image {
  padding: 2rem;
  img {
    max-width: 100%;
    height: auto;
    box-shadow: -2px 2px 11px 0 rgba(0,0,0,0.5);
  }
}
