/* Cheat Sheet and books */

#rhd-cheat-sheet, #rhd-book {
  margin-bottom: 3em;
  .content-type{
    text-transform: uppercase;
    color: $grey-6;
    margin-bottom: 0;
  }

  .cs-excerpt, .book-excerpt {
    display: block;
    background-color: #e8fbff;
    border: 1px solid #b8e3ed;
    padding: 20px 30px;
    margin: 40px 0 20px 0;

    h4 {
      margin-bottom: 15px;
    }

    span {
      display: inline-block;
      width: calc(100% - 60px);
      font-style: italic;
      &.open-quote {
        font-size: 7em;
        width: 60px;
        color: #00b9e4;
        font-style: normal;
      }

      .field--name-field-cheat-sheet-excerpt, .field--name-field-book-excerpt {
        width: inherit;
      }
    }
    .divider {
      border-bottom:1px solid $grey-3;
      padding: 10px 0;

      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    code {
      background-color: transparent;
      border: none;
      padding: 0;
      font-weight: inherit;
    }
  }

  .cta-label {
    margin-bottom: 15px;
  }

  .cs-info, .book-info {
    border-top: 1px solid $grey-5;
    border-bottom: 1px solid $grey-5;
    padding: 7px 0;
    margin-bottom: 2.5em;
    ul {
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding-left: 0;
      li {
        width: auto;
        margin-bottom: 1px;
        padding-top: 1px;
        display: inline-block;
        &:first-child {
          padding-left: 0;
        }
        .field {
          display: inline-block;
        }
      }
    }
  }

  .cs-tags,
  .book-tags {
    .field--name-field-cheat-sheet-tags,
    .field--name-field-tags {
      display: inline;
      .field__item {
        display: inline-block;
        color: $grey-6;
        &:after{
          content: ", ";
          position: relative;
          left: -3px;
        }
        &:last-child{
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .cs-social .googleplus-one, .book-social .googleplus-one {
    max-width: 55px;

  }
  .share-this {
    background: none;
    padding-top: 0;
  }
  a.button {
    margin: 5px 0 20px 0;
    margin-right: 25px !important;
  }

  .shown-after-login, .hidden-after-login {
    display: none;
  }

  @include desktop-small-and-down {
    padding: 15px;
    .cs-info, .book-info {
      .cs-social, .book-social {
        float: none !important;
        margin-top: 5px;
      }
      ul li{
        display: block;
      }
    }

    .field--name-field-cheat-sheet-tags, .field--name-field-tags {
      margin-bottom: 25px;
    }
    a.button {
      width: 100%;
      margin-right: 0;
    }
  }
  @include tablet-landscape-768-and-down {
    .cs-tags {
      margin-top: 20px;
    }
  }

  @include mobile-landscape-and-down {
    .cs-excerpt span.open-quote {
      display: none;
    }
    .cs-excerpt span {
      width: 100%;
    }
  }
  // I'd REALLY like to get this setup correctly, but I don't want to break other places
  .white-card {
    background-color: $white;
    height: 193px;
    margin: 16px 0;
    padding: 15px;
    border: 2px solid $grey-3;
    position: relative;

    h5 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    h6 {
      text-transform: uppercase;
    }
    p, .description {
      font-size: 1em;
      line-height: 1.4;
      color: #424242;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 43px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 0;
    }
  }
}

.page-node-type-cheat-sheet .disqus-thread-wrapper {
  padding-top: 40px;
  border-top: #E4E4E4 1px solid;
  margin-top:  40px;
  h2 {
    @extend h4;
  }
}
