@import "colors/brand";
@import "colors/accent";
@import "colors/grayscale";
@import "colors/link";
@import "colors/product";


:root {
    --rhd-grey-3: $grey-3;
    --rhd-gray-3: $gray-3;
    --rhd-gray-4: $gray-4;
    --rhd-blue: $blue;
    --rhd-linkhover: $linkhover;
    --rhd-white: $white;
}