/*
  Color Range
*/

// Brand Primary 
$red : #CC0000;
$dark-red : #A30000;
$darker-red : #820000;
$black : #000000;
$white : #FFFFFF;
$blue : #0066CC;
$dark-blue: #004C98;
$darker-blue: #003971;


$gray :#D2D3D4;
$grey : #D2D3D4; // Canada
$dark-gray :#242424;
$dark-grey : #242424; // Canada


// Brand Accent
$green: #3F9C35;
$light-green: #92D400;
$light-blue: #00B9E4;
$yellow: #F0AB00;
$purple: #3B0083;
$turquoise: #007A87;


// Grey Range
$grey-8 : #242424;
$grey-7 : #333333;
$grey-6 : #424242;
$grey-5 : #656565;
$grey-4 : #CCCCCC;
$grey-3 : #D5D5D5;
$grey-2 : #E6E6E6;
$grey-1 : #F9F9F9;


// Link Colors
$link : #0066CC;
$linkhover : #004C98;

$link-sm : #027CBB;
$link-sm-dark-background : #02ACE4;

$link-dark-background : #73BCF7; // Use for black/gray backgrounds
$linkhover-dark-background : #2B9AF3; // Use for black/gray backgrounds


// Product Colors
// Note: Use for branding products within these categories.
$tech : #cc0000;
$tech-alt : #a30000;
$storage : #f0ab00;
$storage-alt : #f0ab00;
$infrastructure : #00b9e4;
$infrastructure-alt : #0088ce;
$app-development : #92d400;
$app-development-alt : #3f9c35;
$service : #7a858b;
$service-alt : #37424a;
