/*
  Color Range
*/

// Brand Primary / Corporate
$red :#CA1402; // Red
$dark-red :#a30000; // Dark Red
$darker-red :#820000; // Darker Red
$black :#000; // Black
$white :#ffffff; // White

// Brand Secondary
$navy :#004153; // Navy
$light-navy :#005172; // Light Navy

$gray :#d2d3d4;
$grey : #d2d3d4; // Canada
$dark-gray :#242424;
$dark-grey : #242424; // Canada

$slate :#5e6a71; // Slate
$dark-slate :#37424a; // Dark Slate

// Product Colors
// Note: Use for branding products within these categories.

$tech : #cc0000;
$tech-alt : #a30000;
$storage : #f0ab00;
$storage-alt : #f0ab00;
$infrastructure : #00b9e4;
$infrastructure-alt : #0088ce;
$blue : #0088ce;
$app-development : #92d400;
$app-development-alt : #3f9c35;
$green : #3f9c35;
$service : #7a858b;
$service-alt : #37424a;
$gold : #F3AA02;

// Brand-Accent
$teal : #007a87;
$purple : #564979;
$sky-blue : #a3dbe8;
$powder-blue : #cae3e9;

// Nimbus-&-Web-Palette
// Note:-For-use-on-the-Red-Hat-Customer-Portal.

$link : #0066CC;
$linkhover : #004080;

// use $link-dark-background for black or gray backgrounds
$link-dark-background : #73BCF7;
$linkhover-dark-background : #2B9AF3;

$link-sm : #027CBB;
$link-sm-dark-background : #02ACE4;


$accent-blue : #08c0fc;
$mars-black : #1a1a1a;
$headline-grey : #252527;
$dark-grey-alt : #646464;
$trim-grey : #8d8d8d;
$border-grey : #d2d3d4;
$border-grey-light : #ececec;
$band-grey : #f0f0f0;
$zebra-striping : #f7f7f7;

/*
- Grey Range
*/

// JBDev - Black
$black : #000000;
// JBDev - Grey 8
$grey-8 : #242424;
// JBDev - Grey 7
$grey-7 : #424242;
// JBDev - Grey 6
$grey-6 : #656565;
// JBDev - Grey 5
$grey-5 : #8c8f91;
// JBDev - Grey 4
$grey-4 : #afb1b2;
// JBDev - Grey 3
$grey-3 : #d5d5d5;
// JBDev - Grey 2
$grey-2 : #e6e7e8;
// JBDev - Grey 1
$grey-1 : #f9f9f9;

$white : #FFFFFF;



/* JBOSS Colours */

// JBDev - Dark Red
$dark-red : #7b1e1e;
// JBDev - Med. Red
$med-red : #9a161e;
// JBDev - Red
$red : #cc0000;
// JBDev - Dark Blue
$dark-blue : #4a5d75;
// JBDev - Med. Blue
$med-blue : #94aebd;

// JBDev - Light Blue
$light-blue : #e1eef4;
// JBDev - Dark Green
$dark-green : #506a3d;
// JBDev - Med. Green
$med-green : #82a430;
// JBDev - Light Green
$light-green : #c3db3d;
// JBDev - Dark Orange
$dark-orange : #7e4e23;
// JBDev - Medium Orange
$medium-orange : #ff8b34;
// JBDev - Light Orange
$light-orange : #fdcf50;

/*
  Grey Range
*/


// JBDev - Grey 8
$grey-8 : #242424;
// JBDev - Grey 7
$grey-7 : #424242;
// JBDev - Grey 6
$grey-6 : #656565;
// JBDev - Grey 5
$grey-5 : #8c8f91;
// JBDev - Grey 4
$grey-4 : #afb1b2;
// JBDev - Grey 3
$grey-3 : #d5d5d5;
// JBDev - Grey 2
$grey-2 : #e6e7e8;
// JBDev - Grey 1
$grey-1 : #f9f9f9;

$white : #FFFFFF;
