.page-community-contributor-signup {
  div.clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__items {
    max-width:100%;
    width:100%;
    padding-left:0;
    padding-right:0;
  }
}

.communitycontributor .wrapper {
  padding-bottom: 0;
}

.contributors-main {
  background: url('https://static.jboss.org/rhd/images/rhdev_pageheader_contributors_desktop.png') top center / cover no-repeat;
  h2, h3, h4, h5, p {
    color: $white;
  }
  .contrubutors-title {
    padding: 3em 0;

    @media(max-width:$mq-desktop-large) {
      padding:3em 1em;
    }
  }
  .contributors-cta {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 30px;
    a.button {
      display: block;
      margin: 0 auto;
    }
    p {
      font-size: 1.2em;
    }
  }
}
@include desktop-small-and-down {
  .contributors-main {
    background: url('https://static.jboss.org/rhd/images/rhdev_pageheader_contributors_tablet.png') top center / cover no-repeat;
  }
}
@include mobile-landscape-and-down {
  .contributors-main {
    background: url('https://static.jboss.org/rhd/images/rhdev_pageheader_contributors_mobile.png') top center / cover no-repeat;
  } 
}
.contributers-sec1 {
  padding: 50px 0;
  h4 {
    margin-bottom: 10px;
  }
  .text {
    font-size: 1.2em;
  }
  .benefits span {
    display: inline;
    img {
      max-width: 45px;
      margin-bottom: 5px;
    }
    p {
      margin-left: 5px;
    }
  }
}

@include desktop-small-and-down {
  .benefits p {
    margin-left: 45px;
  }
}

.contributers-sec2 {
  background-color: #f3bf40;
  padding: 50px 0;
  p, li {
    font-size: 1.2em;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
  }
  @include desktop-small-and-down {
    img {
      margin: 0;
    }
  }
}

.contributers-sec3 {
  background-color: #40a5d9;
  padding: 50px 0;
  h2, h3 {
    color: $white;
  }
  p, li {
    font-size: 1.2em;
    color: $white;
  }
  form {
    min-height: 600px;
  }
}

.contributers-sec3 .answer-block{
  display: none;
  background-color: $white;
  padding: 2.3em;
  margin-left: 10px;
  margin-top: 30px;
  h2, h3, h4, p{
    color: $black;
    font-weight: 400;
  }
  p {
    font-size: 1.2em;
  }
}

.contributers-sec4 {
  background-color:$grey-4;
  padding: 50px 0;
  h2 {
    color: $white;
  }
  p, li {
    font-size: 1.4em;
    color: $white;
  }
}


// Styles for radio-button questionnaire
.cc-question {
  height: 250px;
  margin: 15px 0;
}

.cc-or {
  text-align: center;
  text-decoration: underline;
  margin-top: 50%;
}

@include desktop-small-and-down {
  .cc-or {
    margin: 20px auto;
  }
}

.cc-selector input{
    position:absolute;
    z-index:999;

    &[type="radio"] {
      opacity:0.01;
      z-index:100;
    }
}

.cc-selector input[type="radio"] + label {
  width: 100%;
  background-position: top center;
  height: 150px;
  div.label-text {
    position: relative;
    top: 150px;
    background-color: $grey-4;
    padding: 15px;
    min-height: 90px;
    img {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
    }
    p {
      display: inline;
      font-size: 1.4em;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

.cc-selector img.checked {
  display: none;
}

.cc-selector input[type="radio"][id="q1a1"] + label {
  background-color: #efaa00;
}

.cc-selector input[type="radio"][id="q1a2"] + label {
  background-color: #acde40;
}

.cc-selector input[type="radio"][id="q2a1"] + label {
  background-color: #f3bf40;
}

.cc-selector input[type="radio"][id="q2a2"] + label {
  background-color: #bee0f2;
}

.radio-clock{background-image:url('../images/content-contributors/clock.png');}
.radio-calendar{background-image:url('../images/content-contributors/calendar.png');}
.radio-podium-woman{background-image:url('../images/content-contributors/podium_woman.png');}
.radio-podium-empty{background-image:url('../images/content-contributors/podium_empty.png');}

.cc-selector input:active +.answer-cc{opacity: .9;}
.cc-selector input:checked +.answer-cc{
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
  img {
    &.unchecked {display: none;}
    &.checked {display: inline;}
  }
}

.answer-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(.3) opacity(.7);
       -moz-filter: brightness(1) grayscale(.3) opacity(.7);
            filter: brightness(1) grayscale(.3) opacity(.7);
}

.answer-cc:hover{
    -webkit-filter: brightness(1) grayscale(.3) opacity(.7);
       -moz-filter: brightness(1) grayscale(.3) opacity(.7);
            filter: brightness(1) grayscale(.3) opacity(.7);
}

.contributors-registration iframe {
    min-height: 1150px;
    display: block;
    margin: 30px auto;
}
