.text-content {
  .connector {
    h3 {
      line-height: 1;
      margin-top:emCalc(5px);
      margin-bottom:emCalc(5px);
    }
    h3,p {
      text-align: left;
    }
  }
}

.connector-overlay-content {
  display: none;
}

.copy-to-clipboard {
  height:14px;
  width:114px;
  display: inline-block;
  margin-left: 10px;
  embed, object {
    width:114px;
    height:14px;
  }
}

@include tablet-portrait-and-down {
  body.overlay-open {
    overflow: hidden;
    .overlay {
      display: block;
      overflow: scroll;
      height:100%;
      -webkit-overflow-scrolling: touch;
    }
  }
}

ul.featured-connectors-results {
  & > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em;
    .defaultconnectorimage {
      width:100%;
      border: 0;
      background:none;
      height:auto;
    }
    &:before {
      display: none;
    }
    .connector-logo {
      max-width: 250px;
    }
  }
  a.image-link {
    img {
      width:100%;
      border:1px solid $grey-4;
      padding:5px;
    }
  }
}
