#registration-confirmation {
  margin-top: emCalc(50px);
  .divider {
    border-bottom: 1px solid $grey-7;
    margin-bottom: 25px;
    padding-bottom: 20px;
  }
  .spotlight {
    background-color: $grey-1;
    min-height: 310px;
    padding: emCalc(20px);
    position: relative;
    .fa.fa-clock-o:before {
      margin-right: 5px;
    }
    small i {
      margin-bottom: 15px;
    }
    a.button {
      width: 90%;
      position: absolute;
      bottom: 0;
    }
  }
  .home-title {
    margin-top: emCalc(50px);
  }
  @include tablet-portrait-and-down {
    .spotlight {
      margin-top: emCalc(20px);
      a.button {
        position: relative;
        width: 100%;
      }
    }
  }
}
