.assembly-type-curated_links {

  .curated-links__title {
    .field__item {
      text-align: left;
    }
  }
  &.nav-menu {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
    padding: 0;
  }
  &.two-col {
    .curated-links__title {
      .field__item {
        text-align: center;
      }
    }
  }
  &.link-side-nav {
    
    > .container {
      .assembly {
        background-color: transparent !important;
        &.has-background {
          .background {
            background-image: none;
            display: none;
          }
        }
      }
      display: grid;
      grid-template-columns: 2fr 1fr;
      @include mobile-landscape-and-down {
        grid-template-columns: 1fr;
      }
      .assembly { 
        padding-top: 0;
        padding-bottom: 0;
      }
      .side-bar-nav {
        margin: 0;
        margin-left:40px;
        @include mobile-landscape-and-down {
          margin: 0;
        }
      }
      .curated-links__title {
        margin-left:40px;
        .field__item {
          font-size: 20px;
          font-weight: normal;
          text-align: left;
        }
      }
    }
    .curated-links {
      @extend .container;
      padding: 0;
    }
  }
}
.curated-links {
  @extend .container;
  padding: 40px 15px;
  .nav-menu & {
    padding: 15px 15px 0 15px;
  }
}

.curated-links__list {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 0;
  list-style: none;
  margin-left: 0;
  .two-col & { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    @include mobile-landscape-and-down {
      grid-template-columns: 1fr;  
    }
  }
  .nav-menu & {
    border-top: none;
    border-bottom: none;
    display: flex;
    padding: 0;
    margin: 0 0 15px 0;
    text-align: left;
    @include desktop-extra-small-and-down {
      flex-direction: column;
    }
  }
}

.curated-links__list-item {
  padding: 10px 0 10px 0;
  a {
    display: inline-block;
    padding: 0 2rem;
  }
  .two-col & { 
    grid-column-start: auto;
  }
  .nav-menu & {
    padding-left: 0;
    padding-right: 30px;
    display: inline-block;
    max-width: 15rem;
    line-height: 1.3;
    a {
      font-size: 14px;
    }
    @include desktop-extra-small-and-down {
      display: block;
      max-width: 100%;
    }
  }

  @include desktop-small-and-down {
    padding: 6px 0 6px 0;
  }
}

.curated-links__list-item .fa-arrow-alt-circle-right {
  color: #999;
  font-size: 20px;
  left: -5px;
  top: 15px;
  @include desktop-small-and-down {
    font-size: 16px;
    top: 10px;
  }
}

.curated-links__list-item > a {
  font-size: 20px;

  @include desktop-small-and-down {
    font-size: 14px;
  }
}
