.eventsdevoxx2015 .wrapper {
  padding-bottom: 0;
}

.wide-hero.devoxxbe {
  background-image: url('https://static.jboss.org/rhd/images/devoxx-be_microsite_desktop_hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:0;
  padding: 20px;
  padding-top: 40px;
  min-height: 260px;
  @include tablet-portrait-and-down {
    background: url('https://static.jboss.org/rhd/images/devoxx-be_microsite_mobile_hero.png') top center / cover repeat-x;
    min-height: 400px;
  }
}

#devoxx-be-microsite {
  section{
    padding: 35px 0;
    &.inverse {
      background-color: #0d5884;
      padding: 25px 0;
      p, h2, h3, h4, h5, h6 {
        color: $white;
      }
      a {
        color: $white;
        font-weight: 600;
      }
    }
  }
  ul {
    list-style: none;
    &.nav-list li {
      margin: 15px 0;
      i {
        margin-right: 3px;
      }
    }
    &.speakers-list {
      li img {
        display: block;
        float: left;
      }
    }
    .desc-wrapper, .video-wrapper {
      display: inline;
      .video-thumb {
        width: 200px;
        margin: .4em 1em .4em 0;
      }
      .button {
        clear: both;
        display: block;
        max-width: 200px;
        margin-bottom: 10px;
      }
    }
  }
  .event-header {
    margin-bottom: 25px;
    .devoxx-date {
      .large-6 {
        padding-right: 0;
        text-align: right;
      }
      h6{
        display: inline;
      }
    }
  }
  ul.speakers-list {
    li {
      margin-top: 30px;
      .speaker-img {
        max-width: 80px;
      }
    }
    p, h4 {
        margin-bottom: 0;
        margin-top: 0;
    }
    .talk-info {
      background-color: $grey-2;
      padding: 10px;
      margin-bottom: 10px;
      a {
        position: relative;
        top: 8px;
      }
    }
    i.user-default {
      color: $grey-3;
      margin-left: 18%;
    }
  }
  .divider {
    border-bottom: 1px solid $grey-4;
    padding-bottom: 2em;
  }
  .button.button--join-today {
    margin: 2em auto 0 auto;
    display: block;
    max-width:300px;
  }
  @include tablet-portrait-and-down {
    .talk-info {
      margin-top: 10px;
    }
    .speakers-list li {
      padding-bottom: 15px;
      border-bottom: 1px solid $grey-4;
      &:last-child {
        border: none;
      }
    }
  }
}
