.eventsdevoxxfrance2016 .wrapper {
  padding-bottom: 0;
}

.wide-hero.devoxxfrance {
  background-image: url('https://static.jboss.org/images/rhd/microsite/devoxxfr2016_banner_1811x260px_11apr1016.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:0;
  max-width: 100%;
  margin: 0;
  h3 {
    font-size: 3em;
    font-weight: 700;
  }
  h2 {
    font-size: 5.4em;
    font-weight: 700;
    .blue {
      display: inline;
      margin-left: .3em;
      color: #A3DBE8;
    }
  }
  @include tablet-portrait-and-down {
    background: url('https://static.jboss.org/images/rhd/microsite/devoxxfr2016_banner_600x446_11apr1016.jpg') top center / cover repeat-x;
    h2, h3 {
      text-align: left;
      max-width: 82%;
    }
    h2 .blue {
      display: block;
      margin-left: 0;
    }
  }
  @include mobile-landscape-and-down {
    background-image: url('https://static.jboss.org/images/rhd/microsite/devoxxfr2016_banner_480x500px_11apr1016.jpg');
    h2, h3 {
      max-width: 100%;
    }
  }
}

#devoxxfrance-microsite {
  section{
    padding: 35px 0;
    &.dark-blue {
      background-color: #0088C3;
      p, h2, h3, h4, h5, h6 {
        color: $white;
      }
    }
    &.pale-blue {
      background-color: #A3DBE8;
      p, h2, h3, h4, h5, h6 , i{
        color: #242424;
      }
    }
  }

  .site-header p {
    font-size: 1.2em;
  }
  ul {
    list-style: none;
    &.nav-list li {
      margin: 15px 0;
      color: #0088C3;
      i {
        margin-right: 3px;
        color: #0088C3;
      }
    }
  }
  .devoxxfrance-date {
    margin-top: 15px;
    h6, i.fa{
      display: inline;
      margin-right: 10px;
    }
  }
  ul.speakers-list {
    li {
      margin-top: 35px;
      margin-left: 0;
    }
    .speaker-info {
      strong {
        color: $white;
      }
    }
    h4 {
      display: inline-block;
      margin-bottom: 10px;
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
    .abstract ul {
      margin-top: 20px;
      li {
        margin-left: 2em;
        color: white;
        list-style: initial;
        margin-top: 0;
      }
    }
    .talk-info {
      background-color: rgba(0, 103, 146, 0.55);
      padding: 5px 10px 10px 10px;
      margin-bottom: 10px;
      a {
        color: $white;
        position: relative;
        top: 8px;
      }
    }
  }
}
