.hero.hero-devnation2015 {
  background: url('/images/devnation2015/RHDev_indeximage_desktop_devnation.png') top center / cover repeat-x;
  border:0;
  padding: 20px;
  padding-top: 40px;
  min-height: 230px;
  @include tablet-landscape-768-and-down {
    background: url('/images/devnation2015/RHDev_indeximage_mobile_devnation.png') top center / cover repeat-x;
    margin: -15px;
    h2.blowout {
      padding-top: 20px !important;
    }
  }
  h2.blowout {
    color:white;
    line-height:1;
    font-size: 70px;
    text-shadow: 3px 3px #063a63;
  }
  p {
    color:white;
    font-size: 20px;
  }
  .row {
    & > [class^=large-] {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

ul.ytlist {
  list-style: none;
  margin-top: 50px;
  td {
    padding: 1rem;
    &:first-of-type {
      width: 300px;
    }
  }
}

@include tablet-landscape-768-and-down {
  ul.ytlist {
    table {
      width: 100%;
    }
    tr {
      overflow-x: auto;
      display: block;
    }
    td{
      width: 100%;
      display: block;
      clear: both;
      &:first-of-type {
        width: 100% !important;
      }
    }
  }
}
