.wide.wide-hero.eclipse {
  //background: cdn('https://static.jboss.org/rhd/images/_images_eclipse_eclipse_microsite_hero.jpg');
  background: url('/images/_images_eclipse_eclipse_microsite_hero_overlay.png'), url('/images/_images_eclipse_eclipse_microsite_hero.jpg');
  background-repeat: no-repeat;
  background-size: 70%, cover;
  background-position: center center, center center;
  height: 450px;
  //ipad pro tablet and down
  @media screen and (max-width: 834px) {
    height: 300px;
  }
  //iphone plus and smaller
  @media screen and (max-width: 414px) {
    height: 150px;
    background-size: 90%, cover;
  }
 }
