#error-page {
  padding-top: 3em;
  .error-content {
    display: block;
    margin: 0 auto;
  }
  a img {
    margin-bottom: 20px;
    max-width: 330px;
  }
  img {
    display: block;
  }
  ul {
    list-style: none;
    margin-left: 0;    
    &.list-horizontal {
      li {
        display: inline-block;
        text-transform: uppercase;
      }
      li + li::before {
        content: " | ";
        margin: 10px;
      }
    }
  }
  a.button {
    display: block;
    margin: 15px auto 0 auto;
    max-width: 285px;
    color: white;
  }
}
