.eventsgids2016 .wrapper {
  padding-bottom: 0;
}

.wide-hero.gids {
  background-image: url('https://static.jboss.org/images/rhd/microsite/gids2016_banner_1811x260px_31mar2016.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:0;
  max-width: 100%;
  margin: 0;
  min-height: 240px;
  @include tablet-landscape-and-down {
    background: url('https://static.jboss.org/images/rhd/microsite/gids2016_banner_600x446_31mar2016.png') top center / cover repeat-x;
    min-height: 560px;
  }
  @include mobile-landscape-and-down {
    background: url('https://static.jboss.org/images/rhd/microsite/gids2016_banner_480x500px_31mar2016.png') top center / cover repeat-x;
    min-height: 450px;
  }
}

#gids-microsite {
  section{
    padding: 35px 0;
    &.dark-blue {
      background-color: #0088C3;
      p, h2, h3, h4, h5, h6 {
        color: $white;
      }
    }
    &.pale-blue {
      background-color: #A3DBE8;
      p, h2, h3, h4, h5, h6 , i{
        color: #242424;
      }
    }
  }

  .site-header p {
    font-size: 1.2em;
  }
  ul {
    list-style: none;
    &.nav-list li {
      margin: 15px 0;
      color: #0088C3;
      i {
        margin-right: 3px;
        color: #0088C3;
      }
    }
  }
  .gids-date {
    margin-top: 15px;
    h6, i.fa{
      display: inline;
      margin-right: 10px;
    }
  }
  ul.speakers-list {
    li {
      margin-top: 35px;
      margin-left: 0;
    }
    .speaker-info {
      strong {
        color: $white;
      }
    }
    h4 {
      display: inline-block;
      margin-bottom: 10px;
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
    .talk-info {
      background-color: rgba(0, 103, 146, 0.55);
      padding: 10px;
      margin-bottom: 10px;
      a {
        color: $white;
        position: relative;
        top: 8px;
      }
    }
  }
}
