// NEW HOMEPAGE STYLES
.home .wrapper {
  padding-bottom: 0;
}

.homepage-main {
  color: $white;
  background-image: url("/images/rhd/hero/RHDev_homehero_desktop_rhoarlaunch_07dec2017.png");
  background-position: center center;
  height: 310px;
  background-repeat: repeat-x;
  background-color: $black;
  & > .row {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
  }
  .homepage-cta {
    // padding: 0 21% 0 21%;
    padding-top: 40px;
    color: $white;
    text-align: left;
    margin: 0 auto;
    h2 {
      font-size: 2em;
      font-weight: 800;
      color: $app-development;
      text-transform: uppercase;
      line-height: 1.1;
    }
    p {
      color: inherit;
      font-weight: 400;
      font-size: 20px;
    }
    a.button.external-link:after{
      display: none;
    }
    a.button.heavy-cta.white {
      color: $blue;
    }
    a.button.heavy-cta.app-dev {
      color: $white;
      background-color: $app-development;
    }
  }
.homepage-cta-img {
  text-align: center;
}
  img {
    // height: 205px;
    width: 75%;
  }
}

.spotlights-wrap {
  background: black cdn("../images/design/dotted_line-darkgrey.svg") left no-repeat;
}

.spotlights-container {
  background-position: -200px 0;
  background-size: 1500px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

a.spotlight-item {
  width: calc(20%);
  padding: 0 12px;
  border-right: 1px solid $dark-grey;
  color: $white;
  &:last-child { border-right: 0; }
  &::before {
    content: '';
    height: 145px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: contain;
    @include desktop-and-down {
      height: 120px;
      margin-bottom: 10px;
    }
    @include desktop-small-and-down {
      height: 135px;
      margin-bottom: 5px;
    }
    @media only screen and (max-width: 915px) { height: 105px; }
    @include tablet-landscape-768-and-down { height: 145px; }
    @include mobile-landscape-and-down {
      height: 200px;
      margin-bottom: 10px;
    }
    @include mobile-portrait-and-down { height: 150px; }
  }
  &:hover, &:focus, &:active {
    color: $white;
    &::before { opacity: 0.7; }
  }
  &:nth-of-type(1)::before { background-image: url('/images/rhd/promo/RHDev_homepromo_containerterminology_14mar2018.png'); }
  &:nth-of-type(2)::before { background-image: url('/images/rhd/promo/RHDev_homepromo_manningbookjpbm_26jan.png'); }
  &:nth-of-type(3)::before { background-image: url('/images/rhd/promo/RHDev_homepromo_osiolaunch_09may2017.png'); }
  &:nth-of-type(4)::before { background-image: url('/images/rhd/promo/RHDev_homepromo_reactivemicroservices_21apr2017.png'); }
  &:nth-of-type(5)::before { background-image: url('/images/rhd/promo/RHDev_homepromo_advlinuxcheat_11may2017.png'); }
  &.external-link:after { display: none; }
}

ul.homepage-resources {
  list-style: none;
  margin: 0;
  &.loading {
    background:cdn("../images/icons/ajax-loader.gif") center 80px no-repeat;
    min-height:250px;
  }
  li {
    @include flexbox;
    @include align-items(flex-start);
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed $grey;
    &:last-child { border-bottom: none; }
    img {
      width: 150px;
      margin-right: 10px;
    }
    i {
      font-size: 35px;
      margin-right: 10px;
      color: $dark-grey;
      position: relative;
      top: -5px;
    }
    p.description {
      font-family: inherit;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
      text-rendering: optimizeLegibility;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      max-height: 50px;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;

    }
  }
  a.title {
    display: block;
    line-height: 1.5;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  .author { margin: 0; }

  .date {
    display: block;
    color: black;
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 0;
  }

  &.homepage-resources-latest {
    li {
      border-bottom: 0;
      padding-bottom: 10px;
    }
  }
}

.featured-and-latest {
  padding: 30px 0;
  h4 {
    font-weight: 600;
    font-size: 20px;
  }
  h3 { margin-bottom: 10px; }
}

.inverse {
  background: $grey-8 cdn('../images/design/join-now-bg.png') right center no-repeat;
  padding: 25px 0;
  h2, h3, h4, h5, h6, a, p {
    color: $white;
  }
  a.button {
    display: block;
    margin: 0 auto;
    max-width: 260px;
  }
  .inverse-spotlights {
    text-align: center;
    .large-8 {
      padding: 20px !important;
      margin: 15px !important;
      background-color: $grey-2;
      width: 30%;
    }
    i, h6 { color: $grey-7; }
  }
  .banner-icons {
    color: $white;
    text-align: center;
    margin: 1em 0 2em 0;
    img {
      display: block;
      margin: 1em auto 0 auto;
      max-width: 250px;
    }
  }
}

.register-banner, .contributors-banner {
  position: relative;
  bottom: -100px;
  &.inverse { background-color: $grey-7; }
}

.home-join-img img { margin: 2em auto; }

.home-jointext {
  a.button {
    max-width: 400px;
    margin-bottom: 3em;
  }
  p {
    font-size: 1.1em;
    line-height: 1.3;
  }
  .inline-icon {
    display: inline;
    max-width: 30px;
    margin-right: 5px;
  }
}

@include desktop-and-down {
  .homepage-main,
  .spotlights-wrap,
  .register-banner,
  .contributors-banner {
    margin: -15px -15px 0 -15px;
  }

  .register-banner,
  .contributors-banner { bottom: -115px; }
}

@include desktop-small-and-down {
  .homepage-main {
    background-image: url("/images/rhd/hero/RHDev_homehero_tablet_rhoarlaunch_07dec2017.png");
    background-size: cover;
    background-position: top left;
    min-height: 400px;
    .homepage-cta {
      h2 { font-size: 1.7em; }
      a.button { display: inline-block; }
    }
    .homepage-cta-img, .homepage-cta { margin: 0 15%; }
  }
  img {
    width: auto;
  }
  span.type-icon { display: none !important; }
  a.spotlight-item {
    width: calc(25% - 16px);
    margin: 8px;
  }
}

@include tablet-landscape-768-and-down {
  a.title { max-width: 100%; }
  .inverse-spotlights .large-8 {
    width: 90% !important;
    padding: 2em !important;
  }
  .homepage-main {
    img.desktop { display: none; }
    img.mobile {
      display: block;
      max-height: 300px;
    }
    .homepage-cta, .homepage-cta-img {
      padding: 3em 1em 0 1em;
      p { font-size: 18px; }
      h2 { font-size: 1.5em; }
    }
  }
  a.spotlight-item { width: calc(50% - 16px); }
}

@include mobile-landscape-and-down {
  .homepage-main {
    background-image: url("/images/rhd/hero/RHDev_homehero_mobile_rhoarlaunch_07dec2017.png");
    min-height: 480px;
  }
  .spotlights-container { flex-direction: column; }
  a.spotlight-item {
    width: calc(100% - 16px);
    margin-bottom: 20px;
    border-right: none;
  }
  .homepage-cta-img, .homepage-cta {
    margin: 0 15%;
    padding-top: 1em;
  }
}

.drupal-header {
  z-index: 100;
  width: 300px;
  padding: 20px;
  position: fixed;
  transition: all 0.4s;
  transform: translateX(-100%);
  &.open {
    transform: translateX(0);
    background: #000;
  }

  .tab {
    position: absolute;
    top: 30px;
    right: 0;
    background: black;
    color: white;
    padding: 30px;
    transform: rotate(90deg) translateY(-100%)
  }
}

