.eventsjavaone2015 .wrapper {
  padding-bottom: 0;
}

.wide-hero.javaone {
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:0;
  padding: 20px;
  padding-top: 40px;
  min-height: 260px;
  
  &.javaone2015{ background-image: url('https://static.jboss.org/rhd/images/javaone_microsite_desktop_hero.png');}
  &.javaone2016{ 
    background-image: url('https://static.jboss.org/images/rhd/microsite/javaone2016_banner_desktop_25aug2016.jpg');
    min-height: 200px;
  }

  &.javaone2017{ background-image: url('https://static.jboss.org/images/rhd/microsite/javaone2017_micrositebanner_desktop.png'); }

  @include tablet-portrait-and-down {
    &.javaone2015{
      background: url('https://static.jboss.org/rhd/images/javaone_microsite_mobile_hero.png') top center / cover repeat-x;
      min-height: 400px;
    }
    &.javaone2016{
      background: url('https://static.jboss.org/images/rhd/microsite/javaone2016_banner_tablet_25aug2016.jpg') top center / cover repeat-x;
      min-height: 400px;
    }
    &.javaone2017{
      background: url('https://static.jboss.org/images/rhd/microsite/javaone2017_micrositebanner_tablet.png') top center / cover repeat-x;
      min-height: 400px;
    }
  }

  @include mobile-portrait-and-down {
    &.javaone2016{
      background: url('https://static.jboss.org/images/rhd/microsite/javaone2016_banner_mobile_25aug2016.jpg') top center / cover repeat-x;
      min-height: 430px;
    }
    &.javaone2017{
      background: url('https://static.jboss.org/images/rhd/microsite/javaone2017_micrositebanner_mobile.png') top center / cover repeat-x;
      min-height: 430px;
    }
  }

}

#javaone-microsite {
  section{
    padding: 15px 0 35px 0;
    &.inverse {
      background-color: #0d5884;
      padding: 25px 0;
      p, h2, h3, h4, h5, h6 {
        color: $white;
      }
    }
  }
  .session-list {
    .session {
      background: $grey-1;
      margin: 0 1.5% 20px 0;
      padding: 25px;
      .watch-now {
        text-align: right;
      }
    }
  }
  .site-header p {
    font-size: 1.2em;
  }
  ul {
    list-style: none;
    &.nav-list li {
      margin: 15px 0;
      i {
        margin-right: 3px;
      }
    }
    &.speakers-list {
      li img {
        display: block;
        float: left;
        height:120px
      }
    }
  }
  .javaone-date {
    margin-top: 15px;
    h6, i.fa{
      display: inline;
      color: $white;
    }
  }
  a.rsvp-btn {
    float: right;
    margin-top: 10%; 
  }
  ul.speakers-list {
    li {
      margin-top: 20px;
      margin-left: 0;
    }
    .speaker-info {
      strong {
        color: $white;
      }
    }
    p, h4 {
        margin-bottom: 0;
        margin-top: 0;
    }
    .talk-info {
      background-color: #09496F;
      padding: 10px;
      margin-bottom: 10px;
      a {
        color: $white;
        position: relative;
        top: 8px;
      }
    }
  }
  .past-events {
    margin-top: 1em;
  }
  .session-day{
    color: #0d5884;
    margin: 20px 0 30px 0;
  }
  @include mobile-landscape-and-down {
    .past-events a{
      display: block;
    }
  }
  @include tablet-portrait-and-down {
    a.button {
      float: none !important;
      width: 100%;
    }
    .talk-info {
      margin-top: 10px;
    }
  }
  ul.events-list {
    list-style: none;
    margin-left: 0;
    li.single-event {
      border-bottom: 1px solid $grey-4;
      margin-bottom: 2em;
      padding-bottom: 1.2em;
      &:last-child {
        border: none;
      }
      .session-links {
        padding-top: 5px;
        a {
          color: $link-sm;
          margin-right: 10px;
        }
      }
    }
  }
  table {
    width: 100%;
    th:nth-of-type(1) { width: 10%; }
    th:nth-of-type(2) { width: 15%; }
    th:nth-of-type(3) { width: 50%; }
    th:nth-of-type(4) { width: 15%; }
    th:nth-of-type(5) { width: 10%; }
  }
}

#javaone-registration iframe {
    min-height: 670px;
    display: block;
    margin: 30px auto;
}
