.eventsjudcon2016brno .wrapper {
  padding-bottom: 0;
}

.wide-hero.judcon-brno {
  background-image: url('https://static.jboss.org/rhd/images/judcon-brno_banner_2000x400px.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:0;
  padding: 20px;
  padding-top: 40px;
  min-height: 260px;
  @include tablet-landscape-and-down {
    background: url('https://static.jboss.org/rhd/images/judcon-brno_banner_1811x260px.png') top center / cover repeat-x;
  }
  @include mobile-landscape-and-down {
    background: url('https://static.jboss.org/rhd/images/judcon-brno_banner_480x500px.png') top center / cover repeat-x;
    min-height: 500px;
  }
}

#judcon-brno-microsite {
  section{
    padding: 35px 0;
    &.inverse {
      background-color: #0d5884;
      padding: 25px 0;
      p, h2, h3, h4, h5, h6, ul, li {
        color: $white;
      }
      a {
        color: $white;
        font-weight: 600;
      }
    }
  }
  .callout-light {
    padding-bottom: 0;
    a {
      color: $link-dark-background;
    }
  }
  ul {
    list-style: none;
    &.session-list li {
      margin-bottom: .5em;
    }
  }
  .event-header {
    margin-bottom: 25px;
    .judcon-date .large-6{
      padding-right: 0;
      text-align: right;
    }
  }
}
