// Set Katacoda specific variables & mixins

// Imported variables
$desktop-large:     1240px;
$desktop-small:     992px;
$tablet-landscape:  768px;
$tablet-portrait:    576px;

// Imported Breakpoint settings
$large-screen-breakpoint:         1240px;
$medium-large-screen-breakpoint:  1040px;
$smallest-large-screen-breakpoint: 992px;
$medium-screen-breakpoint:        920px;

// This breakpoint is specific to higher screen-res and large 'phablet' type phones.
$large-phone-breakpoint:812px;

$small-screen-breakpoint:         768px;
$small-phone-breakpoint:          576px;
$wp-admin-bar-small-break:        600px; // This is a breakpoint specific to the WP Admin Bar – required for spacing edits in phone breakpoints
$xtra-small-screen-breakpoint:    480px;


@mixin katacoda-grid-container($gapvalue:2rem) {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: $gapvalue;
    grid-row-gap: $gapvalue;

    @media (max-width:$xtra-small-screen-breakpoint) {
        display:block;
    }
}

@mixin katacoda-grid-element() {
    grid-column: span 4;
    grid-auto-rows: 1fr;

    @media (max-width:$medium-screen-breakpoint) {
        grid-column: span 6;
    }

    @media (max-width:$tablet-portrait) {
        grid-column: span 12;
    }
    @media (max-width:$xtra-small-screen-breakpoint) {
        display:block;
        width:100%;
        margin:1em auto;
    }
}

@mixin border-radius($radius:8px) {
    border-radius:$radius;
}

@mixin border-radius-top($radius:8px) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-radius-bottom($radius:8px) {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

// Based on <h1> tag in some presentations
$katacoda-grid-title-size:23px;

.rhd-header {
    &.katacoda-header {
        padding: 8px 32px;
        max-width: none;
        grid-template-columns: none;
        grid-template-rows: none;
        flex: none;
        justify-items: unset;
        display: flex;
        align-items: center;

        .rhd-header-logo {
            max-width: 100%;
            width: 140px;
            grid-column: none;
            grid-row: unset;
            height: auto;
        }
        .block-system-breadcrumb-block {
            grid-row: none;
            grid-column: none;
            width: auto;
            margin-left: auto;

            nav {
                padding-bottom:0;
            }
        }

        .breadcrumb ol li:not(:first-of-type):before {
            content: " \203A ";
            padding: 0 4px;
            font-weight: 400;
        }

        .breadcrumb ol li:last-of-type {
            color: black;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

// Katacoda HERO
// Kept separate from other CSS due to differences in HTML structure between view types.
.katacoda-hero {
    background:black;
    
    .container {
        @include katacoda-grid-container();

        @media(max-width:$large-phone-breakpoint) {
            height:auto;
        }

        .content-area {
            grid-column: 1 / span 7;
            color:white;
            h1,h2,h3 {
                color:white;
            }
            h1 {
              font-size: 36px;
              font-weight: 700;
            }

            // Katacoda Learn More Link in Hero
            a.katacoda-learn-more-link {
                color: $link-dark-background;

                &:not(.button):hover {
                    border-bottom: 1px solid #dcdcdc;
                }
            }
        }
        
    }
}

.assembly-type-katacodas .field--name-field-katacodas,
.page-node-type-katacoda-course .field--name-field-katacoda-course-lessons {
    margin:3em auto 5em auto;
    @include katacoda-grid-container();

    & .field__item {
      @include katacoda-grid-element();
    }
}
.assembly-type-katacodas.four-up .field--name-field-katacodas .field__item {
  grid-column: span 3;
}

.view-katacoda-all-courses.view-display-id-block_1 .view-content {
    margin:3em auto 5em auto;
    @include katacoda-grid-container();

    & .views-row {
      @include katacoda-grid-element();
    }
}

.node--type-katacoda-individual-lesson.node--view-mode-card {
    // Set flex to push the start button to the bottom
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    height: 100%;

    .node__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    a {
        font-weight:700;
        display:block;
    }

    .info-outer {

        flex-grow:1;
        border:2px solid $grey-2;
        @include border-radius-top();
        border-bottom:none;
        padding:20px;

        // Add flex to extend last info box to bottom of tile
        display:flex;
        flex-flow: column;

        .lesson {
            width:100%;
            &--title {
                a {
                    font-size: $katacoda-grid-title-size;
                    font-weight: 700;
                    width:100%;
                    color:black;
                }
            }
            &--description {
                font-weight:300;
                // Expand description to fill space and put the publish meta at the bottom
                flex-grow:1;
            }
            // This is the author name and publish date
            &--time-level,
            &--publish-meta {
                font-weight:300;
                font-size:.8125rem;
                color:$gray-4-5;
            }

            &--publish-meta {
                p {
                    font-size:.8125rem;
                }
            }

            &--time-level {
               span.time-clock {
                   display:inline-block;
                   width:.75rem;
                   height:.75rem;
               }
            }

        }
    }

    .lesson-link {

        text-align:center;
        align-self: flex-end;
        width: 100%;

        a {
            background:$red;
            @include border-radius-bottom(10px);
            border-left:2px solid $red;
            border-right:2px solid $red;
            border-bottom:2px solid $red;
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: normal;
            padding: 15px 0;
            color:white;
            margin:0 auto;
            
            &:hover {
                background:darken($red,10%);
                border-left-color:darken($red,10%);
                border-right-color:darken($red,10%);
                border-bottom-color:darken($red,10%);

            }
        }
    }
}

.node--type-katacoda-course.node--view-mode-card {
    @include border-radius();
    
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    background:$red;
    height: 100%;

    .node__content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    a {
        color:white;
    }

    .info-outer {

        flex-grow:1;
        @include border-radius-top();
        border-bottom:none;
        padding:20px;

        // Add flex to extend last info box to bottom of tile
        display:flex;
        flex-flow: column;
    }

    .katacoda-course__pre-title {
        span {
            font-size: $katacoda-grid-title-size;
            font-weight: 700;
            color: white;
        }
    }

    .katacoda-course__title {
        h2 {
            font-size: $katacoda-grid-title-size;
            font-weight: 700;
        }
    }

    .katacoda-course__num-lessons {
        span {
            font-weight: 700;
            color: white;
        }
    }

    .katacoda-course__body {
        color:white;
        font-weight:300;
        padding:0;
        // Set this to push the button below it to the bottom
        flex-grow:1;
    }

    .katacoda-course__meta {
        color: white;
        font-weight:300;
        font-size:.8125rem;

        .audience,
        .time-clock {
             display: inline-block;
             width: .75rem;
             height: .75rem;
        }

        .katacoda-course__audience {
            display: inline-block;
        }

        .katacoda-course__time-clock {
            display: inline-block;
            float: right;
        }
    }

    .katacoda-course__cta {
				text-align:center;
        padding: 0;
        align-self: flex-end;
        width: 100%;

        a {
            display:block;
            width:100%;
            text-transform: uppercase;
            background:white;
            color:$red;
            @include border-radius-bottom(10px);
            font-size:1rem;
            border-left:2px solid $red;
            border-bottom:2px solid $red;
            border-right:2px solid $red;
            padding: 15px 0;

            &:hover {
                color:darken($red,20%);
                border-left-color:darken($red,20%);
                border-bottom-color:darken($red,20%);
                border-right-color:darken($red,20%);
            }
				}
    }
}

.screen-size-note {
  text-align: center;

  @media(min-width: 812px) {
    display: none;
  }

  &__logo {
    display: block;
    margin: 20px auto;
  }
}

.katacoda-lesson {
  @media(max-width: 812px) {
    display: none;
  }
}

.mobile-learn-more {
  margin: 20px auto;
}
