// Set Katacoda specific variables & mixins

// Imported variables
$desktop-large:     1240px;
$desktop-small:     992px;
$tablet-landscape:  768px;
$tablet-portrait:    576px;

// Imported Breakpoint settings
$large-screen-breakpoint:         1240px;
$medium-large-screen-breakpoint:  1040px;
$smallest-large-screen-breakpoint: 992px;
$medium-screen-breakpoint:        920px;

// This breakpoint is specific to higher screen-res and large 'phablet' type phones.
$large-phone-breakpoint:812px;

$small-screen-breakpoint:         768px;
$small-phone-breakpoint:          576px;
$wp-admin-bar-small-break:        600px; // This is a breakpoint specific to the WP Admin Bar – required for spacing edits in phone breakpoints
$xtra-small-screen-breakpoint:    480px;


@mixin katacoda-grid-container($gapvalue:2rem) {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: $gapvalue;
    grid-row-gap: $gapvalue;

    @media (max-width:$xtra-small-screen-breakpoint) {
        display:block;
    }
}

@mixin katacoda-grid-element() {
    grid-column: span 4;

    @media (max-width:$medium-screen-breakpoint) {
        grid-column: span 6;
    }

    @media (max-width:$tablet-portrait) {
        grid-column: span 12;
    }
    @media (max-width:$xtra-small-screen-breakpoint) {
        display:block;
        width:100%;
        margin:1em auto;
    }
}

@mixin border-radius($radius:8px) {
    border-radius:$radius;
}

@mixin border-radius-top($radius:8px) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-radius-bottom($radius:8px) {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

// Based on <h1> tag in some presentations
$katacoda-grid-title-size:23px;

.rhd-header {
    &.katacoda-header {
        grid-template-columns: 50% 50%;
        grid-template-rows: 60% 40%;
        
        .rhd-header-logo {
            grid-column: span 1;
            grid-row: span 2;
        }
        .block-entity-fieldnodetitle,
        .block-system-breadcrumb-block {
            grid-column: 2 / span 1;
            width:100%;
        }

        .block-entity-fieldnodetitle {
            grid-row:1 / span 1;
            font-size:21px;
            color:black;
        }

        .block-system-breadcrumb-block {
            grid-row: 2 / span 1;
            nav {
                padding-bottom:0;
            }
           
        }
    }
}

// Katacoda HERO
// Kept separate from other CSS due to differences in HTML structure between view types.
.katacoda-hero {
    background:black;
    
    
    .container {
        padding-top:2em;
        padding-bottom:2em;

        height:470px;
        max-height:470px;
        @include katacoda-grid-container();
        background: url('../images/design/katacoda/rhd-katacoda-header-1410x940.jpg') no-repeat;
        background-size: contain;
        background-position: right;

        @media(max-width:$large-phone-breakpoint) {
            height:auto;
        }

        .content-area {
            grid-column: 1 / span 7;
            color:white;
            h1,h2,h3 {
                color:white;
            }

            // Katacoda Learn More Link in Hero
            a.katacoda-learn-more-link {
                color:white;
                display:block;
                margin-top:2em;
                &:hover {
                    color:$gray-2;
                }
            }
        }
        
    }
}

// Grid and other display layout content
.layout-container {
    &.katacoda-courses {
        header {
            div.rhd-masthead {
                nav {
                    
                    ul {
                        @include flexbox();
                        flex-flow:row nowrap;
                        justify-content: space-between;
                        li {
                            margin:0 .5rem;
                        }
                    }
                }

                // Add a thick bottom border {
                @media(max-width:$large-phone-breakpoint) {
                    border-bottom-width: 32px;
                }
            }
        }

        main {
            div.layout-content {
                .container.katacoda-courses-container {
                    margin:3em auto 5em auto;
                }

                .region-content {
                    .block-system-breadcrumb-block {     
                        margin:0 auto;
                    }
                    
                    .block-system-main-block {
                        .views-element-container {
                            // ALL COURSES DISPLAY PAGE
                            .view-katacoda-all-courses {    
                                .view-content {
                                    @include katacoda-grid-container();
                                    // Individual tiles on courses grid
                                    div {    
                                        @include border-radius();
                                        
                                        @include katacoda-grid-element();
                                        
                                        display:flex;
                                        flex-flow: column;
                                        justify-content: space-between;

                                        background:$red;
                                        a {
                                            color:white;
                                        }

                                        span.views-field-title {
                                            font-size: $katacoda-grid-title-size;
                                            display:block;
                                            padding:20px 20px 0 20px;
                                        }

                                        div.views-field {
                                          
                                            padding:0;
                                            &.views-field-body {
                                                color:white;
                                                font-weight:300;
                                                padding:0 20px;
                                                // Set this to push the button below it to the bottom
                                                flex-grow:1;
                            
                                            }
                                            &.views-field-view-node {
                                    
                                                text-align:center;
                                                span.field-content {
                                                    a {
                                                        display:block;
                                                        width:100%;
                                                        text-transform: uppercase;
                                                        background:white;
                                                        color:$red;
                                                        @include border-radius-bottom(10px);
                                                        border:2px solid $red;
                                                        padding:10px 0;
                                                        &:hover {
                                                            color:darken($red,20%);
                                                        } 
                                                    }
                                                }
                                            }
                                            div.field-content {
                                                padding:0;
                                            }
                                        }
                                       
                                    }
                                }
                            }
                        }
                    }


                    article {
                        // THE INDIVIDUAL COURSE PAGES

                  
                        &.node--type-katacoda-course {                       
                            footer.node__meta {
                                display:none;
                            }

                           

                            div.node__content {
                                // Margin fix for mobile breakpoint for hero 
                                @media(max-width:$large-phone-breakpoint) {
                                    margin-top:0;   
                                }
                                
                                margin:1rem auto;
                                div.field--name-body  {
                                    text-align:center;
                                }

                                div.field--name-field-katacoda-course-url-slug {
                                    display:none;
                                }

                                div.field--type-published-at {
                                    display:none;
                                }

                                // GRID FOR INDIVIDUAL SCENARIO DISPLAYS
                                /**
                                * This is styled differently than on the All course page.
                                * Reason for this is that the All Courses page is displayed in View defaults
                                * whereas Invidivudual Course uses some customized content 
                                * See 'Katacoda Course Page' section of rhdp_preprocess_node() in rhdp.theme
                                */
                                div.katacoda-lesson-grid {
                                    margin:3em auto 5em auto;
                                    @include katacoda-grid-container();

                                    div.katacoda-lesson {
                                        @include katacoda-grid-element();
                                    
                                        // Set flex to push the start button to the bottom
                                        display:flex;
                                        flex-flow: column;
                                        justify-content: space-between;
                                        a {
                                            font-weight:700;
                                            display:block;
                    
                                        }
                                        position: relative;
                                        div.info-outer {
                                
                                            flex-grow:1;
                                            border:2px solid $grey-2;
                                            @include border-radius-top();
                                            border-bottom:none;
                                            padding:20px;

                                            // Add flex to extend last info box to bottom of tile
                                            display:flex;
                                            flex-flow: column;
                                            div.lesson {
                                                width:100%;
                                                &--title {
                                                    a {
                                                        width:100%;
                                                        color:black;
                                                    }
                                                }
                                                &--description {
                                                    font-weight:300;
                                                    // Expand description to fill space and put the publish meta at the bottom   
                                                    flex-grow:1;
                                                }
                                                // This is the author name and publish date
                                                &--time-level,
                                                &--publish-meta {
                                                    font-weight:300;
                                                    font-size:.8125rem;
                                                    color:$gray-4-5;
                                                }

                                                &--publish-meta {
                                                    p {
                                                        font-size:.8125rem; 
                                                    }
                                                }

                                                &--time-level {
                                                   span.time-clock { 
                                                       display:inline-block;
                                                       width:.75rem;
                                                       height:.75rem;
                                                   }     
                                                }
    
                                            }
                                        }

                                        .lesson-link {

                                            text-align:center;
                                            a {
                                                background:$red;
                                                @include border-radius-bottom();
                                                border-left:2px solid $red;
                                                border-right:2px solid $red;
                                                border-bottom:2px solid $red;
                                                text-align: center;
                                                text-transform: uppercase;
                                                font-size:1rem;
                                                font-weight:normal;
                                                padding:20px 0;
                                                color:white;
                                                margin:0 auto;
                                                
                                                &:hover {
                                                    background:darken($red,10%);
                                                    border-left-color:darken($red,10%);
                                                    border-right-color:darken($red,10%);
                                                    border-bottom-color:darken($red,10%);

                                                }
                                            }
                                        }
                                    }
                                }

                            }
                            
                            div.field--name-field-katacoda-course-lessons {
                                
                                @include katacoda-grid-container();
                                
                                div.field__item {
                                    @include katacoda-grid-element();
                                    text-align:center;
                                
                                    a {
                                        background:$grey-4-5;
                                        width:100%;
                                        display:block;
                                        padding: 18px 20px;
                                        text-transform:uppercase;
                                        color:white;
                                        &:hover {
                                            background:$grey-5;
                                        }
                                    }
                                }
                            }
                        }


                        // INDIVIDUAL LESSON  NODE
                        &.node--type-katacoda-individual-lesson {
                            div.node__content {

                                // Margin fix for mobile breakpoint for hero 
                                @media(max-width:$large-phone-breakpoint) {
                                    margin-top:0;   
                                }
                                div.field--name-body {
                                    margin-bottom:1rem;
                                }

                                // Hide lesson at screen widths that are smaller
                                
                                .screen-size-note {
                                    width:80%;
                                    margin:1em auto;
                                    text-align:center;
                                    padding:1em;
                                    display:none;
                                }
                                @media(max-width:$large-phone-breakpoint) {
                                    .katacoda-lesson {
                                        display:none;
                                    }
                                    .screen-size-note {
                                        display:block;
                                        text-align:center;
                                        h1 {
                                            font-size:42px;
                                            clear:both;
                                        }
                                        p {
                                            clear:both;
                                        }
                                        
                                        a {
                                            color:white;
                                            &.mobile-learn-more {
                                               background:#cc0000;
                                               display:block;
                                               margin:2em auto 0 auto;
                                               width:70%;
                                               text-transform:uppercase;
                                               padding:.5rem;
                                               &:hover {
                                                   background:darken(#cc0000,10%);
                                               }

                                           } 
                                        }

                                        img {
                                            max-width:178px;
                                            height:auto;
                                            margin-top:2rem;
                                        }
                                    }
                                }

                                @media(max-width:$small-phone-breakpoint) {
                                    .screen-size-note {
                                        width:70%;
                                        h1 {
                                            font-size:2rem;
                                        }
                                    }
                                }
                            }

                            // Hide display of the time, difficulty and time/author fields on individual scenario page
                            .field--name-field-katacoda-scenario-time,
                            .field--name-published-at,
                            .field.field--name-field-katacoda-skill-level,
                            .field--name-field-katacoda-scenario-author {
                                display:none;
                            }

                            
                        }
                    }
                }
            }
        
        }
    }
}