.kc-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 570px;

  .kc-card {
    background-color: $white;
    margin: 30px 0 15px 0;
    padding: 30px;
    border-top: 4px solid $red;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(105,103,105,1);
    -moz-box-shadow: 0px 3px 6px 0px rgba(105,103,105,1);
    box-shadow: 0px 3px 6px 0px rgba(105,103,105,1);
    text-align: center;
    width: 570px;

    h2 { margin-bottom: 15px; }
    p, input { margin-bottom: 30px; }

    input[name=password] { margin-bottom: 0; }

    .field {
      width: 100%;
      + .field { margin-top: 0; }
    }
    .form-hint {
      text-align: right;
      margin: 10px 10px 0 0;
    }
    .heavy-cta { margin-bottom: 0; }
  }
  span.new-account { font-weight: 600; }

  .login-social { margin: 30px 0 15px 0; }

  .kc-provider-login {
    display: inline-block;
    width: 56px;
    height: 56px;
    margin: 0 7px 20px 7px;
    a {
      height: inherit;
      background-color: $grey-1;
      background-size: contain;
      background-repeat: no-repeat;
      &.stack-overflow { background-image: url('/images/rhd/icons/socialmedia_icons_stack_transparent.png'); }
      &.linkedin { background-image: url('/images/rhd/icons/socialmedia_icons_linkedin_transparent.png'); }
      &.twitter { background-image: url('/images/rhd/icons/socialmedia_icons_twitter_transparent.png'); }
      &.facebook { background-image: url('/images/rhd/icons/socialmedia_icons_facebook_transparent.png'); }
      &.google-plus { background-image: url('/images/rhd/icons/socialmedia_icons_googleplus_transparent.png'); }
      &.windows { background-image: url('/images/rhd/icons/socialmedia_icons_microsoft_transparent.png'); }
      &.github { background-image: url('/images/rhd/icons/socialmedia_icons_github_transparent.png'); }
    }
  }
  @include tablet-landscape-768-and-down {
    .kc-card { width: inherit; }
  }
  @include mobile-landscape-and-down {
    .kc-wrapper { max-width: none; }
    .kc-card {
      border: none;
      box-shadow: none;
      border-bottom: 1px solid $grey-4;
      margin: 0 -15px 15px -15px;
      padding: 15px;
      p { margin-bottom: 15px; }
    }
    .login-social { margin-top: 15px; }
    .social-links {
      max-width: 280px;
      margin: 0 auto;
      .kc-provider-login {
        width: 40px;
        height: 40px;
        a { margin-bottom: 0; }
      }
    }
  }
}

//hack to change BG color, needs to be removed before merging
.rhdp-login, .rhdp-login .site-wrapper { background-color: $grey-1; }

@include mobile-landscape-and-down {
  .rhdp-login .content-wrapper { padding-top: 0; }
}
