/* Misc Mobile styles */
@include desktop-and-down {
  .content-wrapper {
    padding:15px;
  }

  .hero {
    margin-left:-15px;
    margin-top: -15px;
    margin-right: -15px;
  }

}


@include desktop-small-and-down {

  body .atlwdg-popup {
    width:95%;
    margin:2.5%;
  }
}

@include tablet-landscape-768-and-down {

  // Everything
  .wrapper {
    width:100%;
  }

  .cta {
    width:100%;
    clear:both;
    margin:0 0 10px 0;
    .button {
      width:100%;
      clear: both;
    }
  }

  .intro {
    &.intro-layout2 {
      h2 {
        padding:0;
        font-size: emCalc(25);
      }
    }
  }

  /* Development Tools */
  .development-tool-category {
    .ulist {
      margin-left: 0;
      ul {
        margin-left: 0;
      }
    }
    .development-tool {
      width:100% !important;
      margin:0 !important;
      margin-bottom: 20px !important;
      height:auto !important; // overwrite the inline JS styles
      min-height:none;
      a.button {
        position: relative;
        margin-bottom: 20px;
      }
    }
  }

  table.demos {
    th {
      display: none;
    }
    tbody {
      tr {
        display: block;
        width: 100%;
        padding:10px;
        padding-bottom: 0;
        &.desc {
          padding-bottom:0;
          padding-top: 0;
        }
        td {
          width:100%;
          display: block;
          padding-left: 0;
          padding-right: 0;
          max-width:none !important;
          &:nth-child(2):before { content : 'Technology: '; font-weight: 600;}
          &:nth-child(3):before { content : 'Use Case : '; font-weight: 600;}
        }
      }
    }
  }


} // end mq

@include mobile-portrait-and-down {
  // Material
  li.material {
    margin:0;
    margin-bottom: 20px;
    padding:0;
    width:100%;
    a.thumbnail {
      display: block;
      width:100%;
      img {
        width:100%;
      }
    }
  }

  // Projects
  li.upstream {
    width:100%;
  }
}

@include mobile-landscape-and-down {
  .spotlights {
    img {
      margin-bottom: 20px;
    }
  }
}

// 3rd level nav on solutions pages
@include tablet-landscape-768-and-down {

  .side-nav {
    li {
      display: none;
      &.active {
        display: none;
      }
      &.side-nav-toggle {
        display: list-item;
        background:$red;
        padding:10px;
        margin: 0;
        a {
          color:white !important;
          &:after {
            display: inline-block;
            padding:0 10px;
            content:'▼';
            font-size: 10px;
          }
        }
      }
    }
    &.side-nav-open {
      li {
        display: list-item;
        &.side-nav-toggle a:after {
          @include transform(rotate(-90deg));
        }
      }
    }
  }
}

// Events mobile styles

@include mobile-landscape-and-down {
  .events-listing li {
    display: block;
    width: 100%;
  }
}
@media (max-width: 767px) {
.events-control {
  input[type] {
    &.datepicker {
      width:100%;
     }
   }
 }
}

// Home specific mobile styles

@media (max-width: 767px) {

.mobilehome h3 {
  border-bottom: double $grey-3;
  }

.updatemobile {
  border-bottom: 1px solid $grey-3;
  margin-bottom: 20px;
  }

.updatemobile:last-child {
  border-bottom: none;
  }

.pinned:last-child  {
  border-bottom: 1px solid $grey-3;
  }

.viewall {
  padding-top: 5px;
  }

.hidden {
  display:none;
}
}


// mobile hero swap on home page.

@media (max-width: 480px) {

  .desktop {
    display:none;
  }

  .mobile {
    display:block;
    padding-bottom: 20px;
  }


}

// Newsletter mobile style

@media (max-width: 767px) {

.newsletterspacing {
  padding-top: 2em;
  }
}

// Mobile Nav

@include tablet-landscape-768-and-down {

  .hero {
    &.hero-wide {
      .columns {
        padding: 0;
      }
    }
    h2.blowout {
      font-size: 50px !important;
    }
  }

}
