//
// Pagination Variables
//

// We use these to control the pagination container

// $pagination-height: emCalc(24);
// $pagination-margin: emCalc(-5);

// We use these to set the list-item properties

// $pagination-li-float: $default-float;
// $pagination-li-height: emCalc(24);
// $pagination-li-font-color: #222;
// $pagination-li-font-size: emCalc(14);
// $pagination-li-margin: emCalc(5);

// We use these for the pagination anchor links

$pagination-link-pad: emCalc(8) emCalc(15);
// $pagination-link-font-color: #999;
// $pagination-link-active-bg: darken(#fff, 10%);

// We use these for disabled anchor links

// $pagination-link-unavailable-cursor: default;
// $pagination-link-unavailable-font-color: #999;
// $pagination-link-unavailable-bg-active: transparent;

// We use these for currently selected anchor links

$pagination-link-current-background: $blue;
// $pagination-link-current-font-color: #fff;
$pagination-link-current-font-weight: normal;
// $pagination-link-current-cursor: default;
// $pagination-link-current-active-bg: $primary-color;


#paginator {
  border-top: 1px solid $grey-4;
  padding-top: 15px;
  clear: both;
  ul.pagination {
    font-size: 0;
    height: auto;
    @media only screen and (min-width: 64.063em) {
      float: right;
    }
    li {
      position: relative;
      float: left;
      padding: 0;
      line-height: 1.42857;
      text-decoration: none;
      color: $link;
      background: #fff;
      border: 1px solid #ddd;
      margin-left: -1px;
      height: auto;

      &:before {
        display: none;
      }
      &.one-page {
        visibility: hidden;
        margin-top: 0;
      }
      a{
        padding-top: 0.6em;
        transition: none;
        cursor: pointer;
        min-height: 36.39px;
        &:hover, &:focus{
          color: #005582 !important;
          background: #eee;
          border-color: #ddd;
        }
      }
      &.current a{
        z-index: 2;
        color: #fff !important;
        background: #0088ce !important;
        border-color: #0088ce !important;
      }
      &.unavailable {
        background-color: #F7F7F7;;
        cursor: auto;
        pointer-events: none;
      }
    }
  }
}
