// Upstream Projects
li.upstream {
  font-size: emCalc(13);
  padding-bottom: 45px;
  .defaultprojectimage {
    border:1px solid $grey-5;
    width:100%;
    p.image-link {
      text-align: center;
      margin: 10px;
    }
  }

  h5.solution-name .solution-name-link{
    font-weight: 800;
  }

  a.image-link {
    img {
      background: $white;
      width:100%;
    }
  }
  a.upstream-toggle-more {
    display: block;
    clear:both;
    margin-top: 5px;
    span.view-less { display: none; }
    &.upstream-toggle-open {
      span.view-less { display: inline; }
      span.view-more { display: none; }
    }
    i {
      margin-left: 5px;
    }
  }
  .upstream-more-content {
    display: none;
  }
  p {
    margin-bottom: 10px;
  }
  h3 {
    color:$link;
    font-weight: 600;
    font-size: emCalc(24);
    margin:10px 0;
  }
}

ul.featured-projects-results {
  margin: 0;
  & > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em;
    max-width: 268px;
    .defaultprojectimage {
      width:100%;
      border: 0;
      background:none;
      height:auto;
    }
  }
  a.image-link {
    img {
      width:100%;
      border:1px solid $grey-4;
      padding:5px;
    }
  }
}

.project-content {
  display: none;
}

.project-details-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: hidden;
    font-size: emCalc(16);
    a {
      i {
        color: $link-sm;
      }
      &[href*="jboss.org"] {
        i {
          display: none;
        }
        svg[data-icon="external-link"] {
          display: none;
        }
      }
    }
  }
}

.project-filters {
  h4 {
    font-size: 23px;
    font-weight: 600;
  }
  h5 {
    font-size: 18px;
    font-weight: 600;
  }
  .project-filters-clear {
    font-size: 14px;
    margin-left: 5px;
  }
}

.project-content-left {
  position: static;
  p {
    margin:5px 0;
  }
}

ul.project-social {
  list-style: none;
  margin: 0;
  position: absolute;
  bottom: 10px;
  li {
    display:inline;
    a {
      font-size: 30px;
      color:$grey-3;
    }
  }
}


@include mobile-portrait-and-down {
  ul.featured-projects-results {
    margin: 0;
    li {
      padding: 0;
    }
  }
}

.hero.hero-projects {
  background: url('https://static.jboss.org/rhd/images/RHDev_pageheader_upstream_desktop.png') top center / cover no-repeat;
  content : ':4242';
  border:0;
  min-height: 220px;
  margin-bottom: 0;

  h2 {
    color:white;
    font-size: 4em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 600;
  }
  @include desktop-small-and-down {
    h2 {
      font-size: 4em;
    }
  }
  @include tablet-landscape-768-and-down {
    background: url('https://static.jboss.org/rhd/images/RHDev_pageheader_upstream_tablet.png') top center / cover no-repeat;
    min-height: auto;
    h2 {
      margin-top: 10px;
      line-height: 1;
    }
  }
  @include mobile-landscape-and-down {
    background: url('https://static.jboss.org/rhd/images/RHDev_pageheader_upstream_mobile.png') top center / cover no-repeat;
  }
  p {
    color: white;
    font-size: 20px;
  }
  .row {
    // @extend .flex-center;
  }
}
