// Products
.hero.hero-wide.product-header {
    margin-bottom: 0;
    border: none;
}

.products-content {
  padding: 0;
}

.product-graphics {
  padding-bottom: 5em;
}

div.mobile.product-color {
  margin: -15px -15px 10px -15px;
  padding-bottom: 0;
}

.mobile.product-header {
  border-bottom: none;
  padding-bottom: 0;

  h3 {
    font-weight: 600;
    color: $grey-8;
  }
}


// should only display in mobile
.mobile.build-panel {
  display: none;
  border-style: solid;
  border-width: 1px;
  border-color: $grey-4;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: $grey-2;
  color: #333333;

  .fa-caret-right:before {
    margin-left: 5px;
  }

  .outside-links strong{
    color: $black;
  }

}

.mobile.product-header, .mobile.build-panel {
  a.button {
    display: block;

    &.inverse {
      border: 2px solid $red;
      margin-left: 0;
    }
  }
}

.product {
  .toolbar {
    text-align: right;
    a {
      margin-right: 1em;
    }
  }
  p {
    font-style: italic;
  }
  h4 {
    margin-bottom: 0;
    font-weight: normal;
  }
}

.product-header{
  padding: 20px 15px 15px 15px;
  h3 {
    font-weight: 100;
    margin-bottom: 0;
    font-size: 27px;
  }
  @include desktop-and-down {
    padding:20px;
  }
}

#hero-try-or-buy {
  display: none;
}

.product-placeholder{
  width: 100%;
  height:250px;
  background-color: rgb(237, 237, 237);
  border: none;
}

.product-video h4{display: none;}

#product-features{
  margin: 1.5em 0;
  .feature-icon {
    text-align: center;
    p {
      color: $grey-5;
      margin-bottom: 0;
    }
    img {
      max-width: 160px;
    }
  }

  .feature-text {
    text-align: center;
    h4{
      font-size: 1em;
      text-transform: uppercase;
      color: $red;
    }
    .paragraph{
      text-align: left;
    }
  }
}

.hero-placeholder{
  height: 300px;
  background-color: $grey-2;
}

.development-tools {
  margin-top: 20px;
  h2 {
    clear: both;
  }
}

.development-tool-category {
  .category-label{
    margin-bottom: 40px;
    margin-top: 50px;
    h5{
      text-transform: uppercase;
      color: $black;
      margin-bottom: 0;
      font-size: 30px;
    }
  }

  .divider{
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 5px;
    height: auto;
  }
  .indent-product {
    margin-left: 2em;
    .large-8 {
      margin-left: -.7em;
    }
    @include desktop-small-and-down {
      .large-8 {
        margin-left: 0;
      }
    }
  }
}
#development-tool {
  .download-link{
    width: 100%;
    background-color: $grey-2;
    padding: 15px 15px;
    text-align: center;
  }
  .download-link a:before{
    display: none;
  }
  a.button{
    max-width: 265px;
    margin: 0 auto 5px auto;
    display: block;
    padding: .8rem 2rem;
  }
  .download-sublabel{
    font-size: 70%;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }
  .tool-links{
    padding: 15px 15px;
    text-align: center;
    li:last-child{margin-left: 8px;}
  }
}

.band-tabs {
  .nav-tabs {
    font-size: 0; // ghost space
    li {
      margin: 0;
      &.active {
        a {
          color:$grey-8;
          background:white;
          &:after {
            background:$red;
          }
        }
      }
      a {
        background:$grey-8;
        text-transform: uppercase;
        font-size: 20px;
        padding:15px 15px 24px 15px;
        display: inline-block;
        min-width:250px;
        color: white;
        &:after {
          bottom:10px;
          left:15px;
          background-color: #888;
        }
      }
    }
  }
}

.downloads-table {
  background: #f5f5f6;
  padding: 0;  
}

@include mobile-landscape-and-down {
  .products-content {
    padding: 0 1em;
  }


  .side-nav li.side-nav-toggle {
    background: $grey-7 !important;
  }

  .product-page-content {
    padding-top: 0px;

    h2:first-of-type {
      font-size: 22px;
      font-weight: 700;
    }
  }
  .row.content.product-page-content {
    padding-top: 0;
  }
  
  .mobile.build-panel {
    display: block;
  }

  .product-graphics .row.content {
    padding-top:0;

    h2.subpage-name {
      font-size: 1.5em;
    }
  }
}

ul.product-langs {
  margin-top: 25px !important;
  li {
    background-color: $grey-2;
    padding: 50px 0 35px 0;
    margin: 10px 20px 10px 0;
    width: 195px;
    list-style: none;
    &:before {
      display: none;
    }
    .lang-logo {
      height: 50px;
      margin-bottom: 15px;
      img {
        max-width: 125px;
        display: block;
        margin: 0 auto;
      }
    }
    .prod-lang-name {
      text-align: center;
      color: $red;
      font-weight: 100;
      margin: 0 5px;
    }
  }
  @include desktop-small-and-down {
    li {
      width: calc(33% - 20px);
      min-height: 189px;
    }
  }
  @include mobile-landscape-and-down {
    li {
      width: calc(50% - 20px);
    }
  }
}

.sp-header {
  margin: 35px 0 15px 0 !important;
  p {
    font-size: rem-calc(18);
  }
}

.gs-header .paragraph {
  display: inline-block;
  p {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 0;
  }
}

.os-tabs.tabs-content {
  width: 100%;
  margin-left: 0;
  padding: 0;
}

.label.material-duration {
  max-width: 45px;
  padding: 0 6px;
}

.product-updates {
  .ulist li {
    margin-bottom: 5px;
  }
}

.top-section {
  span {
    display: inline;
    &.product-video {
      width: 415px;
      margin-left: 20px;
    }
  }
}
@include mobile-landscape-and-down {
  .top-section span {
    display: block;
    &.product-video {
      width: 340px;
      margin-left: 0;
    }
  }
}

.docs-and-apis-ec table{
  width: 100%;
  caption {
    color: $grey-7;
  }
}

.forums-stack-row {
  margin: 2em 0;
}

.services-and-support {
  ul{
    margin: 1.5em -15px !important;
    text-align: center;
    h5 {
      color: $red;
      margin-bottom: 5px;
      &.offset-img {
        margin-top: -22px;
      }
    }
    a.button {
      margin-top: 1em;
    }
    img {
      width: 60%;
      margin: 10px auto;
      opacity: 0.4;
    }
  }
}

.latest-discussions, .top-qa {
  h4 {
    color: $red;
  }
  h4 i {
    color: $grey-3;
  }
  a {
    color: $link;
  }
  .see-all {
    float: right;
    margin-top: 13px;
  }
}

rhdp-tryitnow {
  section {
    background-color: $green;
    height: auto;
    min-height: 150px;
  }
  .row {
    padding: 30px 1em;
    img {
      height: 90px;
      width: 90px;
      float: left;
    }
    .tryitnow-titles {
      width: calc(100% - 335px);
      float: left;
      padding: 0 1em;

      h4, h5 { color: $white;}
      h4 { margin: 0; }
      h5 {
        padding-top: 15px;
        margin-top: 0;
      }
    }
    a.button.medium-cta.white {
      margin-top: 30px;
      &:hover, &:focus { color: #656565; }
    }
  }
  @media only screen and (max-width: 1170px) {
    section {
      margin-left: -15px;
      margin-right: -15px;    
    }
  }
  @include tablet-landscape-768-and-down {
    .row span { width: calc(100% - 90px); }
    a.button.medium-cta.white { left: 107px; }
  }
  @include mobile-landscape-and-down {
    section { margin-top: -10px; }
    rhdp-tryitnow { display: none; }      
  }
}

// 3rd level nav on solutions pages 
// .side-nav css depends on Foundation Side Nav Component

.side-nav {
  border:0;
  padding:0 !important;
  overflow: hidden;
  margin-top: 1rem !important;
  margin-bottom: 20px !important;
  background:white;
  li {
    margin:0 0 15px 0 !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #BDBDBD;
    a {
      padding:0 10px 0 0 !important;
      font-weight: 400 !important;
      font-size: emCalc(18);
      position: relative;
      color:$grey-5 !important;
      text-align: left;
      &:hover, &:focus {
        background:none !important;
        color: $black !important; 
      }
    }
    &.active, &:active {
      border-bottom: 2px solid $red;
    }
    &.active a,
    &.active:hover a{
      font-weight: 600 !important;
      color: $black !important;
    }
    &.side-nav-toggle {
      background-color: #424242 !important;
      margin-bottom: 10px;
      display: none;
      a {
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
        text-align: right;
        margin-bottom: 4px;
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .side-nav li.side-nav-toggle a:before {
    display: none !important;
  }
}


@include tablet-landscape-768-and-down {

  .side-nav {
    li {
      display: none;
      &.active {
        display: none;
      }
      &.side-nav-toggle {
        display: list-item;
        background:$red;
        padding:10px;
        margin: 0;
        a {
          color:white !important;
          &:after {
            display: inline-block;
            padding:0 10px;
            content:'▼';
            font-size: 10px;
          }
        }
      }
    }
    &.side-nav-open {
      li {
        display: list-item;
        &.side-nav-toggle a:after {
        }
      }
    }
  }
}

button.tiny, .button.tiny {
    padding-top: .625rem;
    padding-right: 1.25rem;
    padding-bottom: .6875rem;
    padding-left: 1.25rem;
    font-size: .6875rem;
}

#guides-row{
  border-bottom: 1px solid #d5d5d5;
  margin: 1em 0 0 0;
  .dropdown.button, button.dropdown {
    float: right;
    margin-top: 15px;
  }
  & > div {
    padding-left: 0;
  }
  h5 {
    margin: 5px 0;
  }
  p {
    margin-top: 0;
  }
}
#guides-row:last-child {
  border-bottom: none;
}

.more-guides{
  margin: 1.5em auto;
}

.f-dropdown {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: #fff;
  border: solid 1px #ccc;
  font-size: .875rem;
  z-index: 89;
  margin-top: 2px;
  max-width: 200px;
}

.rh-downloads{

  table.downloads-table {
    border-collapse: collapse;
    background-color: rgb(213, 213, 213);
    thead tr th {
      padding: 5px;
      min-width: 110px;
    }
    .download-links {
      a {
        display: inline;
        margin-left: 0;
        width: auto;
        height: auto;
      }
      a + a {
        margin-left: 10px;
      }
    }
  }

  .view-older-downloads{
    margin-bottom: 20px;
  }
  .download-link {
    h4 {
      a {
        &:before {
          font-family: 'FontAwesome';
          content: "\f01a";
          padding-right:3px;
        }
      }
    }
    a.button {
      display: block;
      margin: 0 auto 5px auto;
    }
    .version-name {
      text-align: center;
    }
  }

  a.download-link {
    &:before {
      font-family: 'FontAwesome';
      content: "\f01a";
      padding-right:3px;
    }
  }
}

@include mobile-landscape-and-down {
  .rh-downloads {
    table.downloads-table {
      thead tr th {
        padding: 5px;
        min-width: auto;
      }
      .download-links a, .download-links a + a {
        display: block;
        margin-left: 0;
      }
    }
  }
}

.large-16.small-24.columns{
  a.button{
    &.medium-cta.blue {
      &:hover{
        background-color: #0088ce;
        color: #fff;
      }
      border-color: #0088ce;
      color: #0088ce;
    }
    margin-bottom: 1.25rem;
    margin-top: 0px;

  }
}

.has-download {
  .caps {
    text-transform: uppercase;
    margin-top: .2rem;
    margin-bottom: .5rem;
  }
  .large-16.columns{
    p{
      font-family: inherit;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5;
      margin-top: 0px;
      margin-bottom: 1.25rem;
      text-rendering: optimizeLegibility;
    }
  }
}

.panel.callout {
  border-style: solid;
  border-width: 1px;
  border-color: #d2d9e3;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #f3f5f8;
  color: #333;
  h5 {
    margin: 0px 0px 10px 0px;
  }
  .field__item {
    p {
      margin: 0px 0px 20px 0px;
    }
  }
}
