.rhd-footer-nav {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-start: 3;
  grid-column-end: 8;
  padding: 30px 0;

  > .rhd-menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .rhd-menu > .menu-item.menu-item--expanded {
    list-style: none;
  }

  a {
    font-size: 14px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 10px;
    i {
      font-size: 13px;
      margin-left: 5px;
    }
    &:active, &:focus, &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
  .menu-item--expanded > a{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin: 15px 0 20px 0;
    pointer-events: none;
  }

  .menu-item--expanded .rhd-menu {
    margin: 20px 0;

    .menu-item {
      margin-bottom: 10px;
    }
  }
}

.rhd-footer-sidebar {
  grid-column-start: 8;
  grid-column-end: 11;
  padding: 20px 30px 30px 30px;

  &-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin: 15px 0 10px 0;
  }

  &-content, a {
    color: $white;
    font-size: 14px;
  }

  a, a:hover, a:active, a:focus {
    text-decoration: underline;
    color: $white;
  }

  &-subtitle {
    color: $white;
    font-size: 16px;
    margin-bottom: 20px;
  }
  &-social {
    list-style: none;
    margin: 0;
    padding: 4px 0;
    display: inline;
    li {
      display: inline;
      margin-left: 16px;
      float:none;
      &:first-child { margin-left: 0; }
      a {
        font-size: 1.5rem;
      }
    }
  }
  &-signup {
    float: right;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
  }
}

.rh-universal-footer {
  padding: 15px 0 10px 0;
}

.rh-universal-footer-rh-logo {
  grid-column-start: 3;
  grid-column-end: 4;
}

.rh-universal-footer-legal {
  grid-column-start: 4;
  grid-column-end: 10;
  justify-self: center;
  margin: .5em 1em;
  padding-left: 0;
  list-style: none;

  .rhd-menu {
    display: inline;
  }

  & > li, .rhd-menu li {
    margin: 0;
    display: inline;
    a {
      font-size: 14px;
      color: #858585;
      display: inline;
      &.copyright {
        width: 220px;
        cursor: default;
        text-decoration: none;
        margin-right: 3em;
      }
    }
  }
  .rhd-menu li {
    &:after {
      content: '|';
      margin: 0 10px;
      display: inline-block;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.rh-universal-footer-summit-logo {
  grid-column-start: 10;
  grid-column-end: 10;
  justify-self: end;
}


@media screen and (max-width: 1024px) {
  .rhd-footer-nav {
    grid-column-start: 1;
    padding: 30px;
  }
  .rhd-footer-sidebar {
    grid-column-end: -1;
  }
  .rh-universal-footer-rh-logo {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
  }
  .rh-universal-footer-legal {
    grid-column-start: 3;
    grid-column-end: 12;
  }
  .rh-universal-footer-summit-logo {
    grid-column-start: 12;
    grid-column-end: -1;
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .rh-universal-footer {
    padding: 1em;
  }
  .rh-universal-footer-legal {
    margin-left: 0;
  }
  .rh-universal-footer-rh-logo,
  .rh-universal-footer-legal,
  .rh-universal-footer-summit-logo {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: start;
  }
}

@media screen and (max-width: 480px) {
  .rh-universal-footer-legal > li {
    display: block;
    &:after {
      display: none;
    }
  }
}
