.stackoverflow-results-container {
  .stackoverflow-product-update .update, .stackoverflow-update .update{
    
    .qtn-stats {
      padding-top: 5px;
      div {
        display: inline-block;
        text-align: center;
        margin-right: 4px;
        width: 30%;
        min-height: 80px;
        max-width: 80px;
        max-height: 80;
        padding-top: 15px;
        p {
          font-size: .8em;
        }
        h4 {
          margin-bottom: 0;
          line-height: 1;
        }
        &.answer-count {
          border: 2px solid #8ed300;
        }
        &.accepted-answer {
          background-color: #8ed300;
          color: $white;
          h4 {color: $white;}
        }
        &.votes-count, &.views-count {
          border: 2px solid $grey-4;
          background-color: $grey-4;
          color: $white;
          h4, p {color: $white;}
        }
      }
    }
    .so-author {
      float: right;
    }
    a.qtn-title {
      color: $link;
      font-weight: 600;
      font-size: 1.4375rem;
      margin-bottom: 8px;
    }
    p.qtn-content {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 70px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-bottom: 10px !important;
      margin-top: 8px;
    }
    span.qtn-answer {
      display: block;
      margin-top: 1em;
    }
    .callout{
      background-color: $grey-1;
      margin: 10px 0;
      padding: 20px;
      a {
        color: $link-dark-background;
      }
    }
  }
  .stackoverflow-update .update{
    margin-top: 2em;
  }
}

.so-product-result {
  padding: 0;
}

.stackoverflow-product-update .update {
  padding: 0 1em 0 0;
  .update-meta {
    padding-bottom: 5px;
    border-bottom: 1px solid $grey-2;
    min-height: 120px;
  }
  .qtn-title {
    min-height: 50px;
    a {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: 50px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

.stackoverflow-update .update{
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e7e8;
}

.hero.stackoverflow-main {
  background-color: #0089d0;
  padding: 40px 0;
  border: none;
  margin-bottom: 0;
  h3, p {
    color: $white;
  }
}

.stack-help {
  background-color: $grey-8;
  margin-bottom: 25px;
  h3 {
    text-align: right;
    color: $grey-4;
  }
  p {
    color: $white;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 0 0 0;
    margin-bottom: 5px;
  }
  a {
    color: $link-dark-background;
    &:hover, &:active {
      color: $link;
    }
  }
}

.stackoverflow-filters {
  padding-top: 1em;

  label {
    font-weight: 800;
    color: $grey-6;
    font-size: 1.6em;
    margin-right: 20px;
    display: inline-block;
  }
  .styled-select {
    display: inline-block;
    z-index: 1;
  }
}

.qtn-answer {
  &.display-answer{
    display: block;
  }
  &.hide-answer{
    display: none;
  }
}

.qtn-answer p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 70px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 10px !important;
}

div.so-tags{
  margin-top: 5px;
  .tag:not(:nth-last-of-type(2)):after {
    content: ', ';
  }
}

div.so-tags > *:nth-last-child(2) {
  &:after { content: ''; }
}

strong.tag-label, .qtn-answer strong {
  margin-right: 5px;
}

@include desktop-small-and-down {
  .hero.stackoverflow-main { padding: 40px 30px; }
  .stackoverflow-main{
    img {
      max-width: 500px;
      margin-bottom: 20px;
    }
  }
  .stack-help {
    margin: 0 -15px 25px -15px;
    padding: 20px 15px;
    h3 { text-align: left; }
  }
  .qtn-stats { margin-bottom: 15px; }
}

@include mobile-landscape-and-down {
  .stackoverflow-results-container .stackoverflow-update .update span.so-author {
    float: none;
    margin-top: 5px;
    display: block;
  }

}
#forumsContainer {
  display: none;
}

.so-sorting {
  margin-top: 20px;

  select.results-count {
    width: auto;
    margin: 0 1em;
  }
}
