rhdp-thankyou {
  .thankyou{
    border-bottom: 1px solid #d5d5d5;
    padding: 0 0 2em 0;

    iframe {
      display: none;
    }

    h2{
      text-align: center;
    }
  }

  .thankyou-button{
    text-align: center;
    padding: 2em 0 0 0;
    margin-bottom: 3em;
    a.button.heavy-cta{
      text-align: center
    }
  }
}
