.view-taxonomy-term{
  h1 {
    margin-top: 45px;
    margin-bottom: 0;
    font-size: 2em;
    @include tablet-portrait {
      margin-top: 90px;
      font-size: 50px;
    }
  }
  .view-content {
    border-top: 2px solid #F5F5F5;
    padding-top: 45px;
    margin-top: 45px;
    @include tablet-portrait {
      padding-top: 90px;
      margin-top: 75px;
    }
    .views-row {
      float: left;
      width: 100%;
      margin-bottom: 75px;
      .article-teaser-image {
        margin-bottom: 0;
        @include tablet-landscape-768-and-down {
          margin-bottom: 15px;
          text-align: center;
        }
      }
      h5 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 27px;
        line-height: 42px;
        a{
          color: $gray-8;
          &:hover {
            color: $blue;
          }
        }
      }
      p {
        margin: 0;
        color: #242424;
        font-size: 16px;
        line-height: 24px;
      }
      .event-item {
        list-style: none;
        @include tablet-landscape-768-and-down {
          text-align: center;
        }
        .event-thumbnail {
          width: 25%;
          float: left;
          padding-left: 1em;
          padding-right: 1em;
          position: relative;
          @include tablet-landscape-768-and-down {
            width: 100%;
            max-width: 480px;
            margin-bottom: 15px;
            float: none;
            padding: 0;
          }
        }
        .event-info {
          width: 75%;
          float: right;
          padding-left: 1em;
          padding-right: 1em;
          position: relative;
          @include tablet-landscape-768-and-down {
            width: 100%;
          }
          .event-title {
            display: block;
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 27px;
            line-height: 42px;
            color: $gray-8;
            font-weight: 600;
            font-size: 27px;
            line-height: 42px;
            &:hover {
              color: $blue;
            }
          }
          .event-date {
            display: none;
          }
          p {
            margin: 0;
            color: #242424;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .rhd-list-entry {
        display: block;
        float: left;
        width: 100%;
        margin: 0;
        @include tablet-landscape-768-and-down {
          display: flex;
          flex-wrap: wrap;
        }
        .rhd-list-entry--image {
          float: left;
          width: 25%;
          @include tablet-landscape-768-and-down {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
            order: 1;
          }
        }
        .text-content {
          float: right;
          width: 75%;
          .rhd-list-entry--title {
            font-size: 27px;
            line-height: 42px;
            font-weight: 600;
            a {
              color: #242424;
            }
          }
          .rhd-list-entry--summary {
            display: block !important;
            color: #242424;
            font-size: 16px;
            line-height: 24px;
          }
          @include tablet-landscape-768-and-down {
            width: 100%;
            order: 2;
          }
        }
        .rhd-list-entry--comment-link,
        .rhd-play-button {
          display: none;
        }
      }
    }
  }
  .pager {
    margin-bottom: 30px;
    ul {
      padding: 0;
      margin: 0;
    }
  }
  .feed-icons {
    margin-bottom: 90px;
  }
}
