.view-taxonomy-term{
  h1 {
    margin-top: 45px;
    margin-bottom: 0;
    font-size: 2em;
    @include tablet-portrait {
      margin-top: 90px;
      font-size: 50px;
    }
  }
  .view-content {
    border-top: 2px solid #F5F5F5;
    padding-top: 45px;
    margin-top: 45px;
    @include tablet-portrait {
      padding-top: 90px;
      margin-top: 75px;
    }
    float: left;
    .views-row {
      margin-bottom: 75px;
      float: left;
      width: 100%;
      > a {
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        @include tablet-portrait {
          width: 20%;
          margin-right: 2%;
          text-align: left;
        }
      }
      .field-content {
        float: left;
        width: 100%;
        @include tablet-portrait {
          width: 78%;
        }
      }
      h3 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 27px;
        line-height: 42px;
        a{
          color: $gray-8;
          &:hover {
            color: $blue;
          }
        }
      }
      p {
        margin: 0;
      }
    }
  }
  .pager {
    margin-bottom: 30px;
    ul {
      padding: 0;
      margin: 0;
    }
  }
  .feed-icons {
    margin-bottom: 90px;
  }
}
