@import "fonts/fonts";
@import "colors";
@import "global";
@import "container";
@import "typography/typography";
@import "patterns/patterns";
@import "assembly/assembly";
@import "foundation/foundation";
@import "navigation";
@import "mq-mixins";
@import "rhd-footer";
@import "slick";


// Stylesheets for microsites
@import "about";
@import "awards";
@import "content-contributors";
@import "devnation-live";
@import "devnation2015";
@import "devnation2016";
@import "devoxx-be";
@import "devoxx4kids";
@import "devoxxfrance";
@import "eclipse";
@import "forums";
@import "javaone";
@import "ticket-monster";
@import "vjbug";



[data-rhd-grid="normal"] {
    display: flex;
    flex-direction: column;

    display: grid;
    grid-template-columns: auto repeat(12, 70px) auto;
    grid-gap: 30px;
    grid-template-rows: auto;


}

[data-rhd-pos="span12"] {
  grid-column: 2 / span 12;
}

body > header,
body > main,
body > footer {
    flex: 0 0 auto;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
}

.rh-universal-header {
  background-color: #1A1A1A;
  flex: 0 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #5e6a71;
}
.rh-universal-footer {
    background-color: #1A1A1A;
    flex: 0 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5e6a71;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .rh-footer-logo, .rh-summit-footer-logo {
        flex: 0 0 300px;
    }

    .contentinfo {
        flex: 1 1 auto;
    }
}

.rhd-footer {
    background-color: $dark-gray;
    color: $white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.rhd-footer-nav {
    flex: 1 1 auto;
}

.rhd-footer-sidebar {
    background-color: $red;
    flex: 0 0 33%;
}

.visually-hidden {
  display: none;
}

.page-title, .field--name-body, #block-rhdp-local-tasks {
  @extend .container;
}
.field--name-body {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

.rhd-search-wrapper {
  .user-search {
    color: #000;
    font-size: 14px;
    line-height: 1;
    padding: 4px 10px;
    padding-right: 40px;
    display: block;
    width: 100%;
    &::-webkit-input-placeholder {
      color: #000;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: #000;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: #000;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: #000;
      opacity: 1;
    }
    &::placeholder {
      color: #000;
      opacity: 1;
    }
  }
  .search-bar {
    position: relative;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px;
    color: #424242;
    border: none;
    background-color: transparent;
    &:hover, &:active, &:focus {
      background-color: transparent;
    }
  }
}

.rhd-search-toggle {
  background-color: transparent;
  color: inherit;
  padding: 0;
}

.caret-right {
  &:after {
    color: inherit;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" fill="#0066CC"/></svg>');
    width: 0.45em;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    position: relative;
    top: 0.1em;
  }
}
