@import "fonts/fonts";
@import "colors";
@import "global";
@import "container";
@import "typography/typography";
@import "patterns/patterns";
@import "assembly/assembly";
@import "foundation/foundation";
@import "navigation";
@import "mq-mixins";
@import "rhd-footer";
@import "slick";
@import "learning-paths";


// Foundation dependent 
@import "products";
@import "adaptive-placeholder";
@import "keycloak-pages";
@import "get-started";
@import "developer-materials";
@import "buzz";
@import "confirmation";
@import "middleware";
@import "projects";
@import "thank-you";
@import "books";
@import "cheat-sheet";
@import "videos";


// Stylesheets for microsites
@import "about";
@import "awards";
@import "content-contributors";
@import "devnation-live";
@import "devnation2015";
@import "devnation2016";
@import "devoxx-be";
@import "devoxx4kids";
@import "devoxxfrance";
@import "eclipse";
@import "forums";
@import "javaone";
@import "ticket-monster";
@import "vjbug";



[data-rhd-grid="normal"] {
    display: flex;
    flex-direction: column;

    display: grid;
    grid-template-columns: [leftgutter] auto repeat(12, [content-start] 70px) auto [rightgutter];
    grid-template-rows: minmax(30px, 1fr);
    grid-auto-flow: column;
    grid-gap: 30px;
}

[data-rhd-pos="span12"] {
  grid-column: content-start / span 12;
}

// Hides title from Basic Pages
body.page-node-type-page,
body.path-products,
body.page-node-type-video-resource {
  h1.page-title {
    display: none;
  }
}

.rh-universal-header {
  background-color: #1A1A1A;
  flex: 0 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #5e6a71;
}
.rh-universal-footer {
    background-color: #1A1A1A;
    flex: 0 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5e6a71;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .rh-footer-logo, .rh-summit-footer-logo {
        flex: 0 0 300px;
    }

    .contentinfo {
        flex: 1 1 auto;
    }
}

.rhd-footer {
    background-color: $dark-gray;
    color: $white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.rhd-footer-nav {
    flex: 1 1 auto;
}

.rhd-footer-sidebar {
    background-color: $red;
    flex: 0 0 33%;
}

.visually-hidden {
  display: none;
}

.node__content>.field--name-body,
#block-rhdp-local-tasks {
  @extend .container;
}


.field--name-body {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

.rhd-search-wrapper {
  .user-search {
    color: #000;
    font-size: 14px;
    line-height: 1;
    padding: 4px 10px;
    padding-right: 40px;
    display: block;
    width: 100%;
    &::-webkit-input-placeholder {
      color: #000;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: #000;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: #000;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: #000;
      opacity: 1;
    }
    &::placeholder {
      color: #000;
      opacity: 1;
    }
  }
  .search-bar {
    position: relative;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px;
    color: #424242;
    border: none;
    background-color: transparent;
    &:hover, &:active, &:focus {
      background-color: transparent;
    }
  }
}

.rhd-search-toggle {
  background-color: transparent;
  color: inherit;
  padding: 0;
}

.caret-right {
  &:after {
    color: inherit;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" fill="#0066CC"/></svg>');
    width: 0.45em;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    position: relative;
    top: 0.1em;
  }
}

.mobile {
  display: none;
}

.callout-light {
  background-color: #f0f0f0;
  border: 1px solid #efeff0;
  padding: 20px;
  margin: 15px 0;
  p {
    margin-bottom: 0;
  }
  a {
    color: $link-dark-background;
  }
}

.card {
  padding: 30px 20px;
  display: block;
  background: $grey-8;
  border-left:4px solid $red;
  color: white;
  margin-bottom: 15px;
}

.related-product-card,
.related-content-card {
  background-color: $white;
  padding: 20px;
  border: 2px solid $grey-3;
  font-size: .9rem;
  height: auto;
  margin: 15px 0;
  position: relative;
  h6 {
    font-weight: bold;
    text-transform: uppercase;
    color: $grey-5;
  }
  span {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 65px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include tablet-landscape-and-down {
      max-height: 95px;
      -webkit-line-clamp: 3;
    }
  }
  p { margin-bottom: 0; }
}

pre {
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  border-radius: 0;
  font-weight: 600;
}

.content-type-label {
  text-transform: uppercase;
  color: $grey-6;
  margin: 1em 0 0 0;
}

.page-info-bar {
  border-top: 1px solid $grey-5;
  border-bottom: 1px solid $grey-5;
  padding: 7px 0;
  margin: 1.5em 1em 2.5em 1em;
  ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    li {
      width: auto;
      margin: 2px 0;
      padding: 0 0 0 1em;
      display: inline-block;
      &:first-child { padding-left: 0; }
    }
  }
}

.share-sm {
 margin-top: 2px;
 .a2a_button_google_plusone {
   height: 24px;
 }
}

@include tablet-landscape-and-down {
  .page-info-bar{
      .share-sm {
        float: none !important;
        margin-top: 5px;
        ul li:not(:first-child) { padding-left: 1em; }
      }
      ul li {
        display: block;
        padding-left: 0;
      }
  }
}
