@import "mixins";
@import "mq-mixins";
@import "fonts/fonts";
@import "colors";
@import "global";
@import "container";
@import "typography/typography";
@import "patterns/patterns";
@import "assembly/assembly";
@import "foundation/foundation";
@import "navigation";
@import "rhd-footer";
@import "slick";
@import "learning-paths";
@import "rhd-accordion";
@import "table-of-content";

// Foundation dependent
@import "products";
@import "adaptive-placeholder";
@import "keycloak-pages";
@import "get-started";
@import "developer-materials";
@import "buzz";
@import "confirmation";
@import "middleware";
@import "projects";
@import "thank-you";
@import "books";
@import "cheat-sheet";
@import "videos";
@import "microsite";
@import "articles";
@import "stackoverflow";
@import "paginator";
@import "faq";
@import "downloads";
@import "connectors";


// Stylesheets for microsites
@import "about";
@import "awards";
@import "content-contributors";
@import "devnation-live";
@import "devnation2015";
@import "devnation2016";
@import "devoxx-be";
@import "devoxx4kids";
@import "devoxxfrance";
@import "downloads";
@import "eclipse";
@import "forums";
@import "javaone";
@import "ticket-monster";
@import "vjbug";
@import "searchapp";
@import "judcon-brno";
@import "gids";
@import "msbuild";
@import "solp";
@import "author";
@import "view-taxonomy-term";
@import "katacoda";


//drupal admin override
@import "drupal-user-login-form";

// Drupal Akamai cache clear block styles
@import "akamai-block";

// Curated Links assembly type
@import "curated-links";

[data-rhd-grid="normal"] {
  display: flex;
  flex-direction: column;

  display: grid;
  grid-template-columns: [content-start] 1fr [content-end];
  grid-template-rows: minmax(30px, 1fr) [bottomrow];
  grid-auto-flow: column;
  grid-gap: 15px;
  margin: 0 15px;
  max-width: 320px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, [content-start] 1fr) [content-end];
    margin: 0 30px;
    min-width: 640px;
    max-width: auto;
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(4, [content-start] 1fr) [content-end];
    margin: 0 30px;
    min-width: 960px;
    max-width: auto;
  }

  @media (min-width: 1260px) {
    grid-template-columns: repeat(12, [content-start] 70px) [content-end];
    max-width: 1260px;
    margin: 0 auto;
  }
}

[data-rhd-grid="quad"] {
  display: grid;
  grid-template-columns: repeat(3, [content-start] 1fr) [content-end];
  grid-gap: 15px;
  margin: 0 15px;
  max-width: 320px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, [content-start] 1fr) [content-end];
    margin: 0 30px;
    min-width: 640px;
    max-width: auto;
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, [content-start] 1fr) [content-end];
    margin: 0 30px;
    min-width: 960px;
    max-width: auto;
  }

  @media (min-width: 1260px) {
    grid-template-columns: repeat(4, [content-start] 1fr) [content-end];
    min-width: 1260px;
    max-width: auto;
  }
}

[data-rhd-grid="triple"] {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  margin: 0 15px;
  max-width: 320px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, [content-start] 1fr) [content-end];
    margin: 0 30px;
    min-width: 640px;
    max-width: auto;
  }

  @media (min-width: 960px) {
    min-width: 960px;
    max-width: auto;
  }

  @media (min-width: 1260px) {
    grid-template-columns: repeat(3, [content-start] 1fr) [content-end];
    min-width: 1260px;
    max-width: auto;
  }

  @media (min-width: 1260px) {
    max-width: 1260px;
    grid-template-columns: repeat(3, 1fr);
  }
}

[data-rhd-col="span12"] {
  grid-column: content-start / content-end;
}

[data-rhd-col="span3"] {
  grid-column: span 3;
}

[data-rhd-col="5span9"] {
  grid-column: 5 / span 9;
}

[data-rhd-col="4span"]

[data-rhd-row="span5"] {
  grid-row: span 5;
}

[data-rhd-row="3span6"] {
  grid-row: 3 / span 6;
}

[data-rhd-row="bottom"] {
  grid-row: span bottomrow;
}

// Hides title from Basic Pages
body.page-node-type-page,
body.page-node-type-video-resource,
body.page-node-type-books,
body.page-node-type-cheat-sheet,
body.page-node-type-promotion-page,
body.page-node-type-article,
body.page-node-type-learning-path,
body.page-node-type-coding-resource {
  h1.page-title {
    display: none;
  }
}

// Makes Basic Pages full width
.page-community-contributor,
.page-ticket-monster,
.page-middleware,
.page-stack-overflow,
.page-events-devoxx-2015,
.page-events-devoxxfrance-2016,
.page-events-judcon-2016-brno,
.page-events-gids-2016,
.page-events-javaone-2015,
.page-events-javaone-2016,
.page-events-javaone-2017,
.page-events-msbuild-2016 {
  .node__content > .text-formatted {
    max-width: none;
    padding: 0;
    margin-bottom: 0;
  }
}

.visually-hidden {
  display: none;
}

.node__content>.field--name-body,
#block-rhdp-local-tasks {
  @extend .container;
}


.field--name-body {
  margin-bottom: 25px;
  @include tablet-landscape {
    margin-bottom: 40px;
  }
  p, ul, ol {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-title {
  margin-top: 23px;
  margin-bottom: 8px;
  @include tablet-landscape {
    margin-top: 35px;
  }
}
img {
  max-width: 100%;
  height: auto;
}

.rhd-search-wrapper {
  .user-search {
    color: #000;
    font-size: 14px;
    line-height: 1;
    padding: 4px 10px;
    padding-right: 40px;
    display: block;
    width: 100%;
    &::-webkit-input-placeholder {
      color: #000;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: #000;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: #000;
      opacity: 1;
    }
    &:-moz-placeholder {
      color: #000;
      opacity: 1;
    }
    &::placeholder {
      color: #000;
      opacity: 1;
    }
  }
  .search-bar {
    position: relative;
  }
  button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px;
    color: #424242;
    border: none;
    background-color: transparent;
    &:hover, &:active, &:focus {
      background-color: transparent;
      color:#000;
    }
  }
}

.rhd-search-toggle {
  background-color: transparent;
  color: inherit;
  padding: 0;
}

.mobile {
  display: none;
}

.callout-light {
  background-color: #f0f0f0;
  border: 1px solid #efeff0;
  padding: 20px;
  margin: 15px 0;
  p, a, ul, ol {
    margin-top: 0;
  }
  a {
    color: $link-dark-background;
    &.button {
      color: #FFF;
      display: inline-block;
    }
  }
}

.card {
  padding: 30px 20px;
  display: block;
  background: $grey-8;
  border-left:4px solid $red;
  color: white;
  margin-bottom: 15px;
}

.field--name-field-related-product.field--type-entity-reference,
.related-product-card,
.related-content-card {
  background-color: $white;
  padding: 20px;
  border: 2px solid $grey-3;
  font-size: .9rem;
  height: auto;
  margin: 15px 0;
  position: relative;
  h6 {
    font-weight: bold;
    text-transform: uppercase;
    color: #8c8f91;
    font-size: 16px;
    margin-top: 5px;
  }
  span {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 60px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include desktop-small-and-down {
      max-height: 85px;
      -webkit-line-clamp: 3;
    }
  }
  p { margin-bottom: 0; }
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  border-radius: 0;
  font-weight: 600;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code {
  padding: 1px;
  border: 1px solid #d5d5d5;
  background-color: #f9f9f9;
  font-weight: normal;
  color: #0a0a0a;
}

.content-type-label {
  text-transform: uppercase;
  color: $grey-6;
  margin: 1em 0 0 0;
}

.page-info-bar {
  border-top: 1px solid $grey-5;
  border-bottom: 1px solid $grey-5;
  padding: 7px 0;
  margin: 1.5em 1em 2.5em 1em;
  ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    li {
      width: auto;
      margin: 2px 0;
      padding: 0 0 0 1em;
      display: inline-block;
      &:first-child { padding-left: 0; }
    }
  }
}

.share-sm {
 margin-top: 2px;
}

@include desktop-small-and-down {
  .page-info-bar{
      .share-sm {
        float: none !important;
        margin-top: 5px;
        ul li:not(:first-child) { padding-left: 1em; }
      }
      ul li {
        display: block;
        padding-left: 0;
      }
  }
}

/* Tables */
table {
  border:0;
  background:$grey-3;
  border-collapse: collapse;
  tbody tr {
    background:#f5f5f6;
  }
  td {
    vertical-align: top;
  }
  td.linkList {
    a {
      border-right:1px solid;
      padding-right: 10px;
      margin-right: 10px;
      &:last-child {
        border-right: 0;
      }
    }
  }
  p {
    margin:0;
  }
}

/* Error pages */
.error-content {
  padding-top: 40px;
  margin: 15px auto 60px auto;
  text-align: center;
  p {
    font-size: 18px;
  }
  > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.flex-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.flex-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-devoxx4kids {
  #ytplayer {
    max-width: 100%;
  }
}

.wide-hero.devoxx4kids {
  .column {
    height: auto !important;
    @include desktop-small {
      width: 50%;
    }
    @include desktop-large {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .video-embed {
    margin-top: 40px;
    @include desktop-small {
      margin-top: 0;
    }
  }
}

.show-more-text {
  overflow: hidden;
  max-height: 75px;
  &.open { max-height: 100% !important; }
}
.show-more{
  text-align: center;
  display: block;
  cursor: pointer;
  span { display: block; }
  span.less { display: none; }
}
.overlay {
  background:rgba(0,0,0,0.6);
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: none;
}

body.overlay-open {
  .overlay {
    display:table;
  }
}

.overlay-wrap {
  display: table-cell;
  vertical-align: middle;
}
.overlay-inner {
  max-width:800px;
  padding:20px;
  background:white;
  margin: 0 auto;
  position: relative;
}


.overlay-close {
  position: absolute;
  font-size: 30px;
  top:10px;
  right:10px;
}

.connect-with-us {
  padding: 50px 0;
  background-color: $red;
  h2 {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h4 {
    font-weight: 200;
    color: $white;
  }
  ul.social-links {
    list-style: none;
    display: block;
    margin: 15px auto 0 auto;
    text-align: center;
    li, li a {
      display: inline;
      color: $white;
      font-size: 1.5em;
      margin-right: 15px;
    }
  }
}

.caption > figcaption {
  margin-top: 10px;
}

a#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 0;
  background-color: #333;
  background-color: rgba(0,0,0,0.8);
  width: 44px;
  height: 44px;
  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
  color: #fff;
  cursor: pointer;
  padding: 10px 13px;
  text-decoration: none;
  z-index: 1;
  opacity: 0.8;
  display: none;
  &:focus, &:active, &:hover {
    outline: none;
    opacity: 1;
  }
}

.align-center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.align-left img {
  margin-right: 1rem;
  float: left;
}
.align-right img {
  margin-left: 1rem;
  float: right;
}
