<section class="form-header">
  <h4>{{ content.field_title }}</h4>
</section>
<section class="form-content">
  <p>Form Code Goes Here</p>
</section>
<section class="form-content">
  {{ content.field_content }}
</section>
{% if content %}
  {{- content|without('field_title', 'field_content') -}}
{% endif %}
