{% if video_embed_url|render %}
  <section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
    <iframe src='{{ video_embed_url }}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
  </section>
{% endif %}
