{#
/**
 * @file assembly.html.twig
 * Default theme implementation to present Assembly data.
 *
 * This template is used when viewing Assembly pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_assembly()
 *
 * @ingroup themeable
 */
#}
<section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
  {% if content %}
    {{- content|without('field_cta_link') -}}
  {% endif %}

  {# CTA is separated from content so it's displayed under dp-category-list component #}
  {% if content.field_cta_link %}
    <div class="cta-link">
      {{ content.field_cta_link }}
    </div>
  {% endif %}
</section>
