{% if embed_url|render %}
  <section{{ attributes.addClass('assembly') }}{{ audience_selection }}>
    <a href="{{ embed_url }}" data-iframely-url></a>
  </section>
  <script async charset="utf-8" src="https://cdn.iframe.ly/embed.js?key=c3cf64c36c378b376d8984711011e196"></script>
{% endif %}
