<div class="curated-links">
  <h3 class="curated-links__title">{{ content.field_title }}</h3>

  <ul class="curated-links__list fa-ul">
    {% for link in elements.links %}
      <li class="curated-links__list-item"><i class="fa-li far fa-arrow-alt-circle-right"></i> {{ link }}</li>
    {% endfor %}
  </ul>
</div>
