<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>rhdp-search-app</title>
    <meta name="description" content="rhdp-search-app description">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">
    <script src="/components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="/components/rhdp-search/rhdp-search-app.html">
  </head>
  <body>
    <rhdp-search-app></rhdp-search-app>
  </body>
</html>