<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">

<dom-module id="rhdp-search-box">
  <template>
    <style>
      :host {
        font-family: Overpass, "Open Sans", Helvetica;
        margin: 0 0 2em 0;
      }

      .mobile { display: none; }
      form.search-bar { 
        box-sizing: border-box;
        color: rgb(66,66,66);
        cursor: auto;
        display: flex;
        flex-direction: row;
        font-family: Overpass, "Open Sans", Helvetica;
        font-size: 16px;
        line-height: 24px;
        position: relative; 
        margin: 0;
        width: 100%;
      }

      form.search-bar div {
        flex: 1 1 100%;
      }
      
      input.user-search {
        background-color: white;
        border-bottom-color: rgb(204,204,204);
        border-bottom-style: solid;
        border-left-color: rgb(204,204,204);
        border-left-style: solid;
        border-right-color: rgb(204,204,204);
        border-right-style: solid;
        box-sizing: border-box;
        font-size: 16px;
        height: 40px;
        text-align: start;
        padding: 8px;
        transition-property: box-shadow, border-color;
        transition-delay: 0s, 0s;
        transition-duration: 0.45s, 0.45s;
        transition-timing-function: ease, ease-in-out;
        user-select: text;
        width: 100%;
      }

      button {
        text-transform: uppercase;
        background: #c00;
        text-decoration: none;
        border: 0;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
        padding: 9px 40px;
        transition: background .2s ease-in 0s;
        line-height: 1.2em;
        cursor: pointer;
        position: relative;
        text-align: center;
        color: #fff;
      }

      button iron-icon { display: none; }
      @media only screen and (max-width: 768px) {
        
      }
      @media only screen and (max-width: 500px) {
        button iron-icon { display: block; }
        button span { display: none; }
        button {
          padding: 9px;
        }
      }
      @media only screen and (max-width: 320px) {
        
      }
    </style>
    <form class="search-bar" role="search" onsubmit="return false;">
      <div class="input-cont"><input class="user-success user-search" type="search" id="query" placeholder="Enter your search term" id="search_list_text" value="{{text::input}}"></div>
      <button on-click="_handleChange" id=""><span>SEARCH</span><iron-icon icon="icons:search" ></iron-icon></button>
    </form>
    <slot></slot>
  </template>

  <script>
    class RHDPSearchBox extends Polymer.Element {
      static get is() { return 'rhdp-search-box'; }
      static get properties() {
        return {
          term: {
            type: String,
            notify: true
          },
          text: String
        };
      }
      connectedCallback() {
        
      }
      ready() {
        super.ready();
        this.addEventListener('keyup', e => { if(e.key == 'Enter') { this._handleChange(e) } });
        /* To Do
          Set text and term from querystring "q" value if present
        */
        var loc = window.location.href.split('?');
        this.set('text',loc.length > 1 ? loc[1].split('=')[1] : '');
        this._handleChange();
      }

      _handleChange() {
          this.term = this.text;
      }
    }

    window.customElements.define(RHDPSearchBox.is, RHDPSearchBox);
  </script>
</dom-module>
