<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="rhdp-search-filter-item.html">

<dom-module id="rhdp-search-filter-group">
  <template>
    <style>
      :host {
        display: block;
        padding: .5em;
        margin: 0 .5em;
        position: relative;
      }
      h4 {
        font-weight: bold;
        text-transform: uppercase;
        margin: .5em 0;
      }
      #toggle { float: right;}
      .filters {
        font-size: .85em;
      }
      .hide { display: none; }
      .show { display: block; }

       @media only screen and (max-width: 768px) {
       }
    </style>
    <h4 id="heading" on-click="showFilters">[[name]] <iron-icon id="toggle" icon="icons:chevron-right"></iron-icon></h4>
    <div id="filters" class="filters hide">
      <template is="dom-repeat" items="{{items}}">
        <rhdp-search-filter-item value="{{item.value}}" name="[[item.name]]" toggle="{{item.toggle}}"></rhdp-search-filter-item>
      </template>
    </div>
  </template>

  <script>
    class RHDPSearchFilterGroup extends Polymer.Element {
      static get is() { return 'rhdp-search-filter-group'; }
      static get properties() {
        return {
          key: {
            type: String,
            notify: true
          },
          name: {
            type: String,
            notify: true
          },
          toggle: {
            type: Boolean,
            value: false
          },
          items: {
            type: Array,
            notify: true
          },
          facets: {
            type: Array,
            value: [],
            notify: true
          }
        };
      }
      ready() {
        super.ready();
        this.addEventListener('facetChange', e => this._setFacetItems(e));
      }
      showFilters() {
        this.toggle = !this.toggle;
        this.$.filters.className = this.toggle ? "filters show" : "filters hide";
        this.$.toggle.icon = this.toggle ? 'icons:expand-more' : 'icons:chevron-right';
      }
      _setFacetItems(e) {
        if(e.detail && e.detail.facet) {
          console.log(e.detail.facet);
          var idx = this.facets.indexOf(e.detail.facet);
          if( idx < 0) {
            this.push('facets',e.detail.facet);
          } else {
            this.splice('facets',idx,1);
          }
          // console.log(this.filters);
          this.dispatchEvent(new CustomEvent('facetsGroupChange', {detail: {key: this.get('key'), facets: this.facets}, composed: true}));
        }
      }
    }

    window.customElements.define(RHDPSearchFilterGroup.is, RHDPSearchFilterGroup);
  </script>
</dom-module>
