<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="rhdp-search-query">
  <template>
    <iron-ajax id="ajax" url="[[url]]"
    params="[[getParams()]]"
    handle-as="json"
    on-response="adjustResults"></iron-ajax>
  </template>

  <script>
    class RHDPSearchQuery extends Polymer.Element {
      static get is() { return 'rhdp-search-query'; }
      static get properties() {
        return {
          term: String,
          filters: Object,
          results: {
              type: Object,
              notify: true
          },
          limit: Number,
          sort: String,
          url: {
            type: String,
            value: '/search'
          },
          params: {
            type: String
          }
        };
      }

      static get observers() {
        return [
            'runQuery(filters)'
        ]
      }

      getParams() {
        return {query: this.term, size: "size"+this.limit};
      }

      runQuery(filters) {
        console.log(filters);
        if(filters.term && filters.term.length > 0) {
          this.$.ajax.generateRequest();
        }
      }
      adjustResults(results) {
        var qr = results.detail.response;
        var hits = qr ? qr.hits.hits : [];
        var f = [];
        var l = hits.length;
        if(this.filters.term && this.filters.term.length > 0) {
          for(var i=0; i<l; i++) {
            if(this.checkFilters(hits[i].fields, this.filters)) {
              f.push(hits[i]);
            }
          }
        }
        if (qr) {
          qr.hits.hits = f.slice(0, this.get('limit'));
          qr.hits.total = f.length;
        }
        this.set('results', qr);
      }

      checkFilters(fields, filters) {
        var includes = false;
        var keys = filters ? Object.keys(filters) : {};
        var l = keys.length;
        if(fields) {
          for(var i=0; i<l; i++) {
            switch (typeof filters[keys[i]]) {
              case 'object':
                if (fields[keys[i]] && fields[keys[i]] == filters[keys[i]]) {
                  return true;
                }
                break;
              case 'array':

                break;
              case 'string':
                if(fields.sys_description && fields.sys_description.length && fields.sys_description[0].indexOf(filters[keys[i]]) > -1) {
                  return true;
                }
                if(fields.sys_tags && fields.sys_tags.length && fields.sys_tags.indexOf(filters[keys[i]]) > -1) {
                  return true;
                }
                if(fields.sys_title && fields.sys_title.length && fields.sys_title[0].indexOf(filters[keys[i]]) > -1) {
                  return true;
                }
                break;
            }
          }
        }

        return includes;
      }

      verifyValue(filter, fields) {
        
        return false;
      }
    }

    window.customElements.define(RHDPSearchQuery.is, RHDPSearchQuery);
  </script>
</dom-module>
