<link rel="import" href="../polymer/polymer.html">

<dom-module id="rhdp-search-recommended">
  <template>
    <style>
      :host {
        display: block;
        margin-bottom: 1em;
      }
      h4 { font-weight: normal; font-style: oblique; margin: 0 0 1em 0; padding: 0; }
      h2 { font-weight: normal; margin: 0 0 .5em 0; padding: 0; }

      @media only screen and (max-width: 768px) {
        :host {
          margin-right: 2em;
        }
      }
    </style>
    <h4>Recommended</h4>
    <h2>Red Hat Container Development Kit</h2>
    <button>MEDIUM CTA</button>
  </template>

  <script>
    class RHDPSearchRecommended extends Polymer.Element {
      static get is() { return 'rhdp-search-recommended'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'rhdp-search-recommended'
          }
        };
      }
    }

    window.customElements.define(RHDPSearchRecommended.is, RHDPSearchRecommended);
  </script>
</dom-module>
