<li class="book columns large-6" data-isbn="<!=isbn!>">
    <a href="<!=preview_link!>" class="book-preview" target="_blank">Preview</a>
    <img src="<!=thumbnail!>" alt="Cover Image">
    <h4><!=sys_title!></h4>
    <p><!=authors!></p>
    <p><!=published!></p>
    <div class="rating"><!=average_rating!></div>
    <p class="desc"><!=sys_description!></p>
    <a href="<!=sys_url_view!>" class="button">Purchase<i class="fa fa-external-link"></i></a></li>
