<div class="large-12 column">
    <div class="update updatemobile">
        <div class="update-meta">
            <h5><a href="<!=permanentLink!>" class="external-link"><!=sys_title!></a></h5>
            <div class="row">
                <div class="small-12 medium-14 column">
                    <div class="update-source"><!=authorName!></div>
                </div>
                <div class="small-12 medium-10 column">
                    <div class="update-timestamp"><!=updatedDate!></div>
                </div>
            </div>
        </div>
        <div class="update-body">
            <p><!=sys_description!></p>
        </div>
        <div class="update-meta">
            <div class="share-this">
                <rhd-social-button type="twitter"></rhd-social-button>
                <rhd-social-button type="facebook"></rhd-social-button>
                <rhd-social-button type="linkedin"></rhd-social-button>
                <rhd-social-button type="gplus"></rhd-social-button>
            </div>
        </div>
    </div>
</div>
