<div class="large-12 column">
    <div class="update updatemobile">
        <div class="update-meta">
            <h5><a href="<!=permanentLink!>" class="external-link"><!=sys_title!></a></h5>
            <div class="row">
                <div class="small-12 medium-14 column">
                    <div class="update-source"><!=authorName!></div>
                </div>
                <div class="small-12 medium-10 column">
                    <div class="update-timestamp"><!=updatedDate!></div>
                </div>
            </div>
        </div>
        <div class="update-body">
            <p><!=sys_description!></p>
        </div>
        <div class="update-meta">
            {# <!-- AddToAny BEGIN --> #}
            <div class="a2a_kit a2a_kit_size_24 a2a_default_style">
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_facebook a2a_counter"></a>
                <a class="a2a_button_linkedin a2a_counter"></a>
            </div>
            <script>
                var a2a_config = a2a_config || {};
                a2a_config.num_services = 6;
            </script>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            {# <!-- AddToAny END --> #}
        </div>
    </div>
</div>
