<div class="searchpage-update">
    <div class="update">
        <div class="update-meta"><a class="update-source" href="<!=searchLink!>"><h5><!=sys_title!></h5></a><a
                    class="update-source" href="<!=searchLink!>"><!=sys_type!></a></div>
        <div class="update-body"><p><!=sys_description!></p></div>
    </div>
</div>
