<div class="share-this">
    <rhd-social-button type="twitter"></rhd-social-button>
    <rhd-social-button type="facebook"></rhd-social-button>
    <rhd-social-button type="linkedin"></rhd-social-button>
    <rhd-social-button type="gplus"></rhd-social-button>
</div>
