<div class="downloadthankyou" id="tacBanner">
    You joined the Red Hat Developer Program on
    <span id="tcWhenSigned"><!=acceptanceTimestamp!></span>.
    Your subscription to the Red Hat Developer Program ends in
    <span id="tcEndsIn"><!=daysRemaining!></span> days.
</div>
