.assembly-type-all_products_listing {
  background-color: $grey-1;
  padding: 5rem 0;

  header .field__item {
    font-size: 32px;
    color: $grey-8;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
  }
  .all-products-listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5em;
    a, a:active, a:focus {
      color: $gray-6;
    }
    a:hover {
      color: $link;
    }
  }

  .field--name-field-content {
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    margin-bottom: 2em;
    .field__item p {
      text-align: center;
      font-size: 20px;
      color: $gray-8;
    }
  }
  @media screen and (max-width: 1024px) {
    .all-products-listing { grid-template-columns: repeat(2, 1fr); }
  }
  @media screen and (max-width: 768px) {
    .all-products-listing { grid-template-columns: repeat(1, 1fr); }
  }
}
