.assembly-type-collection {
  padding-top: 45px;
  padding-bottom: 45px;

  @include tablet-landscape {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .field--name-field-title,
  .header {
    margin-bottom: 30px;
    margin-top: 0;
  }

  .view-content {
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: 1fr 1fr;

    @include tablet-landscape {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop-small {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .views-row {
      display: block;

      .tile-image-wrapper {
        text-align: center;
        max-height: 156px;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
  }

  &.pager-dots {
    .pager {

      .pager__item--first,
      .pager__item--previous,
      .pager__item--next,
      .pager__item--last {
        display: none;
      }

      .pager__item {
        a {
          display: inline-block;
          width: 10px;
          height: 10px;
          overflow: hidden;
          text-indent: -999px;
          background-color: #D3D2D2;
          border-radius: 10px;
        }

        &.is-active a {
          background-color: #2B9BDA;
        }
      }
    }
  }

  .rhd-c-card-grid {
    padding: 0 !important;
  }

  .pager {
    ul {
      text-align: left;
      margin-left: 0;

      li:first-of-type {
        padding-left: 0;
      }
    }
  }
