.assembly-type-content_call_to_action {
  font-size: 12px;
  line-height: 1.5;
  background-color: #f5f5f5;
  border-left: 4px solid #CC0000;
  margin-bottom: 15px;
  @media (min-width: 1025px) {
    width: 690px;
    max-width: none;
  }
  @include desktop-large {
    width: 869px;
  }
  p {
    font-size: inherit;
    line-height: inherit;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  > div {
    padding: 40px 20px;
  }
  &.inline > div {
    padding: 32px 20px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  // stupid #rhd-article
  #rhd-article & {
    p {
      font-size: 16px;
    }
    h2 {
      font-size: 20px;
    }
  }
  p, ul, ol, h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .assembly {
    background-color: transparent;
  }
  .iframe-container {
    padding: 0;
    margin: -10px;
    width: auto;
  }
  &.sidebar {
    margin-bottom: 15px;
    border-left: none;
    padding: 0;
    position: relative;
    font-size: 13px;
    line-height: 19px;
    h2 {
      font-size: 27px;
      line-height: 42px;
      margin-bottom: 15px;
    }
    p {
      font-size: 13px;
      line-height: 19px;
      margin: 15px 0;
    }
    .align-center {
      text-align: center;
    }
    .button {
      display: block;
    }
    @include tablet-landscape {
      float: right;
      z-index: 99;
      width: 239px;
      margin: 15px 0 15px 15px;
      > div {
        padding: 20px;
      }
      h2 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 15px;
      }
    }
    @media (min-width: 1025px) {
      margin: 0 -245px 0 0;
      > div {
        padding: 40px 20px;
      }
      h2 {
        font-size: 27px;
        line-height: 42px;
      }
    }
    @include desktop-large {
      width: 270px;
      margin: 0 -300px 0 0;
    }
  }
}
