.assembly-type-dynamic_content_feed {
  background-color: #f9f9f9;
  padding-top: 2rem;
  padding-bottom: 1rem;

  @include tablet-portrait {
    padding-top: 7rem;
    padding-bottom: 6rem;
  }

  .header {
    text-align: center;
    margin-top: 0;
  }

  // reset css from classy
  .item-list ul.content-tile-list,
  .item-list ul.content-tile-list>li {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
  }

  .content-tile-list {
    display: grid;
    grid-gap: $gutter $gutter;

    &>li {
      margin: 0;
      padding: 0;
    }

    grid-template-columns: 1fr 1fr;
    @include tablet-landscape {
      &.count-3 {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.count-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  .cta-link {
    margin-top: 1rem;
    text-align: center;
    a {
      display: inline-block;
    }
  }
}
