.assembly-type-featured_evangelists {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url(../docs/img/vertical_paths_background.png);
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;

  .header {
    text-align: center;
    margin-top: 0rem;
  }

  .grid {
    display: grid;
    grid-gap: 30px 30px;
    @include tablet-portrait {
      grid-template-columns: 2fr 1fr;
    }
    @include desktop-small {
      grid-template-columns: 3fr 1fr;
    }
  }

  .content-teaser-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 30px 30px;
    @include desktop-small {
      grid-template-columns: 1fr 1fr;
    }
  }

  .content-link-list {
    margin: 0;
    padding: 0;
    margin-bottom: -1rem;

    a {
      display: block;
      text-decoration: none;
      margin-bottom: 1rem;
    }
  }
}
