.assembly-type-product_comparison_table {
  margin: 100px 0;
  .container {
    overflow: hidden;
  }
  .table-header {
    font-size: 18px;
    background-color:  $grey-1;
    margin-left: 15rem;
    text-align: center;
    padding: 16px;
    border-bottom: 4px solid $white;
    @media screen and (max-width: 768px) {
      margin-left: 9rem;
    }
  }

  table {
    border: collapse;
    background-color: $grey-1;
    margin-bottom: 0;
  }
  th {
    text-align: center;
    padding: 5px;
    top: 0;
    position: sticky;
    min-width: 11.2rem;
    max-width: 11.2rem;
    svg,
    a ~ svg {
      color: $link;
    }
    .th-content {
      background-color: $white;
      height: initial;
      min-height: 175px;
      padding: 20px;
      position: relative;

    }
    .th-links {
      position: absolute;
      bottom: 16px;
      width: 80%;
      .link {
        display: block;
        margin-top: 8px;
        font-weight: 400;
      }
    }
    &:not(:last-of-type) {
      border-right: 4px solid #fff;
    }
  }
  td {
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;
    border-right: 4px solid $white;
    height: 85px;
    text-align: center;
    vertical-align: middle;

    &.checked {
      color: $green;
      font-size: 1.5rem;
      line-height: 1.2;
      small {
        display: block;
        color: $gray-7;
        font-size: 12px;
      }
    }
    &.unchecked {
      color: $gray-4;
      font-size: 1.5rem;
    }
    &:last-of-type {
      border-right: none;
    }
  }
  tr {
    background-color: $grey-1;
    &:nth-of-type(2n) {
      background-color: $grey-1;
    }
    &.feature-row td {
      background-color: $white;
      text-align: left;
      font-size: 16px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  tr:last-of-type td {
    border-bottom: none;
  }
  h5 {
    margin: 0;
  }
  .outside-table {
    width: 15rem;
    float: left;
    margin-top: 185px;
    @media screen and (max-width: 768px) {
      width: 9rem;
    }
  }
  .inside-table {
    width: calc(100% - 15rem);
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    background-color: #f9f9f9;
    @media screen and (max-width: 768px) {
      width: calc(100% - 9rem);
    }
    float: right;
    .scroll-left,
    .scroll-right {
      z-index: 1;
      button {
        background: $grey-1;
        color: $black;
        height: 100%;
        padding: 15px;
        cursor: pointer;
        position: relative;
        &:focus {outline:0;}
      }
    }
    .scroll-left {
      float: left;
      button {
        -webkit-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.02);
        -moz-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.02);
        box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.02);

        &:hover {
          -webkit-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.12);
          -moz-box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.12);
          box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.12);  
        }
      }
    }
    .scroll-right{
      float: right;
      button {
        -webkit-box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.02);
        -moz-box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.02);
        box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.02);

        &:hover {
          -webkit-box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.12);
          -moz-box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.12);
          box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.12);  
        }
      }
    }
    .center{
      float: left; 
      min-width: calc(100% - 80px);
      overflow: auto;
    }
  }
}
