.assembly-type-sign_up_hero {
  padding: 40px 0;
  background-color: $grey-1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  @include desktop-small {
    padding: 100px 0;
    padding-bottom: 120px;
  }

  .grid {
    display: grid;
    grid-gap: $gutter $gutter;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }

  .signup-hero-content {
    h1.field--name-field-title {
      font-size: 50px;
      line-height: 1.2;
      text-align: left;
      @media screen and (max-width: 768px) {
        font-size: 22px;
      }
    }
  }
  .signup-box {
    text-align: center;
    height: auto;
    margin: 1rem auto;
    padding: 2rem;
    -moz-box-shadow: 0px 1px 2px 2px #bdbdbd;
    -webkit-box-shadow: 0px 1px 2px 2px #bdbdbd;
    box-shadow: 0px 1px 2px 2px #bdbdbd;
    border-top: 5px solid $red;
    max-width: 90%;
    background-color: $white;
    h3 {
      font-weight: 400;
    }
    @media screen and (max-width: 1024px) {
      max-width: 70%;
    }
    @media screen and (max-width: 500px) {
      .signup-link {
        display: block;
      }
    }
  }

  .rh-logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
  }
  &.product-signup-hero--light {
    background-image: url('https://developers.redhat.com/images/design/product-hero-light.png');
  }
  &.product-signup-hero--dark {
    background-image: url('https://developers.redhat.com/images/design/product-hero-dark.png');
    h1.field--name-field-title,
    .signup-hero-content {
      color: $white;
    }
  }
}
