{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}

{% if content %}
<div class="pf-l-grid pf-m-gutter">
  <div class="pf-l-grid__item pf-m-1-col pf-u-display-flex pf-u-align-items-center rhd-c-avatar--container">
    <img class="pf-c-avatar rhd-c-avatar" src="https://www.patternfly.org/assets/images/img_avatar.svg" alt="{{ content.field_content_type_image['#items'].alt }}">
  </div>
  <div class="pf-l-grid__item pf-m-6-col">
    <div class="pf-l-flex pf-m-column">
      <div class="pf-l-flex__item pf-u-display-inline-flex rhd-c-bonus-content-item">
        <div class="rhd-c-bonus-content-item__image">
          <i class="fas fa-code"></i>
        </div>
        Github code - {{ content.field_content_type_icon_style }}

      </div>
      <div class="pf-l-flex__item">
        <p>This is the description of the bonus content item. It can be long or short, and still fit in the element.</p>
      </div>
    </div>
  </div>
</div>

{% endif %}
