.node--view-mode-card {
  background: #FFF;
  width: 100%;
  &>a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  .card-title {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    @include tablet-landscape {
      font-size: 18px;
    }
  }

  .header-block,
  .content-block {
    padding: 1rem;
  }

  .content-block {
    padding-bottom: 15px;
    padding-top: 15px;
    @include tablet-landscape {
      padding-bottom: 30px;
      padding-top: 30px;
    }

    .lesson {
      .lesson-label {
        text-transform: uppercase;
        color: $gray-5;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 6px;
      }
      .lesson-title {
        color: $gray-7;
        font-size: 16px;
        line-height: 1.5;
      }
      &+.lesson {
        margin-top: 1em;
      }
    }
  }

  .header-block {
    background: $blue;
    padding: 22px 1rem 9px;
    .card-title,
    .asset-type {
      color: #FFF;
    }
    .card-title {
      @include tablet-landscape {
        font-size: 27px;
        margin-top: 4px;
      }
    }
    .asset-type {
      margin-bottom: 0;
    }
  }

  .asset-type {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: .5rem;
    color: $blue;
    letter-spacing: 1px;
  }

  .login-required {
    display: inline-block;
    margin-right: .5rem;
  }

  .more {
    color: $link;
    font-weight: 800;
    margin-top: 40px;
    &:after {
      padding-left:2px;
      content: "\25B8";
    }
    &:hover, &:focus {
      color: $linkhover;
    }
    &.black {
      color: $black;
      &:hover, &:focus {
        color: $link;
      }
    }
    &.white {
      color: $white;
      &:hover, &:focus {
        color: $linkhover-dark-background;
      }
    }
    &.external-link:after {
      vertical-align: baseline;
    }
  }
}

.card-image {
  padding-top: 25px;
  @include tablet-landscape {
    padding-top: 50px;
  }
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;

  .table {
    display: table;
    height: 100%;
    width: 100%;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
  }

  img {
    max-height: 160px;
    @include tablet-landscape {
      max-height: 205px;
    }
    width: auto;
    box-shadow: -2px 2px 11px 0 rgba(0,0,0,0.5);
  }
}
