---
layout: base
primary_section: get-started
---
/ .row.tertiary-nav
/   ul.inline-nav
/     - site.nav['get-started'].children.each do |k, v|
/       li(class="#{secondary_section_class(k,v)}")
/         a(href="#{v.url}") #{v.label}

= content

