---
layout: product
status: green
type: Buzz
---
- page.description = "Check out the latest #{page.product.abbreviated_name} buzz happening around our community below."

h2#buzz Buzz about #{page.product.abbreviated_name}
.product-buzz-container(data-tags="#{(JSON.dump page.product.buzz_tags).gsub(/"/, "'")}")
