---
layout: product
status: green
type: Community
---
- page.description = "Get involved with the community around #{page.product.abbreviated_name}."

h2#community Community
.row
  .large-24.columns
    = content
