---
layout: product-base
---
/The standard product page layout. It builds on the base layout, and adds the left menu, the center content area, and the right bar
/If you are not sure which product layout to use, you probably want this one

.large-6.columns
  = partial 'product-left-menu.html.slim', {'parent' => page}
.large-18.columns.text-content
  = content
