---
layout: solution
---

- page.title = "Red Hat Developers Solution: #{page.solution.name}"

h2#buzz Buzz about #{page.solution.name}

.buzz-container.buzz-loading(data-tags="#{JSON.dump(page.solution.tags).gsub(/"/, "'")}")
  span.loader
