---
layout: base
primary_section: technology
---
/ .row.tertiary-nav
/   ul.inline-nav
/     - site.nav['technology'].children.each do |k, v|
/       li(class="#{secondary_section_class(k,v)}")
/         a(href="#{v.url}") #{v.label}

=content

