<div class="row">
  <div class="article-teaser-content columns small-24">
    <h5><a href="{{ url }}">{{ label }}</a></h5>
    {% if content.field_long_description|render %}
      <p>{{content.field_long_description}}</p>
    {% elseif content.field_short_description|render %}
      <p>{{content.field_short_description}}</p>
    {% endif %}
  </div>
</div>
