.rhd-c-countdown {
  background-color: #FFFFFF;
  border: 2px solid #EDEDED;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  max-width: 400px;
  padding: .5rem;
}

.countdown-label {
  color: #72767B;
  font-family: RedHatText;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}

.rhd-c-countdown-body.pf-l-flex .pf-l-flex__item {
  border: solid 1px lime;
  height: 80px;
}
