.rhd-c-countdown {
  background-color: #FFFFFF;
  border: 2px solid #EDEDED;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  max-width: 400px;
  padding: .5rem;
  text-align: center;
}

.countdown-label {
  color: #72767B;
  font-family: RedHatText;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

}

.rhd-c-countdown-body .pf-l-flex__item {
  height: 80px;
  flex-basis: 25%;
}

.rhd-c-countdown-body .pf-l-flex__item span {
  display: block;
  height: 60px;
  color: #151515;
  font-family: RedHatDisplay;
  font-size: 32px;
  font-weight: 500;
  line-height: 60px;
}

.rhd-c-countdown-body .pf-l-flex__item small {
  color: #72767B;
  font-family: RedHatText;
  font-size: 14px;
  font-weight: 500;
}
