// Hides title from Basic Pages
// @todo: This can be done with a preprocess hook.
body.page-node-type-page,
body.page-node-type-video-resource,
body.page-node-type-books,
body.page-node-type-cheat-sheet,
body.page-node-type-promotion-page,
body.page-node-type-article,
body.page-node-type-learning-path,
body.page-node-type-coding-resource {
  h1.page-title {
    @extend %hidden;
  }
  .block-system-main-block {
    max-width: map-get($rhd-breakpoints, xlarge);
    margin: 0 auto;
    padding: var(--pf-global--spacer--xl) 0;
  }
}

// Makes Basic Pages full width
.page-community-contributor,
.page-ticket-monster,
.page-middleware,
.page-stack-overflow,
.page-events-devoxx-2015,
.page-events-devoxxfrance-2016,
.page-events-judcon-2016-brno,
.page-events-gids-2016,
.page-events-javaone-2015,
.page-events-javaone-2016,
.page-events-javaone-2017,
.page-events-msbuild-2016 {
  .node__content > .text-formatted {
    max-width: map-get($rhd-breakpoints, xlarge);
    margin: 0 auto;
  }
}

body.path-user .layout-content {
    max-width: map-get($rhd-breakpoints, xlarge);
    margin: 0 auto;
    padding: var(--pf-global--spacer--xl) 0;
}
