.callout-light {
    background-color: #f0f0f0;
    border: 1px solid #efeff0;
    padding: 20px;
    margin: 15px 0;
  
    p,
    a,
    ul,
    ol {
      margin-top: 0;
    }
  
    a {
      color: $link-dark-background;
  
      &.button {
        color: #FFF;
        display: inline-block;
      }
    }
  }
  
  .card {
    padding: 30px 20px;
    display: block;
    background: $grey-8;
    border-left: 4px solid $red;
    color: white;
    margin-bottom: 15px;
  }