/* Error pages */
.error-content {
    padding-top: 40px;
    margin: 15px auto 60px auto;
    text-align: center;

    p {
      font-size: 18px;
    }

    > img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
