.rhd-search-wrapper {
    .user-search {
      color: #000;
      font-size: 14px;
      line-height: 1;
      padding: 4px 10px;
      padding-right: 40px;
      display: block;
      width: 100%;
  
      &::-webkit-input-placeholder {
        color: #000;
        opacity: 1;
      }
  
      &::-moz-placeholder {
        color: #000;
        opacity: 1;
      }
  
      &:-ms-input-placeholder {
        color: #000;
        opacity: 1;
      }
  
      &:-moz-placeholder {
        color: #000;
        opacity: 1;
      }
  
      &::placeholder {
        color: #000;
        opacity: 1;
      }
    }
  
    .search-bar {
      position: relative;
    }
  
    button {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px 10px;
      color: #424242;
      border: none;
      background-color: transparent;
  
      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: #000;
      }
    }
  }
  
  .rhd-search-toggle {
    background-color: transparent;
    color: inherit;
    padding: 0;
  }
  
  .caret-right {
    &:after {
      color: inherit;
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z" fill="#0066CC"/></svg>');
      width: 0.45em;
      height: auto;
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.5em;
      position: relative;
      top: 0.1em;
    }
  }
