rhdp-search-app {

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .mobile {
    display: none;
  }

  .loading {
    background: url("/images/icons/ajax-loader.gif") center 80px no-repeat;
    min-height: 250px;
  }
}

rhdp-search-box {
  margin: 0 0 1em 0;

  form.search-bar {
    box-sizing: border-box;
    cursor: auto;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    position: relative;
    width: 100%;
  }

  form.search-bar div {
    flex: 1 1 100%;
  }

  input.user-search {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    padding: 8px;
    text-align: start;
    transition-delay: 0s, 0s;
    transition-duration: 0.45s, 0.45s;
    transition-property: box-shadow, border-color;
    transition-timing-function: ease, ease-in-out;
    user-select: text;
    width: 100%;
  }

  input.user-search::-webkit-search-cancel-button {
    position: relative;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-image: url("https://static.jboss.org/rhd/images/icons/fa_times_icon.svg");
    opacity: 0.75;
    pointer-events: auto;
    cursor: pointer;
    &:hover,
    &:active {
      opacity: 1;
    }
  }

  button {
    text-transform: uppercase;
    background: var(--rhd-theme--color--ui-accent-dark, #c00);
    text-decoration: none;
    border: 0;
    height: 40px;
    font-weight: var(--rhd-global--FontWeight-Text--regular, 600);
    font-size: 16px;
    padding: 9px 30px;
    transition: background 0.2s ease-in 0s;
    line-height: 1.2em;
    cursor: pointer;
    position: relative;
    text-align: center;
    color: $white;
  }

  button svg {
    @media only screen and (min-width: $pf-global--breakpoint--md) {
      display: none !important;
    }
  }

  @media only screen and (max-width: $pf-global--breakpoint--md) {
    margin-bottom: 0.5em;
    button {
      display: block;
      padding: 9px 20px;
    }
    button i.fa.fa-search {
      display: inline-block;
      font-size: 18px;
    }
    button span {
      display: none;
    }
  }
}

rhdp-search-result-count {
  display: block;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.2em;
}

rhdp-search-sort-page {
  display: block;
  margin-bottom: .5rem;
  clear: both;
}

rhdp-search-filters {
  margin-bottom: 1rem;
  display:block;

  // Active filter labels (not checkboxes)
  .activeFilters {
    rhdp-search-filter-item[active] {
      display: inline-block;

      .pf-c-label {
        margin: .25rem;
      }
    }
  }

  .title {
    background-color: var(--pf-global--palette--black-100, #fafafa);
    color: var(--rhd-theme--color-text, #151515);
    font-family: RedHatDisplay;
    font-size: 16px;
    font-weight: 700;
    padding: 1rem;
  }

  .control {
    border: 1px solid var(--rhd-theme--color--ui-border, #ededed);
    margin-top: 1rem;
  }

  &[type="modal"] {
    display: none;
  }

  // Mobile styles
  @media only screen and (max-width: $pf-global--breakpoint--md) {

    // Prevent rhdp-search-filters from showing below the footer.
    flex: none;
    align-self: flex-start;
    float: left;
    border: none;
    margin: 0 0 1.3em 0;

    .mobile {
      display: block;
    }

    .hide-on-mobile,
    .desktop {
      display: none;
    }

    .control {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-top: 51px;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      z-index: 99;
      right: 100%;
      position: absolute;
      top: 100px;
    }

    &[type="modal"] {
      display: block;
      .modal {
        transition: 0.5s ease-in-out;
        transform: translateX(100%);
      }

      .cover {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        background: rgba(0, 0, 0, 0.5);
        border: none;
        z-index: 999;
        right: 100%;
        position: absolute;
        top: 0px;
      }

      .groups {
        background: var(--rhd-theme--component-background--color, #fff);
        flex: 1 1 100%;
        order: 1;
        overflow: auto;
      }

      .pf-c-check__label {
        padding: .25rem;
      }

      .footer {
        display: block;
        flex: 1 0 auto;
        height: 70px;
        order: 2;
        text-align: center;
        background-color: var(--rhd-theme--ui-background-dark, #000);
        padding: 1em;

        .pf-c-button {
          display: inline-block;
          width: auto;
        }
      }

      .applyFilters {
        text-transform: uppercase;
        background: var(--rhd-theme--color--ui-accent-dark, #c00);
        font-weight: 600;
        padding: 10px 25px;
        transition: background 0.2s ease-in 0s;
        color: var(--rhd-theme--component-background--color, #fff);
      }

      rhdp-search-filter-group {
        margin: 0 0 0.5em 0;
      }
    }
  }
}

rhdp-search-filter-group {
  display: block;
  margin-top: 1rem;
  padding: 0 1rem 1rem;
  position: relative;

  .hide {
    display: none;
  }

  .group-name {
     color: var(--rhd-theme--color-text--subtle, #72767b);
     font-family: RedHatDisplay;
     font-size: 16px;
     font-weight: var(--rhd-global--FontWeight-Display--bold);
  }

  .heading {
    margin-top: 0.75rem;

    .toggle {
      float: right;
      transition: .1s ease-in-out;

      &.expand {
        transform: rotate(0.25turn);
      }
    }
  }

  .more {
    font-weight: var(--rhd-global--FontWeight-Text--regular);
  }

  rhdp-search-filter-item {

    span {
      display: none;
    }

    .pf-c-check {
      margin: .5rem 0;
      .pf-c-check__label {
        font-family: RedHatText;
        font-weight: var(--rhd-global--FontWeight-Text--regular, 500);
      }
    }

    > div {
      padding-bottom: var(--rhd-theme--container-spacer-sm);
    }
  }
}

rhdp-search-results {
  display: block;
}

rhdp-search-result {
  display: block;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--rhd-theme--color--ui-border, #ededed);

  h4 a {
    // Allow wrap on result headings.
    overflow-wrap: break-word;

    .hlt {
      font-weight: var(--pf-global--FontWeight--bold);
    }
  }

  .result-info {
    color: var(--rhd-theme--color-text--subtle, #72767b);
    font-size: 14px;
  }

  .result-description {
    font-size: 16px;
  }
}

rhdp-search-onebox {
  > div {
    border: 1px solid var(--rhd-theme--color--ui-border, #ededed);
    padding: 25px;
    margin-bottom: 3em;
  }
}
