#registration-confirmation {
  .divider {
    border-bottom: 1px solid $grey-7;
    margin-bottom: 25px;
    padding-bottom: 20px;
  }
  .spotlight {
    background-color: $grey-1;
    min-height: 350px;
    padding: emCalc(20px);
    position: relative;
    .fa.fa-clock-o:before {
      margin-right: 5px;
    }
    small i {
      margin-bottom: 15px;
    }
    a.button {
      width: 90%;
      position: absolute;
      bottom: 0;
      margin-bottom: 1em;
    }
  }
  .home-title {
    margin-top: emCalc(50px);
  }
  @include tablet-landscape-768-and-down {
    .spotlight {
      margin-top: emCalc(20px);
      a.button {
        position: relative;
        width: 100%;
      }
    }
  }
}

.button.button--solution {
  background:#6abcd3 url('https://static.jboss.org/rhd/images/stars-texture.png') bottom right no-repeat;
  padding: 30px 10px 30px 20px;
  text-align:left;
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;

  &:hover {
    background:darken(#6abcd3,10%) url('https://static.jboss.org/rhd/images/stars-texture.png') bottom right no-repeat;
  }
  &.clear {
    color:#0088ce;
    text-align: center;
    font-size: 20px;
    &:hover {
      background:none;
    }
  }
}
