<div class="latest-disqus-comment">
  <h6 class="comment-title">{{ title }}</h6>
  <div class="comment-body">{{ comment }}</div>
  <div class="comment-footer">
    <div class="date">{{ date }}</div>
    <div class="reply"><a href="{{ reply-url }}">Reply</a></div>
  </div>
</div>
