/* PatternFly-specific styles/overrides */

/* Global */
a.pf-c-button:hover {
  text-decoration: none;
}

/* Footer */
.rh-c-universal-footer-summit-logo img {
  max-height: 40px;
}
.rh-c-universal-footer .cookie-consent {
  display: inline-block;
  margin-left: 10px;
}
.rh-c-universal-footer .cookie-consent a {
  margin-left: 10px;
}

/* This is necessary to have consistent column width with nested components */
.component .component {
  padding: 16px 0;
}

/* Learning Paths */
.assembly-type-learning_paths .rhd-c-card-grid__intro-wrapper {
  margin-bottom: 16px;
}
.assembly-type-learning_paths.dark .rhd-c-card-grid__intro-wrapper {
  color: #fff;
}
.assembly-type-learning_paths.centered .rhd-c-card-grid__intro-wrapper {
  text-align: center;
}
.assembly-type-learning_paths .rhd-c-card__footer {
  position: absolute;
  bottom: 8px;
  line-height: 1rem;
  padding: 0;
}
.assembly-type-learning_paths .rhd-c-card__lesson-label {
  color: #656565;
  font-size: 0.9em;
  font-weight: 700;
}
.assembly-type-learning_paths .rhd-c-card__lessons {
  margin: 8px 0;
}
.assembly-type-learning_paths .rhd-c-card__lesson {
  margin: 8px 0;
}
.assembly-type-learning_paths .rhd-c-card__lesson-title {
  margin: 0 0 8px;
}

/* Article pages */
#rhd-article .article-hero {
  text-align: center;
}
#rhd-article .floated-image img {
  float: right;
}
@media (max-width: 1023px) {
  #rhd-article .floated-image img {
    float: left;
  }
}
#rhd-article .article-type {
  color: #9b9b9b;
  font-size: 20px;
  letter-spacing: .025em;
  margin: 0;
}
#rhd-article .gsi-meta,
.page-node-type-coding-resource .gsi-meta {
  margin-bottom: 24px;
  overflow: hidden;
  background: #F9F9F9;
  padding:12px;
  border:1px solid #E6E6E6;
  border-radius: 0;
}
#rhd-article .gsi-meta ul,
.page-node-type-coding-resource .gsi-meta ul {
  margin-top: 0;
  padding-left: 15px;
}
#rhd-article .gsi-meta ul li,
.page-node-type-coding-resource .gsi-meta ul li {
  width:33.33%;
  float:left;
  list-style:none;
}
#rhd-article .gsi-meta ul li strong,
.page-node-type-coding-resource .gsi-meta ul li strong {
  margin-right: 3px;
}
#rhd-article .gsi-meta ul li a + a,
.page-node-type-coding-resource .gsi-meta ul li a + a{
  margin-left: 5px;
}
#rhd-article .gsi-meta .field--name-field-related-product.field--type-entity-reference,
.page-node-type-coding-resource .gsi-meta .field--name-field-related-product.field--type-entity-reference {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
#rhd-article .article-info-left h1 {
  margin: 16px 0;
}
#rhd-article .article-info-left ul {
  font-size: 0;
  line-height: 1.75;
  margin: 0;
  padding: 0;
}
#rhd-article .article-info-left ul > li {
  display: inline-block;
  float: none;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
}
#rhd-article .changed-date,
#rhd-article .publish-date {
  color: #656565;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
}
#rhd-article .share-buttons {
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
}
.share-buttons .a2a_svg,
.social-links .a2a_svg,
.share-buttons .a2a_count {
  border-radius: 0 !important;
  margin-right: 8px;
}
#rhd-article .topics {
  color: #151515;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
@media (max-width: 480px) {
  #rhd-article .topics {
    width: 100%;
    margin-top: 16px;
  }
}
#rhd-article .topics a:after {
  color: #444;
  content: ", ";
}
#rhd-article .topics a:last-of-type:after {
  content: " ";
}
#rhd-article .topics a:first-of-type:last-of-type:after {
  content: " ";
}
#rhd-article .disqus-thread-wrapper {
  margin-top: 32px;
}

#rhd-article .gsi-nav,
.page-node-type-coding-resource .gsi-nav {
  background-color: #f9f9f9;
  border-top: 2px solid #0066CC;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 16px;
  transform: translateY(0);
  transition: none;
  list-style: none;
  margin: 0;
}
#rhd-article .gsi-nav li,
.page-node-type-coding-resource .gsi-nav li {
  margin: 0;
  padding: 4px 0;
}
#rhd-article .gsi-nav li:first-of-type,
.page-node-type-coding-resource .gsi-nav li:first-of-type {
  padding-top: 0;
}
#rhd-article .gsi-nav li:last-of-type,
.page-node-type-coding-resource .gsi-nav li:last-of-type {
  padding-bottom: 0;
}
#rhd-article .gsi-nav li a:hover,
.page-node-type-coding-resource .gsi-nav li a:hover {
  color: #004c98;
  text-decoration: none;
}

.assembly-type-content_pull_quote {
  border-top: 3px solid #CC0000;
  padding: 15px;
  position: relative;
  font-size: 24px;
  line-height: 32px;
  float: right;
  z-index: 99;
  width: 300px;
  margin: 18px;
}
.assembly-type-content_pull_quote svg {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Author page */
.node--type-author .social-links a {
  display: inline-block;
  height: 24px;
  margin-bottom: 10px;
  margin-right: 8px;
  overflow: hidden;
  position: relative;
  width: 24px;
}
@media (min-width: 768px) {
  .node--type-author .social-links a {
      margin-bottom: 0;
  }
}
.node--type-author .social-links a {
    margin-bottom: 0;
}
.node--type-author .social-links a .a2a_svg {
    height: 21px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 21px;
}
.node--type-author .social-links a .a2a_label {
    -webkit-clip-path: polygon(0 0,0 0,0 0);
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0 0,0 0,0 0);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
}
.node--type-author.node--view-mode-full hr {
  margin: 30px 0;
}
.node--type-author .pager ul {
  text-align: left;
  margin-left: 0;
}
.node--type-author .pager ul li:first-of-type {
  padding-left: 0;
}
.node--type-author .view-author-articles .rhd-c-card-grid {
  padding: 0 !important;
}

.assembly-type-featured_evangelists .node--type-author.node--view-mode-teaser {
  padding: 0;
}

/* Cheat Sheet and books */
#rhd-cheat-sheet, #rhd-book {
  margin-bottom: 3em;
}
#rhd-cheat-sheet .content-type,
#rhd-book .content-type {
  color: #424242;
  margin-bottom: 0;
}
#rhd-cheat-sheet .cs-excerpt,
#rhd-cheat-sheet .book-excerpt,
#rhd-book .book-excerpt,
#rhd-book .book-excerpt {
  display: block;
  background-color: #e8fbff;
  border: 1px solid #b8e3ed;
  padding: 20px 30px;
  margin: 40px 0 20px 0;
}
#rhd-cheat-sheet .cs-excerpt h4,
#rhd-book .book-excerpt h4 {
  margin-bottom: 15px;
}
#rhd-cheat-sheet .cs-excerpt span,
#rhd-book .book-excerpt span {
  display: inline-block;
  width: calc(100% - 60px);
  font-style: italic;
}
#rhd-cheat-sheet .cs-excerpt span.open-quote,
#rhd-book .book-excerpt span.open-quote {
  font-size: 7em;
  width: 60px;
  color: #00b9e4;
  font-style: normal;
}
#rhd-cheat-sheet .cs-excerpt .cs-excerpt-text,
#rhd-cheat-sheet .book-excerpt .book-excerpt-text {
  min-height: 168px;
}
#rhd-cheat-sheet .cs-excerpt span .field--name-field-cheat-sheet-excerpt,
#rhd-cheat-sheet .book-excerpt span .field--name-field-cheat-sheet-excerpt,
#rhd-book .book-excerpt span .field--name-field-cheat-sheet-excerpt,
#rhd-book .book-excerpt span .field--name-field-cheat-sheet-excerpt,
#rhd-cheat-sheet .cs-excerpt span .field--name-field-book-excerpt,
#rhd-cheat-sheet .book-excerpt span .field--name-field-book-excerpt,
#rhd-book .book-excerpt span .field--name-field-book-excerpt,
#rhd-book .book-excerpt span .field--name-field-book-excerpt {
  width: inherit;
}
#rhd-cheat-sheet .cs-excerpt .divider,
#rhd-cheat-sheet .book-excerpt .divider,
#rhd-book .book-excerpt .divider,
#rhd-book .book-excerpt .divider {
  border-bottom:1px solid #D5D5D5;
  padding: 10px 0;
}
#rhd-cheat-sheet .cs-excerpt .divider:last-of-type,
#rhd-cheat-sheet .book-excerpt .divider:last-of-type,
#rhd-book .book-excerpt .divider:last-of-type,
#rhd-book .book-excerpt .divider:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
#rhd-cheat-sheet .cs-excerpt code,
#rhd-cheat-sheet .book-excerpt code,
#rhd-book .book-excerpt code,
#rhd-book .book-excerpt code {
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: inherit;
}
#rhd-cheat-sheet .cta-label,
#rhd-book .cta-label {
  margin-bottom: 15px;
}
#rhd-cheat-sheet .cs-info,
#rhd-book .book-info,
#rhd-video-resource .vr-info {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
  padding: 7px 0;
  margin-bottom: 2.5em;
}
#rhd-cheat-sheet .cs-info ul,
#rhd-book .book-info ul,
#rhd-video-resource .vr-info ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
}
#rhd-cheat-sheet .cs-info ul li,
#rhd-book .book-info ul li,
#rhd-video-resource .vr-info ul li {
  width: auto;
  margin-bottom: 1px;
  padding-top: 1px;
  display: inline-block;
}
#rhd-cheat-sheet .cs-info ul li:first-child,
#rhd-book .book-info ul li:first-child,
#rhd-video-resource .vr-info ul li:first-child {
  padding-left: 0;
}
#rhd-cheat-sheet .cs-info ul li:first-child .field,
#rhd-book .book-info ul li:first-child .field,
#rhd-video-resource .vr-info ul li:first-child .field {
  display: inline-block;
}
#rhd-book .book-tags .rhd-c-card {
  height: auto;
}
#rhd-cheat-sheet .cs-tags .field--name-field-cheat-sheet-tags,
#rhd-book .book-tags .field--name-field-cheat-sheet-tags,
#rhd-cheat-sheet .cs-tags .field--name-field-tags,
#rhd-book .book-tags .field--name-field-tags {
  display: inline;
}
#rhd-cheat-sheet .cs-tags .field--name-field-cheat-sheet-tags .field__item,
#rhd-book .book-tags .field--name-field-cheat-sheet-tags .field__item,
#rhd-cheat-sheet .cs-tags .field--name-field-tags .field__item,
#rhd-book .book-tags .field--name-field-tags .field__item {
  display: inline-block;
  color: #424242;
}
#rhd-cheat-sheet .cs-tags .field--name-field-cheat-sheet-tags .field__item:after,
#rhd-book .book-tags .field--name-field-cheat-sheet-tags .field__item:after,
#rhd-cheat-sheet .cs-tags .field--name-field-tags .field__item:after,
#rhd-book .book-tags .field--name-field-tags .field__item:after {
  content: ", ";
  position: relative;
  left: -3px;
}
#rhd-cheat-sheet .cs-tags .field--name-field-cheat-sheet-tags .field__item:last-child:after,
#rhd-book .book-tags .field--name-field-cheat-sheet-tags .field__item:last-child:after,
#rhd-cheat-sheet .cs-tags .field--name-field-tags .field__item:last-child:after,
#rhd-book .book-tags .field--name-field-tags .field__item:last-child:after {
  display: none;
}
#rhd-cheat-sheet .cs-social.right,
#rhd-book .book-social.right,
#rhd-video-resource .vr-social.right {
  float: right;
}
#rhd-cheat-sheet figure,
#rhd-book figure {
  margin: 0 32px 0 0;
}
#rhd-cheat-sheet .description-wrapper:after,
#rhd-book .description-wrapper:after {
  display: table;
  content: "";
  clear: both;
}
#rhd-cheat-sheet .cs-excerpt .open-quote.left,
#rhd-book .book-excerpt .open-quote.left {
  float: left;
}
#rhd-cheat-sheet .cs-excerpt:after,
#rhd-book .book-excerpt:after {
  display: table;
  content: "";
  clear: both;
}
#rhd-cheat-sheet .cs-social .googleplus-one,
#rhd-book .book-social .googleplus-one,
#rhd-video-resource .vr-social .googleplus-one {
  max-width: 55px;
}
#rhd-cheat-sheet .share-this,
#rhd-book .share-this,
#rhd-video-resource .share-this {
  background: none;
  padding-top: 0;
}
#rhd-cheat-sheet a.button,
#rhd-book a.button {
  margin: 5px 0 20px 0;
  margin-right: 25px !important;
}
#rhd-cheat-sheet .shown-after-login,
#rhd-cheat-sheet .hidden-after-login,
#rhd-book .shown-after-login,
#rhd-book .hidden-after-login {
  display: none;
}
#rhd-video-resource .slides iframe {
  height: 100%;
  width: 100%;
}

/* Collection Assembly */
.assembly-type-collection .rhd-c-card-grid {
  padding: 0 !important;
}
.assembly-type-collection .pager ul {
  text-align: left;
  margin-left: 0;
}
.assembly-type-collection .pager ul li:first-of-type {
  padding-left: 0;
}

/* Katacoda */
.katacoda-courses .rhd-masthead .component {
  padding: 0 64px;
}
@media screen and (max-width: 768px) {
  .katacoda-courses .rhd-masthead .component {
    padding: 0 32px;
  }
}
@media screen and (max-width: 768px) {
  .katacoda-courses .rhd-masthead .rhd-header-logo {
    margin-right: 24px;
  }
}

.katacoda-courses-container.component {
  padding: var(--rhd-theme--container-spacer-sm) var(--rhd-theme--container-spacer-3xl) var(--rhd-theme--container-spacer-sm) var(--rhd-theme--container-spacer-3xl);
}
.katacoda-hero {
  background: transparent;
}
@media screen and (max-width: 768px) {
  .katacoda-hero .component {
    padding: 16px 32px;
  }
}
.katacoda-hero h1,
.katacoda-hero h2,
.katacoda-hero h3,
.katacoda-hero h4,
.katacoda-hero h5,
.katacoda-hero h6,
.katacoda-hero span,
.katacoda-hero p {
  color: white;
}
.katacoda-hero .background {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .katacoda-courses .region-rhd-katacoda-header {
    padding: 8px 0;
  }
}
.region-rhd-katacoda-header {
  padding: 8px 32px;
  max-width: none;
  grid-template-columns: none;
  grid-template-rows: none;
  flex: none;
  justify-items: unset;
  display: flex;
  align-items: center;
}
.region-rhd-katacoda-header .rhd-header-logo {
  max-width: 100%;
  width: 140px;
  grid-column: none;
  grid-row: unset;
  height: auto;
}
.region-rhd-katacoda-header .block-system-breadcrumb-block {
  grid-row: none;
  grid-column: none;
  width: auto;
  margin-left: auto;
}
.region-rhd-katacoda-header .block-system-breadcrumb-block nav {
  padding-bottom:0;
}
.region-rhd-katacoda-header .breadcrumb ol li:not(:first-of-type):before {
  content: " \203A ";
  padding: 0 4px;
  font-weight: 400;
}
.region-rhd-katacoda-header .breadcrumb ol li:last-of-type {
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.screen-size-note {
  text-align: center;
}
@media(min-width: 812px) {
  .screen-size-note {
    display: none;
  }
}
@media(max-width: 812px) {
  .node--type-katacoda-individual-lesson.node--view-mode-full .katacoda-lesson {
    display: none;
  }
}
.screen-size-note__logo {
  display: block;
  margin: 20px auto;
}

/* Social icons */
.author-social-icon-facebook {
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  margin-right: 12px;
}
.author-social-icon-facebook svg path {
  fill: #3b5998;
}
.author-social-icon-twitter {
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  margin-right: 12px;
}
.author-social-icon-twitter svg path {
  fill: #00aced;
}
.author-social-icon-youtube {
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  margin-right: 12px;
}
.author-social-icon-youtube svg path {
  fill: #ff0000;
}
.author-social-icon-linkedin {
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  margin-right: 12px;
}
.author-social-icon-linkedin svg path {
  fill: #0077B5;
}
.author-social-icon-github {
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  margin-right: 12px;
}
.author-social-icon-github svg path {
  fill: #000000;
}

/* CTA Form Assembly */
.assembly-type-cta_form.centered {
  text-align: center;
}
.assembly-type-cta_form.centered .field--name-field-title,
.assembly-type-cta_form.centered .header {
  text-align: center;
}
.assembly-type-cta_form.centered iframe {
  max-width: 500px;
}
.assembly-type-cta_form.background-gray {
  background: #e4e4e6;
}
.assembly-type-cta_form.dark {
  background: #242424;
}
.assembly-type-cta_form.dark h2,
.assembly-type-cta_form.dark p {
  color: #FFF;
}
.assembly-type-cta_form.has-background {
  padding: 18px 24px 8px 24px;
}

/* Events Hero */
.assembly-type-events_hero.has-sidebar .sidebar .rhd-c-events-hero__item-presenters,
.assembly-type-events_hero.has-sidebar .sidebar .short-description {
  display: none;
}

/* Curated Links */
.assembly-type-curated_links.component .component {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.assembly-type-curated_links.no-padding-top {
  margin-top: 0;
}
.assembly-type-curated_links.no-padding-bottom {
  margin-bottom: 0;
}
.assembly-type-curated_links.background-gray {
  background: #e4e4e6;
}
.assembly-type-curated_links.two-col .pf-l-flex.pf-m-column {
  align-items: baseline;
  flex-direction: row;
}
.assembly-type-curated_links.two-col .pf-l-flex.pf-m-column hr {
  flex-basis: 100%;
}
.assembly-type-curated_links.two-col .pf-l-flex.pf-m-column .pf-l-flex__item {
  flex-basis: 50%;
}
